[2019-12-13 09:36] ksilz commented on #3368
@sfshaza2 I find this confusing. My mental model is that of a book with a table of contents and headings. I expect the headings in the table of content to match the actual headings. And in this particular case, you're saving just 4 characters (31 vs 27).

I link to the page in an upcoming blog post. To clear up the confusion, I include both titles in my article and also state that, yes, they are d

[2019-12-13 11:41] brianegan commented on #3328
Hi @Sfshaza -- I wasn't aware those were being linked to from that page. I actually moved that project from Gitlab to Github almost 2 years ago, so I wouldn't recommend linking to it as an example of how to work with Gitlab.

[2019-12-13 18:27] sfshaza2 commented on #3328
Thanks!

On Fri, Dec 13, 2019, 6:41 AM Brian Egan <notifications@github.com> wrote:

[2019-12-13 18:29] sfshaza2 commented on #3368
Oh, I do plan to fix these. I'll use the sidebar titles. Anything to avoid
confusion. :-)

On Fri, Dec 13, 2019, 4:36 AM Karsten Silz <notifications@github.com> wrote:

[2019-12-13 20:25] dkashkin opened #3412 "This guide is confusing and incorrect due to breaking changes in new Flutter!"
Page URL: https://flutter.dev/docs/development/platform-integration/platform-channels.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-channels.md

Description of issue:

io.flutter.app.FlutterActivity is no longer used. The latest Flutter imports io.flutter.embedding.android.FlutterActivity with completely different API, so the co

[2019-12-14 03:03] timsneath opened #3416 "'Supporting the new Android plugins APIs' page issue"
Page URL: https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/plugin-api-migration.md

Description of issue:
The following URL isn't being correctly converted to a hyperlink. It looks fine on GitHub, so I'm wondering if this might be a `dartdoc` issue? (Is it becaus

[2019-12-14 03:05] timsneath commented on #3404
This should now go to https://github.com/flutter/samples/tree/master/gallery/gallery, I think, now the new gallery has been completed and merged.

[2019-12-14 03:07] legalcodes commented on #3368
+1, fwiw I think user expectation is that these should match.

[2019-12-14 03:12] legalcodes commented on #3340
I think this matter was clarified in the issue referenced -- no one's proposing using latest and/or breaking changes for fixed examples. Rather, where we are merely referencing a latest version, we might be able to indicate that better to the user and even save them a click, as it were.

[2019-12-14 04:35] legalcodes commented on #3404
Sure, will fix. Thanks!

On Fri, Dec 13, 2019, 7:05 PM Tim Sneath <notifications@github.com> wrote:

[2019-12-14 06:34] markowanga opened #3417 "'Take a picture using the camera' startup error"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue:
E/flutter (17924): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: ServicesBinding.defaultBinaryMessenger was accessed before the binding was initialized.
E/flutter (17924

[2019-12-14 14:22] tamangsuresh commented on #2856
Anyone have solution for this because i have gone to doc and google it. But i haven't found any solution yet. @christopherfujino  i try it but failed too.

[2019-12-15 04:14] christopherfujino commented on #2856
@tamangsuresh I'm not exactly sure what your situation is. Can you give me details of what you tried and what the results were? Thanks.

[2019-12-15 04:34] legalcodes commented on #3392
For context:

<img width="662" alt="comment 1" src="https://user-images.githubusercontent.com/5550175/70858158-fd3e0900-1eb0-11ea-9243-fef20f7d7012.png">
<img width="661" alt="comment 2" src="https://user-images.githubusercontent.com/5550175/70858159-ff07cc80-1eb0-11ea-84b1-e834c3e6c631.png">

[2019-12-15 05:27] #3404 closed

[2019-12-15 05:52] sfshaza2 commented on #3416
Nope, it's because I used the wrong macro.  Thanks for pointing it out!

[2019-12-15 06:01] sfshaza2 commented on #3417
@johnpryan, can you take a look?

[2019-12-15 06:02] #3416 closed

[2019-12-15 06:04] sfshaza2 commented on #3412
@gaaclarke, can you weigh in?

[2019-12-15 06:05] sfshaza2 commented on #3408
Closing due to lack of info.

[2019-12-15 06:05] #3408 closed

[2019-12-15 22:51] andynovak12 opened #3420 "Building a Cupertino app with Flutter, Step 10, missing definition of ShoppingCartItem class"
The last code sample in step 10 of codelab "Building a Cupertino app with Flutter" uses "ShoppingCartItem", but the class definition for ShoppingCartItem is not part of the codelab instructions. It is in the linked `lib/shopping_cart_tab.dart` file at the end of step though.

[2019-12-16 06:38] BilalAlam173 opened #3422 "'Building layouts' page issue"
Page URL: https://flutter.dev/docs/development/ui/layout/tutorial.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/tutorial.md

Description of issue:
While learning layout in flutter i found a mistake in the docs.
In step 2, We have created a row, Inside an expandable column, and after that there is an Icon and a text, but both icon and text that come

[2019-12-16 06:44] BilalAlam173 commented on #3422
PR that fixes the issue
https://github.com/flutter/website/pull/3423

[2019-12-16 06:56] includecmath commented on #3245
Looks like I fixed it:
https://github.com/flutter/website/pull/3293
https://github.com/flutter/website/pull/3296

[2019-12-16 11:27] yakubpashask opened #3424 "'Writing custom platform-specific code' page issue"
Page URL: https://flutter.dev/docs/development/platform-integration/platform-channels.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-channels.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: After migrating to flutter 1.12, th

[2019-12-16 17:15] sfshaza2 commented on #3392
The slash is not that common in Flutter docs. Just trying to save a few chars. I can be talked out of it.  :)

[2019-12-16 17:54] sfshaza2 commented on #3422
Thanks for catching *and* fixing, @BilalAlam173!! Can you sign the CLA so I can merge?

[2019-12-16 17:56] kwalrath commented on #3392
I'm not opposed to gerunds anywhere. I'm just pro consistency in lists, whether they be lists of page titles, lists of second-level headings, bulleted lists... So I think legislating gerunds is not a good idea. We should just apply good sense to the titles/headings/list items we use.

In the case of the slash, that's an actual Google style thing. I think a slash might sometimes be the best choice,

[2019-12-16 18:00] sfshaza2 commented on #3392
I first created it without the spaces, but then later added the spaces. This just shows how unconvinced I was.  :D. I agree, let's not legislate gerunds, only consistency.  :D

[2019-12-16 18:07] johnpryan commented on #3245
yep, this looks fixed. Thanks @includecmath!

[2019-12-16 18:07] #3245 closed

[2019-12-16 18:26] gaaclarke commented on #3412
There is a new API for FlutterActivity at `io.flutter.embedding.android.FlutterActivity`.  The old API still works though and will be continue to be supported.  We should update this document and maybe sunset this version of it.  cc @xster @matthew-carroll

I will say that the subject of the article, platform channels, hasn't changed, just the contextual code around them is on the old version.

[2019-12-16 19:12] xster commented on #3412
Also https://github.com/flutter/flutter/issues/46855. We should update the website.

[2019-12-16 19:19] legalcodes commented on #3392
I'm all onboard with consistency, which is why I still lack clarity on how we're handling this. Originally, we suggested that I remove the gerund from the analogous section in /desktop :

![Screen Shot 2019-12-16 at 11 16 23 AM](https://user-images.githubusercontent.com/5550175/70935733-b6a5f700-1ff5-11ea-9e34-4730c757ef48.png)

Similarly, we removed the forward slash from the analogous section in

[2019-12-16 19:24] sfshaza2 commented on #3412
Thanks for weighing in, guys! I will look at this..

[2019-12-16 19:26] legalcodes commented on #3392
In this case, it appears to me that If we want to be consistent across pages as well as within pages, then we need to pick one: gerunds in titles, or no gerunds in titles. On the other hand, if we don't care about consistency across pages then we merely evaluate consistency within a page. LMK if I've missed other options here.

[2019-12-16 19:47] getgoh opened #3427 "'Write your first Flutter app on the web' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Description of issue:
Sample codes that supposedly shows as bold just shows the actual bold tags:

* \<b>text\</b>
![image](https://user-images.githubusercontent.com/22161412/70937615-933d7500-2012-11ea-9aae-3fc2dc935c6d.png)

* \*\*text\*

[2019-12-16 20:38] johnpryan commented on #3380
This is good feedback. The short answer is that json_serializable is focused specifically on JSON serialization / deserialization, and built_value uses immutable data types (and also supports JSON).

I think both packages are marked as Flutter Favorites now.

[2019-12-17 00:37] shouichi commented on #3380
It would be great if there is a guideline when to choose which. We migrated from `json_serializable` to `built_value` to generate methods such as `==` and `hashCode`. We found `build_value` was better but a little bit more verbose when generating JSON.

[2019-12-17 06:54] BilalAlam173 commented on #3422
Done! @sfshaza2

[2019-12-17 15:07] mingsai opened #3435 "Flutter API website sidebar"
First I just want to say thanks for the quick response to the API website mentioned earlier (in #3362). I live in these docs, and the quick action on the requests are welcome.

When selecting a document to view the sidebar always resets to the top. This is a bit of a hassle if one is going through the docs sequentially. Better behavior might be to have the sidebar scroll to the currently selected

[2019-12-17 17:56] sfshaza2 commented on #3380
@johnpryan, if you have specific advice, I'm happy to add it for you! (Or you can.  :D )

[2019-12-17 17:57] sfshaza2 commented on #3435
I totally agree, @mingsai!!! Unfortunately, we don't have infrastructure support atm, so PRs welcome.  :D

[2019-12-17 17:58] sfshaza2 commented on #3427
Oops! Thanks, @getgoh

[2019-12-17 18:03] johnpryan commented on #3380
In the "[Using Code Generation Libraries"](https://flutter.dev/docs/development/data-and-backend/json#serializing-json-using-code-generation-libraries)section, we could add a sentence or two saying that `built_value` is another option if you are interested in immutable data types.

[2019-12-17 21:44] pascalfriedrich commented on #2215
Any updates on this?

[2019-12-18 00:25] kwalrath commented on #1490
I'd love to have the search return only results from flutter.dev, like we do on dart.dev. I'd be happy to help with this.

[2019-12-18 05:43] legalcodes commented on #3148
Ah, I see now what you meant @sfshaza2 . I didn't include this info in my original issue, but I definitely envisioned posing a parallel proposal here:

For non-code PRs (i.e. writing edits) we could also include a checklist for common conventions, issues, grammar tics, etc. to watch out for.

[2019-12-18 08:37] sfshaza2 commented on #3422
PR is merged. Closing.

[2019-12-18 08:37] #3422 closed

[2019-12-18 08:41] sfshaza2 commented on #2215
@tvolkert, who might be able to shed light on this?

[2019-12-18 08:44] sfshaza2 commented on #1490
SGTM!

[2019-12-18 09:46] sfshaza2 commented on #3148
SG

[2019-12-18 16:56] sfshaza2 opened #3441 "Simplify login web get started code"
Simplifying the code will also require updating the codelab.

@johnpryan

[2019-12-18 17:28] sfshaza2 commented on #3383
I'm lowering the priority because people can no longer directly edit to master.

[2019-12-18 17:38] legalcodes commented on #3383
SG

[2019-12-18 17:39] #3366 closed

[2019-12-18 17:39] #3367 closed

[2019-12-18 17:39] #3368 closed

[2019-12-18 17:47] sfshaza2 commented on #3362
Hi @mingsai! I just went to the widget index page and from there clicked the FractionallySizedBox link to the API docs. At the top of the FractionallySizedBox API page, is the embedded video of the Widget of the Week for this widget.

Maybe I'm not understanding your issue? Though, your point about not being able to file an issue from the API reference pages is correct. This is because it's actual

[2019-12-18 17:48] sfshaza2 commented on #3380
It's being addressed in this PR:  https://github.com/flutter/website/pull/3439

[2019-12-18 18:39] a-eid commented on #3325
https://github.com/flutter/website/pull/3443

@legalcodes

[2019-12-18 18:52] #3334 closed

[2019-12-18 18:53] #3325 closed

[2019-12-18 18:54] #3328 closed

[2019-12-18 18:55] #3412 closed

[2019-12-18 18:55] legalcodes commented on #3392
Addressed in https://github.com/flutter/website/pull/3445

Plenty of AIs from this fruitful discussion! Will continue such threads elsewhere (not in GitHub issues)

[2019-12-18 18:55] #3392 closed

[2019-12-18 19:00] sfshaza2 commented on #3322
Since we talked about this in our meeting yesterday, any reason we can't close this?

[2019-12-18 19:02] legalcodes commented on #3322
No problem

[2019-12-18 19:02] #3322 closed

[2019-12-18 21:06] legalcodes commented on #3148
Raised https://github.com/flutter/website/pull/3450/ per https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates

[2019-12-18 22:50] sfshaza2 commented on #3380
Thanks for raising this issue, @shouichi! The issue is fixed in the above PR.

[2019-12-18 22:50] #3380 closed

[2019-12-18 23:38] shouichi commented on #3380
Thanks :smile:

[2019-12-19 09:16] yakubpashask commented on #3424
Thank you.

[2019-12-19 09:47] ksilz opened #3457 "More heading differences between table of contents and pages"
I submitted #3366, #3367, and #3368 where the table of contents had a different heading than the page. That was fixed yesterday.

Here are some more of these occurrences. The heading in the table of content is named first, then the one from the page. Differences are highlighted in **bold**.
- https://flutter.dev/docs/get-started/codelab: "Write your first app" vs "Write your first Flutter app **,

[2019-12-19 10:46] ksilz opened #3458 ""Performance & optimization" section: Table of content out of sync when browsing"
The table of contents doesn't sync with the actual navigation in the "Performance & optimization" section, apart from the "Overview" section. If you select any other page, then that page shows &mdash; but the table of contents jumps back to "Overview".

Below you can see the "Rendering performance / Performance best practices" section shown, but only "Overview" is highlighted on the page:

![Flutt

[2019-12-19 16:39] timsneath opened #3459 "Move crash reporting page to docs"
Looking at the first-run experience, the screen below sends Flutter users to [this wiki page](https://github.com/flutter/flutter/wiki/Flutter-CLI-crash-reporting):
![image](https://user-images.githubusercontent.com/2319867/71191277-f4e02800-223a-11ea-9357-a2e9c5e096d8.png)

We should move that page to the docs, as part of the general goal to not have non-contributors relying on the wiki for core e

[2019-12-19 16:56] sfshaza2 commented on #3458
OK, that is strange!!! Thanks for recording that, @ksilz! I created that section fairly recently and must have missed something in the setup.

[2019-12-19 16:57] sfshaza2 commented on #3459
Yes, indeed! Once we add the page, eng will need to point to it, so it will need another bug filed on the flutter/flutter repo.

[2019-12-19 18:12] legalcodes commented on #3458
There may also be some nav behavior that's broken apart from "Performance best practices" -- a general click through of the sidenav revealed (at least) the following:

1. Inconsistent highlighted sidenav menu items

Click on:
Tools & techniques > Flutter SDK > Upgrading ("Upgrading" IS highlighted in blue)
Tools & techniques > Flutter SDK > Releases ("Releases is NOT highlighted in blue)
Tools & t

[2019-12-19 18:18] legalcodes commented on #3457
+1, thanks @ksilz for pointing this out.

[2019-12-19 19:33] sfshaza2 commented on #3262
I'd really like to see this issue resolved. I've read through it a couple of times. One thing I did notice when John mentioned diff2html: I recently saw a lot of "diff2html" errors being reported when running tool/serve.sh. It turns out it was because I hadn't run the before_install and install scripts on my brand new repo. (I had sourced the environment variable file.)

Probably not related, but

[2019-12-19 20:25] StelzenPieper opened #3613 "Google Codelabs: Build a Photo Sharing app with Google Photos and Flutter - refactoring to Androidx not possible"
Hi,
I cannot migrate the source code or final source code to androidx.
Everytime I runt he refactor in AS it shows me the message "no usages found in project".
I have tried only refactoring the Android folder, I have changed SDK to 28 and I have checked if Androidx is set to true but still no androidx refactoring possible.
Could someone provide me the refactored code or rather tell me what else I

[2019-12-19 20:56] legalcodes commented on #3262
@sfshaza2 I've chatted with @RedBrogdon about this, I think we can look to him and @johnpryan for updates.

[2019-12-19 21:45] sfshaza2 commented on #3459
Tim, did you want to also move the "Welcome to Flutter" page itself?

[2019-12-19 22:41] legalcodes opened #3463 "./tool/check-code is failing, and error message may be incorrect."
Steps to reproduce:

1. Clone https://github.com/flutter/website.git
2. Follow the README.md steps for building the site
3. Run ./tool/check-code
4. Observe that script fails with exit code 1 and the following error message:

`Error: some code excerpts need to be refreshed. You'll need to
rerun tool/refresh-code-excerpts.sh locally, and re-commit.`

5. Run `./tool/refresh-code-excerpts.sh`
6. Obse

[2019-12-19 23:17] Squalex opened #3464 "'Continuous delivery with Flutter' page issue"
Page URL: https://flutter.dev/docs/deployment/cd.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/cd.md

Description of issue:
The link https://raw.githubusercontent.com/brianegan/flutter_redux/master/.gitlab-ci.yml is broken.

[2019-12-20 23:30] johnpryan commented on #3262
Good news everyone,

![image](https://user-images.githubusercontent.com/1145719/71298555-8c2da400-233d-11ea-9131-d1de6dc9232d.png)

It seems like when Jekyll runs on Travis, it can't parse front-matter with JSON in it. [this change](https://github.com/flutter/website/pull/3467) fixed the issue.

Bad:

[code]

Good:

[code]

My understanding is that Jekyll front-matter is YAML, and YAML is a supers

[2019-12-20 23:30] #3262 closed

[2019-12-22 12:08] godslave05 commented on #2261
Same here, after updating to 1.12.13+hotfix.5 I fetched same issue and I need to update to 4.3.3 to resolve this

[2019-12-23 11:42] kRadius opened #3471 "'Adding a splash screen and launch screen to an Android app' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/android/add-splash-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/android/add-splash-screen.md

Description of issue:
It seems like the language is Java. if that is true, we should call `onTransitionComplete.run()` rather than `onTransitionComplete()`
![1577100355986-image](https://us

[2019-12-26 09:01] ashwanisng opened #3473 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-12-26 14:57] tanmaypandharipande commented on #3405
rm -rf $HOME/.fastlane/bin/bundle/lib/ruby/gems/2.2.0/specifications/faraday-0.*
gem install faraday -v 0.17.0 --install-dir $HOME/.fastlane/bin/bundle/lib/ruby/gems/2.2.0

Temporary workaround.

[2019-12-26 15:39] aureliendebord opened #3475 "List products for sale - product_list_tab.dart"
This code from the tutorial cannot be run:

[code]

Output: Try correcting the name to the name of an existing method, or defining a method named 'getProducts'

Changing the order of the build parameters is ok:
`builder: (context, model, child)`

[2019-12-26 18:12] sfshaza2 commented on #3405
Thanks for that info, @tanmaypandharipande! It would be nice to add a note to the docs.

[2019-12-26 21:05] Kepa357 opened #3476 "Mistake in step 8 of Building a Cupertino app with Flutter: wrong method name"
https://codelabs.developers.google.com/codelabs/flutter-cupertino/#7

"Update the build() method in the _SearchTabState class."
should be
"Update the build() method in the _ShoppingCartTabState class."

[2019-12-26 21:12] Kepa357 opened #3477 "Building a Cupertino app with Flutter, step 5: Outdated paragraph?"
https://codelabs.developers.google.com/codelabs/flutter-cupertino/#4

The first paragraph talks about the Scoped Model package, but in the tutorial the Provider package is used.

[2019-12-27 15:38] fabiom91 opened #3480 "ERROR: Could not connect to lockdownd, error code -17"
Hi just installed flutter on android studio on my Mac and created a new default application.
At the beginning when I tried to run the app in the Android Simulator, I got several message from FileVault to allow the access to idevice, ideviceinfo etc. done that.

Now when I run the app I get the message in the title. I run the flutter doctor and this is what I get:

[code]

Any clues? .-.

[2019-12-27 18:57] maganap opened #3481 "'Implicit animations' codelab DartPad issues"
Page URL: https://flutter.dev/docs/codelabs/implicit-animations.html
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/implicit-animations.md

**Description of issue:**
DatPad examples don't seem to be working properly for this codelab. When hitting the Run button, an error is reported to the console.

[code]

I can run other DartPad examples on this website without iss

[2019-12-28 02:41] AntoineHo6 opened #3482 "'Persist data with SQLite' page issue"
Page URL: https://flutter.dev/docs/cookbook/persistence/sqlite.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/sqlite.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The example doesn't seem to run properly. The prints don't show up.

[2019-12-28 21:53] legalcodes commented on #3481
Thanks @maganap I will look into this.

[2019-12-28 23:51] #3482 closed

[2019-12-31 14:44] godslave05 opened #3485 "'Flutter SDK releases' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/releases.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/releases.md

Description of issue:
I can not see the versions . It only shows loading. From developer option I found this

storage.googleapis.com/flutter_infra/releases/releases_windows.json:1 Failed to load resource: net::ERR_TIMED_OUT
s

[2020-01-01 09:48] Vadaski opened #3486 "'Performance best practices' page issue"
Page URL: https://flutter.dev/docs/perf/rendering/best-practices.html
Page source: https://github.com/flutter/website/tree/master/src/docs/perf/rendering/best-practices.md

Description of issue:

The sidebar highlighting is abnormal due to indentation errors in the Rendering performance section of the md document sidebar.

- title: Rendering performance
      permalink: /docs/perf/rendering

[2020-01-01 09:50] Vadaski commented on #3486
link：
https://github.com/flutter/website/blob/master/src/_data/sidenav.yml

[2020-01-02 14:36] khunkakk opened #3487 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-01-02 18:50] legalcodes opened #3488 "Fix invalid frontmatter error in 12_18_19_ImageCache_Logic.md"
Steps to reproduce:

1. Clone flutter/website
2. Run install steps
3. Run locally

Observe the following error:
[code]

[2020-01-02 18:51] legalcodes opened #3489 "Validate Jekyll frontmatter"
We've recently encountered some problems due to the fact that we don't validate frontmatter:

https://github.com/flutter/website/issues/3262
https://github.com/flutter/website/issues/3488
https://github.com/flutter/website/pull/3700
https://github.com/flutter/website/issues/3727 - check for required description
https://github.com/flutter/website/pull/3783/files#diff-c805d22f83241a8d8112f62b01d6b51

[2020-01-02 21:36] timsneath opened #3492 "WidgetCatalog page is missing OutlineButton"
See https://github.com/flutter/flutter/issues/18319

[2020-01-02 22:04] legalcodes commented on #3458
See also https://github.com/flutter/website/issues/2678

[2020-01-03 03:28] #3481 closed

[2020-01-03 22:01] timsneath commented on #3459
The page itself? Sorry: which page did you mean?

[2020-01-03 22:01] #3492 closed

[2020-01-03 22:24] #3473 closed

[2020-01-03 22:55] #3459 closed

[2020-01-05 08:14] arbaazaj opened #3498 "'Persist data with SQLite' page issue"
Page URL: https://flutter.dev/docs/cookbook/persistence/sqlite.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/sqlite.md

Description of issue: Unhandled Exception: ServicesBinding.defaultBinaryMessenger was accessed before the binding was initialized.

**Solution:** Adding this line **"WidgetsFlutterBinding.ensureInitialized();"** without quotes in *

[2020-01-05 16:42] bradyt opened #3499 "Remove onCreate from docs"
There is still `onCreate` at https://github.com/flutter/website/blob/13d8aab863d205d3eba2a126cbaa98fca4198669/src/docs/development/platform-integration/platform-channels.md. Removing it would seem to be consistent with changes at https://github.com/flutter/website/pull/3494.

Docs page is at https://flutter.dev/docs/development/platform-integration/platform-channels?tab=android-channel-kotlin-tab#

[2020-01-06 23:17] #3417 closed

[2020-01-06 23:19] sfshaza2 commented on #3498
Good catch, thanks!

[2020-01-06 23:21] sfshaza2 commented on #3489
This sounds like a good idea. @legalcodes, does this perceptively slow down the build? Also, can it give us any false positives?

[2020-01-06 23:22] sfshaza2 commented on #3487
No bug listed. Closing.

[2020-01-06 23:22] #3487 closed

[2020-01-06 23:25] sfshaza2 commented on #3485
I don't reproduce this issue, @godslave05. Can you still reproduce it? If so, please let us know what your environment is: computer, OS, browser, etc. Please paste the results of `flutter doctor` into this bug.  Thanks!

[2020-01-06 23:33] sfshaza2 commented on #3480
Hi, @fabiom91! Sorry for our silence, but we've been on vacation for the holidays.

I hahve no idea why you got this bug. I googled "Connected device (the doctor check crashed)", which lead me to this bug: https://github.com/flutter/flutter/issues/4159. And I followed that bug to the two bugs referenced within. It seems like some iOS folks have seen this when they didn't trust the computer from th

[2020-01-06 23:34] sfshaza2 commented on #3480
I'll hold off closing this for a bit, until @fabiom91 can respond. But this issue should be filed on the main repo, as mentioned in the `flutter doctor` output.

[2020-01-06 23:34] jonahwilliams commented on #3480
lockdownd usually means the phone is locked or not authenticated

[2020-01-06 23:35] sfshaza2 commented on #3476
Ooh, another good catch, @Kepa357! Thanks!

[2020-01-06 23:37] sfshaza2 commented on #3475
Thanks for catching that, @aureliendebord!

[2020-01-06 23:38] sfshaza2 commented on #3471
Can you confirm, @gaaclarke?

[2020-01-06 23:39] legalcodes commented on #3489
Great questions! Let's be sure to investigate both if we decide to take this up.

[2020-01-06 23:41] sfshaza2 commented on #3464
Grumble. You are correct, @Squalex! I thought I submitted a PR in December to remove that link. @brianegan migrated that repo.

[2020-01-06 23:51] #3464 closed

[2020-01-06 23:55] gaaclarke commented on #3471
Yes, `onTransitionComplete.run()` is kosher.  There may be a situation where `.run()` could be omitted, maybe with a later version of Java.  I couldn't find any reference to it existing though.  So, `onTransitionComplete.run()` is correct and it should be changed.

[2020-01-07 00:03] sfshaza2 commented on #3471
Thanks, @gaaclarke! I, therefore, LGTM this change.

[2020-01-07 00:04] sfshaza2 commented on #3471
Oops, it's not a PR.  :D

[2020-01-07 00:31] sfshaza2 commented on #3471
Thanks, @gaaclarke, for fixing!

[2020-01-07 00:31] #3471 closed

[2020-01-07 06:06] Iphone530 opened #3506 "'Flutter Documentation' page issue"
螢幕不要共用軟件Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Description of issue:

[2020-01-07 09:07] TheHemantKaushik opened #3507 "'Adding a Flutter screen to an Android app' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/android/add-flutter-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/android/add-flutter-screen.md

**System details:**
Flutter 1.12.13+hotfix.5 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 27321ebbad (4 weeks ago) • 2019-12-10 18:15:01 -0800
Engine • r

[2020-01-07 11:42] yama3nomori opened #3509 "'TalkBack on Windows' issue"
Simple application made by 'flutter create' command occured following:

When TalkBack is on, application crashed that user touch bottom of display on Android device.
Application doesn't crash that user touch side and top of display.

When TalkBack is off, it's no problem.

[2020-01-07 18:51] legalcodes commented on #3509
Thanks @yama3nomori for raising this issue! It looks like this issue relates to output from the `flutter create` command -- if so, I believe this should be an issue in https://github.com/flutter/flutter. Let me know if that helps!

[2020-01-07 19:57] tvolkert commented on #2215
Users should just use app bundles these days.

[2020-01-07 20:04] pascalfriedrich commented on #2215
@tvolkert
And what if even the app bundle is larger then 150mb? In my case, the app has a huge amount of assets/soundfiles and there is no way to stay below 150mb.

[2020-01-08 00:31] legalcodes commented on #3488
Closed in #3491

[2020-01-08 00:31] #3488 closed

[2020-01-08 06:22] TheHemantKaushik commented on #3507
For now I'm using a workaround. It is declare `<item name="android:windowIsTranslucent">true</item>` in `AndroidManifest.xml` under style declared for flutter activity.

[2020-01-08 06:34] yama3nomori commented on #3509
Thanks for your advice.
I'll send it to that page again.

[2020-01-08 06:34] #3509 closed

[2020-01-08 12:22] ngouy opened #3612 "write your first app Part1. `const` keyword are disappearing between subparts 3 and 4"
Here https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#2

We are told to copy-paste some code into our main.dart including :
[code]

On the next page, we are asking to paste new lines and update some others, but on line we don't have to touch, the `const` kw is disappearing from appBar title and body
https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#3

our

[2020-01-08 15:08] anandmohan211 opened #3512 "'Scrolling widgets' page issue"
Page URL: https://flutter.dev/docs/development/ui/widgets/scrolling.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/scrolling.md

Description of issue:
the scrolling effect of this page is not smooth

[2020-01-09 04:42] sfshaza2 commented on #3506
No issue described. Closing.

[2020-01-09 04:42] #3506 closed

[2020-01-09 04:43] sfshaza2 commented on #3507
@xster, can you confirm?

[2020-01-09 04:45] sfshaza2 commented on #3512
The page scrolls perfectly for me. I'm assuming this is an ironic joke.  :). Please re-open, with more info (such as platform, maybe a videos showing the behavior), if not.

[2020-01-09 04:45] #3512 closed

[2020-01-09 05:40] xster commented on #3507
Confirmed. But merging into https://github.com/flutter/flutter/issues/45747

[2020-01-09 05:40] #3507 closed

[2020-01-09 18:13] tvolkert commented on #2215
@blasten do you know the guidance here?

[2020-01-10 02:32] blasten commented on #2215
It sounds like to properly support this feature, we would need to provide control over what goes in the APK/AAB file and what goes in the obb files. Then, a mechanism for unzipping and consuming these files in the embedding.

[2020-01-10 02:48] blasten commented on #2215
@pascalfriedrich are you able to lazily load the sound files and other heavy assets over the network from your Flutter app?

[2020-01-10 03:35] tamangsuresh commented on #2856
@christopherfujino thank you for replay. But i have found solution for it.

[2020-01-10 12:52] CSELINGUA opened #3606 "Flutter Full Documentation in PDF"
Please I need Flutter Full Documentation in PDF. I've made several searches but no luck!

[2020-01-10 19:59] legalcodes opened #3524 "Update `analyze-and-test-examples.sh` to include a readable unit test report"
As far as I can tell, we don't have a proper test report coming from any of our shell scripts. As the number of tested examples continues to grow, the need for a readable test report will also grow.

Currently after running `analyze-and-test-examples.sh`, the script returns the following output after ~872 lines of logs:

[code]

1. It's not practical to require users to sort through logs for test-

[2020-01-12 06:15] godslave05 commented on #3485
It seems [storage.googleapis.com](url) CDN was blocked in my region for sometime. It's ok now. I can access FLutter SDK releases and also update my pub.dev packages.

Do you still  need  the result of` flutter doctor` ?

[2020-01-12 07:07] Diaa-Abdelfadeel opened #3532 "'AppBar Basics' page issue"
Page URL: https://flutter.dev/docs/catalog/samples/basic-app-bar.html
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/basic-app-bar.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-01-12 17:25] sfshaza2 commented on #3485
No, that's fine, we don't need output of `flutter doctor`. I see, so it was physically prohibited in your area. Interesting.

[2020-01-12 18:09] gianlucaparadise opened #3534 "'Simple app state management' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/simple.md

Description of issue:

The [ChangeNotifierProvider](https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple#changenotifierprovider) construction is referring to an old version o

[2020-01-13 22:16] legalcodes opened #3539 "Reduce time needed to build _site directory and run site locally"
`time ./tool/serve.sh --clean` :
1m12.903s

`time ./tool/serve.sh` :
1m10.509s

[2020-01-14 06:00] Vadaski opened #3542 "'Adding a Flutter screen to an Android app' How to specify initialRoute with cache engine"
Page URL: https://flutter.dev/docs/development/add-to-app/android/add-flutter-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/android/add-flutter-screen.md

I read this article and found that when I use newEngine I can specify Flutter's initialRoute like this.
[code]
But when using cacheEngine, I didn’t find such methods. So can we use both c

[2020-01-14 06:01] Vadaski commented on #3542
Hi @xster
Can you help me look at this problem？

[2020-01-14 06:07] zmtzawqlp commented on #3542
is there any way to initial route with cache engine? i'm working on add flutter into existing app.
so we should open a new flutter page with new engine everytime?

[2020-01-14 08:04] xster commented on #3542
/move flutter/flutter

[2020-01-14 08:20] #3534 closed

[2020-01-14 19:34] legalcodes commented on #3532
Thanks for raising this issue @Diaa-Abdelfadeel -- I don't see a description of the issue yet. Did you mean to add one?

[2020-01-14 21:30] jamesderlin commented on #1755
Closing in favor of #2601.

[2020-01-14 21:30] #1755 closed

[2020-01-15 07:10] shivam15 commented on #3435
@sfshaza2 Can i pick this?

[2020-01-15 11:54] sfshaza2 commented on #3435
Absolutely, @shivam15, I've assigned it to you!  :)

[2020-01-15 17:17] sfshaza2 commented on #3532
No issue provided. Closing.

[2020-01-15 17:17] #3532 closed

[2020-01-16 04:26] legalcodes commented on #2601
I've raised https://github.com/flutter/website/pull/3540 that uses the .png version

[2020-01-16 15:41] stehgold opened #3549 "'Linux install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/linux.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Either I'm too numb or the information given is plain wrong. I've downloaded and extr

[2020-01-16 16:28] stehgold commented on #3549
Looks like this was an Gnome extraction error. I've untared the tarball again using CLI. All engine running now, just ran the demo project on the emulator. Sorry

[2020-01-16 16:28] #3549 closed

[2020-01-17 02:59] #2601 closed

[2020-01-17 19:36] kwalrath opened #3553 "'Performance best practices' page issue"
Page URL: https://flutter.dev/docs/perf/rendering/best-practices.html
Page source: https://github.com/flutter/website/tree/master/src/docs/perf/rendering/best-practices.md

The 404 report shows some bad links in this page, including the link to TransitionBuilder and maybe SlideTransition. I'd just check them all, while you're there.

[2020-01-17 19:55] kwalrath opened #3554 "Consider redirecting scrollable_alert_dialog to scrollable-alert-dialog"
#3516 moved /docs/release/breaking-changes/scrollable_alert_dialog to /docs/release/breaking-changes/scrollable-alert-dialog, and we're getting a fair number of 404s for the underscore version of the name.

(This is the 3rd item on this week's 404 report.)

[2020-01-19 02:07] lfv89 opened #3559 "'Internation­alizing Flutter apps' page issue"
Page URL: https://flutter.dev/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Description of issue:

The import
`import 'package:flutter_cupertino_localizations/flutter_cupertino_localizations.dart';` is conflicting with the other one (a

[2020-01-19 18:26] stimms opened #3560 "'An introduction to unit testing' page issue"
The lack of mention that a test class needs to end with _test is confusing. It would be helpful if it was mentioned somewhere that there is a convention around naming test files.

Example of my confusion:
https://stackoverflow.com/questions/59812714/testing-all-unit-test-in-dart

[2020-01-20 05:46] #3560 closed

[2020-01-20 05:53] sfshaza2 commented on #3554
Actually, I'd prefer to add it to our redirect list.  :D

[2020-01-20 17:32] #3554 closed

[2020-01-21 00:02] Sun3 commented on #2215
What is the status of this issue? I also have have an app that the app bundle is greater than 150 MB because of proprietary assets and the option to download from internet is not an option.

How would you submit the app to Google Play since it does not allow the files size more than 150 MB?

Thanks.

[2020-01-21 21:50] #1544 closed

[2020-01-22 00:56] InMatrix opened #3566 "Investigate and document hot reload limitations when using state management packages"
This is a request for Flutter DevRel with implications to the website. Feel free to move it to a more appropriate tracker.

In the Q4 2019 user survey, there are multiple reports about hot reload not working as intended when using certain statement management packages/techniques.  For example:

Survey Question: What are some of the reasons you know of that would cause hot reload to not work as exp

[2020-01-22 01:36] matthew-carroll opened #3633 "Document expected theme info for Android themes and splash screens"
Splash behavior on Android requires careful matching of some display properties between the "launch theme" and whatever `Activity` displays Flutter, e.g., `FlutterActivity`.

This ticket is to consider documenting those nuances in the website guide for splash screens.

For example, depending on which base theme is chosen for the launch theme, developers may need to add the following so that the la

[2020-01-22 02:08] charankumarpalla opened #3567 "'Focus and text fields' page issue"
Page URL: https://flutter.dev/docs/cookbook/forms/focus.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/forms/focus.md

**Description of issue:**
interactive example is broken now
https://flutter.dev/docs/cookbook/forms/focus#interactive-example

Run Shows below error in Conosle

[code]

[2020-01-22 06:54] pascalfriedrich commented on #2215
@blasten Sure, but the owner does not have a server where the data can be loaded. We are talking about 1000 users with 250mb assets (soundfiles) each. I will see what I can do. Sooner or later the way over the expansionfiles would be the better one.

[2020-01-22 16:30] woprandi opened #3571 "'Continuous delivery with Flutter' Replace APK by App Bundle"
Page URL: https://flutter.dev/docs/deployment/cd.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/cd.md

The Android tutorial specify how to upload APK using Fastlane but it should be modified for App bundles since it's the recommended format to push to the Play Store.
Fastlane is now compatible with the App bundle format : https://github.com/fastlane/fastlane/i

[2020-01-22 16:36] sfshaza2 commented on #3567
@charankumarpalla, I can't reproduce this problem. The DartPad instance works fine for me. Can you provide the output from `flutter doctor`?

[2020-01-22 16:41] sfshaza2 commented on #3571
Yes, this makes sense (and PRs are welcome). :) Thx

[2020-01-22 18:23] woprandi commented on #3571
Done. I hope it helps
https://github.com/flutter/website/pull/3572

[2020-01-22 18:51] vstyler96 opened #3573 "'Animate a page route transition' page issue"
Page URL: https://flutter.dev/docs/cookbook/animation/page-route-animation.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/animation/page-route-animation.md

Description of issue:
Dart SDK is not working for preview

[2020-01-22 21:10] ryanmcginnis opened #3575 "'macOS install' page issue: iOS Simulator's Window menu has changed"
Page URL: https://flutter.dev/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description of issue:

in section "Set up the iOS simulator," step 3 says:

"Depending on your development machine’s screen size, simulated high-screen-density iOS devices might overflow your screen. Set the device scale under the Wind

[2020-01-22 21:54] legalcodes commented on #3573
Thanks @vstyler96 for raising this! I wasn't able to identify the page issue -- the embedded DartPad example seems to be running fine (in Chrome and Firefox). Can you be more specific about the steps to reproduce the problem you observed?

[2020-01-22 23:15] legalcodes commented on #3383
See https://github.com/flutter/website/pull/3574#pullrequestreview-346968081

[2020-01-22 23:17] legalcodes commented on #3383
See https://github.com/flutter/website/pull/3558#pullrequestreview-344907309

[2020-01-22 23:19] legalcodes commented on #3383
See https://github.com/flutter/website/pull/3324/files

[2020-01-22 23:38] Joseph-Nathan opened #3578 "Supply a new callBack onValidate(String val){}"
Page URL: https://flutter.dev/docs/cookbook/forms/text-field-changes.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/forms/text-field-changes.md

Description of issue:
if you can supply this callback which return <String> value when Validate && <String>null when inValidate ;

[2020-01-23 03:24] sfshaza2 commented on #3573
I'm wondering what's up. We got this bug yesterday:  https://github.com/flutter/website/issues/3567

But, so far, can't reproduce it without more info.

[2020-01-23 04:42] charankumarpalla commented on #3567
<img width="1058" alt="Screenshot 2020-01-23 at 10 11 43 AM" src="https://user-images.githubusercontent.com/18207072/72957230-d7b5f080-3dc8-11ea-9139-c9ac1c9eb581.png">

@sfshaza2

[2020-01-23 08:46] woprandi commented on #3571
The PR has been merged

[2020-01-23 08:46] #3571 closed

[2020-01-23 17:21] legalcodes commented on #3567
^^ @RedBrogdon perhaps you can provide some insight here?

[2020-01-26 12:51] faisalCoding opened #3583 "'Persist data with SQLite' page issue"
Page URL: https://flutter.dev/docs/cookbook/persistence/sqlite.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/sqlite.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-01-26 19:53] polina-c opened #3584 "'Handling errors in Flutter' page issue"
Page URL: https://flutter.dev/docs/testing/errors.html
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/errors.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

It is not clear what 'kReleaseMode' is for and where it is defined.

[2020-01-27 17:00] lukepighetti opened #3588 "Meta? Flutter examples are too complicated"
I'm not sure if this is Meta or not, but I've noticed that Flutter examples in the docs and in official plugins are incredibly verbose and include a lot of code that has nothing to do with the task at hand.

Example 1.
https://pub.dartlang.org/packages/video_player#-example-tab-

So it's cool that we have a complete implementation, but I would personally benefit much more from "load video," "play

[2020-01-27 17:19] legalcodes commented on #3583
Hi @faisalCoding thanks for raising the issue. Did you mean to include a "Description of issue" section?

[2020-01-27 17:19] goderbauer opened #3590 "Downvote dart:ui on docs.flutter.io"
When you search for classes that exist in dart:ui and on higher Flutter layers the search often shows the dart:ui concept first. However, in almost all cases developers are more interested in the higher-level class and the dart:ui stuff coming up is confusing.

Example: Search for `TextStyle` on docs.flutter.io. First hit is https://docs.flutter.io/flutter/dart-ui/TextStyle-class.html, but most pe

[2020-01-27 20:27] goderbauer opened #3597 ""Sample Code" should be allowed as a valid heading"
Currently we disallow "Sample Code" as a heading in our documentation. This should be allowed as a legal heading, see https://github.com/flutter/flutter/pull/33460#discussion_r289548479 for discussion.

/cc @Hixie @gspencergoog

[2020-01-27 20:30] gspencergoog commented on #3597
@kf6gpe this only applies to API docs in the code, not the website in general, so I'm not sure it belongs here.

[2020-01-27 20:44] shihaohong opened #3602 "Adding a Flutter-approved guide on Semantics"
## Proposal
I believe that it could be helpful to have a guide on Flutter's Semantics and how to properly use it. From the API docs, it can be difficult to understand and requires jumping into source code and figuring it out how to properly build out the Semantic tree to adhere to accessibility.

I found two third-party articles about it and a Stack Overflow question, but not much else.
1. https:/

[2020-01-27 21:00] duzenko opened #3605 "Docs Issues"
1. Link broken
https://api.flutter.dev/flutter/intl/intl-library.html

2. False information
https://api.flutter.dev/flutter/intl/DateFormat-class.html
The DateFormat  class does not support neither 'z' nor 'v' patterns
https://github.com/dart-lang/intl/issues/74

[2020-01-27 21:11] legalcodes commented on #3604
Thanks @tarobins for raising this issue!

For reference when we take this up:
https://flutter.dev/docs/cookbook/testing/widget/introduction#note

[2020-01-27 21:56] legalcodes opened #3607 "Testing steps should detect broken reference links"
It would be great if we could detect broken reference links when we run testing steps, i.e. in `check-links.sh`. We current'y can't detect these without visually checking rendered pages or the relevant .md files.

[2020-01-27 22:14] GaneshShiroleScorg opened #3608 "[web] Please add PWA desktop and mobile documentation on official site."
Please add PWA desktop and mobile documentation on official site.

[2020-01-27 22:17] jonahwilliams opened #3609 "Documentation: when to write a driver test and when to write a widget test"
For example, If a user writes a test for widgets which load assets with the intention of writing a screenshot test they might be disappointed to learn that assets aren't loaded by the tester shell. Perhaps we can offer some guidance about when different kinds of tests are appropriate, and what the limitations are?

[2020-01-27 22:17] kf6gpe commented on #3609
This seems like a good topical article for the website.

[2020-01-28 00:01] legalcodes commented on #1363
+1

As of the time of this comment, jekyll is spitting out this error 7x which creates a lot of line noise when debugging.

[2020-01-28 17:43] ghost opened #3616 "'Persist data with SQLite' page issue"
Page URL: https://flutter.dev/docs/cookbook/persistence/sqlite.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/sqlite.md

Description of issue:

The demo is not runnable with latest Flutter version. Either code should be fixed or note which flutter version to use. Fix is to add `WidgetsFlutterBinding.ensureInitialized();` add the beginning of `main()`

[2020-01-29 14:23] xzec opened #3620 "'Rendering in Flutter' page issue"
Page URL: https://flutter.dev/docs/resources/rendering.html
Page source: https://github.com/flutter/website/tree/master/src/docs/resources/rendering.md

Description of issue: This page is missing some content, there is also a TODO reminder in it.

[2020-01-30 08:25] sfshaza2 commented on #3614
Fixed in PR https://github.com/flutter/website/pull/3621

[2020-01-30 08:25] #3614 closed

[2020-01-30 19:04] jonahwilliams opened #3625 "Update hot reload documentation once Flutter commit #5881102 is released to dev"
In https://github.com/flutter/flutter/pull/48932 I've removed the limitation requiring a hot restart when switching between stateless and stateful widgets. We should probably tell developers about this once the commit makes it to dev - giving it a version and making sure we don't need to rollback.

Perhaps the limitations section of https://flutter.dev/docs/development/tools/hot-reload#limitations

[2020-01-30 21:16] Rusinas opened #3627 "Community driven translations for documentation"
It would be very useful if you allowed the community translate documentation, as vue.js have done.
Flutter documentation is huge and comprehensive, so reading it on native language could make learning flutter a lot faster.

[2020-01-30 22:34] admarwick opened #6722 "[documentation] "Simple app state management" inaccurate"
[Documentation](https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple#consumer) on the use of ChangeNotifierProvider and Consumer says

An easy test verifies that this is not true. The following main.dart is slightly modified from flutter/samples/provider_counter. Pressing the button calls notifyListeners 10 times in quick succession. Only the last value triggers a build (see out

[2020-01-30 22:48] kf6gpe commented on #3597
Ah, you're right. Overzealous transfer. I'll move it back.

[2020-01-31 09:07] andro-GT2 opened #3634 "Update `MethodChannel` Kotlin call on 'Writing custom platform-specific code' page"
Page URL: https://docs.flutter.dev/platform-integration/platform-channels
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-channels.md

Description of issue:

I'm trying to implement calling methodchannel on android (kotlin) from flutter, with this code:

[code]

I tried to use:
[code]

but binaryMessenger is not found in my local DartE

[2020-01-31 17:22] legalcodes commented on #3632
+1 I'd support this!

[2020-01-31 17:26] legalcodes commented on #2952
@apravint Folding this issue into https://github.com/flutter/website/issues/3632 which was recently migrated from flutter/flutter to flutter/website. LMK if you see any problems with this!

[2020-01-31 17:27] #2952 closed

[2020-01-31 20:13] kwalrath commented on #3553
I might fix these if you don't mind. They're gumming up my 404 reports!

[2020-01-31 21:04] #3553 closed

[2020-02-01 09:39] MaikuB opened #3640 "Supporting the new Android plugins APIs mentions setting a minimum version of Flutter that causes a package to have problems on pub"
I went through the migration guide at https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration for my own plugin and added an e2e test. The guidance there says to set the minimum Flutter SDK as 1.12.13+hotfix.6. After doing this and uploading package, the health score was evaluated as zero and the following error was on pub

[code]

None of the first-party plugins with e2e te

[2020-02-01 13:31] EmmanuelAmodu opened #3641 "'Writing custom platform-specific code' page issue"
Page URL: https://flutter.dev/docs/development/platform-integration/platform-channels.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-channels.md

Description of issue: When running the code in the MainActivity.java file, an error is thrown in the terminal.

[code]

An error is thrown on and project does not compile.

![image](htt

[2020-02-01 14:42] EmmanuelAmodu commented on #3641
[code]
This fix the issue.

[2020-02-01 19:25] EmmanuelAmodu commented on #3641
The above fix does not work in run time

[2020-02-01 20:13] EmmanuelAmodu commented on #3308
Hi @0xcodezero I had similar issue and after 3 days of digging I came upon a solution. This might solve your problem.

[code]

[2020-02-01 20:28] EmmanuelAmodu commented on #3641
Replacing the `import io.flutter.embedding.android.FlutterActivity;` with `import io.flutter.app.FlutterActivity;` and adding the platform communication code to the onCreate method and calling `GeneratedPluginRegistrant.registerWith` with this argument fixed the issue.

[code]

[2020-02-01 20:28] #3641 closed

[2020-02-01 21:44] Hixie commented on #3633
See also https://github.com/flutter/flutter/issues/47634#issuecomment-574389942

[2020-02-01 22:12] EmmanuelAmodu commented on #3634
Hi @andro-GT2 take a look at the solution here and see if it helps https://github.com/flutter/website/issues/3308#issuecomment-581065174.

I also already created a pull request hope it get approved and merged. https://github.com/flutter/website/pull/3643/files

[2020-02-01 23:30] Doomd commented on #1910
Hi, I just wanted to chime in here as well. I found this post after I posted this one: https://github.com/flutter/flutter/issues/49954 (which may be a duplicate), though I am complaining specifically about _italics_. [I think the italics font is way to hard to read, and the links on the right side of the page (all in italics) are really hard to read.](https://uca1e1fc657e6f82d33107de2de0.previews.

[2020-02-03 08:02] mike7ang1rdz opened #3644 "'Adding a splash screen and launch screen to an Android app' page issue"
Page URL: https://flutter.dev/docs/development/ui/splash-screen/android-splash-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/splash-screen/android-splash-screen.md

Description of issue:

I cant find the styles.xml  file

[2020-02-03 17:18] Doomd opened #3646 "Flutter API website fonts are hard to read"
![Screenshot 2020-02-01 16 23 50_edit](https://user-images.githubusercontent.com/10950340/73600618-49501600-4510-11ea-82af-972d41315bb2.png)
This is a relatively trivial issue, and I'm not even sure if this is the right place to complain about it, but I still think it merits attention:

The font and/or weight of the Flutter API website (for example: [https://api.flutter.dev/flutter/widgets/Expande

[2020-02-04 17:08] shunjid commented on #3632
Super **excited**. Can't wait anymore :heart_eyes:

[2020-02-05 13:15] WallyHale commented on #2215
I'm surprised it's so quiet in here .. we are moving all our apps to Flutter, however a few of them are quite large with assets (AR, audio and image bundles), but at the moment it doesn't seem we have the OBB / Expansion file option that we do with native Android? It seems like quite an oversight for Flutter, if we are restricted to the very low modern standard upload limits of 100Mb for APK and 1

[2020-02-05 20:09] legalcodes opened #3659 "Nits in get-started/codelab.md"
https://github.com/flutter/website/pull/3656 brought to light some nits for docs/get-started/codelab.md:
- This language is a little confusing:
[code]

- part 1 (L38) vs. Part 1 (L620)

[2020-02-05 20:23] legalcodes opened #3660 "Verify zsh support for flutter/website"
As of Catalina, macOS has switched the default shell from bash to zsh. We should verify that this doesn't break our current approach and/or documentation for building flutter/website locally.

[2020-02-06 16:48] bardiarastin opened #3663 "I want to add my article to state management approaches segment"
Hi, Recently I've published an article about how to manage Flutter applications state using Flutter Redux
https://medium.com/@bardiarastin/flutter-meets-redux-the-redux-way-of-managing-flutter-applications-state-f60ef693b509

I would like to add this to the "List of state management approaches" page, on the Redux segment, can I make a PR, please?!

![image](https://user-images.githubusercontent.co

[2020-02-06 16:54] sfshaza2 commented on #3646
@kf6gpe, the OP was correct. Bugs against the API docs belong in the flutter/flutter repo, which is maintained by engineering. I don't see the original bug on flutter/flutter, but can you reopen that and close this?  Thx

[2020-02-06 16:55] sfshaza2 commented on #3663
Absolutely! It would happen faster if you could file a PR.  :)

[2020-02-06 16:57] sfshaza2 commented on #3631
@xster, I agree 100% and  this is one of my pet peeves about the API docs. But bugs against the API docs (which are maintained by eng), belong on the flutter/flutter repo. Can you file this there and close this here?

[2020-02-06 17:00] bardiarastin commented on #3663
@Sfshaza Hold my beer and wait a few minutes... <3

[2020-02-06 17:00] sfshaza2 commented on #3644
Good point. The file is in:  ./android/app/src/main/res/values/styles.xml

But the page should be updated to say this;

[2020-02-06 17:07] sfshaza2 commented on #3663
:D. Will do! I hate beer, so it's safe with me.

[2020-02-06 17:09] bardiarastin commented on #3663
@Sfshaza so much thanks, https://github.com/flutter/website/pull/3664 there you go!

[2020-02-06 18:03] #3663 closed

[2020-02-07 12:02] AntonFloh opened #3669 "It doesn't work :("
I did it like you said.
I didnt get any errors but it doesn't Work.
I just changed Spanish to German but the text is always in English.
(Yes I changed the language and region of my simulator Device.
What should I do ?

[2020-02-07 14:11] AntonFloh commented on #3669
I mean the Localisation Software

[2020-02-07 19:12] domesticmouse opened #3674 "'Chrome OS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/chromeos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/chromeos.md

We should be linking to official Chrome OS documentation for developer mode configuration.

[2020-02-07 19:25] #3674 closed

[2020-02-07 19:39] sfshaza2 commented on #3669
Hi @AntonFloh! Unfortunately, we don't provide support from the open issues for the website. You will get a much quicker response if you use one of the Flutter channels. For example, Stack Overflow, Discord, etc. These are listed on our community page:  https://flutter.dev/community

If you *do* find an error/omission in the docs on flutter.dev, please file an issue or (better yet) a PR!

Thanks!

[2020-02-07 19:39] #3669 closed

[2020-02-07 19:43] sfshaza2 opened #7804 "Objective-C docs needs some SEO"

[2020-02-07 19:43] sfshaza2 commented on #3631
Filed. https://github.com/flutter/flutter/issues/50356

Closing

[2020-02-07 19:43] #3631 closed

[2020-02-07 19:45] sfshaza2 commented on #3627
@Rusinas, could you clarify which docs, specifically, you'd like to see accept community translations? Do you mean the API docs or the flutter.dev docs? Thx

[2020-02-07 19:47] sfshaza2 commented on #3606
@CSELINGUA, could you clarify which docs you are asking about, specifically? The API docs, or the flutter.dev docs. Thanks!

[2020-02-07 20:51] sfshaza2 commented on #3605
@kf6gpe, please do not move API doc bugs to this repo. These belong in the flutter/flutter repo.

[2020-02-07 21:00] sfshaza2 commented on #3604
@legalcodes, are you suggesting that this is already covered? It's not clear from your comment.

[2020-02-07 21:35] legalcodes commented on #3604
@sfshaza2 I have the same question -- is this doc falling short in any of the following areas?

1. Poorly surfaced and/or hard to find (perhaps it needs to be linked from our animations docs more prominently
2. Needs more examples
3. Should have its own dedicated section (currently it appears in a "Note" subsection)

All thoughts welcome @tarobins @sfshaza2

[2020-02-08 18:21] petermichaux commented on #2836
I agree this is confusing. It should be called "Article".

Unfortunately, the API uses "posts".

https://jsonplaceholder.typicode.com/posts/1

Also I think that inside `_MyAppState` the member named `post` should be called `_futurePost`. It references a `Future<Post>` object. It does not reference a `Post` object. (If the change to "Article" is possible then it should be `_futureArticle`.

[2020-02-08 18:39] petermichaux commented on #2793
I just tested the current full example by copying and pasting it exactly. It works as expected.

@sfshaza2 This issue can be closed.

[2020-02-08 18:42] petermichaux commented on #1891
I agree that more Networking documentation is a good idea but this issue is too vague. I think this issue can be closed. @brianegan @sfshaza2

[2020-02-08 18:58] petermichaux opened #3679 "Cookbook recipes: POST/PUT/DELETE data to the internet."
The cookbook has the recipe [Fetch data from the internet](https://flutter.dev/docs/cookbook/networking/fetch-data). Recipes also showing how to POST/PUT/DELETE data to the internet would be good to make a complete set of recipes for all four of the fundamental CRUD operations using `FutureBuilder`.

For example, the main point in the POST and PUT recipes would be to show that the future would be

[2020-02-09 03:23] andro-GT2 commented on #3634
Thanks @EmmanuelAmodu  for the reply.

Anyway, this worked for me:

class MainActivity: FlutterActivity(), MethodChannel.MethodCallHandler {
    val CHANNEL = "com.example/messages"

    lateinit var methodChannel: MethodChannel

    override fun configureFlutterEngine(flutterEngine: FlutterEngine) {
        GeneratedPluginRegistrant.registerWith(flutterEngine)
        methodChannel = MethodChanne

[2020-02-10 05:02] #3644 closed

[2020-02-10 15:56] sfshaza2 commented on #1891
SG!

[2020-02-10 15:56] #1891 closed

[2020-02-10 15:57] sfshaza2 commented on #2793
Thanks!

[2020-02-10 15:57] #2793 closed

[2020-02-10 16:08] sfshaza2 commented on #3679
Good idea.

[2020-02-10 18:13] petermichaux commented on #3679
@sfshaza2 are pull requests welcome?

[2020-02-10 19:51] sfshaza2 commented on #3679
You betcha!!! We don't always suggest it, but they are always welcome.

[2020-02-10 20:06] sfshaza2 commented on #2836
Ugh, yes, this is unfortunate. @petermichaux, are you suggesting that, instead of fetching blog posts that we fetch photo albums? I am definitely ok with that. PR me!

[2020-02-10 20:13] petermichaux commented on #2836
@sfshaza2 yes that's what I'm suggesting. It will help with the POST/PUT/DELETE recipes I've proposed.

[2020-02-10 20:18] sfshaza2 commented on #2836
I like it.

[2020-02-10 20:56] dejaime commented on #2836
For some reason, I thought my July 2019 commit dc3f567 had already gone through.

[2020-02-10 23:03] petermichaux commented on #3679
Verify that the mock API can do what's necessary for the full set of GET/POST/PUT/DELETE recipes without complicating them with unrelated details. It looks like it can.

Read/GET all resources

[code]

Read/GET a resource

[code]

Create/POST a resource. Verifying we can pretend that the `userId` parameter doesn't exist so that the example code doesn't involve concepts of authentication and a sess

[2020-02-10 23:45] feinstein opened #3683 "'Hero Animations' page issue"
Page URL: https://flutter.dev/docs/development/ui/animations/hero-animations.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/hero-animations.md

Description of issue:

Google shows this page with a `{site.alert.secondary}}` appended:

![image](https://user-images.githubusercontent.com/8120472/74200629-3c38d280-4c46-11ea-91d2-8623bca4d32c.png)

[2020-02-10 23:45] sfshaza2 commented on #2836
Was that commit attached to a PR?

[2020-02-11 00:06] petermichaux commented on #2836
"blogPost" is certainly an improvement. I think switching to something that doesn't include "post" will be even better. Also, a form for an "Album" will be just one field for title and therefore a little simpler in examples.

[2020-02-11 10:20] MaikuB commented on #3640
@mklim i'm closing this as it looks like pub is on 1.12.13+hotfix.7 so this should no longer be an issue

[2020-02-11 10:20] #3640 closed

[2020-02-11 15:25] PaulTR opened #3684 "Codelab Friendly Chat: Step 7 is broken"
https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..index#6
Step 7 (animate) of friendly chat

When following the steps to add animations, this error is thrown:

[code]

The screen then looks like this:

![Screen Shot 2020-02-10 at 9 43 23 AM](https://user-images.githubusercontent.com/2335087/74250429-d1b87e80-4ca7-11ea-9655-c7d51fa9a5d2.png)

I found the completed code

[2020-02-11 21:58] legalcodes opened #3686 "Consider changing codefont styles"
We may be using codefont less than we can due its jarring styles:

![Screen Shot 2020-02-11 at 1 49 06 PM](https://user-images.githubusercontent.com/5550175/74283123-37236400-4cd6-11ea-9039-9f1bde6ab96b.png)
![Screen Shot 2020-02-11 at 1 49 15 PM](https://user-images.githubusercontent.com/5550175/74283128-38ed2780-4cd6-11ea-96e3-6eb6e3c4bf3d.png)

Updating codefont style may enable us to use codef

[2020-02-12 10:46] orestesgaolin commented on #3591
Should we update the [docs here](https://flutter.dev/docs/cookbook/design/fonts#pubspecyaml-option-definitions) to explain that these descriptors are actually ignored?

[2020-02-13 04:00] matthieucoisne opened #3689 "import error `android.support.annotation.NonNull`"
#### Description of issue:
<img width="1120" alt="Screen Shot 2020-02-12 at 9 38 41 PM" src="https://user-images.githubusercontent.com/7368710/74399738-c8372f80-4de9-11ea-9bae-23f4b8e3c10b.png">

If you open `MainActivity.kt` in the android folder of a new Flutter project, you will see errors.
1- `import android.support.annotation.NonNull`
2- `(@NonNull flutterEngine: FlutterEngine)`

Since Kotlin

[2020-02-13 17:08] rapPayne opened #3691 "Missing some books on the books list page"
The books page should be updated to include some Flutter books that have been published recently.

[2020-02-13 17:47] rapPayne commented on #3691
To add the new books, you can add these to the database in the site.data.books collection. You'll have to permanently store the cover images and add that URL to the "cover" property for each.

[code]
And here are cover images:

![image](https://user-images.githubusercontent.com/1122906/74462322-a8d5ec00-4e55-11ea-8a8c-f83501e3b4af.png)

![image](https://user-images.githubusercontent.com/1122906/74

[2020-02-13 22:50] tedhenry100 commented on #3679
Here is a top Google search result that shows the confusion.

https://stackoverflow.com/questions/50014848/network-request-after-button-click-with-flutter

The original post is trying to find a way to related POST with the cookbook's GET example.

The person who answered gives a poor answer that might call setState after dispose. This could happen if the back button is pressed before the POST requ

[2020-02-14 01:45] petermichaux commented on #2836
@hemanthrajv is a star!

@sfshaza2 Can you merge Hemanth's pull request? That will help prepare for #3679.

[2020-02-14 03:22] #2836 closed

[2020-02-14 05:08] petermichaux commented on #3679
The following POST example app attempts to remain in the spirit of the GET recipe that is already in the cookbook. By that, I mean it uses `FutureBuilder` and avoids getting into more complex state management architecture like Provider, Bloc, etc.

The user of `_futureAlbum` being set to `null` or not is the key feature in this example code that I wanted to propose for the cookbook article on POST

[2020-02-14 09:45] Juanqui303 opened #3697 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
![Screenshot](https://user-images.githubusercontent.com/61044944/74519908-e51d510

[2020-02-14 14:43] miltonfajardo commented on #2472
For me on Windows:

[2020-02-14 16:28] stepanzalis opened #3698 "Web codelab markdown issue"
In web codelab, there are added some markdown tags by mistake.
https://flutter.dev/docs/get-started/codelab-web

<img width="592" alt="markdown_issue" src="https://user-images.githubusercontent.com/44142488/74549024-2f222900-4f4f-11ea-8878-088f36393656.png">

[2020-02-14 17:44] kwalrath commented on #2391
This is still the top 404 on flutter.dev. It hurts me...

[2020-02-14 18:43] sfshaza2 commented on #3691
@rapPayne, the fastest way to get these added is to create a PR!  :D

[2020-02-14 18:52] sfshaza2 commented on #3697
@tvolkert, any insights here?

[2020-02-14 18:54] rapPayne commented on #3691
Thank you @Sfshaza. I was headed that direction; I forked it and branched it and then found that the source of that page doesn't need changing. We just need to add records to whatever DB (Firestore?) is feeding the page. I tried to make it as easy as possible by doing the research, grabbing the data and putting it in JSON format.

Happy to do more, though! Is there a way I can create a PR for DB e

[2020-02-14 18:56] sfshaza2 commented on #3697
@Juanqui303, I'm not sure what is going wrong with your install. Rather than waiting for a response to this issue, you might reach out and ask other Windows users for advice. Our [community page](https://flutter.dev/community) lists several avenues for help, such as Discord, Reddit, etc.

I only suggest this because you will get help much faster. This website issues repo is for logging docs bugs,

[2020-02-14 19:00] sfshaza2 commented on #3684
@PaulTR, thanks! This is our oldest codelab and hasn't been updated in awhile.

[2020-02-14 19:02] sfshaza2 commented on #3630
This applies to the "Building Beautiful UIs with Flutter", our oldest codelab. It definitely needs updating, but is (unfortunately) not a high priority at this time.

[2020-02-14 19:16] tvolkert commented on #3697
@zanderso

[2020-02-14 19:18] sfshaza2 commented on #3634
Great news! I have pinged an engineer to review that PR.

[2020-02-14 19:22] sfshaza2 commented on #3613
@jfschmakeit, can you comment?

[2020-02-14 19:29] sfshaza2 commented on #3691
Hi, @rapPayne! Yes, we should do a better job of documenting how to do this!

In your branch of the repo, add new books to src/_data/books.yml.
Add the images to /src/_assets/image/cover. I can stage the updated page to make sure all is well.

Thanks so much!

[2020-02-14 19:33] rapPayne commented on #3691
I'm on it, Shams. Thanks for the instructions!

[2020-02-14 22:08] #3691 closed

[2020-02-15 06:23] xster commented on #3631
/move to flutter/flutter

[2020-02-15 14:35] suztomo opened #3703 "The links in internationalization are broken"
https://flutter.dev/docs/development/accessibility-and-localization/internationalization

<img width="1198" alt="Screen Shot 2020-02-15 at 9 30 07 AM" src="https://user-images.githubusercontent.com/28604/74589795-7d2e3f80-4fd6-11ea-899a-4b80e0a5580a.png">

I tried a bit, but could not figure out which part is broken.

[2020-02-16 01:11] suztomo commented on #3703
I highly recommend to run automation to confirm links are not broken in Flutter documentation.

[2020-02-16 02:52] petermichaux commented on #3679
@sfshaza2 Can you review and merge @hemanthrajv recipe for `POST` requests?

We expect that both `PUT` and `DELETE` recipes will be quite similar to the `POST` recipe so having the `POST` recipe merged is a good sign that continuing is worthwhile.

Thanks.

[2020-02-16 12:06] kathoor opened #3707 "website svg"
**svg does not support flutter web or there is another way to use svg ?**

[2020-02-18 21:36] sfshaza2 commented on #3703
@suztomo, can you tell me which links are broken?

[2020-02-18 22:03] suztomo commented on #3703
In the screenshot, everything after "intl_example" are broken.

[2020-02-18 23:53] sfshaza2 commented on #3703
Hi, @suztomo. I am not seeing the same issue here. Can you tell me what browser and platform you are using?

[2020-02-19 00:04] sfshaza2 commented on #3707
I googled and it looks like the best approach is to use the flutter_svg package.

https://stackoverflow.com/questions/44087400/flutter-svg-rendering

[2020-02-19 00:04] #3707 closed

[2020-02-19 00:08] sfshaza2 commented on #3683
@feinstein, can you tell me what browser/platform you are using?

[2020-02-19 00:10] suztomo commented on #3703
I see #3704 fixed this issue. Thank you. Closing this.

Still, I highly recommend to run automation to confirm links are not broken in Flutter documentation.

[2020-02-19 00:10] #3703 closed

[2020-02-19 00:55] feinstein commented on #3683
Firefox, Windows 10 x64, but this problem seems to be gone (I think it's related to an update in the Google search results HTML) so I will close it, thanks @sfshaza2.

[2020-02-19 00:55] #3683 closed

[2020-02-19 02:48] sfshaza2 commented on #3703
@suztomo, we do run a link checker. The build fails if there are internal broken links. We get warnings for external broken links. I'm not sure why we didn't see a broken build when that problem was introduced.

[2020-02-19 04:12] suztomo commented on #3703
I don’t think the checker is working (or used) as you expect, because I find many broken links in Flutter document.

For example, this is from Accessibility page, a sibling of Internationalization page.

![4077A7C9-D4AC-4644-867E-2A5BDC843858](https://user-images.githubusercontent.com/28604/74800653-26f52100-52a2-11ea-9fb6-a9b51eaa4d1b.jpeg)

(I’m not going to create issues for them; it’s like a t

[2020-02-20 00:33] kwalrath opened #3717 "Fix malformed links"
Reopening due to 3 remaining issues:

[code]
----------
OLD:

I'm pretty sure we have some other badly formatted links, but they aren't as easy to search for as these empty ones. (Not all of these "bad links" are visible in the page, btw. E.g. in https://flutter.dev/docs/development/ui/layout/box-constraints, the bad links are in the description metadata... which probably can't have HTML anyway.)

[2020-02-21 07:20] D3105 commented on #3717
[Adding a splash screen and launch screen to an Android app](https://flutter.dev/docs/development/ui/splash-screen/android-splash-screen) page have 2 links in
first note section that redirects to the same page:

[2020-02-21 14:43] rrousselGit opened #3723 "The search function on the API site is inefficient"
Consider the situation where you want to search `setState` on api.flutter.dev

Logically, it should bring `State.setState` as the first result, since this is the only class that implements the method.
The others just inherit from it.

The reality is different:

<img width="488" alt="Screenshot 2020-02-21 at 14 42 23" src="https://user-images.githubusercontent.com/20165741/75043692-609f7500-54b8-11

[2020-02-21 23:39] zjasonshen opened #3725 "'Mock dependencies using Mockito' page issue"
Page URL: https://flutter.dev/docs/cookbook/testing/unit/mocking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/mocking.md

Description of issue:

Step 4:
TypeMatcher is deprecated. What should that line of code be changed to?

[2020-02-22 20:31] sfshaza2 commented on #3723
I so agree, @rrousselGit. However, this issue is filed on the wrong repo. It should be filed on the flutter/flutter repo, which is owned by engineering.

[2020-02-22 20:33] sfshaza2 commented on #3717
Good idea to search on the generated site!

[2020-02-22 21:01] sfshaza2 commented on #3717
Verrrrrrrry interesting! I see that, when a "description" tag is missing from the YML matter, the site generation code grabs the first paragraph, which often includes links. Links don't work when in the front matter.

[2020-02-22 22:29] sfshaza2 commented on #3717
@D3105, we don't seem to have specific docs on reusing an engine, so I'm deleting that link.

[2020-02-22 23:06] sfshaza2 opened #3727 "All markdown files should contain a description: field in the front matter"
At least, all of the files that aren't included markdown files. The following list is what I see in my branch where I have already corrected a number of files, esp in the cookbook (I've deleted the files that begin with underbar from this list, as they are included files):

[code]

Also, many of the index files are placeholders and I don't think we care about adding a description to those - though

[2020-02-23 16:11] ONUOHA opened #3729 "how to make my addbutton add a new textfield and dropdownbutton to my listview on flutter"
![Screenshot (16)](https://user-images.githubusercontent.com/24981612/75115494-58356e80-565f-11ea-92da-508ce7cbe35e.png)
![Screenshot (18)](https://user-images.githubusercontent.com/24981612/75115496-59ff3200-565f-11ea-93b4-3e1572503269.png)

[2020-02-23 16:15] ONUOHA opened #3730 "how to add a new card containing a textfield and a dropdownbutton to my listview each time i press a plus button"
![Screenshot (16)](https://user-images.githubusercontent.com/24981612/75115494-58356e80-565f-11ea-92da-508ce7cbe35e.png)
![Screenshot (18)](https://user-images.githubusercontent.com/24981612/75115496-59ff3200-565f-11ea-93b4-3e1572503269.png)

[2020-02-24 10:42] rrousselGit commented on #3723
Closing this one since I opened it on flutter/flutter https://github.com/flutter/flutter/issues/51325

[2020-02-24 10:42] #3723 closed

[2020-02-24 17:33] legalcodes commented on #3727
https://github.com/flutter/website/issues/3717

[2020-02-24 20:56] dh-- opened #3732 "Link to slack community doesn't work"
On this page: https://flutter.dev/community

There's a "Learn more" link that takes you to the slack community page.

href="https://fluttercommunity.dev/joinslack"
which redirects to: https://fluttercommunity.slack.com/join/shared_invite/<some_really_long_code>

Unfortunately, it looks like this is a short term link. Visiting the URL routes you to an error page that says "This invite link is no lo

[2020-02-25 15:54] andreidiaconu opened #3736 "'Internationalizing Flutter apps' page issue"
Page URL: https://flutter.dev/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Description of issue:

The first code snippet, that describes what to include in the pubspec file looks like this:
[code]
But the thing is that `flutter_cupert

[2020-02-25 16:47] andreidiaconu commented on #3198
@sfshaza2 I created PR https://github.com/flutter/website/pull/3737 for solving this and the duplicate issue https://github.com/flutter/website/issues/3736

Could someone please approve it?

[2020-02-25 16:49] andreidiaconu commented on #3736
Duplicate of https://github.com/flutter/website/issues/3198 -- both are solved with PR https://github.com/flutter/website/pull/3737

[2020-02-25 22:35] mono0926 commented on #3198
Added by #2804 and fixed by #3737, so this can be closed.

[2020-02-26 07:48] ollydixon commented on #2215
I have this issue too except my app is over 150mb with just essential libraries. Nice one Google; why can’t they just take the Apple route and allow us to upload large Apps, not like they are poor. 150mb in 2020 is ridiculous.

On a side note, why is this closed? There was no solution.

[2020-02-26 07:55] WallyHale commented on #2215
It's not closed, the thread that mentioned this one (and is therefore visibly linked) is closed.

I agree, in this day and age, 150mb is nothing! APK size is only 100 mind you! I'm not holding my breath on them increasing it, it's unusual that Apple is ahead of the curve, and I can only hope that we get expansion file support, as it will be a more long term solution.

I'm flabbergasted that it isn

[2020-02-26 08:56] ollydixon commented on #2215
Yes, well i feel Apple is always ahead of the curve. We spend so much more time faffing around with Android dev than anything else 😎 I mean subscriptions is 27 steps to get a token, Apple is 3.

If are both are closed with no solutions should I make a new ticket?

[2020-02-26 22:46] kwalrath commented on #3717
Reopening (see the top comment).

[2020-02-26 23:34] xster commented on #2215
/move flutter/flutter

[2020-02-26 23:37] jmagman opened #3741 "Document migration steps for migrating Xcode project to not explicitly link or embed on App.framework and Flutter.framework"
https://github.com/flutter/flutter/pull/51453 will introduce a change to try to automatically migrate the Xcode project to mitigate https://github.com/flutter/flutter/issues/50568.  Document the steps needed in case the migration fails.  Link to be included in the error message.

[2020-02-26 23:38] jmagman commented on #3741
@sfshaza2 Is this more appropriate for the website or wiki?

[2020-02-27 00:39] sfshaza2 commented on #3741
It sounds like this could apply to general iOS developers, not just folks who contribute to the Flutter framework, or folks who use experimental features. In the first case, it should be on flutter.dev. In the latter case, it should be on the wiki.

[2020-02-27 00:39] sfshaza2 commented on #3741
Thanks for asking!

[2020-02-27 00:49] sfshaza2 commented on #2215
After escalating to engineering, I've opened a new issue in the flutter/flutter repo, https://github.com/flutter/flutter/issues/51522. Please upvote that issue if this is important to you.

[2020-02-27 00:49] #2215 closed

[2020-02-27 00:50] jmagman commented on #3741
It applies to general Flutter iOS developers, not contributors.  Do you have any examples of documentation like this for specific errors/bugs on the website?  Or a suggestion of what directory to plop this in?  It will probably be titled something like "Supporting Xcode 11.4".

I see https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration but this shouldn't be as prominent.

[2020-02-27 01:37] xster commented on #2215
I'm commenting here so the thread can get notification but please respond and follow along on https://github.com/flutter/flutter/issues/51522.

To help us understand this challenge a bit more, can people share a bit more context on the circumstances involved in running into this issue?

Anonymized screenshots of the APK analyzer breakdown in Android Studio is the most useful. Otherwise, it would b

[2020-02-27 03:59] vettrivikas opened #3742 "'Write your first Flutter app, part 1' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-02-27 06:33] #3198 closed

[2020-02-27 07:22] sfshaza2 commented on #3741
Yes, you've found one of our precedents for this. Others are the box constraints page:  https://flutter.dev/docs/development/ui/layout/box-constraints
and the AndroidX migration page:
https://flutter.dev/docs/development/androidx-migration

It sounds like this error occurs (if at all) when updating your Xcode version, yes?

So, I'm of two minds at the moment. Right now, the AndroidX migration (whi

[2020-02-27 22:51] #3717 closed

[2020-02-28 01:49] jmagman commented on #3741
Side note: documenting this change will be very critical, it looks like the migrator missed removing App.framework in complex_layout because https://github.com/flutter/flutter/pull/8974 followed migration instructions in https://github.com/flutter/flutter/pull/8971, which had people manually add the framework, and thus we don't know those framework identifier references...

[2020-02-28 10:26] ronnybubkemoia opened #3747 "Update definitions of unit and integration tests on 'Testing Flutter apps' page"
Page URL: https://docs.flutter.dev/testing
Page source: https://github.com/flutter/website/tree/main/src/testing/index.md

Description of issue:
Your definition of unit and integration test is wrong.
The correct description would be:

An unit test verifies a behaviour of an application not the functionality of an implementation detail. Here all external dependencies are mocked. For instance the ht

[2020-02-29 01:07] kwalrath opened #3750 "Bad URL: Redirect /docs/release/breaking-changes/fab_accent_dependency"
The top flutter.dev 404 last week was to docs/release/breaking-changes/fab_accent_dependency, which needs to redirect to this go link: https://flutter.dev/go/remove-fab-accent-theme-dependency.

The source might be this line:

https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/floating_action_button.dart#L439

It looks like @HansMuller added this line in https://githu

[2020-02-29 16:58] twoneis opened #3751 "'Search' page issue"
Page URL: https://flutter.dev/search.html
Page source: https://github.com/flutter/website/tree/master/src/search.html

Description of issue:

no search results showing on latest firefox

[2020-02-29 22:39] puremana commented on #3732
Seems to be fixed for me now

[2020-03-03 00:28] HansMuller commented on #3750
I've talked with Hans about this. Will fix the error tomorrow.

[2020-03-03 09:01] kasih959 opened #3756 "'Install' page issue"
Page RL: https://flutter.dev/docs/get-started/install/
Page source: 6j://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-03-03 12:33] shell32 opened #3757 "'Measuring your app's size' page issue"
Page URL: https://flutter.dev/docs/perf/app-size.html
Page source: https://github.com/flutter/website/tree/master/src/docs/perf/app-size.md

Description of issue:

Flutter version 1.12.13+hotfix.8
Dart version 2.7.0
minimum apk size:
√ Built build\app\outputs\apk\release\app-armeabi-v7a-release.apk (5.3MB).
√ Built build\app\outputs\apk\release\app-arm64-v8a-release.apk (5.6MB).
√ Built build\app\

[2020-03-03 13:28] bergamin opened #3758 "Update 'Persist data with SQLite' page with fix for code insertion"
Page URL: https://docs.flutter.dev/cookbook/persistence/sqlite
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/sqlite.md

This page is a little confusing. It doesn't explain where to add the following code:

[code]

Also, wherever I put this block of code, Android Studio doesn't like the word `await`.  I have all three imports in the file:

[code]

Where I

[2020-03-03 15:42] legalcodes opened #3759 "alibaba playstore link broken on /showcase"
current link: https://play.google.com/store/apps/details?id=com.taobao.idlefish&e=-EnableAppDetailsPageRedesign

[2020-03-04 14:53] bfarkas-sully opened #3764 "Join Flutter's showcase"
Hi everyone,
We are currently working on a Flutter based application and we would like to be integrated to the showcase.
Does anyone know how to do that ?
Thanks

[2020-03-04 20:11] dh-- commented on #3732
Agreed. This appears to be resolved.

[2020-03-04 20:11] #3732 closed

[2020-03-04 23:28] #3741 closed

[2020-03-05 16:13] fgarciaDev opened #3767 "int_example: flutter analyze reports 2 issues found"
After cloning the project and following the README instructions to get the example up and running, `flutter analyze` reported 2 issues:

[code]

[2020-03-06 00:08] #3750 closed

[2020-03-06 11:26] nainardev opened #3770 "LInks as text"
https://flutter.dev/docs/get-started/test-drive?tab=vscode

last portion for materila components etc

[2020-03-06 16:34] legalcodes commented on #3770
Nice catch -- thanks @nainardev

[2020-03-07 04:04] chalin commented on #3463
For step 4, I'm also seeing this just before the error line that you report:

[code]

This is because we switched, at some point, to running the flutter's pub (from `$FLUTTER_ROOT/bin/cache/dart-sdk/bin/pub`) rather than the globally installed Dart SDK's pub. When I run `check-code.sh` with a tweak so that `refresh-code-excerpts.sh` uses the Dart SDK pub then the error goes away.

[2020-03-07 12:56] chileshemartin opened #3774 "'Adding a splash screen and launch screen to an Android app' page issue"
Page URL: https://flutter.dev/docs/development/ui/splash-screen/android-splash-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/splash-screen/android-splash-screen.md

Description of issue: The section for creating a custom splash screen is a bit vague. For example: where do I add that sample code and how do I invoke it? I'm I supposed to create a new

[2020-03-07 19:26] ngouy commented on #3612
Actually the bug is only on the google code lab site, not on the flutter site

https://flutter.dev/docs/get-started/codelab OK
codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#2 KO

I've been looking everywhere to see where its hoster amoung https://github.com/googlecodelabs but no way to find out.

[2020-03-08 02:36] trantrongthanhtam opened #3775 "'Basic Flutter layout concepts' page issue"
Page URL: https://flutter.dev/docs/codelabs/layout-basics.html
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/layout-basics.md

Description of issue:

I'm not sure it's from my browser or the page itself that all the codelab environment shows nothing, feel like all the code is shifted to the left. I really want to dig in to some Dart code but this is kind of frustrat

[2020-03-09 10:52] thosakwe commented on #3593
From an outsider's perspective, I think it's fair to say that there is already a lot of information on how to use Dart without Flutter - the entire https://dart.dev site. I also think it's fair to expect users to read the documentation in entirety - [this page](https://flutter.dev/docs/resources/bootstrap-into-dart) in the Flutter docs has many links to the main Dart page.

[2020-03-09 11:02] rowild commented on #3593
The problem back then arose that it was totally unclear whether dart had to be installed separately alongside flutter or not. It was my assumption that it had to be installed, because it nowhere mentioned that flutter installs its own version of dart.

This was only made clear in the first answer to this issue. And according to that answer this whole issue's topic should be renamed to "Is it neces

[2020-03-09 11:02] #3593 closed

[2020-03-09 13:12] legalcodes commented on #3775
Hi @trantrongthanhtam thanks for raising this issue! I'm not able to reproduce this. Can you let me know what browser / OS you are using?

[2020-03-09 15:28] kaboc opened #3777 "'Inside Flutter' page issue"
Page URL: https://flutter.dev/docs/resources/inside-flutter.html
Page source: https://github.com/flutter/website/tree/master/src/docs/resources/inside-flutter.md

There are eight footnotes, but 5 - 8 do not seem to be linked from anywhere in the body of the page.

I have no idea whether necessary links are missing or the latter half of the footnotes can be removed, so I file the issue here rather

[2020-03-09 16:06] #3770 closed

[2020-03-09 16:06] nainardev commented on #3770
That's was fast

[2020-03-09 17:11] sfshaza2 commented on #3770
I try, @nainardev!  :D. Thanks for the PR.

[2020-03-09 17:29] #3679 closed

[2020-03-10 00:59] trantrongthanhtam commented on #3775
hi @legalcodes, I did try it on firefox, works just fine, only Google Chrome browser seems to be the problem. Chrome in both Ubuntu and Windows 10 have the same problem. My Chrome version is Version 80.0.3987.100 (Official Build) (64-bit). Hope this helps!

[2020-03-10 07:36] kaboc opened #3784 "'/docs/release/breaking-changes/container-color.html' page issue"
Page URL: https://flutter.dev/docs/release/breaking-changes/container-color.html
Page source: https://github.com/flutter/website/tree/master/src/docs/release/breaking-changes/container-color.md

Pages linked from `ColoredBox` and `Colored box and container optimization #50979` in the `References` section at the bottom are not found.

[2020-03-10 07:56] kaboc commented on #3784
As for the latter, I noticed the link was just broken, and made a PR (#3785).

[2020-03-10 23:43] legalcodes commented on #3340
E.g. see https://github.com/flutter/website/pull/3783/files#diff-fa8eef8cbacac37fd5c863b0261862fdL24

`You can find the latest version of the
http package on pub.dev.`

[2020-03-11 08:52] Arianto-rian opened #3789 "'Using Flutter in China' page issue"
Page URL: https://flutter.dev/community/china.html
Page source:

Description of issue:

[2020-03-11 14:35] ram231 opened #3791 "Fix typo for JSON and serialization page"
I just want to point out a mistake in grammar(sorry!) and want to submit a pull request. but due to tedious work of reading the docs on how to get started with the repo and with my potato laptop and slow internet connection. It's better if someone could contribute it and fix the typo [here](https://flutter.dev/docs/development/data-and-backend/json#use-manual-serialization-for-smaller-projects).

[2020-03-11 17:24] AjayThakur12 opened #3792 "dream11 link broken on /showcase"
current link: https://www.powerpredictorapp.com/

[2020-03-11 23:38] r-silver1 opened #3795 "'Build and release an Android app' page issue"
Page URL: https://flutter.dev/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description of issue:

Hi,

Referencing the "signing the app" part of the tutorial, it seems that the keygen is not correct. It would not let me run commands in the way that you described. I think that if you are using the same system I am (flutter

[2020-03-12 15:07] AjayThakur12 commented on #3792
@Sfshaza  @leafpetersen  can i work on this issue

[2020-03-12 17:20] sfshaza2 commented on #3340
As long as we're changing it in sample pubspecs, and not in actual running examples, I'm all for it. In fact, I like it very much.

[2020-03-12 19:41] xster opened #7619 "Create documentation and sample for sharing the same transitive platform dependency"
Describe best practice for managing and sharing upstream dependencies like Crashalytics that's being used both by the platform and Flutter.

cc @jmagman @RedBrogdon

[2020-03-12 19:41] xster opened #7775 "Create documentation and sample for sharing the same transitive platform dependency"
Describe best practice for managing and sharing upstream dependencies like Crashalytics that's being used both by the platform and Flutter.

cc @jmagman @RedBrogdon

[2020-03-12 19:53] xster opened #7774 "Document best practice for developing add-to-app module integrated and standalone"

[2020-03-13 04:41] sfshaza2 opened #3799 "Add info about new Material animations package"
On the animations landing page, add a blurb about the new animations package, https://pub.dev/packages/animations. Link to any examples/docs that exist. Eventually it would be nice to have a tutorial or a codelab.

[2020-03-13 08:38] syonip opened #3800 "'Build and release an iOS app' page issue"
Page URL: https://flutter.dev/docs/deployment/ios.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/ios.md

Description of issue:

The part about verifying the `Display Name` setting in xcode is misleading.
Changing the Display Name to anything else than `Runner` will cause the app to not run with flutter tools, as described here https://github.com/flutter/flutte

[2020-03-14 20:01] mhmdanas opened #3803 "Information in 'Build and release an iOS app' conflicts with 'flutter build ios -h'"
It is stated at https://flutter.dev/docs/deployment/ios that `flutter build ios` defaults to release mode. However, running `flutter build ios -h` outputs the following:
[code]
It says that debug mode is the default.

[2020-03-14 20:13] dnfield commented on #3803
The website is correct, the tool output is wrong.

[2020-03-14 20:14] dnfield commented on #3803
@jmagman

[2020-03-14 21:36] AjayThakur12 commented on #3759
@Sfshaza @leafpetersen can i work on this issue

[2020-03-14 21:39] AjayThakur12 commented on #3698
@sfshaza2  i think this issue is fixed
![Screenshot 2020-03-14 at 5 08 29 AM](https://user-images.githubusercontent.com/29337604/76690827-4cd7d080-666a-11ea-88b8-c7521234cfe4.png)

[2020-03-16 16:30] sfshaza2 commented on #3698
Thx!

[2020-03-16 16:30] #3698 closed

[2020-03-16 17:08] sfshaza2 commented on #3764
Hi, @bfarkas-sully! That call is made by the marketing folk. There's no formal process for requesting to be featured. I suspect posting on Twitter, with hashtags, can raise the visibility of your project. Sorry I can't be more help!

[2020-03-16 17:08] #3764 closed

[2020-03-16 17:11] sfshaza2 commented on #3759
I'm not @leafpetersen, but I'd love to see a correct link!  @maguinis, do you know?

[2020-03-16 17:52] jmagman commented on #3803
Confusingly, it actually defaults to Debug for simulator and Release otherwise.
https://github.com/flutter/flutter/pull/5540

[2020-03-17 09:43] AjayThakur12 commented on #3759
@Sfshaza  I think idle fish no longer available in play store I am not able to find it

[2020-03-17 20:59] devoncarew opened #3811 "add shorter devtools urls, and have them re-direct to the devtools pages"
We'd like to have slightly shorter urls for the devtools documentation (in order to have terse urls to display in the app).

Instead of the current urls:

[code]

it would be great to have a url like:

[code]

I think this would be easiest if flutter.dev had some re-directs - something like `https://flutter.dev/devtools/`* ==> `https://flutter.dev/docs/development/tools/devtools/*`.

cc @sfshaza2

[2020-03-17 21:12] sfshaza2 commented on #3811
Yes, this is achievable by editing the firebase.json file. PRs accepted!  :)

[2020-03-17 22:53] feinstein opened #3813 "'Layout widgets' page issue"
Page URL: https://flutter.dev/docs/development/ui/widgets/layout.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/layout.md

Description of issue:

Could you add a category with all the Sliver types? I often forget all my options and finding them isn't so easy... `SliverList`, `SliverFixedExtentList`, `SliverGrid`, `SliverPadding`, `SliverAppBar` and

[2020-03-18 03:21] #3811 closed

[2020-03-18 03:51] sfshaza2 commented on #3759
Thanks, @AjayThakur12, I am looking into it with their partner PM.

[2020-03-19 06:10] mattcychen commented on #3480
Hi @sfshaza2 ,
This information helps. I had the same issue as @fabiom91 does, and I found my iPhone was connected to my Mac with "Don't trust computer" chosen. After unplug my phone, simulators can run without error.

[2020-03-19 19:15] sfshaza2 commented on #3759
Fixed with PR https://github.com/flutter/website/pull/3821

[2020-03-19 19:15] #3759 closed

[2020-03-19 19:15] sfshaza2 commented on #3759
(Also, the update is that they pulled it from the store while they are doing a significant update. It should be back soon.)

[2020-03-19 19:18] legalcodes opened #3822 "tool/check-links.sh does not detect missing named anchors"
Currently, tool/check-links.sh lists a broken named anchor as a warning, which does not fail the build.

[2020-03-19 19:21] legalcodes commented on #3822
Currently, tool/check-links.sh lists a broken named anchor as a warning, which does not fail the build.

[2020-03-20 00:42] natebosch commented on #3592
Looks like there may also be things to document about flutter on desktop. It could also be worth documenting or linking to documentation about various restrictions like CORS that authors may hit when working with flutter web and how that may be different from desktop or mobile.

Still hoping for some canonical flutter documentation on this to point to. We get a lot of questions about this in the `

[2020-03-20 04:49] hammsidh opened #3824 "Access to XMLHttpRequest has been blocked by CORS policy Error"
Hi all, i have issue about cors,

Access to XMLHttpRequest at ‘ ’ from origin ‘http://localhost:61239’ has been blocked by CORS policy: Response to preflight request doesn’t pass access control check: No ‘Access-Control-Allow-Origin’ header is present on the requested resource.

if I run on a mobile device there are no problems
Please, help me :))

[2020-03-20 05:32] jonahwilliams commented on #3824
Questions like these are better suited for Q&A sites like [StackOverflow](https://stackoverflow.com/questions/tagged/flutter) or on one of the flutter community sites at https://flutter.dev/community

[2020-03-20 05:32] #3824 closed

[2020-03-20 09:24] fabiom91 commented on #3480
Sorry guys I had to start another project for work and I deleted flutter for now. I think the issue is that recently my iphone **always** asks me to trust my computer while before it used to cache the information. Sorry I can't give more details now since has passed some time already. Maybe @mattcychen has more to add at this point... :-/

[2020-03-20 12:47] carzacc opened #3826 "Add Programming Flutter to books page"
Book cover: https://imagery.pragprog.com/products/578/czflutr.jpg
Amazon link: https://www.amazon.com/Programming-Flutter-Native-Cross-Platform-Apps/dp/1680506951

[2020-03-20 17:29] jonahwilliams opened #3827 "Document the new workflow for Dart code obfuscation on Flutter"
( See also https://github.com/flutter/website/issues/1567 )

As of Flutter v1.15.18 the information in https://github.com/flutter/flutter/wiki/Obfuscating-Dart-Code is out of date. We've stabilized the feature and made source code obfuscation stable, and it is supported by iOS and Android builds with the `--obfuscate` and `--split-debug-info` options.

The existing documentation for these features

[2020-03-20 19:53] vaimikpatel2908 opened #3830 "interactive examples are not working for any cookbook examples"

[2020-03-20 20:47] johnpryan commented on #1923
Does anyone mind if I mark this as fixed? https://flutter.github.io/samples

[2020-03-20 21:49] InMatrix commented on #1923
I think it's fine to close this bug, so we can file more specific improvements request against the new samples catalog.

One thing I'd like to get fixed sooner is the name of this page in the left navigation:

![image](https://user-images.githubusercontent.com/348942/77208655-8882f800-6ab9-11ea-8ab5-4cc676a7b491.png)

The `Flutter Gallery [New]` link takes the user to the https://flutter.github.io

[2020-03-21 08:56] JPhilipp opened #3831 "Add info on "Flutter plugin not installed"? ('Windows install' page issue)"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

It might make sense to include one line of what to do when flutter doctor returns "Flutter plugin not installed" (i.e. to open Android Studio, click Configure > Settings > Plugins and install Flutter). It gets mentioned on the Next

[2020-03-21 13:04] xingoxu opened #3832 "'Test drive' page issue - links & image are not showing"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/

Description of issue:

![image](https://user-images.githubusercontent.com/8542907/77226966-899e4d00-6bbf-11ea-844d-0b6694e776e8.png)

The images and links are not showing correctly.

![image](https://user-images.githubusercontent.com/8542907/77226

[2020-03-21 15:12] sfshaza2 commented on #1923
SGTM

On Fri, Mar 20, 2020 at 2:49 PM Tao Dong <notifications@github.com> wrote:

[2020-03-22 20:35] FabioPagano commented on #3482
See here if it can help: https://github.com/flutter/website/issues/3498

[2020-03-23 16:15] #3832 closed

[2020-03-23 17:27] zanderso opened #7803 "Report attribution by acquisition source to analytics from the tool"

[2020-03-23 17:36] sfshaza2 commented on #3831
Good point!

[2020-03-23 19:41] johnpryan commented on #1923
Added a fix here: https://github.com/flutter/website/pull/3837

[2020-03-23 20:24] sfshaza2 commented on #3826
Hi, @carzacc! Would you be willing to file a PR to add this title? It would happen much faster.  :)

All you need to do is add the book info to `/src/data/_books.yml`, and the image to `src/_assets/image/cover`.

[2020-03-23 20:25] sfshaza2 commented on #3827
I'm taking care of this.

[2020-03-23 20:25] sfshaza2 commented on #3830
@johnpryan, can you look into this?

[2020-03-23 20:28] johnpryan commented on #3830
@vaimikpatel2908 I can't reproduce this. Can you open the chrome devtools and paste any output that you see in the console?

[2020-03-23 20:41] jonahwilliams commented on #3827
Also: if the user receives a stack trace from their obfuscated application, they need to take additional steps to make it human readable:

1. Find the matching symbols file, for example a crash from and Android arm64 device would need `app.android-arm64.symbols`.

2. Provide both the stack trace (stored in a file) and the symbols to the `flutter symbolize` command.

[code]

[2020-03-23 20:43] #1923 closed

[2020-03-23 21:37] vaimikpatel2908 commented on #3830
![image](https://user-images.githubusercontent.com/45857340/77365697-f125db00-6d2c-11ea-87ec-c2fcd616e4b6.png)

[2020-03-23 22:09] johnpryan commented on #3830
@vaimikpatel2908 can you check that you're not running any ad blockers? You can also checkout the [troubleshooting guide](https://dart.dev/tools/dartpad/troubleshoot) for other issues.

[2020-03-24 03:51] sfshaza2 commented on #3757
@shell32, can you describe your issue?

[2020-03-24 03:56] sfshaza2 commented on #3736
This does appear to be fixed. Thanks for raising this issue!

[2020-03-24 03:56] #3736 closed

[2020-03-24 03:57] sfshaza2 commented on #3813
A good idea.

[2020-03-24 05:07] sfshaza2 commented on #3792
Sure, @AjayThakur12! PRs welcome.

[2020-03-24 05:09] sfshaza2 commented on #3789
No information about an issue. Closing.

[2020-03-24 05:09] #3789 closed

[2020-03-24 05:17] sfshaza2 commented on #3784
Thanks for fixing the link to the PR! I've fixed the other links, which should link to the *master* API docs, not the stable API docs. (Unless the fix lands in stable..)

[2020-03-24 05:22] sfshaza2 commented on #3777
Fixed in PR https://github.com/flutter/website/pull/3786

[2020-03-24 05:22] #3777 closed

[2020-03-24 05:24] sfshaza2 commented on #3751
@twoneis, is this still happening? Can you give me an example of a search you tried that failed?

[2020-03-24 05:38] sfshaza2 commented on #3756
No issue described. Closing.

[2020-03-24 05:38] #3756 closed

[2020-03-24 05:41] sfshaza2 commented on #3629
@xster, can you weigh in?

[2020-03-24 05:49] sfshaza2 commented on #3742
Nothing described. Closing.

[2020-03-24 05:49] #3742 closed

[2020-03-24 06:40] zzzh opened #3842 "'Pass arguments to a named route' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/navigate-with-arguments.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/navigate-with-arguments.md

Description of issue:
Don't understand why onGenerateRoute way even exist, isn't it too tedious?
As I see, ModalRoute.of way is much esaier to use.

[2020-03-24 07:50] sfshaza2 commented on #3730
Hi, @ONUOHA! It sounds like you are asking how to add a card to your list each time you press a button. Is that correct? For getting answers to your tech questions, you should check out one of the platforms/forums listed on our [community page](https://flutter.dev/community), such as StackOverflow or Discord. Use this link for filing issues or bugs that you find in the flutter.dev documentation. I

[2020-03-24 07:50] #3730 closed

[2020-03-24 07:51] #3729 closed

[2020-03-24 07:57] sfshaza2 commented on #3689
It seems to me that there are several issues embedded here. As for nullability, null safety is [coming to Dart/Flutter](https://medium.com/dartlang/dart-2-7-a3710ec54e97). If you want to engage folks in a discussion about this, you might check out the Discord channel on our [community page](https://flutter.dev/community). Many of our Flutter engineers read and respond there.

Specifics on doc upda

[2020-03-24 08:01] sfshaza2 commented on #3725
@zjasonshen, I googled around and it looks like you should use TypeMatcher<T> instead.

https://github.com/dart-lang/matcher/pull/88

[2020-03-24 08:16] sfshaza2 commented on #3601
@md-weber, let me make sure I understand correctly. You are trying to create Dart docs for your code using the dartdoc tool? For example:

[code]
And the source for the docs that you want to generate is located in /lib?  (Code in /lib/src is private and won't be generated unless exported from files in /lib.)

It should work in Windows. You might find [this page useful](https://flutter.dev/docs/dev

[2020-03-24 08:36] AAverin opened #3844 "'Running, debugging, and hot reload' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/debugging.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/debugging.md

Description of issue:
Not clear from the docs:
- how to pass parameters and data into created Flutter
- can I run created flutter module independently to develop faster?
- how can I make hot-reload work when I run my embe

[2020-03-24 09:15] sfshaza2 commented on #3827
Filed:  https://github.com/flutter/flutter/issues/53157

[2020-03-24 09:18] twoneis commented on #3751
I still have the issue, but I concluded that it has to be something on my side since it is only on my pc and I can't reach any other google sites either.

[2020-03-24 09:18] #3751 closed

[2020-03-24 10:34] carzacc commented on #3826
OK, I'll do that ASAP.

[2020-03-24 14:05] vaimikpatel2908 commented on #3830
yes I had ad blocker but now i disabled it but still not working but working on edge so problem might be browser specific for my machine. thanks for your support.

[2020-03-24 14:05] #3830 closed

[2020-03-24 14:27] md-weber commented on #3601
Hi @sfshaza2,
unfortunatly I changed my OS in the meantime so I cannot try it anymore for windows.

If no one else has this problem, I think we can close this issue.

[2020-03-24 14:28] #3601 closed

[2020-03-24 16:18] #3826 closed

[2020-03-24 20:40] xster opened #3847 "Finish the OEM debugger iOS section"
https://flutter.dev/docs/testing/oem-debuggers#debugging-with-xcode-ios is pending (but useful) :)

[2020-03-25 00:54] sfshaza2 commented on #3847
Yes, @xster, I wasn't able to get it working, so the doc ended there. This can definitely be revisited.

[2020-03-25 00:56] sfshaza2 commented on #3583
Closing.

[2020-03-25 00:56] #3583 closed

[2020-03-25 00:57] sfshaza2 commented on #3578
@Joseph-Nathan, it's not clear what you are asking for. Can you provide more detail?

[2020-03-25 00:58] sfshaza2 commented on #3567
@johnpryan, can you take a look?

[2020-03-25 00:59] sfshaza2 commented on #3485
Closing.

[2020-03-25 00:59] #3485 closed

[2020-03-25 01:00] sfshaza2 commented on #3480
OK, closing.

[2020-03-25 01:00] #3480 closed

[2020-03-25 01:01] sfshaza2 commented on #3054
Closing.

[2020-03-25 01:01] #3054 closed

[2020-03-25 01:01] sfshaza2 commented on #2791
Closing.

[2020-03-25 01:01] #2791 closed

[2020-03-25 01:02] sfshaza2 commented on #2891
Closing.

[2020-03-25 01:02] #2891 closed

[2020-03-25 01:02] sfshaza2 commented on #2780
Closing.

[2020-03-25 01:02] #2780 closed

[2020-03-25 01:03] sfshaza2 commented on #3573
Closing.

[2020-03-25 01:03] #3573 closed

[2020-03-25 02:37] sfshaza2 commented on #3827
More updates:  https://github.com/flutter/website/pull/3849

[2020-03-25 14:03] kuyaC opened #3850 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:

Hello, when clicking the "Copy code"-button from the git line, the part "C:\src>git" get's copied as well, which we don't want to paste into cmd of course.

[2020-03-25 14:43] sfshaza2 commented on #3827
Fixed. Closing.

[2020-03-25 14:43] #3827 closed

[2020-03-25 14:46] sfshaza2 commented on #3844
@xster, can you weigh in? (or delegate)

[2020-03-25 15:01] johnpryan commented on #3567
I can't reproduce this any more. I suspect this was a temporary issue with a version of dart-services that was deployed.

[2020-03-25 15:01] #3567 closed

[2020-03-25 15:03] sfshaza2 commented on #3499
Hi, @bradyt! I've searched the platforms-channels page, both the generated URL and the source code. I see no instances of onCreate(). Are you still seeing this?

[2020-03-25 15:05] sfshaza2 commented on #3727
Fixed. Closing.

[2020-03-25 15:05] #3727 closed

[2020-03-25 15:08] sfshaza2 commented on #2683
@timsneath, ancient history, but what do you think of @brianegan's suggestion?

[2020-03-25 15:10] sfshaza2 commented on #2704
@xster, can we answer the add-2-app question now? I'm happy to update the page.

[2020-03-25 15:56] legalcodes commented on #3599
Is this related to https://github.com/flutter/website/pull/3350/files ?

[2020-03-25 16:39] myasincifci opened #3851 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-03-25 16:41] sfshaza2 commented on #2704
@tvolkert, I've been reading some issues and am not sure. Do we still need to touch on versionCode?

[2020-03-25 17:20] timsneath commented on #2683
We took it offline, I think. Just pinged you the history.

[2020-03-25 17:52] sfshaza2 commented on #2683
Great! Closing this.

[2020-03-25 17:52] #2683 closed

[2020-03-25 20:57] stuartmorgan opened #4381 "Windows system requirements need to mention x86-64"
Per flutter/flutter#53120, Flutter currently doesn't work on ARM-based Windows 10 machines (e.g., the Yoga C630). Currently our system requirements for Windows just say "Windows 7 SP1 or later (64-bit)"; these machine meet those requirements, but won't actually allow Flutter development.

[2020-03-25 22:25] NatoBoram opened #3853 "'Set up an editor' page issue : Steps are impossible to reproduce."
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Description of issue:

In the following text :

The steps are impossible to achieve in Android Studio 3.6.1. More precisely, this step.

![image](https://user-images.githubusercontent.com/10495562/77591091-9f648880-6ec5-11ea-84ad-cdaedb69c060.png)

[2020-03-26 18:06] gaaclarke opened #3856 "FFI instructions broken for iOS"
relevant page: https://flutter.dev/docs/development/platform-integration/c-interop

**1) Linking instructions:**
The page reads:
[code]

You don't need to do that because the plugin is using CocoaPods, placing the cpp files in the correct directory will cause it to get linked.

**2) Linker stripping**
If you follow the instruction you get an error at runtime because DynamicLibrary won't be able to

[2020-03-26 18:14] gaaclarke commented on #3856
According to ARM documentation `__attribute__((unused))` is suppose to show up in a different place than we have.  It doesn't seem to be respected on iOS from what i'm seeing.

http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0491c/BABCJJID.html

[2020-03-26 18:25] gaaclarke commented on #3856
I was only able to avoid the stripping of the symbol by doing the following:
[code]

As suggested by: https://stackoverflow.com/a/35326515

There has to be a better way =(

[2020-03-26 18:41] sfshaza2 commented on #3856
@gaaclarke, for which release of the SDK is this info valid?  Thx

[2020-03-26 18:45] sfshaza2 commented on #3853
@NatoBoram, which platform are you using? I verified that this works as indicated on macOS.

@legalcodes, can you try verify this on Windows and/or Linux?

[2020-03-26 18:47] sfshaza2 commented on #3725
No response. Closing. Re-open if you have further information.

[2020-03-26 18:47] #3725 closed

[2020-03-26 18:47] gaaclarke commented on #3856
[code]

I suspect this is an issue for any version that supports FFI.

[2020-03-26 19:14] gaaclarke commented on #3856
I was able to fix the build by adding `-force_load $(BUILT_PRODUCTS_DIR)/MessagingTiming/libMessagingTiming.a`.  I gotta find a way to automate adding this to users of the pod.

[2020-03-26 19:31] NatoBoram commented on #3853
Screenshot was taken on Windows 10

[2020-03-26 20:23] gaaclarke commented on #3856
I figured it out, we can add the linker flag to the podspec like so:
[code]

[2020-03-26 20:39] gaaclarke commented on #3856
@jmagman has pointed out that `$(BUILT_PRODUCTS_DIR)/#{s.name}/lib#{s.name}.a` won't work if the Podfile is set to use frameworks with `use_frameworks!`.  The template doesn't have that but we might want to call it out.

[2020-03-26 20:40] jmagman commented on #3856
The generated app template for macOS and iOS Swift uses use_frameworks! and iOS Objective-C doesn't.

[2020-03-26 20:57] gaaclarke commented on #3856
I chatted with @jmagman a bit.  There doesn't appear to be a one size fits all solution we can point people to.

If they are using static libraries, this path will work.  If it is a static framework it will have to be tweaked a bit.  If they are using dynamic frameworks, the linker flag isn't needed at all.

That logic can't be encoded into the podspec unfortunately.  We should just have a note se

[2020-03-26 21:24] sfshaza2 commented on #3856
Thanks so much for all of your research, @gaaclarke!

[2020-03-26 22:42] gaaclarke commented on #3856
The trick with the `-force_load` flag doesn't work on release builds because the symbol gets stripped out at the end.

[2020-03-26 23:13] jshrek opened #4369 "[Write your first Flutter app codelab] Remove const isn't mentioned"
On the following page of tutorial, I found the following issues:
https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#3

PROBLEM flutter/flutter#1
Following these steps, on this page, gives the following error:
Compiler message:
[code]

The issue is that you need to change this line:
`body: const Center(`

To this line (remove const):
`body: Center( // remove const`

Please add t

[2020-03-28 12:46] pedro371 opened #7773 "Explain that a grey screen on release means an error and how to find the error"
Hello guys,

I have made an App which works on the simulator and also on my iPhone (connected with a cable) but when I upload the app via Xcode to appstoreconnect and install the app via TestFlight is the screen grey.

I have made this experience with 2 Flutter apps.

#### App 1:

<img src="https://user-images.githubusercontent.com/46385595/77823286-3dd92f80-70fa-11ea-8244-6426f51b9673.PNG" width=

[2020-03-30 23:15] sfshaza2 commented on #3578
Closing.

[2020-03-30 23:15] #3578 closed

[2020-03-30 23:16] sfshaza2 commented on #3757
Closing.

[2020-03-30 23:16] #3757 closed

[2020-03-30 23:35] sfshaza2 commented on #2261
@ditman, it looks like you've fixed this, yes?

https://codelabs.developers.google.com/codelabs/flutter-firebase/

[2020-03-30 23:39] sfshaza2 commented on #1936
This was fixed some time ago. Closing.

[2020-03-30 23:39] #1936 closed

[2020-03-31 00:11] ditman commented on #2261
@sfshaza2 I did! (I just didn't know this issue existed!) Apologies for not closing this before, and notifying people.

[2020-03-31 00:11] #2261 closed

[2020-03-31 00:43] sfshaza2 commented on #2261
Absolutely no problem! That explains why I couldn't find the old info in the source doc.  :D

[2020-03-31 00:52] sfshaza2 commented on #2034
@ditman, can we close this one, too?

[2020-03-31 03:37] xcoderreal opened #3865 "Incorrect type for `controller` on 'Staggered Animations' page issue"
Page URL: https://flutter.dev/docs/development/ui/animations/staggered-animations.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/staggered-animations.md

Description of issue:

`controller` should be of type `AnimationController` instead of `Animation<double>` (although technically speaking the former is a subclass of a latter class so it should

[2020-03-31 17:58] ditman commented on #2034
Step 5 of the tutorial doesn't use Firebase yet. I don't understand why this is crashing, unless some steps were performed out of order.

I remember going through this codelab and not having issues in step 5 (with the mock data added). Can anybody else confirm?

[2020-03-31 23:55] benhosmer opened #3869 "'Chrome OS install' page issue - unable to complete installation"
Page URL: https://flutter.dev/docs/get-started/install/chromeos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/chromeos.md

Description of issue:
I found I needed to specify `--sdk_root=$ANDROID_HOME` which happens to be my `tools` directory.

Now, I can't get past:
[code]

I've installed flutter and the command-line tools:
[code]
And both exist on my

[2020-04-01 07:13] Akash35pasupathi opened #3870 "'Adding a Flutter screen to an Android app' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/android/add-flutter-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/android/add-flutter-screen.md

Description of issue: how can i create and add Flutter Actvitiy

[2020-04-01 08:24] faizanmohiuddin482 opened #3871 "Update TextTheme Widget properties in the website."
unable to use Body1 property in android studio with the following pubspec.yaml
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"
Android Studio suggests to use bodyText1 instead of body1.

[2020-04-01 16:17] dcharkes opened #3873 "Code checker can crash"
https://github.com/flutter/website/blob/2d94357aeb1e3ebbbf13a555f95427b278faecfe/tool/extract.dart#L59-L61

This line [crashes](https://travis-ci.org/github/flutter/website/jobs/669764877?utm_medium=notification&utm_source=github_status) if there is no closing tag.

cc @sfshaza2 @dnfield

[2020-04-01 16:17] sfshaza2 opened #3874 "Turn off code checking for diff sections"
Any reason we can't disable code checks for ```diff sections?

@dnfield

[2020-04-01 16:19] sfshaza2 commented on #3873
Daco and I filed this at the same time. Closing this one.

https://github.com/flutter/website/issues/3873

[2020-04-01 16:20] sfshaza2 commented on #3873
Oops. Closed the wrong one.

[2020-04-01 16:20] sfshaza2 commented on #3874
Daco and I filed this at the same time.  Closing.

https://github.com/flutter/website/issues/3873

[2020-04-01 16:46] dnfield commented on #3873
Probably should assert that it occurs before we hit a newline and before we hit the end of the array.

[2020-04-01 16:47] dnfield commented on #3873
To be clear - it will still have to crash, because it's invalid markup - but it could at least crash with a clearer error message.

[2020-04-01 17:41] trevordunn opened #3875 "'Set up an editor' page issue: can't see VS code setup instructions"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Description of issue:
Clicking the "Visual Studio Code" tab beside "Android Studio and IntelliJ" does nothing (except change the url hash).

Testing on macOS 10.15.3, Chrome 80.0.3987.149

[2020-04-01 18:53] aonurozcan opened #3877 "'Set up an editor' page issue"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Description of issue: Visual Studio Code tab in the page is not working.

[2020-04-01 18:57] aonurozcan opened #3878 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Description of issue: Visual Studio Code and Terminal & Editor tabs are not working.

[2020-04-01 19:54] #3873 closed

[2020-04-01 20:01] aonurozcan commented on #3877
I've closed the issue because it's duplicated.
Duplicate of #3875

[2020-04-01 20:20] jmagman opened #3879 "Flutter SDK releases tabs not switching platforms"
On https://flutter.dev/docs/development/tools/sdk/releases clicking the [macOS](https://flutter.dev/docs/development/tools/sdk/releases#macos)
and [Linux](https://flutter.dev/docs/development/tools/sdk/releases#linux) tabs stay on the Windows releases.

[2020-04-01 20:24] mobiteapp opened #3880 "Visual Studio Code's tab is not working!"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
I try to learn flutter and in this page Visual Studio Code's tab is not working!
I refreshed the pa

[2020-04-01 22:15] sfshaza2 commented on #3880
Fixed.

[2020-04-01 22:15] #3880 closed

[2020-04-01 22:16] sfshaza2 commented on #3879
Fixed.

[2020-04-01 22:16] #3879 closed

[2020-04-01 22:16] sfshaza2 commented on #3878
Fixed. Thx!

[2020-04-01 22:16] #3878 closed

[2020-04-01 22:16] sfshaza2 commented on #3875
Fixed. Thanks!

[2020-04-01 22:16] #3875 closed

[2020-04-01 22:19] sfshaza2 commented on #3870
Hi, @Akash35pasupathi! I'm sorry that you are finding the docs confusing. The page that you referenced should contain the information you need. If it's still not enough, I suggest that you reach out to the [Flutter community](https://flutter.dev/community). Particularly on Discord, which many of the Flutter SWEs read and respond to.

If you have specific suggestions on how we can improve the docs,

[2020-04-01 22:19] #3870 closed

[2020-04-01 22:20] sfshaza2 commented on #3865
@legalcodes, can you take a look?

[2020-04-01 22:23] sfshaza2 commented on #3871
Hi, @faizanmohiuddin482! Are you using the master channel or the dev channel? Some of the Material properties are being renamed in 1.16. Stable is currently 1.12, so the docs are correct as for that. The analyzer is pretty good at telling you what needs to be updated if you are using a newer release.

[2020-04-02 15:48] GokulDas027 opened #3884 "Explain how to avoid error on 'Persist data with SQLite' page"
Page URL: https://docs.flutter.dev/cookbook/persistence/sqlite
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/sqlite.md

It's confusing to see an error on a code snippet that is mentioned everywhere..

Description of issue:
[code]

[2020-04-02 18:23] sfshaza2 commented on #3869
@domesticmouse, do you have any insight into this?

[2020-04-02 22:55] InMatrix opened #3886 "The Getting Started section missing from left nav"
When I go to https://flutter.dev/docs, I can't find any Getting Started docs in the left nav:

![image](https://user-images.githubusercontent.com/348942/78307109-0acbdd00-74fa-11ea-8b8d-5d401569a202.png)

However, this section would show up if I specifically go into https://flutter.dev/docs/get-started/install using the 'Get Started' button on the top nav.

I think having the Getting Started secti

[2020-04-03 00:26] #3441 closed

[2020-04-03 01:59] domesticmouse commented on #3869
Any chance of getting the output from `flutter doctor -v`?

[2020-04-03 04:03] kkbear1985 opened #3888 "'Set up an editor' page issue"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Description of issue:
unable to switch to vscode using chrome  80.0.3987.149

[2020-04-03 08:11] TahaTesser opened #3889 "MacOS and Linux tabs are disabled on Flutter SDK releases page"
When opening the links, it only lands to Windows tab and clicking on MacOS and Linux tab doesn't do anything

https://flutter.dev/docs/development/tools/sdk/releases#macos
https://flutter.dev/docs/development/tools/sdk/releases#linux

[2020-04-03 08:15] khaiql opened #3890 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Description of issue:

Clicking on other tabs doesn't switch to the other tab and show relevant content.

Browser: Firefox, Chrome

[2020-04-03 16:01] faizanmohiuddin482 commented on #3871
![Annotation 2020-04-03 213049](https://user-images.githubusercontent.com/37860867/78381088-78f3cb00-75f2-11ea-828c-b95397e346b2.png)
Currently using the above version.

[2020-04-03 16:40] eseidelGoogle commented on #3889
@Sfshaza @RedBrogdon

[2020-04-03 16:44] Zenahr commented on #3890
To put the issue into words:
-----------------------------------------------------------------------------------
When visiting the flutter **getting started** section ---> **test drive** and clicking on either "Visual Studio Code" or "Terminal & editor" nothing happenes and the page doesn't change to the corresponding docs.
Screenshot attached.
![image](https://user-images.githubusercontent.com/47

[2020-04-03 16:48] pcsosinski commented on #3889
/cc @pcsosinski

[2020-04-03 16:48] pcsosinski commented on #3889
I used the site yesterday afternoon (PDT) and it worked fine FYI

[2020-04-03 17:31] legalcodes commented on #3889
We're looking into this issue -- many thanks for raising @TahaTesser.

[2020-04-03 19:29] m0r1n0 opened #3895 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

Visual Studio Code and Terminal & editor links with problems.

[2020-04-03 20:10] legalcodes opened #3897 "Presence of banner should not impact tab behavior"
We should investigate why the presence of the banner impacts how nav-tabs function, see https://github.com/flutter/website/issues/3889 and https://github.com/flutter/website/pull/3893.

[2020-04-03 20:12] legalcodes opened #3898 "Remove <-- skip --> from get-started/codelab-web.md"
We skipped a few checks to unblock the build in https://github.com/flutter/website/pull/3893/files but we still need to investigate the root cause of the failure. See also https://github.com/flutter/website/issues/3889.

[2020-04-03 20:57] sfshaza2 commented on #3895
Fixed by https://github.com/flutter/website/pull/3893

[2020-04-03 20:57] #3895 closed

[2020-04-03 20:58] sfshaza2 commented on #3890
Fixed by PR https://github.com/flutter/website/pull/3893

[2020-04-03 20:58] #3890 closed

[2020-04-03 20:58] sfshaza2 commented on #3888
Fixed by PR https://github.com/flutter/website/pull/3893

[2020-04-03 20:58] #3888 closed

[2020-04-03 21:14] sfshaza2 commented on #3886
That's weird. It's in the left nav for me! Are you sure the left nav hadn't scrolled? What browser are you using?

[2020-04-03 21:18] InMatrix commented on #3886
The Getting Started section showed up in the left nav for me now. I must have run into a browser issue. 😔

[2020-04-03 21:18] #3886 closed

[2020-04-03 21:18] sfshaza2 commented on #3871
For the record, [here's the PR](https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/text_theme.dart) that has the old and new naming.

@gspencergoog, does 1.15 use the old or new naming? This has caused some build problems with the website.

[2020-04-03 21:28] sfshaza2 commented on #3871
Travis evaluates the website code using stable, which is currently 1.12. These renamed fields aren't yet available on stable. Trying to change them now would break the build.

[2020-04-03 21:32] sfshaza2 commented on #3898
It looks like we may have to wait for the next stable release to fix this. Some Material properties have been renamed and renaming to the new properties breaks our build, which tests again 1.12 stable. The changes were after that.

[2020-04-03 21:33] sfshaza2 commented on #3897
Yes, we've had a banner for so long, that we didn't realize this was an issue. I turned off the banner (using show_banner=false in the _config.yml file) and tabs broke because of the math involved in computing which tab had been clicked. At least that's what it looks like.

[2020-04-03 21:34] sfshaza2 commented on #3897
Our workaround, for now, is to always keep a banner up.

[2020-04-03 22:15] gspencergoog commented on #3871
I don't think that's the PR you're looking for. :-) That one of mine is for converting `Diagnosticable` to a mixin.  The one I think you're looking for is https://github.com/flutter/flutter/pull/48547, which was authored by Mr. @HansMuller.

I believe the earliest dev release Hans' PR landed in was v1.14.6.

[2020-04-03 22:16] benhosmer commented on #3869
After I tried `flutter doctor -v` I noticed a notification that there was a new version. I did the upgrade and it seems to have fixed the issue:

[code]
I still don't know why that warning is appearing though. I followed the guide for ChromeOS that didn't require android studio.

[2020-04-03 22:16] #3869 closed

[2020-04-03 22:17] gspencergoog commented on #3871
Actually, in the change, it says the old names were deprecated after v1.13.8.

[2020-04-03 23:58] HansMuller commented on #3871
@gspencergoog is correct about #48547 and probably correct about what version of Flutter the PR actually landed in.

[2020-04-04 11:49] kras1995 opened #3899 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-04-05 19:41] timekone opened #3901 "'Layouts in Flutter' page issue"
Page URL: https://flutter.dev/docs/development/ui/layout/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/index.md

Description of issue:
Links to examples from the Flutter Gallery have been broken by https://github.com/flutter/flutter/commit/e167181444fd8864d1f83be3ca73c599f5a9f508.

Links should be updated to point to the new location.

Alternatively, a

[2020-04-06 09:32] pektinasen opened #3904 "'Create lists with different types of items' page issue"
Page URL: https://flutter.dev/docs/cookbook/lists/mixed-list.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/lists/mixed-list.md

Description of issue:
Excerpt:

    This example uses the is keyword to check the type of item. It’s fast, and automatically casts each item to the appropriate type.

Am I missing something, but I can't find a reference to which exampl

[2020-04-06 13:35] mayurdhurpate opened #3905 "Update documentation to remove moving to beta channel for running flutter web"
In the requirements section of getting started [page](https://flutter.dev/docs/get-started/web#requirements) of Flutter Web, there is a note mentioning using the beta channel for running Flutter 1.12 with web support. Since Flutter 1.12 has landed on default of stable, we can remove the note.

[2020-04-06 13:52] #3905 closed

[2020-04-06 13:53] mayurdhurpate commented on #3905
Sorry, I think the beta channel is required to run the Flutter web.

[2020-04-06 16:43] stephenhuey opened #3907 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

Tried to deploy this example to iOS 13.3.1 but I'm seeing th

[2020-04-06 17:34] sfshaza2 commented on #3899
No issue filed. Closing.

[2020-04-06 17:34] #3899 closed

[2020-04-06 17:35] #3901 closed

[2020-04-06 17:41] sfshaza2 commented on #3904
You're right! It makes no sense to me, either. That tidbit should be deleted.

[2020-04-06 17:43] sfshaza2 commented on #3907
@johnpryan, can you take a look?

[2020-04-06 19:26] nissan997 opened #3909 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue: The download button on the windows zip download keeps loading until it's failed. Trying to download flutter for a week now

[2020-04-06 21:59] gaaclarke opened #3910 "widgets reference rendering incorrect on iPhone 5C"
originally filed at flutter/flutter: https://github.com/flutter/flutter/issues/26292

[2020-04-07 00:35] sfshaza2 commented on #3909
@legalcodes, would you mind trying this on our windows machine?

[2020-04-07 00:40] sfshaza2 commented on #3910
Apparently the flutter.dev website doesn't display properly on an iPhone 5C, which is an older phone. I've marked this as an infrastructure bug, but it's worth noting that we have no infrastructure support at the moment. PRs welcome.

[2020-04-07 05:06] zeddevelopers opened #3911 "Problem in Step 5 of Cupertino codelab"
After the following line
ChangeNotifierProvider<AppStateModel>
the documentation says that have to write
model: model
![image](https://user-images.githubusercontent.com/25787554/78631982-3f9fb180-78b7-11ea-9de7-f5236143ee27.png)
but that is not working.

Code from following link is working fine
https://github.com/googlecodelabs/flutter-cupertino-store/blob/master/step-01/lib/main.dart
![image](htt

[2020-04-07 05:24] jm-jisc opened #3912 "'Developing packages"
Page URL: https://flutter.dev/docs/development/packages-and-plugins/developing-packages.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/developing-packages.md

Description of issue:

.idea/modules.xml, **.idea/modules.xml**, .idea/workspace.xml
A hidden folder containing configuration files for the IntelliJ IDEs.

Duplicated ./idea/modules

[2020-04-07 15:15] nissan997 commented on #3909
I tried it on my Thinkpad T450 running the latest version of Windows 10. I also found that this website loads just fine in my friends home computer ..

[2020-04-07 16:10] zyadart opened #3914 "'Codelabs' page issue"
Page URL: https://flutter.dev/docs/codelabs/
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-04-07 16:28] jmslxblack opened #3915 "'Write your first Flutter app on the web' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Description of issue:

The finished code and the last code are not the same. this is confusing because using the first snippet doesn't match up with the instructions. What makes it even more confusing is there are missing instructions, eg

[2020-04-07 17:47] sfshaza2 commented on #3914
No information. Closing.

[2020-04-07 17:47] #3914 closed

[2020-04-07 17:48] sfshaza2 commented on #3911
@zeddevelopers, can you please clarify on what page is this error?

[2020-04-07 17:50] sfshaza2 commented on #3912
Yup, a minor oopsie. PRs welcome!

[2020-04-07 17:52] zeddevelopers commented on #3911
On step no 5 page, it is suppose to be "builder" instead of "create". I fixed my code but following strict codelabs steps is causing error.

[2020-04-07 17:52] jm-jisc commented on #3912
Shall I create one?

[2020-04-07 18:37] sfshaza2 commented on #3912
It's up to you! You are welcome to, but it's not obligatory. If you do, modify the sentence a tad:

Instead of:
A hidden folder containing configuration files for the IntelliJ IDEs.

Something like:
Hidden folders containing configuration files for the IntelliJ IDEs.

Or you can even spell out:
...for the Android Studio and IntelliJ IDEs.

[2020-04-07 18:41] chalin commented on #3076
The problem is that Travis Ubuntu uses GNU diff 3.x and macOS is still at 2.x (the macOS version is very old).

[2020-04-07 19:01] sfshaza2 commented on #3076
@dnfield

[2020-04-07 19:02] chalin commented on #3076
#3916 updates the README. Maybe you'd like a simple `diff` version check added to [tool/refresh-code-excerpts.sh](https://github.com/flutter/website/blob/master/tool/refresh-code-excerpts.sh) before closing this issue?

[2020-04-08 08:12] 01abhishekjain opened #3922 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Description of issue:
It _could_ be mentioned somewhere that if you already have VS Code running during the initial flutter setup, you might need to restart it for the Flutter plugin to be able to detect Flutter SDK automatically.

[2020-04-08 09:53] ngminhduong opened #7772 "Document how to specify targets in add-to-app host apps"
I tried to integrate flutter module into our existing project.
I have some update some file in .ios folder ex: podfile.
Sometime it was regenerate when i run flutter packages get. So that my configurations was override.
Have anyway to stop it?
Thanks,

[2020-04-08 14:26] chalin commented on #3076
For the record, I did check `diff` behavior differences across OSs when this problem surfaced. I'm not sure why I concluded that the `diff` tool wasn't the issue back then. That kinda set me on a wild goose chase :-/. Anyhow, thanks to @dnfield for again suggesting that it might be a `diff` tool issue. Taking a second look did the trick -- actually having access to a Linux box helped make the inve

[2020-04-08 19:13] sfshaza2 commented on #3076
Can this be closed?

[2020-04-09 06:20] legalcodes commented on #3865
I've added the animations label, we have a pretty large queue of these, so I'll try to move in order of priority.

[2020-04-09 11:54] sfshaza2 commented on #2034
We can no longer reproduce this. Closing.

[2020-04-09 11:54] #2034 closed

[2020-04-09 11:57] sfshaza2 commented on #3630
I have been updating this codelab, @emilsharier. I reproduce your issue. I'm closing this, but please re-open if you continue to see this using a recent version of Flutter.

[2020-04-09 11:57] #3630 closed

[2020-04-09 11:59] sfshaza2 commented on #3611
@mit-mit, I've been updating the codelab and its code, and I cannot reproduce this. I'm closing.

[2020-04-09 11:59] #3611 closed

[2020-04-09 12:01] sfshaza2 commented on #1977
Thanks, @goderbauer! I've been updating the codelab and its code. The indentation has been fixed via dartfmt. Closing.

[2020-04-09 12:01] #1977 closed

[2020-04-09 13:05] raihan152491 opened #3930 "I can not install flutter sdk ...it's failed to load"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-04-09 20:52] #3930 closed

[2020-04-10 00:43] chalin commented on #3076
Depends if you'd like a version check added to the refresh script, for example.

[2020-04-10 00:59] timsneath commented on #2241
This has actually changed in recent Windows 10 releases; there is now a dialog box for adding multiple values to the PATH environment variable.
![image](https://user-images.githubusercontent.com/2319867/78952817-a5449700-7a8b-11ea-8f84-0202c73bebfb.png)

If we were to make a change, I'd argue that we should if anything be less prescriptive on the steps here. It would be better for a user to Google

[2020-04-10 00:59] #2241 closed

[2020-04-10 19:17] sfshaza2 commented on #2083
OK! I am about to publish an update to this codelab (in the next day or few). I have incorporated Scott's suggestions, so I'm going to close this. Thanks!

[2020-04-10 19:17] #2083 closed

[2020-04-10 19:18] sfshaza2 commented on #2104
I'm about to publish an update to this lab. This is no longer an issue.

[2020-04-10 19:18] #2104 closed

[2020-04-10 21:04] emme1444 opened #3938 "SplashScreen documentation needs more clarity"
On the _[Adding a splash screen to your mobile app](https://flutter.dev/docs/development/ui/advanced/splash-screen)_ page, under the section _[Creating a custom SplashScreen](https://flutter.dev/docs/development/ui/advanced/splash-screen#creating-a-custom-splashscreen)_, I feel there are things missing. I have tempered around with things, but can't seem to figure out what to do. Specifically, what

[2020-04-11 13:44] 01abhishekjain opened #3941 "'Flutter for web developers' page issue"
Page URL: https://flutter.dev/docs/get-started/flutter-for/web-devs.html#styling-and-aligning-text
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/flutter-for/web-devs.md

Description of issue:
In this section, it is mentioned that

However, in the proceeding example, the **color** is set, not as a property of the `TextStyle` child, but as a property of `Text` widg

[2020-04-11 14:30] 01abhishekjain opened #3942 "'Flutter for web developers' page issue"
Page URL: https://flutter.dev/docs/get-started/flutter-for/web-devs#setting-container-width
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/flutter-for/web-devs.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
In this section, the given code example should mimic

[2020-04-12 13:41] apravint commented on #2952
Thank you :)

[2020-04-12 18:08] k-paxian opened #3948 "Update 'JSON and serialization' page to include JSON Mapper"
Page URL: https://docs.flutter.dev/data-and-backend/json
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/json.md

Description of issue:

This is no longer an objective truth.
Here is the real and working alternative based on reflection approach.
https://github.com/k-paxian/dart-json-mapper

[2020-04-12 19:27] fisforfaheem opened #3949 "please make the installation process simpler just like visual studio which is done all by it self"
tired of uselessly so difficult actions to be performed. please make everything easier like visual studio do, everything should be installed in a single click...tired of writing code nd running stuff...
and please dont call it customization cuz vs has everything eaiser al ready...go ahed and isntall one

[2020-04-12 20:47] jayoung-lee opened #3950 "flutter.dev/setup/#android-setup page not available"
`flutter doctor` told me to visit https://flutter.dev/setup/#android-setup for detailed instruction, but the page does not exist. See below for the message I got.

[code]

[2020-04-12 21:44] mobiteapp opened #3951 "'Introduction to animations' page issue"
Page URL: https://flutter.dev/docs/development/ui/animations/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/index.md

Description of issue:
At Flutter Gallery section in the Physics-based animation, The hyperlink of 'Grid' has error 404.

[2020-04-13 00:03] ajonno opened #3952 "Update code example on 'Mock dependencies using Mockito' page"
Page URL: https://docs.flutter.dev/cookbook/testing/unit/mocking
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/mocking.md

Description of issue:
this line of code no longer works (test always fails) in the test example as ```TypeMatcher``` is deprecated. please fix, thanks.

```expect(await fetchPost(client), const TypeMatcher<Post>());```

[2020-04-13 08:29] sfshaza2 commented on #3949
There are plans to make this process easier, @fisforfaheem. At any rate, this issue should be filed against the flutter/flutter repo, not the website repo.

[2020-04-13 08:37] sfshaza2 commented on #3951
Yes, good catch. The Flutter Gallery has been rewritten and that particular demo seems to be gone. However, we do have a physics animation example in the cookbooik:  https://flutter.dev/docs/cookbook/animation/physics-simulation

We need to update the page to reflect that.

[2020-04-13 08:39] sfshaza2 commented on #3950
Ah. I was not aware that the tooling referred to this page. We need to set up a redirect. The correct URL is:  https://flutter.dev/docs/get-started/editor?tab=androidstudio

[2020-04-13 08:41] sfshaza2 commented on #3952
@ajonno, can you tell me which version of the Flutter sdk you are using?

[2020-04-13 15:16] rubensdemelo opened #3953 "'Build and release an iOS app' page issue"
Page URL: https://flutter.dev/docs/deployment/ios.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/ios.md

Display Name
Runner
Changing the display name to anything other than Runner causes the app not to run with the Flutter tools. For more information, see Issue 41793.

But image shows Display Name = "My App"

[2020-04-13 16:05] #3850 closed

[2020-04-13 17:47] csells opened #3954 "Update the state management "options" page to focus on setState + provider"
We definitely want to maintain a list of other Flutter state management options (with the possible exception of "scoped provider," which seems to have been completely superseded by provider) but we'd like people that land on this page to know that they should be setState for widget-specific state and provider for shared state, at least to start.

I'm thinking sections like:

Widget-specific State

[2020-04-13 23:35] ajonno commented on #3952
Flutter 1.12.13+hotfix.8

[2020-04-14 02:19] shirakiya opened #3955 "What is the rule of Flutter version name?"
I think Flutter is useful and nice product!

I can see the release version of Flutter from the follow page.
https://flutter.dev/docs/development/tools/sdk/releases?tab=linux

It can be seen...

- 1.16 or less  =>   "v" prefix added
- 1.17 or more  =>  "v" prefix not added

Is it correct? Do you have fixed rules of Flutter version name?

Best regards.

[2020-04-14 02:22] jonahwilliams commented on #3955
@tvolkert  @pcsosinski do we have wiki documentation for the new versioning scheme?

[2020-04-14 04:25] sfshaza2 commented on #3954
@filiph, please weigh in

[2020-04-14 04:26] sfshaza2 commented on #3953
Yup. PRs welcome with an updated screenshot.  :D

[2020-04-14 05:01] sfshaza2 opened #3956 "Expected behavior with AnimationControllers and WidgetTester unclear"
From b/140957488
The original poster (OP) wrote:

I am writing a unit test for my widget that uses an `AnimationController`.

With xxx@'s help, I discovered that I needed an extra empty `tester.pump()` in order for my test to behave as expected.

[code]

From my reading of the WidgetTester [pump](https://api.flutter.dev/flutter/flutter_test/WidgetTester/pump.html) method and various animation unit

[2020-04-14 05:05] sfshaza2 commented on #3956
@mehmetf responded:

Yes, this is indeed a pain point:

* `pump()` schedules a frame.
* `pump(duration)` advances the clock by [duration] and schedules a frame. It does *not* schedule N frames where N = duration * frame_rate.
* A single `pump()` is needed to "start" the ticker. Without it, animation does not start.

I totally agree that it should be in the official documentation and/or courses/tut

[2020-04-14 05:07] sfshaza2 commented on #3956
@legalcodes responded:

Sure @mehmetf , we have some relevant explanation in the [widget testing section](https://flutter.dev/docs/cookbook/testing/widget/introduction#note) of the cookbook on flutter.dev.

From my reading of the gap here (it was not evident that the empty `pump()` is needed before the pump with a `Duration`), do you think the content in this section gives adequate explanation for

[2020-04-14 05:08] sfshaza2 commented on #3956
@mehmetf responded:

Yeah, I think the empty `pump()` requires additional explanation as a "TIP" in the cookbook for testing animations.

[2020-04-14 05:20] filiph commented on #3954
This is on my list. We talked about this with @csells today. Thanks for filing the bug, Chris!

[2020-04-14 05:35] sfshaza2 commented on #3499
Confirms that it's gone. Closing.

[2020-04-14 05:35] #3499 closed

[2020-04-14 05:53] sfshaza2 commented on #1490
An update:

When I just now searched for "pump" (a method in WidgetTester) on flutter.dev, it first found the relevant API docs. Okaaaayyy. Then it found references from Google groups about cars and sump pumps. Then, FINALLY, after a bunch of those links, it found the page I wanted it to find, "An introduction to widget testing" on flutter.dev. I'm hoping that we can either eliminate Google groups

[2020-04-14 23:23] sfshaza2 commented on #3956
Fixed in PR listed above.

[2020-04-14 23:23] #3956 closed

[2020-04-14 23:24] sfshaza2 commented on #3952
Thanks, @ajonno! @filiph, as you used this very recently, can you confirm? He is using the current stable version.

[2020-04-14 23:26] sfshaza2 commented on #2893
API docs bugs belong in the flutter/flutter repo. Moving.

[2020-04-14 23:46] sfshaza2 commented on #3950
@jayoung-lee, can you confirm? I cannot reproduce this. When I go directly to that URL, it redirects me to the general install page. It would be better to go to the "Set up an editor" page with Android Studio selected., but I do not get a 404.

[2020-04-14 23:52] sfshaza2 commented on #3909
OK, going to close this, as it sounds like a notepad device.

[2020-04-14 23:52] #3909 closed

[2020-04-14 23:55] jayoung-lee commented on #3950
Yes, it sends me to the general install page too.

Could you make it go to the page you linked above (https://flutter.dev/docs/get-started/editor?tab=androidstudio)? That page works for me.

[2020-04-15 00:23] sfshaza2 commented on #3950
I have tried, but the forwarding mechanism is being stubborn. But at least it's no 404.

[2020-04-15 00:24] sfshaza2 commented on #3898
Yes, this is definitely a stable/master issue that will be fixed soon. Closing.

[2020-04-15 00:24] #3898 closed

[2020-04-15 00:26] sfshaza2 commented on #3853
@NatoBoram, I have no access to Windows or Linux, but the **File** menu should be at the top of the window or screen, not inside the window.

[2020-04-15 01:00] sfshaza2 commented on #3950
Ideally, we need a bug filed against "flutter doctor" to use the correct URL.

[2020-04-15 01:01] jayoung-lee commented on #3950
I will do so!

[2020-04-15 01:05] sfshaza2 commented on #3792
This has been fixed. Closing.

[2020-04-15 01:05] #3792 closed

[2020-04-15 01:07] sfshaza2 commented on #3684
OK! I've just done an update of this lab. It is being tested and will be released soon. Closing.

[2020-04-15 01:07] #3684 closed

[2020-04-15 01:10] #3950 closed

[2020-04-15 01:46] sfshaza2 commented on #2786
@tvolkert, this issue has been fixed. Do you feel we still need a note in the test drive page?

[2020-04-15 02:21] sfshaza2 commented on #3625
According to my sleuthing, this is valid as of SDK 1.17.

[2020-04-15 02:37] sfshaza2 commented on #3457
I'm closing this for now. (We intentionally do make the names shorter in the sidenav and don't necessarily want to change the corresponding name in the doc, unless it's somehow misleading.)

[2020-04-15 02:37] #3457 closed

[2020-04-15 02:45] sfshaza2 commented on #1989
This bug feels obsolete now, given that we have a lot more debugging info, and DevTools. Closing.

[2020-04-15 02:45] #1989 closed

[2020-04-15 16:00] #3904 closed

[2020-04-15 16:27] sfshaza2 commented on #3911
@domesticmouse

[2020-04-16 02:55] tahmid56 opened #3966 "'Flutter SDK releases' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/releases.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/releases.md

Description of issue:The download link does not load.I cant download it.Even BITS service is not working.What can i do?

[2020-04-16 03:07] tahmid56 commented on #3966
![image](https://user-images.githubusercontent.com/57156326/79410271-b4fb3880-7fc1-11ea-9822-7c30815cc5de.png)

[2020-04-16 04:24] domesticmouse commented on #3911
I suspect the issue is the changing api of `package:provider`. I'd suggest setting the minimum version of `provider` to 4 and then follow the instructions listed here for [migrating from v3 to v4](https://pub.dev/packages/provider#migration-from-v3x0-to-v400).

[2020-04-16 04:41] sfshaza2 commented on #3966
Hi, @tahmid56! I'm sorry to hear that you are having problems! Something is wrong with your setup and I don't know what that might be. I googled and found [issue 27276](https://github.com/flutter/flutter/issues/27276) which has some guidance. If you still have problems, I suggest you check out the Flutter Discord channel, which is described on our [community page](https://flutter.dev/community). U

[2020-04-16 04:41] #3966 closed

[2020-04-16 14:07] sfshaza2 commented on #1841
We can now use DartPad to demonstrate animations. Given that this was low priority anyway, and we have a solution, I'm closing.

[2020-04-16 14:07] #1841 closed

[2020-04-16 18:57] soulbliss opened #3967 "'Introduction to animations' page issue: broken link to Flutter Gallery"
Page URL: https://flutter.dev/docs/development/ui/animations/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/index.md

Description of issue:
There are various places where the **Flutter Gallery** link is broken and points to a 404 not found page on github.

The links should point to this
https://github.com/flutter/gallery/tree/master/
instead of
http

[2020-04-16 19:02] soulbliss commented on #3967
Created PR #3968 to fix it.

[2020-04-17 00:44] InMatrix commented on #3566
Hi @filiph, I wonder if you are aware of any _gotchas_ about doing hot reload when a statement management package (e.g., provider) is used? I'm trying to substantiate the user feedback cited in the issue. So far, I found this issue: https://stackoverflow.com/questions/56580988/flutter-state-is-lost-on-hot-reload-when-using-provider. Should we talk about such issues in the hot reload doc?

[2020-04-17 02:11] mh0s41n opened #3970 "'Linux install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/linux.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Description of issue:
Download button seems not working. It's showing (failed). The button is linked to "#". See the following image.

![flutter](https://user-images.githubusercontent.com/34894685/79524340-c25f0400-804f-11ea-9a70-5351c

[2020-04-17 15:58] kamidox opened #3971 "'Write your first Flutter app on the web' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Description of issue:

Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Description of issue:

Step 1: Show the Welcome screen:

[2020-04-17 15:59] sfshaza2 commented on #3967
Thanks! I was just about to fix this yesterday in another PR, but you've saved me the effort!

[2020-04-17 15:59] #3967 closed

[2020-04-17 16:01] sfshaza2 commented on #3970
@tvolkert, I have no trouble downloading the Linux flavor of Flutter on my macOS. I have recently seen some people having this issue, and I wonder if it's related to VPN or similar. Do we have info on this?

[2020-04-17 16:55] mh0s41n commented on #3970
I'm using no VPN, nor any kind of modified network configuration. As I can't access the download button, I cloned flutter from github. But I can't download Dart SDK. Here is the output of `$ flutter doctor` and `$ flutter precache`:
[code]
Note that, I tried this from two linux distro (Ubuntu 18.04 and Kali Linux).
I can access the above link via Tor Browser, but tor is too slow, 200 MB will take

[2020-04-17 23:44] sfshaza2 commented on #3951
Fixed in PR https://github.com/flutter/website/pull/3968

[2020-04-17 23:44] #3951 closed

[2020-04-17 23:45] sfshaza2 commented on #3938
@xster

[2020-04-18 11:03] Jhm3105 opened #3973 "Bourne"

[2020-04-18 11:45] #3973 closed

[2020-04-18 15:32] perelin opened #3974 "'Write your first Flutter app on the web' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Description of issue:

The "Write your first Flutter app on the web" (https://flutter.dev/docs/get-started/codelab-web) is missing some steps.

1. To conclude "Step 1: Show the Welcome screen" one needs to add the route to '/welcome' to th

[2020-04-20 15:13] NatoBoram commented on #3853
Issue was fixed in v3.6.3.0, which brought back the **⚙️ Configure** menu, but there's still no *File* menu anywhere on the screen.

![image](https://user-images.githubusercontent.com/10495562/79767626-95cd1580-82f7-11ea-960b-6d83dff5b3ca.png)

I think the correct path is now *⚙️ Configure > Plugins*.

[2020-04-20 17:32] sfshaza2 commented on #2228
I think he means the "Ticker" section.  :)

[2020-04-20 17:49] pcsosinski commented on #3955
https://github.com/flutter/flutter/wiki/Flutter-build-release-channels

[2020-04-20 17:54] feinstein commented on #2228
🙈

[2020-04-20 19:07] #2066 closed

[2020-04-20 19:07] #3795 closed

[2020-04-21 03:57] shirakiya commented on #3955
It looks above document you show doesn't mention "v" prefix.

[2020-04-21 06:53] sfshaza2 commented on #3955
My understanding is that we are no longer using the "v" prefix, @shirakiya.

[2020-04-21 07:03] shirakiya commented on #3955
"no longer using" means ver. 1.17 or more, doesn't it? For now, I have interpreted it is continue to add "v" prefix to ver. 1.16 or less if you need to upgrade versions for example patch. @sfshaza2

[2020-04-21 07:05] sfshaza2 commented on #3955
That's my understanding, yes. Though @tvolkert can say with more authority.

[2020-04-21 07:06] shirakiya commented on #3955
I'm so looking forward to it.

[2020-04-21 19:10] tvolkert commented on #2786
Nope

[2020-04-21 19:10] #2786 closed

[2020-04-21 19:23] tvolkert commented on #3955
Yep, that's correct - as of 1.17+, we dropped the "v" prefix.

[2020-04-21 23:34] #2075 closed

[2020-04-21 23:34] #2228 closed

[2020-04-21 23:34] #2690 closed

[2020-04-21 23:34] #3300 closed

[2020-04-21 23:34] #3329 closed

[2020-04-21 23:34] #3799 closed

[2020-04-21 23:37] sfshaza2 commented on #3955
Thanks, @tvolkert! Closing.

[2020-04-21 23:37] #3955 closed

[2020-04-22 01:24] sfshaza2 commented on #2237
I've fixed the grammatical errors, but the section should still be expanded with info on vsync.

[2020-04-22 01:31] shirakiya commented on #3955
I understand it. Thank you for answering!

[2020-04-22 01:49] feinstein commented on #2237
Would you like that I create a separate issue about `vsync` or will you rather reopen this one?

[2020-04-22 02:03] sfshaza2 commented on #2237
I can go either way. I guess I didn't realize it had closed.

On Tue, Apr 21, 2020 at 6:54 PM Michel Feinstein <notifications@github.com>
wrote:

[2020-04-22 02:10] feinstein commented on #2237
I thought so, could you reopen this one then? Its a bit easier I guess and there's history already.

[2020-04-22 05:19] HamzaAhmedShad opened #3982 "Fix issue where Download link shows incorrect text on 'Windows install' page"
Page URL: https://docs.flutter.dev/get-started/install/windows
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:
![flutter failed](https://user-images.githubusercontent.com/35128191/79943594-0ce6e300-848b-11ea-9bc9-7ab9fb7ab6c7.png)

[2020-04-22 12:12] Constans opened #3983 "'Flutter SDK releases' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/releases.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/releases.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

On the **Dev channel**, either Windows, Mac, or Linux, versions should sta

[2020-04-22 15:40] sfshaza2 commented on #3983
Yes, this is correct. We have changed the versioning scheme as of 1.17. It is announced on the [Flutter blog](https://medium.com/flutter/flutter-spring-2020-update-f723d898d7af). The [Flutter SDK release page](https://flutter.dev/docs/development/tools/sdk/releases) refers you to the [Flutter wiki](https://github.com/flutter/flutter/wiki/Flutter-build-release-channels), where you can find more inf

[2020-04-22 16:18] Constans commented on #3983
I am talking about the `flutter version version_tag` command not working from a terminal, because of the above-mentioned issue. You can download it via a click.

[2020-04-23 01:13] sfshaza2 commented on #3983
Ooooh! I see. Then you've filed this bug in the wrong place. This bug belongs in the flutter/flutter repo.  :)

[2020-04-23 02:32] sfshaza2 commented on #3982
@tvolkert, we get a trickle of reports like this, with no idea why. For example:

https://github.com/flutter/website/issues/1909
https://github.com/flutter/website/issues/2595

Any ideas?

[2020-04-23 02:32] sfshaza2 commented on #1909
Duplicate of https://github.com/flutter/website/issues/3982

[2020-04-23 02:32] #1909 closed

[2020-04-23 02:32] essuraj opened #3985 "'Create lists with different types of items' page issue"
Page URL: https://flutter.dev/docs/cookbook/lists/mixed-list.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/lists/mixed-list.md

Description of issue:
demo is blank

[2020-04-23 02:32] sfshaza2 commented on #2595
Also see https://github.com/flutter/website/issues/3982

[2020-04-23 02:35] sfshaza2 commented on #3985
Do you mean that the DartPad instance is blank?  I am seeing code and running it successfully.

@RedBrogdon @johnpryan, any idea what might cause this?

[2020-04-23 02:38] essuraj commented on #3985
shouldn't the dart pad code show some list?

[2020-04-23 02:42] sfshaza2 commented on #3985
Yes, and I do. Here's what I see. (I had to crop the image because it does't all fit on my macbook.)

<img width="794" alt="Screen Shot 2020-04-22 at 7 39 33 PM" src="https://user-images.githubusercontent.com/44418985/80053199-30cd1780-84d1-11ea-967a-237e3e857dd2.png">

I suspect that you are experiencing some problem with getting data from the back-end, which is why I asking those three engineers

[2020-04-23 02:44] sfshaza2 commented on #3912
It's been fixed (though the text could be improved).

[2020-04-23 02:44] #3912 closed

[2020-04-23 03:18] sfshaza2 commented on #3853
@NatoBoram, it took me a bit, but now I get what you're saying.  :). I've confirmed and have opened a PR. Thanks!

[2020-04-23 04:37] #3985 closed

[2020-04-23 16:41] johnpryan commented on #3985
@essuraj are you running any ad blockers? Which version of Chrome are you using?

[2020-04-23 17:52] #3853 closed

[2020-04-23 19:32] kwalrath opened #3990 "Use caret constraints in dependency examples"
Page URL: https://flutter.dev/docs/development/packages-and-plugins/using-packages.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/using-packages.md

We shouldn't show depending on a package without a version constraint. Also, we should probably show caret notation (e.g. `^1.0.3`) instead of range notation, unless the latter is really just

[2020-04-23 20:17] jmagman opened #3991 "Mention CocoaPods and link to podspec syntax in iOS developing packages"
The [iOS developing packages documentation](https://flutter.dev/docs/development/packages-and-plugins/developing-packages#ios) says:
[code]

However it doesn't explain what a podspec is, or mention CocoaPods.  Add link to https://guides.cocoapods.org/syntax/podspec.html.

[2020-04-24 00:57] mh0s41n commented on #3970
Seems it was a network issue from my ISP. Closing.

[2020-04-24 00:57] #3970 closed

[2020-04-24 01:48] essuraj commented on #3985
@johnpryan I am using ublock on Chrome  Version 81.0.4044.113 (Official Build) (64-bit). i disabled it to check and had the same errors/warnings.. also tried in firefox with same warnings/.error and no adblock... after a while it was fixed so i closed the issue.

[2020-04-24 20:14] jmagman opened #3998 "Add documentation for localizing the app name"
For iOS this would be adding a
[InfoPlist.strings](https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/AboutInformationPropertyListFiles.html#//apple_ref/doc/uid/TP40009254-102276) file and setting `CFBundleDisplayName` and `CFBundleName`.

[2020-04-25 18:58] sfshaza2 commented on #3990
Makes sense.

[2020-04-25 22:39] wajeehulhassanvii opened #4003 "Flutter web and Flask deployment issue"
I am able to test the web build using "python -m http.server" but not being able to serve it using Flask. Can you please help me with this? Thanks

[2020-04-26 12:35] nylonW opened #4004 "'Writing custom platform-specific code' page issue"
Page URL: https://flutter.dev/docs/development/platform-integration/platform-channels.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-channels.md

Description of issue: I had to add `super.configureFlutterEngine(flutterEngine)` in `override fun configureFlutterEngine(@NonNull flutterEngine: FlutterEngine)` method to keep other pla

[2020-04-27 00:28] Rinafeel opened #4005 "'Cookbook' page issue"
Page URL: https://flutter.dev/docs/cookbook/
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/index.md

Description of issue:

[2020-04-28 02:37] #1490 closed

[2020-04-28 02:40] sfshaza2 commented on #4005
No description. Closing.

[2020-04-28 02:40] #4005 closed

[2020-04-28 02:43] sfshaza2 commented on #4003
Hi @wajeehulhassanvii! This is not a good place to ask for support, as we don't have resources to provide it. Our [community page](https://flutter.dev/community) lists various groups where you can get your Flutter questions answered. If you find an error, or omission, in the flutter.dev docs, please let us know here!

Closing.

[2020-04-28 02:43] #4003 closed

[2020-04-28 06:15] atn832 opened #4008 "'Fetch data from the internet' page issue"
Page URL: https://flutter.dev/docs/cookbook/networking/fetch-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/fetch-data.md

Description of issue:
Nowhere on this page or in the http package documentation does it say that we should add the INTERNET permission in the AndroidManifest.xml. As a result, things work fine on the emulator, and even on my

[2020-04-28 06:39] jishantmed commented on #3111
Hey I am new to flutter. I have checked in some tutorials in ListView.builder they have to pass length as well. But in this they are not passing length, so how they are calculating rows.? If anybody know please explain.

[2020-04-28 16:58] johnpryan commented on #3907
I think this is the same issue as https://github.com/flutter/flutter/issues/36150 - @stephenhuey can you check that you are using the latest version of the Flutter plugin for Android Studio?

[2020-04-28 22:31] pcsosinski opened #4011 "wrong version available for Beta"
I accidently tagged the 1.17.0-3.3.pre build with the old version name (1.17.0-dev.3.3) and it is now on the website.  how can I get it removed?

https://flutter.dev/docs/development/tools/sdk/releases?tab=macos

[2020-04-28 23:28] #4011 closed

[2020-04-29 08:40] ashvinstech commented on #2856
Please help me i have tried everything but not able to set path

[2020-04-29 14:45] sfshaza2 commented on #3911
@domesticmouse, this refers to the Cupertino codelab.

[2020-04-29 14:47] sfshaza2 commented on #3911
Nvm, I see that you did see this, @domesticmouse. :D

[2020-04-29 19:30] christopherfujino commented on #2856
@ashvinstech how exactly to set your path is dependent on your operating system and your shell.

If you're using bash or zsh (to determine which, `echo $SHELL`), first I would troubleshoot via:

1. `type flutter`, if this returns a path, then flutter is on your path, your finished.
1. Next, inspect what your path is currently set as, via `echo $PATH`. Your goal is to get the path to your flutter b

[2020-04-29 20:02] Jacobrc2018 opened #4013 "'Write your first Flutter app on the web' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: The code told to copy and paste had classes named _LoginFormState and LoginForm while the

[2020-04-29 20:03] #4013 closed

[2020-04-29 20:03] Jacobrc2018 commented on #4013
Multiple issues already opened about this.

[2020-04-29 21:15] domesticmouse commented on #3911
I’ll do a sweep through my codelabs soon 😁

[2020-04-29 23:22] NazarKalytiuk opened #4014 "'Pass arguments to a named route' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/navigate-with-arguments.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/navigate-with-arguments.md

Description of issue:
An example not working
![image](https://user-images.githubusercontent.com/16141974/80656267-6ce01980-8a89-11ea-9209-1d66d1c42244.png)

[2020-04-30 15:32] sfshaza2 commented on #4014
I am able to reproduce this issue. Can you look at this, @johnpryan?

[2020-04-30 15:58] stephenhuey commented on #3907
Looks like my Flutter plugin in Android Studio is on 44.0.2 and 45.1.1 is available - you think that would make a difference?  Just asking since I have some other work in flight and am being cautious at the moment.

[2020-04-30 16:21] johnpryan commented on #3907
I'm not sure if it would, 44.0.2 is a fairly recent version (the issue I linked is much older than your tools) - could you file an issue in flutter/flutter instead and link it here?

[2020-04-30 16:22] kwalrath opened #4016 "Improve search pages & CSE"
See https://github.com/dart-lang/site-www/issues/2383 for details. This is a followup to #4000.

[2020-04-30 19:12] xster opened #4018 "Code excerpt header boxes regression"
Our specified header box titles are now missing

was:
<img width="751" alt="78847846-e1f98b00-79c4-11ea-9892-c56d8a3d8146" src="https://user-images.githubusercontent.com/156888/80749730-beb18f80-8adb-11ea-9045-a816f6c3879e.png">

now:
<img width="749" alt="78847860-eaea5c80-79c4-11ea-8e51-269531edbd73" src="https://user-images.githubusercontent.com/156888/80749743-c6713400-8adb-11ea-8d8b-f81da5fa6

[2020-04-30 21:21] RedBrogdon commented on #4014
Thanks for letting us know. @domesticmouse is investigating.

[2020-05-01 06:21] domesticmouse commented on #4014
Looks like running DartPad's Flutter on the Beta channel fixes this issue.

@timsneath and @zoeyfan looks like I need to move DartPad to running Flutter channel beta to better reflect the API documentation it is embedded in.

[2020-05-01 08:44] Vanethos opened #4022 ""Adding an Apple Watch extension" page with missing link"
In the ["Adding an Apple Watch extension"](https://flutter.dev/docs/development/platform-integration/apple-watch) the link refering to `Creating an iOS Bitcode enabled app` is currently empty

[2020-05-01 16:32] #4022 closed

[2020-05-01 19:04] #1619 closed

[2020-05-01 19:04] #2056 closed

[2020-05-01 19:04] #2920 closed

[2020-05-01 19:04] #3625 closed

[2020-05-01 20:44] domesticmouse commented on #4014
I believe this is now fixed. Thanks for the report @NazarKalytiuk!

[2020-05-01 20:44] #4014 closed

[2020-05-02 01:53] sfshaza2 opened #4026 "Cupertino codelab open issues"
There are quite a few so I'm collecting them here:

- [ ] https://github.com/flutter/website/issues/3911 Problem in Step 5 of Cupertino codelab
- [ ] https://github.com/flutter/website/issues/3477 Building a Cupertino app with Flutter, step 5: Outdated paragraph?
- [ ] https://github.com/flutter/website/issues/3476 Mistake in step 8 of Building a Cupertino app with Flutter: wrong method name
- [ ]

[2020-05-02 01:54] sfshaza2 commented on #3911
Subsumed by issue https://github.com/flutter/website/issues/4026

[2020-05-02 01:54] #3911 closed

[2020-05-02 01:55] sfshaza2 commented on #3477
Subsumed by https://github.com/flutter/website/issues/4026

[2020-05-02 01:55] #3477 closed

[2020-05-02 01:56] sfshaza2 commented on #3476
Subsumed by https://github.com/flutter/website/issues/4026

[2020-05-02 01:56] #3476 closed

[2020-05-02 01:56] sfshaza2 commented on #3420
Subsumed by Building a Cupertino app with Flutter, Step 10, missing definition of ShoppingCartItem class

[2020-05-02 01:56] #3420 closed

[2020-05-02 01:57] sfshaza2 commented on #3229
Subsumed by https://github.com/flutter/website/issues/4026

[2020-05-02 01:57] #3229 closed

[2020-05-02 01:58] sfshaza2 commented on #3221
Subsumed by https://github.com/flutter/website/issues/4026

[2020-05-02 01:58] #3221 closed

[2020-05-02 01:59] sfshaza2 commented on #3063
Subsumed by https://github.com/flutter/website/issues/4026

[2020-05-02 01:59] #3063 closed

[2020-05-02 01:59] sfshaza2 commented on #3058
Subsumed by https://github.com/flutter/website/issues/4026

[2020-05-02 01:59] #3058 closed

[2020-05-02 02:00] sfshaza2 commented on #2864
Subsumed by https://github.com/flutter/website/issues/4026

[2020-05-02 02:03] sfshaza2 commented on #2678
I can't reproduce this. Closing.

[2020-05-02 02:03] #2678 closed

[2020-05-02 02:03] sfshaza2 commented on #2660
Subsumed by https://github.com/flutter/website/issues/4026

[2020-05-02 02:03] #2660 closed

[2020-05-02 02:06] sfshaza2 commented on #2082
I've rewritten this codelab. (It's currently in review.) This is no longer an issue. Closing.

[2020-05-02 02:06] #2082 closed

[2020-05-02 02:25] sfshaza2 commented on #3907
Or, I could move this issue to the flutter/flutter repo. Just let me know!

[2020-05-02 22:57] Tensa-K opened #4031 "'Write your first Flutter app on the web' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Description of issue:

In the Step 1 chapter, a sub-step is missing : it is necessary to add the WelcomeScreen widget in the routes property of MaterialApp at the beginning with `'/welcome': (context) => WelcomeScreen()`.

[2020-05-03 18:03] aseer1420 opened #4033 "'Tutorials' page issue"
Page URL: https://flutter.dev/docs/reference/tutorials.html
Page source: https://github.com/flutter/website/tree/master/src/docs/reference/tutorials.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-04 00:44] akabosdeke opened #4034 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Description of issue:

[!] Android toolchain - develop for Android devices (Android SDK version 30.0.0-rc3)
    ! Some Android licenses not accepted.  To resolve this, run: flutter doctor --android-licenses
unable to resolve license issue

[2020-05-04 11:44] vengaiah29 opened #4035 "'Flutter widget index' page issue"
Page URL: https://flutter.dev/docs/reference/widgets.html
Page source: https://github.com/flutter/website/tree/master/src/docs/reference/widgets.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Can you please search bar for searching widgets

[2020-05-04 13:27] sfshaza2 commented on #4035
That is a good idea!

[2020-05-04 13:36] sfshaza2 commented on #4034
Hi, @akabosdeke! I wonder if you are experiencing [issue xxx](https://github.com/flutter/flutter/issues/51712).  If so, can you weigh in on that bug?  There are potential workarounds in that issue, as well as links to other places that have workarounds. If you find any problems that should be mentioned in the docs, please add that info here.

[2020-05-04 13:37] sfshaza2 commented on #4033
No issue listed. Closing.

[2020-05-04 13:37] #4033 closed

[2020-05-04 13:38] sfshaza2 commented on #4031
Thanks, @Tensa-K!

[2020-05-04 16:04] komape opened #4036 "document the equivalents of the React Native lifecycle methods"
Would be very helpful if you document the equivalents of the React Native lifecycle methods, such as `componentDidMount()`. Took me quite a while to figure it out. I expected some documentation on [this site](https://flutter.dev/docs/get-started/flutter-for/react-native-devs#react-native-and-flutter-widget-equivalent-components). Or did I miss it?

[2020-05-04 16:05] johnpryan commented on #3907
Yeah, let's move it there, this doesn't seem to be related to the cookbook content.

[2020-05-04 20:51] InMatrix commented on #3566
#3964 doesn't appear to address this issue. I'd be fine if DevRel decides to close this issue due to lack of information, but  #3964 should not be the reason to close it.

[2020-05-05 13:23] mit-mit opened #4039 "Update FAQ on x86"
From https://flutter.dev/docs/resources/faq#what-devices-and-os-versions-does-flutter-run-on:

However, https://github.com/flutter/flutter/issues/9253 is resolved, so this likely needs an update

[2020-05-06 00:11] gaaclarke opened #4046 "There is no example code for CupertinoSliverRefreshControl"
relevant page: https://api.flutter.dev/flutter/cupertino/CupertinoSliverRefreshControl-class.html

This can be tricky to setup, an example would be nice.

[2020-05-06 00:11] #4046 closed

[2020-05-06 00:12] gaaclarke commented on #4046
wrong issue tracker

[2020-05-06 06:36] kiran-cmyk commented on #2472
Hi @eseidelGoogle, I am behind corporate firewall and I have tried setting the DART_VM_OPTIONS.
My environment variable looks like below.

--root-certs-file="path_to_cert_file/cert.pem"

Please let me know where should i add "flutter packages get" command? Should it be part of DART_VM_OPTIONS environment variable?

[2020-05-06 16:17] hedayet13 opened #4050 "'Windows install' page issue"
C:\Users\heday>flutter doctor
Downloading android-arm64-profile/windows-x64 tools...
Could not authenticate download server. You may be experiencing a man-in-the-middle attack,
your network may be compromised, or you may have malware installed on your computer.
URL:
https://storage.googleapis.com/flutter_infra/flutter/540786dd51f112885a89792d678296b95e6622e5/android-arm64-profile/wind
ows-x64.zip

[2020-05-06 16:46] hedayet13 commented on #4050
ow shit .. I solve this ..

[2020-05-06 16:46] #4050 closed

[2020-05-06 20:06] eseidelGoogle commented on #2472
FYI @zanderso for tooling triage.

[2020-05-07 04:56] arps18 commented on #3603
@kf6gpe @sfshaza2 @legalcodes I would like to work on the issue!

[2020-05-07 04:57] arps18 commented on #3276
@legalcodes I would like to work on it!

[2020-05-07 05:11] sfshaza2 commented on #3603
Hi, @j-m-hoffmann! How did you know that my very next task is to update the getting started codelabs?! But, if you would like to fix this, I will hold off.  :)

[2020-05-07 22:35] zanderso commented on #2472
Filed https://github.com/flutter/flutter/issues/56607 to try to make this a bit smoother on the tooling side.

[2020-05-08 02:41] tibmartSynergy opened #4061 "'Flutter SDK releases' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/releases.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/releases.md

Description of issue:

The link for the new MacOS version has a typo in the URL. (1.17* instead of v.17*)

Expected:
https://storage.googleapis.com/flutter_infra/releases/stable/macos/flutter_macos_v.17.0-stable.zip

Existing

[2020-05-08 05:12] sfshaza2 commented on #4061
Hi, @tibmartSynergy! I was able to successfully download the macOS stable 1.17 release just now. Is this still happening for you?

[2020-05-08 08:26] nishantgoel1311 commented on #2472
This works for me, that last line is imp. So do add flutter\bin\cache\dart-sdk\bin in windows path

[2020-05-08 16:03] pcsosinski commented on #4061
we removed the "v" from our versioning scheme starting with this release.

[2020-05-08 16:07] sfshaza2 commented on #4061
Thanks, @pcsosinski, for weighing in!  @tibmartSynergy, we announced this change in our Medium publication. See the [Spring 2020 Updates](https://medium.com/flutter/flutter-spring-2020-update-f723d898d7af) post.

Closing.

[2020-05-08 16:07] #4061 closed

[2020-05-08 23:42] sfshaza2 commented on #4039
Fixed.

[2020-05-08 23:42] #4039 closed

[2020-05-09 06:04] jeffque opened #4069 "Shouldn't showcases logo have a link to the company?"
I got to the showcase page for driven by curiosity, as I've seen the baf2acf9c8eb4e9c70f893f1c66f7830fa4d43c5 commit. There, the only text file edited was [`/src/_data/showcases.yml`](https://github.com/flutter/website/blob/baf2acf9c8eb4e9c70f893f1c66f7830fa4d43c5/src/_data/showcases.yml). This got me curious about what was being shown on the showcases page, so I accessed https://flutter.dev/showc

[2020-05-10 12:29] kw2019ltd commented on #4039
still not supported
flutter build apk --target-platform android-x86 is failing

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':app:compileReleaseJavaWithJavac'.

     Required by:
         project :app

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to

[2020-05-10 12:51] tecnoorganico opened #4072 "interfaz.mikelinred"
Thassadar1387@yandex.ru<>gracida's.dev@google.com<>
{
     }_

[user_omnibot](https://developers.google.com/cast/docs/terms)

[2020-05-10 12:55] tecnoorganico commented on #4072
``thassadar1387@yandex.ru[]()

[2020-05-10 21:33] akhileshsagarignite opened #4073 "i am trying yo make web app but found many error"
I am trying to make a web app but found a lot of errors. please help me

[2020-05-11 10:12] guidezpl opened #4074 "Fix https://flutter.dev/docs/cookbook/testing/integration order"
The order on https://flutter.dev/docs/cookbook/testing/integration should match the order when navigating between the three sub-pages

[2020-05-11 16:09] HtLord opened #4076 "'Simple app state management' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/simple.md

Description of issue:
Thanks for the amazing project and contributors.
But.
This reading flow of content is confusing me. In the first place, i can not understand what the article want to tell.

[2020-05-11 17:16] sfshaza2 commented on #4073
Hi, @akhileshsagarignite! I'm sorry to hear that you are having problems. Have you tried using the [Write your first Flutter app on the web](https://flutter.dev/docs/get-started/codelab-web) codelab?

Unfortunately, we can't offer support on the repo. Please see our [Community](https://flutter.dev/community) page. There are lots of avenues for help and support from the community! Good luck!

[2020-05-11 17:16] #4073 closed

[2020-05-11 17:18] sfshaza2 commented on #4072
This looks like a joke bug. Closing.

[2020-05-11 17:18] #4072 closed

[2020-05-11 17:18] sfshaza2 commented on #4069
@maguinis, thoughts?

[2020-05-11 17:22] sfshaza2 opened #4078 "Document the new Network tab in DevTools"
I first became aware of it when editing the [1.17 release notes](https://medium.com/flutter/announcing-flutter-1-17-4182d8af7f8e). We need a page on [flutter.dev/docs/development/tools/devtools](https://flutter.dev/docs/development/tools/devtools).

@bkonyi

[2020-05-11 19:32] enetor opened #7771 "Official guidance on "prefer_const_constructors" lint"
This is a documentation/style guide request.

The existing lint rule `prefer_const_constructors` warns if `const` is not used to instantiate a const constructor when it can. The official [style guide](https://dart.dev/guides/language/effective-dart) does not specify this.

I may be missing something. Since many Flutter devs consider this a best practice, maybe it should be mentioned in the officia

[2020-05-11 20:36] maguinis commented on #4069
seems like you can make the best decision on this, Shams :) go for it -- if you think this works

[2020-05-11 23:47] theturboturnip opened #4082 "'Building a web application with Flutter' uses the beta channel unnecessarily"
Page URL: https://flutter.dev/docs/get-started/web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/web.md

Description of issue:
The install pages and 'Building a web application with Flutter' tell the user to switch to the beta channel for web support. This is no longer necessary and can expose users to unnecessary bugs such as [Issue #53367](https://github.c

[2020-05-12 01:17] sfshaza2 commented on #4082
@theturboturnip, which release are you using? I just switched to the stable channel and updated everything. `flutter devices` doesn't list chrome and I'm unable to run the counter app on the web.

[2020-05-12 02:36] Iphone530 opened #4083 "'Codelabs' page issue"
Page URL: https://flutter.dev/docs/codelabs/
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-12 02:42] Iphone530 opened #4084 "'Codelabs' page issue"
Page URL: https://flutter.dev/docs/codelabs/
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-12 06:46] sfshaza2 commented on #4083
Empty bug. Closing.

[2020-05-12 06:46] #4083 closed

[2020-05-12 06:46] sfshaza2 commented on #4084
Empty bug. Closing.

[2020-05-12 06:46] #4084 closed

[2020-05-12 06:49] sfshaza2 commented on #4069
I'd rather not open this can of fish. But thanks for your feedback, @jeffque.

[2020-05-12 06:49] #4069 closed

[2020-05-12 13:33] theturboturnip commented on #4082
It looks like I got confused, sorry! I switched to master channel for some small fixes that beta doesn't have, and I didn't realize that master and stable were different.

Knowing this, I don't think the site needs to be changed. Sorry for opening the issue unnecessarily!

[2020-05-12 17:16] sfshaza2 commented on #4082
No problem! Thanks for clarifying.  :)

[2020-05-12 17:16] #4082 closed

[2020-05-13 18:02] Ankur-Khandelwal opened #4088 ""resizeToAvoidBottomInset property" Documentation should have a video to demonstrate how it changes the view"
In the [documentation page](https://api.flutter.dev/flutter/material/Scaffold/resizeToAvoidBottomInset.html), there must be a video to show how changing the boolean value of "resizeToAvoidBottomInset" changes the view in the actual app.
For example, such a demonstration must be added ⬇
![Screenshot (177)](https://user-images.githubusercontent.com/55295915/81847650-839a6c00-9571-11ea-8658-ed5e807fa

[2020-05-13 21:15] sfshaza2 commented on #4088
API doc bugs belong on the flutter/flutter repo. Moving.

[2020-05-13 21:45] ajerni opened #4089 "'Flutter widget index' page issue"
Page URL: https://flutter.dev/docs/reference/widgets.html
Page source: https://github.com/flutter/website/tree/master/src/docs/reference/widgets.md

Description of issue:
looks like the AnimatedAlign widget is not listed in the index nor can I find a documentation of it.

[2020-05-14 06:56] arps18 commented on #2959
@kf6gpe @dnfield I would like to work on it!

[2020-05-14 07:00] arps18 commented on #4031
@Sfshaza Can I make the necessary changes?

[2020-05-14 10:52] OgulcanCelik commented on #4004
Had same issue. probably with the new Flutter update, if you don't call super `configureFlutterEngine` method on java and if you have custom java code, camera plugin crashes.

[2020-05-14 15:58] sfshaza2 commented on #4031
Yes, of course, @arps18!

[2020-05-14 16:02] sfshaza2 commented on #4089
You are correct! Note to self: the API doc is here, [AnimationAlign](https://api.flutter.dev/flutter/widgets/AnimatedAlign-class.html).

[2020-05-14 17:34] arps18 commented on #4031
@Sfshaza The issue seems already solved. I can't reproduce it!

[2020-05-14 18:13] sfshaza2 commented on #4031
!! Well, thanks anyway, @Tensa-K! Closing this issue.

[2020-05-14 18:13] #4031 closed

[2020-05-15 05:23] nnhhiilliisstt opened #4095 "Add dark mode for the website"

[2020-05-15 07:46] domesticmouse commented on #2864
I'm confused about this bug. I've updated the [codelab repo](https://github.com/googlecodelabs/flutter-cupertino-store) and I'm not seeing exceptions. We are in the process of updating the codelab itself and we should get it published soon. Please monitor #4026 for when we have published. When that is up, I'd like your help in understanding where and how it is breaking for you, if I haven't fixed

[2020-05-15 18:10] kwalrath commented on #2846
This seems to have been fixed.

[2020-05-15 18:10] #2846 closed

[2020-05-15 18:21] kwalrath opened #4096 "Address top 404s"
Two 404s are now at least as common as the /images/flutter-mark-square-100.png 404 (#2391):

~~1. /go/remove-fab-accent-theme-dependency. (with the period)~~
2. /docs/resources/rendering
~~3. /flutter/material~~

/go/remove-fab-accent-theme-dependency. has existed for a long time but has gotten more prevalent lately. We should probably just redirect it.

I think /docs/resources/rendering used to e

[2020-05-15 19:46] feinstein opened #4097 "Create recipe for a collapsing ToolBar within a SliverAppBar"
Page URL: https://flutter.dev/docs/cookbook/design/tabs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/tabs.md

Description of issue:

We also need a cookbook about a collapsing ToolBar within a SliverAppBar.

There are articles like [this](https://medium.com/@diegoveloper/flutter-collapsing-toolbar-sliver-app-bar-14b858e87abe), but such a common use case

[2020-05-16 06:03] dcarreroc opened #4100 "'Books about Flutter' page issue"
Page URL: https://flutter.dev/docs/resources/books.html
Page source: https://github.com/flutter/website/tree/master/src/docs/resources/books.md

Description of issue:

The link to "Programming Flutter" ebook is wrong, must be https://pragprog.com/book/czflutr/programming-flutter

[2020-05-16 06:27] apravint commented on #4095
#3632 is already open for this.. :)

[2020-05-16 06:28] apravint commented on #4095
Duplicate of #3632

[2020-05-16 06:43] nnhhiilliisstt commented on #4095
#3632 is about adding dark mode to the flutter documentation, this one is about adding dark mode to the website itself

[2020-05-16 06:46] apravint commented on #4095
#2952 for the dark mode to the website. please take a look.

[2020-05-17 18:45] sfshaza2 commented on #4100
@dcarreroc, the link you provided is a broken link.

[2020-05-17 18:46] sfshaza2 commented on #4097
Good idea!

[2020-05-17 18:49] sfshaza2 commented on #4095
https://github.com/flutter/website/issues/3632 is most definitely asking for dark mode on the flutter.dev website, so this is a dupe. Closing.

(To file a request for dark mode on the api.flutter.dev docs, file an issue on the flutter/flutter repo.)

[2020-05-17 18:49] #4095 closed

[2020-05-17 20:22] feinstein commented on #4097
Unfortunately a collapsing ToolBar within a SliverAppBar is a bit buggy: https://github.com/flutter/flutter/issues/17518, so the article should mention it for the time being.

[2020-05-17 21:35] domesticmouse commented on #3475
I believe this is now fixed in the [Building a Cupertino app with Flutter](https://codelabs.developers.google.com/codelabs/flutter-cupertino/index.html#0) codelab. The [github repo](https://github.com/googlecodelabs/flutter-cupertino-store/blob/master/step-06/lib/product_list_tab.dart#L25) has also been updated.

[2020-05-17 21:35] #3475 closed

[2020-05-17 21:36] domesticmouse commented on #4026
I believe most of these issues have been fixed in the updated [Building a Cupertino app with Flutter](https://codelabs.developers.google.com/codelabs/flutter-cupertino/index.html#0) codelab. Thanks!

[2020-05-17 21:36] #4026 closed

[2020-05-17 21:38] domesticmouse commented on #2864
The [Building a Cupertino app with Flutter](https://codelabs.developers.google.com/codelabs/flutter-cupertino/index.html#0) codelab has been updated. Can you please attempt to reproduce this bug with the new code?