[2018-12-17 15:16] zoechi opened #2069 "Codelab overflows on iPhone SE simulator"
@collinjackson commented on [Wed Oct 18 2017](https://github.com/flutter/flutter/issues/12592)

## Steps to Reproduce

Run the last step of flutter/friendlychat-steps on iPhone SE simulator. (It works fine on larger-screen simulators). I think it's not really a Flutter problem, the codelab code just needs to be more robust to small screens.

## Logs

[code]

## Flutter Doctor
[code]

---

@Santola

[2018-12-17 15:17] zoechi opened #2070 "Recipe page doesn't link to other recipes or cookbook, hard to tell what I'm looking at"
@sethladd commented on [Sat Apr 21 2018](https://github.com/flutter/flutter/issues/16828)

We're now linking to recipes from #FlutterFriday tweets. Yay! But, when you view the recipe, especially on mobile, it's not clear what you're looking at, and it's not clear how to find the other recipes.

Suggestion: add a link to the Cookbook homepage (maybe at the top, near the title), making it clear that

[2018-12-17 15:19] zoechi opened #2071 "Can't search docs.flutter.io from a mobile browser"
@eseidelGoogle commented on [Mon Jul 30 2018](https://github.com/flutter/flutter/issues/19988)

At least in Chrome on iOS (and presumably other mobile browsers) there is no search box on docs.flutter.io.

@mjohnsullivan @jcollins-g

---

@jcollins-g commented on [Mon Jul 30 2018](https://github.com/flutter/flutter/issues/19988#issuecomment-408920969)

dart-lang/dartdoc#1348

---

@zoechi commented

[2018-12-17 15:36] chalin commented on #2070
Yes, it is WIP, we have partial breadcrumbs. I'm going to close this issue in favor of tracking the individual features:

- Add next/prev links to cookbook pages #1370
- Add breadcrumbs to cookbook pages #1371

If @sethladd or anyone else feels that these two issues don't fully cover it, please feel free to reopen.

[2018-12-17 15:36] #2070 closed

[2018-12-17 15:44] chalin commented on #2071
There is if you browse in landscape view. Is that good enough for now @eseidelGoogle @mattrenquist et all?

---

For flutter.io, the search box is under the hamburger:

<img width="680" alt="screen shot 2018-12-17 at 10 42 44" src="https://user-images.githubusercontent.com/4140793/50097742-87915580-01e8-11e9-804a-2d654c5e3ab3.png">

cc @kwalrath @sfshaza2

[2018-12-17 16:01] chalin commented on #2057
Which functions are undefined (it would help if you shared the exact error messages that you are getting, by either copying the text or using a screenshot).

[2018-12-17 16:05] #2036 closed

[2018-12-17 16:35] zoechi commented on #2071
Discoverability is not great though.

[2018-12-17 16:37] tulkuras commented on #2057
E/flutter (26771): [ERROR:topaz/lib/tonic/logging/dart_error.cc(16)] Unhandled exception:
E/flutter (26771): NoSuchMethodError: Attempted to use type 'MyApp' as a function. Since types do not define a method 'call', this is not possible. Did you intend to call the MyApp constructor and forget the 'new' operator?
E/flutter (26771): Receiver: MyApp
E/flutter (26771): Tried calling: MyApp()

I rememb

[2018-12-17 16:53] chalin commented on #2057
Are you still getting this error when using Flutter 1.0?

[2018-12-17 16:54] chalin commented on #2071
@InMatrix @galeyang - thoughts?

[2018-12-17 17:36] galeyang commented on #2047
I agree. At some point, we had a quick conversation on the discoverability of FAQ but didn't make any changes. I support the idea of adding FAQ to flutter.io/docs page.

[2018-12-17 19:34] galeyang commented on #2071
I agree that the discoverability is not great. If we would like to move it to the header, we need to rearrange the existing header items due to the limited space. For example, other frameworks created a minimized version of logo (e.g. Angular and React use an icon-only version, Firebase uses a text-only version) or hide those icons for social media (i.e. Twitter and Youtube icons).

For the usage,

[2018-12-17 21:39] eseidelGoogle opened #2072 "faq still says Flutter is not yet 1.0"
https://flutter.io/docs/resources/faq#should-i-build-my-next-production-app-with-flutter

per https://twitter.com/d_gandhi31/status/1074709802754834434

[2018-12-18 12:11] zoechi opened #2075 "Introduce subclasses of ImplicitlyAnimatedWidget and `*Transitions` widgets"
@InMatrix commented on [Fri Jan 05 2018](https://github.com/flutter/flutter/issues/13932)

The Q4 UX study shows that developers tend to look for animation examples closely matching the ones they wanted to implement, e.g., translating the location of a widget or changing the size of a widget. The current [landing page for Animation](https://flutter.io/animations/) points the user to a tutorial whi

[2018-12-18 12:12] zoechi opened #2076 "Use diagrams to illustrate the relationships between AnimationController, Animation, Tween, CurveTween, and CurvedAnimation objects"
@InMatrix commented on [Fri Jan 05 2018](https://github.com/flutter/flutter/issues/13931)

The Q4 UX study shows that developers have difficulty understanding how different objects in an animation are related to one another. It would be great to use diagrams to illustrate their relationships in the [Tween Animation Tutorial](https://flutter.io/tutorials/animation/).

I recommend using a [timing ch

[2018-12-18 12:14] zoechi opened #2077 "Document conventions for accessing and checking MethodCall arguments on Java"
@mravn-google commented on [Sat Apr 07 2018](https://github.com/flutter/flutter/issues/16327)

Cf https://github.com/flutter/plugins/pull/466#discussion_r179887667

---

@xster commented on [Sat Apr 07 2018](https://github.com/flutter/flutter/issues/16327#issuecomment-379408477)

Document the preferred way of handling exceptions between `result.error(...)`, `throw new IllegalArgumentException`, `r

[2018-12-18 12:21] zoechi opened #2078 "Flutter codelab link to a doc is broken"
@atn832 commented on [Wed Nov 14 2018](https://github.com/flutter/flutter/issues/24351)

https://codelabs.developers.google.com/codelabs/flutter/#6
has a link to the documentation for TickerProviderStateMixin, but it returns error 404:
https://docs.flutter.io/flutter/widgets/TickerProviderStateMixin-class.html

---

@dnfield commented on [Wed Nov 14 2018](https://github.com/flutter/flutter/issues/

[2018-12-18 13:39] zoechi opened #2079 "Flutter.io should provide a link to the Flutter Gallery page on the Play Store"
@InMatrix commented on [Mon May 07 2018](https://github.com/flutter/flutter/issues/17352)

It seems that we don't currently link to Flutter Gallery on the Play Store from flutter.io?

Cc: @maguinis

[2018-12-18 13:47] zoechi opened #2080 "Would like a doc about our decision process for modifying dart:ui"
@eseidelGoogle commented on [Fri Apr 06 2018](https://github.com/flutter/flutter/issues/16316)

My impression is that our processes around modifying dart:ui are slightly different (more conservative) than Flutter framework.

Assuming others agree, it seems we should write this down somewhere?

- We care more about performance in the engine.  And specifically seem to have policy around only exposin

[2018-12-18 13:58] zoechi opened #2081 "Accessibility Docs"
@eseidelGoogle commented on [Wed Feb 28 2018](https://github.com/flutter/flutter/issues/14973)

I think our only docs on accessibility are here:
https://docs.flutter.dev/ui/widgets/accessibility

We presumably will want a doc sometime in the medium term about making ones Flutter app awesomely accessible.

FYI @goderbauer

---

@zoechi commented on [Tue Dec 04 2018](https://github.com/flutter/flutt

[2018-12-18 14:03] zoechi opened #2082 "friendly_chat is not aware of the iPhone X"
@eseidelGoogle commented on [Thu Dec 14 2017](https://github.com/flutter/flutter/issues/13569)

https://10clouds.com/blog/flutter-cross-platform-apps/

Shows a picture of friendly_chat on a iphone X, seems like it's not respecting the safe area enough?

@collinjackson @cbracken Maybe this is already fixed?

---

@sethladd commented on [Thu Dec 14 2017](https://github.com/flutter/flutter/issues/135

[2018-12-18 14:05] zoechi opened #2083 "Issue(s) with FriendlyChat Codelabs tutorial, suggested easy solution(s)."
@ScottS2017 commented on [Fri Dec 08 2017](https://github.com/flutter/flutter/issues/13450)

(EDIT: There are a few other little things I'm seeing so I'll add them in comments. I've been trained to teach and have presented seminars to groups so don't worry... my feedback will always be constructive and I'll make it actionable if at all possible.)

Since I'm probably the newest person around here I

[2018-12-18 14:08] zoechi commented on #2083
Copied here for the codelab improvement suggestions

[2018-12-18 14:09] zoechi opened #2084 "Sample of grabbing screenshots with driver tests"
@mit-mit commented on [Fri Dec 08 2017](https://github.com/flutter/flutter/issues/13447)

Request: Add a sample of how to grab screenshots with integration tests to https://flutter.io/testing/#integration-testing

[2018-12-18 14:11] zoechi opened #2085 "FAQ: document Flutter's fixed memory cost"
@xster commented on [Wed Dec 06 2017](https://github.com/flutter/flutter/issues/13393)

https://flutter.io/faq/#how-big-is-the-flutter-engine should include a blank run memory cost too

---

@sethladd commented on [Thu Dec 07 2017](https://github.com/flutter/flutter/issues/13393#issuecomment-349813467)

Can someone can suggest a way to do this, which is easily repeatable?

---

@xster commented on

[2018-12-18 14:13] zoechi opened #2086 "Document direct CocoaPods in native code more"
@xster commented on [Tue Nov 21 2017](https://github.com/flutter/flutter/issues/13130)

Currently, our optimized flow involves using cocoapods transiently by consuming entire plugins that includes dart and their corresponding native code.

There will be edge cases where the user doesn't use any plugins and just writes custom native iOS code and just want to bring in another custom native iOS cocoa

[2018-12-18 14:22] zoechi opened #2087 "Explain how to update UI when having async code"
@mit-mit commented on [Mon Apr 24 2017](https://github.com/flutter/flutter/issues/9553)

Should cover both `isMounted` check and [FutureBuilder](https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/widgets/async.dart)

---

@eseidelGoogle commented on [Mon Apr 24 2017](https://github.com/flutter/flutter/issues/9553#issuecomment-296709158)

@Hixie or @abarth might be able to dump

[2018-12-18 14:24] zoechi opened #2088 "Web Analog topic on Text is missing alignment details"
@mit-mit commented on [Tue Mar 14 2017](https://github.com/flutter/flutter/issues/8760)

The Web Analog page has a section titled 'Styling and aligning Text':
https://flutter.io/web-analogs/#styling-and-aligning-text

However, it only seems to cover the styling part?

---

@mit-mit commented on [Tue Mar 14 2017](https://github.com/flutter/flutter/issues/8760#issuecomment-286437103)

@LarkAscending

[2018-12-18 16:25] kwalrath opened #2089 "Deal with this week's biggest 404s"
Consider providing redirects for these:

* /images/intellij/hot-reload.gif: Did this recently go away, or was it a bad URL to start with? We have a variety of referrers trying to load it. (They really shouldn't load an image that's on another website, though.) https://note.mu/najeira/n/n8924408dd07b is the biggest referrer. It doesn't embed the image, but does link to it. I don't know what it shou

[2018-12-18 16:51] chalin commented on #2089
It was a recent change. As I update pages, I've been progressively migrating images to be under asset management. Migrated image file names have a fingerprint, which makes redirecting to the same image (via flutter.io), potentially difficult to maintain.

As you point out, they shouldn't be referring to the image in this way. That being said, I could redirect that URL to https://raw.githubusercont

[2018-12-18 17:30] #2089 closed

[2018-12-18 19:17] sfshaza2 commented on #2078
Fixed. Closing.

[2018-12-18 19:17] #2078 closed

[2018-12-18 19:41] chalin commented on #2072
Closed by #2074

[2018-12-18 19:41] #2072 closed

[2018-12-18 19:46] #2047 closed

[2018-12-18 20:46] tulkuras commented on #2057
I was using Flutter 0.1.6, I thought that I had the latest update. Thank you, chalin, for helping me, have a nice day.

[2018-12-18 21:04] chalin commented on #2057
Ok, thanks for clarifying. Closing for now; if you still have the problem, please reopen this issue.

[2018-12-18 21:04] #2057 closed

[2018-12-18 22:57] galeyang opened #2092 "The association between animated gif and "Reflectly" is not very clear"
One recent study participant said "_I was confused about what Reflectly is. I guess it's this app (referring to the animated gif)?_". It was not immediately clear to this person that the animated gif is part of an Reflectly app.

![image](https://user-images.githubusercontent.com/5102864/50187789-129b4a00-02d4-11e9-993c-233ecd3a5f20.png)

I wonder if making the display of this gif and text less is

[2018-12-19 00:55] pedromorgan commented on #2087
Ok so am on the front end with this issue..

Need to load some code, and update the UI..
also showing "busy" + "cancel"..

This should be one of the first "verses" in the "chapter"..
so to cancel and stuff.. just to twist one's head..

[2018-12-19 00:57] pedromorgan opened #2095 "github.tags"
Can we create tags for.. simple ones

Gui:
widget
controller
newbie
bug etc...

[2018-12-19 01:16] #1937 closed

[2018-12-19 13:55] virtualli opened #2096 "'Internationalizing Flutter Apps' page issue"
Page URL: https://flutter.io/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Description:
[code]

call fun showMyDatePicker, need _kDatePickerHeaderPortraitHeight+10, show ok. else warning need Flexible

[2018-12-19 15:48] maguinis commented on #2092
Yes, I think we could replace this GIF with the new planets animation (
https://github.com/rvamsikrishna/flutter_ui_challenge_planets_app) and
remove the reflectly text. WDYT, Gale?

On Tue, Dec 18, 2018 at 2:57 PM Gale Yang <notifications@github.com> wrote:

--
Martin Aguinis | Developer Marketing | Flutter

[2018-12-20 08:15] zoechi opened #2100 "Would like testing docs to include discussion of golden tests"
@eseidelGoogle commented on [Wed Oct 10 2018](https://github.com/flutter/flutter/issues/22909)

This was brought up in a customer discussion.  @filiph was there.

The customer in question seems to have figured them out (so addressing this is not urgent), just recording the desire.

---

@eseidelGoogle commented on [Wed Oct 10 2018](https://github.com/flutter/flutter/issues/22909#issuecomment-42861

[2018-12-20 08:26] zoechi opened #2101 "System requirements should state that Git 2.x is required"
System requirements should state that Git 2.x is required

https://flutter.io/docs/get-started/install/linux#system-requirements (same for Win, macOS)

See also https://github.com/flutter/flutter/issues/21626

[2018-12-20 18:16] zoechi opened #2102 "Redundant Code in getting started"
@Isfaaq commented on [Thu Dec 20 2018](https://github.com/flutter/flutter/issues/25625)

Hi all. Please see the attached capture. I believe that the modified line 10 in the diff is redundant. I am willing to change it, if someone could indicate the directory in which the docs are located.
![screenshot from 2018-12-20 20-22-51](https://user-images.githubusercontent.com/17203172/50296995-26da7500-04

[2018-12-20 18:18] zoechi opened #2103 "Flutter doctor never finishes"
@jimrome commented on [Thu Dec 20 2018](https://github.com/flutter/flutter/issues/25624)

## Steps to Reproduce

1. ... `flutter -v doctor -v`
2. ...On MacOS Mojave
3. ...
[code]
And there it sits

## Logs
[code]

---

@jimrome commented on [Thu Dec 20 2018](https://github.com/flutter/flutter/issues/25624#issuecomment-449062970)

[code]

---

@zoechi commented on [Thu Dec 20 2018](https://github.c

[2018-12-20 18:18] zoechi commented on #2103
Not sure if you want to check if there is something wrong with the dmg download.
Feel free to close.

[2018-12-20 18:20] chalin commented on #2103
@sfshaza2, who should be notified of a potentially damaged dmg?

[2018-12-20 18:23] jimrome commented on #2103
Well, I spoke too soon. It still hangs up, but a lot later in the process:

Downloading Dart SDK from Flutter engine 7375a0f414bde4bc941e623482221db2fc8c4ab5...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 49.7M  100 49.7M    0     0  19.2M      0  0:00:02  0:00:02 --:--:-- 19.2M
Bu

[2018-12-20 18:25] zoechi commented on #2103
Ok, I'm moving this back to flutter/flutter.
This is likely a network issue, not a website issue.

[2018-12-20 18:25] #2103 closed

[2018-12-20 18:30] Isfaaq commented on #2102
I will try to make myself as clear as possible. I am just getting started with Flutter and followed [this codelab](https://flutter.io/docs/get-started/codelab). When I managed to replicate the codes and have them work correctly, I started experimenting. One thing I noticed was the similarity between the codes on line 10 and 23(see the ![capture](https://user-images.githubusercontent.com/17203172/5

[2018-12-20 18:31] Isfaaq commented on #2102
If this is worth correcting, I would like to "give back" and contribute. Can I go ahead with it?

[2018-12-20 18:47] chalin commented on #2102
Thanks for the issue. While those `title` arguments have the same value, they serve distinct purposes. For example, see the [MaterialApp.title](https://docs.flutter.io/flutter/material/MaterialApp/title.html) API description:

Note that you have the same string repetition in the code of step 1 (and again, they serve distinct purposes):

[code]

I hope that this helps. /cc @sfshaza2

[2018-12-20 18:47] #2102 closed

[2018-12-20 23:31] galeyang commented on #1945
@sfshaza2 Feel free to change the wording. My goal is just to make core UI concept docs more apparent.

[2018-12-21 08:44] zoechi opened #2104 "Hot reload codelab experience: Step 4, part I"
@mit-mit commented on [Fri Dec 29 2017](https://github.com/flutter/flutter/issues/13796)

This bug is filed to track a suboptimal hot reload experience during a step in our primary codelab (https://codelabs.developers.google.com/codelabs/flutter/). Other similar bugs exist for other steps.

This bug tracks step 4, part I (changing main.dart from the template to a smaller new app).

Before code:

[

[2018-12-21 13:39] PermutoDev opened #2105 "Update lifecycle events `inactive` state on 'Flutter for Android developers' page"
Page URL: https://docs.flutter.dev/get-started/flutter-for/android-devs
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/flutter-for/android-devs.md

Description:

Section: How do I listen to Android activity lifecycle events?

But in documentation: (https://api.flutter.dev/flutter/dart-ui/AppLifecycleState.html)

Apps in this state should assume that they may be pa

[2018-12-21 17:24] clementgyimah opened #2107 "'Flutter Documentation' page issue"
Page URL: https://flutter.io/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Description:

[2018-12-21 17:45] galeyang commented on #2092
This looks good! Maybe we can add a link below the mobile frame so users can check the sources code on Github.

[2018-12-21 18:06] chalin commented on #2107
Thanks for filing an issue, but I’m going to close it for lack of a description. Feel free to reopen the issue once you have details to add.

[2018-12-21 18:06] #2107 closed

[2018-12-21 18:10] kwalrath commented on #2105
/cc @Hixie

[2018-12-21 18:12] kwalrath commented on #2104
Somebody please check whether this is still an issue.

[2018-12-21 18:20] filiph commented on #2100
First step, I'll make double sure this is the expected behavior, and why.

If it's expected, I'll take care of the docs.

[2018-12-21 18:22] kwalrath commented on #2096
Sorry, we don't understand the problem. Could you please explain further?

[2018-12-21 18:23] kwalrath commented on #2095
Can you please tell us what problem you're trying to solve?

[2018-12-21 18:38] kwalrath commented on #2084
Duplicate of #2100.

[2018-12-21 18:40] filiph commented on #2084
Actually, this is separate from #2100.

[2018-12-21 18:43] kwalrath commented on #2083
Affected codelab: https://codelabs.developers.google.com/codelabs/flutter

We didn't plan to update this codelab, but I'll look into statistics to see whether people are using it, and how far they're getting. Unfortunately, this codelab's source code isn't in this repo, so it's not community maintainable.

[2018-12-21 18:46] kwalrath commented on #2082
See also: #2083. We aren't planning to update the codelab right now, but if @cbracken updates the code, we should update the text.

[2018-12-21 18:48] sfshaza2 commented on #2081
Hey, community! Please vote! Thumbs up this issue if you think it's important.

[2018-12-21 18:51] sfshaza2 commented on #2080
The design principles page was taken back by engineering and moved to the Flutter wiki. I'm closing the bug here and re-opening on flutter/flutter.

[2018-12-21 18:51] #2080 closed

[2018-12-21 19:00] galeyang opened #2108 "Add screenshots in step 2-5 on 'Building Layouts' page"
Page URL: https://docs.flutter.dev/ui/layout/tutorial
Page source: https://github.com/flutter/website/blob/master/src/docs/development/ui/layout/tutorial.md

Description:
In a recent study, participants had to scroll up and down to compare the image on the top of the page and the code samples in each step. One participant suggested putting relevant screenshots close to (above) the UI code samples

[2018-12-21 19:01] sfshaza2 commented on #1280
This references the old front page. Closing.

[2018-12-21 19:01] #1280 closed

[2018-12-21 19:03] sfshaza2 commented on #1206
Did you resolve this, @Twinber?

[2018-12-21 19:06] sfshaza2 commented on #1171
I just checked some pages and this is no longer an issue. Closing.

[2018-12-21 19:06] #1171 closed

[2018-12-21 19:07] sfshaza2 commented on #1162
I think you've done this, @chalin?

[2018-12-21 19:07] #1162 closed

[2018-12-21 19:07] sfshaza2 commented on #1162
(Oops, didn't mean to close. Please reopen if still an issue.)

[2018-12-21 19:11] sfshaza2 commented on #1196
Do we still need this, @gspencergoog?

[2018-12-21 19:12] sfshaza2 commented on #1235
We definitely did both during the website refresh. Closing.

[2018-12-21 19:12] #1235 closed

[2018-12-21 19:32] galeyang opened #2109 "'Test drive' page: add a description about code formatting, inspector, outline"
Page URL: https://flutter.io/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Description:
(Move website issue in https://github.com/flutter/flutter-intellij/issues/2926 to this repo)

From a recent user study, we found that users could not discover the useful IDE features that come with Flutter plugin such as Outlin

[2018-12-21 20:32] chalin commented on #2092
@maguinis - is there a ready-made GIF on that site? If not, do you know where I can pick one up from?

[2018-12-21 20:35] chalin commented on #2092
Actually, the file isn't a GIF it's an MP4! Maybe Daniel can create it then? cc @sfshaza2 @filiph

[2018-12-21 22:14] galeyang opened #2110 "Left nav: make tutorials more easily discoverable"
From a recent new user study, some participants wanted to see more tutorials after "Get started". They didn't immediately find the tutorials under "Development" and tutorials index under "Reference". Hence, we would like to make tutorials more easily discoverable.

Can we consider:
1. renaming "Samples & Codelabs" to **"Samples & Tutorials"** and also
2. moving the [Flutter Tutorials index](https:

[2018-12-21 22:22] chalin commented on #2110
Sounds like a good idea. How about naming it "Tutorials & samples"?

[2018-12-21 23:41] galeyang opened #2113 "'Widget catalog' page: rework widget catalog"
Page URL: https://flutter.io/docs/development/ui/widgets/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/index.md

Description:
This is a potential future project.

From a recent new user study, we found participants had a hard time using the widget catalog, because they did not have previous knowledge on which one is where (e.g., Card widget is under M

[2018-12-22 00:07] galeyang commented on #2110
I'm slightly in favor of "Samples & tutorials" because tutorials are still available under other menu and this is the only place for sample apps. I'd love to hear other thoughts on this.

[2018-12-22 00:35] chalin commented on #2110
Remember that we don't want a page to appear in two places in the IA (unless we accept that only one of the places will be the canonical destination regardless of which entry is clicked in the sidenav).

[2018-12-22 00:40] chalin commented on #2113
Maybe you'd like something link the webdev API filter: https://webdev.dartlang.org/api?query=app. As you type in the search box (which is initialized to "app" by the previous URL), it shows relevant entries under each category.

[2018-12-22 00:52] galeyang commented on #2110
Yes! The actual tutorials page live under each topic. We just offer an index/list of links here.

[2018-12-22 14:40] chalin commented on #2110
So you want to duplicate the index pages? I thought that we had agreed to avoid duplicate pages (e.g., for SEO).

[2018-12-22 15:05] zoechi commented on #2100
@filiph

Do you mean

See also https://github.com/flutter/flutter/issues/17483

[2018-12-22 23:51] chalin opened #2115 "Upgrade to latest Bootstrap 4.x.y to eliminate warning, use BS toast, etc"
And consider using BS toast: https://blog.getbootstrap.com/2018/12/21/bootstrap-4-2-1/

[2018-12-22 23:59] chalin commented on #2092
See #2114. Btw, is there any interest in using icons in the "Download" phrase instead of "iOS" and "Android"?

[2018-12-23 01:38] joeythomaschaske opened #2116 "'MacOS install' page issue"
Page URL: https://flutter.io/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description:

failing on step 2 "Run flutter doctor"

[code]

[2018-12-23 11:19] zoechi commented on #2116
Duplicate of flutter/flutter#25073

[2018-12-23 11:19] #2116 closed

[2018-12-24 00:08] joaowd opened #2117 "Explain why there are 2`title: 'Startup Name Generator'` lines in the codelab"
Page URL: https://flutter.io/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Description:

[In the step 4 ](https://flutter.io/docs/get-started/codelab#step-4-create-an-infinite-scrolling-listview)

At the 5th point, says to add the title: 'Startup Name Generator', but since we already add that in the RandomWordsState Widge

[2018-12-25 01:32] virtualli commented on #2096
code:
localizationsDelegates: [
        GlobalMaterialLocalizations.delegate,
        GlobalWidgetsLocalizations.delegate,
      ],
      supportedLocales: [
        const Locale('zh', 'CN'),
      ],

 then: _selectDate = await showDatePicker(
      context: context,
      initialDate: DateTime.now(),
      firstDate: DateTime(2016),
      lastDate: DateTime(2022),
    );
run code in android：
![i

[2018-12-26 05:14] maguinis commented on #1929
Can we make it have a card that pops up and auto-plays the video when the text is clicked? Similar to how we do the "watch the video" on our homepage next to get started? Right now it redirects to youtube.com and I prefer keeping users in our website. @chalin

[2018-12-26 05:57] kotekarpraveen opened #2118 "'Preparing an Android App for Release' page issue"
Page URL: https://flutter.io/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description:

[2018-12-26 17:54] galeyang commented on #2110
No. This request is about moving that index page from "Reference" to "Samples & tutorials", so we don't have to worry about adding duplicate pages.

[2018-12-26 17:59] galeyang commented on #2092
"An award winning mindfulness app built with Flutter" sounds good!

[2018-12-26 21:19] chalin commented on #2110
Thanks for the clarification.

[2018-12-26 23:58] chalin commented on #2118
Thanks for filing an issue. I’m going to close it for lack of a description, but feel free to reopen the issue once you have details to add.

[2018-12-26 23:58] #2118 closed

[2018-12-27 00:13] #2110 closed

[2018-12-27 00:15] #2092 closed

[2018-12-27 07:19] zoechi opened #2122 "Document "How to create a widget with a custom RenderObject""
@sethladd commented on [Mon Aug 01 2016](https://github.com/flutter/flutter/issues/5173)

From a user:

A “creating a custom widget” section in basic Flutter layout documentation would be helpful, as the setup for a new Custom Widget requires a lot of knowledge up front:
- Just the RenderBox performLayout() method has several important duties that aren’t reflected in its args or a return value
  -

[2018-12-27 07:20] zoechi commented on #2122
Copied here for

[2018-12-27 11:08] rcsingh1234 opened #2123 "Flutter app running issues after install flutter."
Description:

Error retrieving device properties for ro.product.cpu.abi:

Launching lib\main.dart on Moto G 5S Plus in debug mode...
Initializing gradle...
Resolving dependencies...
--------- beginning of main
12-27 16:34:59.508 I/EventLogSendingHelper(18067): Sending log events.
Unhandled exception:
Exit code -1073740940 from: C:/Android\platform-tools\adb -s ZY3227B4JT shell -x logcat -v time -t

[2018-12-27 11:45] dansunhappy opened #2124 "'Return data from a screen' page issue"
Page URL: https://flutter.io/docs/cookbook/navigation/returning-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/returning-data.md

Description:Return data from a screen with a gesture ?

[2018-12-27 14:30] zoechi commented on #2123
Duplicate of flutter/flutter#16865

[2018-12-27 14:30] #2123 closed

[2018-12-27 17:17] #1609 closed

[2018-12-27 17:46] chalin opened #2126 "Ensure pages have appropriate heading levels, e.g., no <h1>s"
This issue was formerly a subitem of #1259.

[2018-12-27 18:09] #2126 closed

[2018-12-27 18:31] chalin commented on #1259
All done!

[2018-12-27 18:31] #1259 closed

[2018-12-27 18:42] admarwick commented on #1928
We users of Android Studio would be very happy if we could create a working flutter project from github without having to create a virgin project and copy in source files by hand.

[2018-12-28 07:53] zoechi opened #2129 "Document outgoing events on platform channels page"
@xster commented on [Tue Jul 11 2017](https://github.com/flutter/flutter/issues/11146)

https://flutter.io/platform-channels is great for polling the platform but the push event receiving part with EventChannel doesn't seem documented yet.

---

@goderbauer commented on [Fri Dec 28 2018](https://github.com/flutter/flutter/issues/11146#issuecomment-450293040)

@zoechi I think this should be moved t

[2018-12-28 13:32] jimrome commented on #2103
Its not a network issue. I still can't get flutter to work:
JARMAC:bin jar$ pwd
/Volumes/MacHD3/flutter/bin
JARMAC:bin jar$ flutter -v doctor -v
[  +27 ms] executing: [/Volumes/MacHD3/flutter/] git rev-parse --abbrev-ref --symbolic @{u}
[  +48 ms] Exit code 0 from: git rev-parse --abbrev-ref --symbolic @{u}
[        ] origin/beta
[        ] executing: [/Volumes/MacHD3/flutter/] git rev-parse --abb

[2018-12-28 13:34] zoechi commented on #2103
@jimrome can you please continue discussion on https://github.com/flutter/flutter/issues/25624
This issue is closed.

[2018-12-28 20:29] geoffpike opened #2131 "Remove mention of git clone on 'Linux install' and 'macOS install' pages"
Page URL: https://docs.flutter.dev/get-started/install/linux
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Description: This text is the first occurrence of "clone" on the page:
"Add the following line and change [PATH_TO_FLUTTER_GIT_DIRECTORY] to be the path where you cloned Flutter’s git repo:".

I have not cloned anything at this point; I've

[2018-12-29 04:04] joeythomaschaske commented on #2009
I watched the 101 videos. They were ok. I'm appreciative of them, but the Inherited Widget one could have been better.

At [3:00](https://youtu.be/Zbm3hjPjQMk?t=180) he talks about how Inherited Widgets are immutable and doesn't go much deeper and important concepts [like wrapping  inherited widgets with a stateful container](https://flutterbyexample.com/set-up-inherited-widget-app-state/).

I am

[2018-12-30 16:55] zoechi opened #2132 "Simplify I18n page"
### Page URL

https://docs.flutter.dev/accessibility-and-localization/internationalization

@goderbauer commented on [Tue Feb 27 2018](https://github.com/flutter/flutter/issues/14926)

Developer feedback from Hackathon:

https://flutter.io/tutorials/internationalization/ looks scary and complicated compared to the Android flow, maybe needs a shorter summary on top? Put example of how to get a loca

[2018-12-30 17:01] zoechi opened #2133 "Unclear how to handle conditional UI, when resolving the condition is async"
@mit-mit commented on [Fri Dec 08 2017](https://github.com/flutter/flutter/issues/13445)

Occasionally apps need to render different UI depending on some condition that is resolved asynchronously, for example:

* Dependent on device vs. emulator: The `device_info` package has an `isEmulator` API, but this is async

* Dependent on login state: The `firebase_auth` package handles login, but asking i

[2018-12-30 23:03] rlkammerer opened #2141 "Inaccuracy in OSX Flutter documentation on 'Set up the Android emulator' for certain versions"
On Android Studio 3.2.1 on OSX 10.14.2, Create Virtual Device is no longer under the Tools drop down, but is an icon in the top right.

![image](https://user-images.githubusercontent.com/1225621/50552236-74ed3680-0c54-11e9-99ac-45540bf6c370.png)

From there you can add devices, and then run them from a dropdown to its left:

![image](https://user-images.githubusercontent.com/1225621/50552242-9ea65

[2018-12-31 11:00] jffiorillo opened #2142 "'Building Layouts' page issue"
Page URL: https://flutter.io/docs/development/ui/layout/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/index.md

Description: The code in the sample is incomplete:

[code]

The  `);` is missing to close `MaterialApp(....);` construction.

[2018-12-31 15:25] jffiorillo opened #2144 "'Flutter for Android developers' page issue"
Page URL: https://flutter.io/docs/get-started/flutter-for/android-devs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/flutter-for/android-devs.md

Description:

In `FadeAppTest` the function `initState` doesn't call the super and the function is annotated with `@mustCallSuper` which causes a lint warning to be shown.

[2019-01-01 05:56] dent118 opened #2147 "'Cookbook' page issue"
Page URL: https://flutter.io/docs/cookbook/
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/index.md

Description:

[2019-01-01 14:55] chenglu opened #2148 "Adding the Full ext like .html or /index.html"
Hi team:

If I built the docs site and deployed to the file system service like GCS (not Firebase hosting or gh-pages, etc.), I will get a 404 page if I visit the page like

since the file system service like GCS always didn't have the feature that could find the URL.html or URL/index.html and return to users, I was wondering if we could have a switch in our tools so we could add the full ext when

[2019-01-02 07:52] zoechi opened #2149 "Are we supposed to check "Contain encryption” in the app store?"
@dark-chocolate commented on [Tue Jan 01 2019](https://github.com/flutter/flutter/issues/25935)

Does flutter app requires to use `Contain encryption` when uploading the app to the app store, sorry if this questions sounds dumb. I am new on the app store, and not sure if flutter does some `https://,` sort of work behind the scene.

PS: Let's assume the app built is just plain hello world.

---

@M

[2019-01-02 07:52] zoechi commented on #2149
Should the docs mention this?

[2019-01-02 15:38] chenglu commented on #2148
Inspired by this post [Hosting a Static Website with Kubernetes and Google Cloud Storage](https://zihao.me/post/hosting-static-website-with-kubernetes-and-google-cloud-storage/), I will use a NGINX server in the front with the idea & .conf file on that post.

[2019-01-02 15:38] #2148 closed

[2019-01-02 17:11] chalin commented on #2148
I'm glad that you found a solution.

[2019-01-02 17:19] chalin commented on #2117
Hi @joaowd, thanks for the issue. There are two titles with the same string in the app code, that is because those titles serve distinct purposes.

@sfshaza2, maybe we should add a note to that effect in the docs?

[2019-01-02 18:35] maguinis opened #2150 "Add sub-tag under the 'Resources' section for "Official brand logos""
Add sub-tag under the 'Resources' section titled "Official brand logos"

That directs users to this page with our assets:
https://drive.google.com/drive/folders/1KXNtO9My2AMpDOF9A9Y_4aj4_BcgmDDT

This can help people gain access to the logos they should use.

Unless there is a suggestion for a better place to place this...

[2019-01-02 20:40] domnulserj opened #2151 "'Flutter Module' description issue"
Page URL: https://startup.google.com/tools/build-product/

Description:

"Flutter is a mobile UI framework that provides the fastest, most expressive way to build high-quality NAIVE apps that ship to iOS and Android."

Change "naive" to "native".

![naive](https://user-images.githubusercontent.com/46329925/50611501-53ec4600-0edf-11e9-8446-762ef267886a.jpg)

[2019-01-02 20:50] zoechi opened #2153 "Can't click on annotations in docs to see what they mean."
@alanrussian commented on [Mon Jul 02 2018](https://github.com/flutter/flutter/issues/19001)

Example: https://docs.flutter.io/flutter/widgets/NavigatorState/push.html

[code]

`optionalTypeArgs` is a symbol, but it's not possible to tap on it to find out what it means. I can search for it though: https://docs.flutter.io/flutter/meta/optionalTypeArgs-constant.html

---

@zoechi commented on [Mon A

[2019-01-02 21:04] chalin commented on #2151
Lol, good catch, thanks!

[2019-01-02 21:06] chalin commented on #2151
@sfshaza2, assigning to you. I'm not sure where the sources are for this.

[2019-01-02 21:14] chalin commented on #2142
The elipses (`...`) means that there is more code there that isn't shown. I think that we should leave this as is for now. (@sfshaza2 - also because I've started working on integrating code-excerpts for this page; WDYT).

[2019-01-02 21:14] sfshaza2 commented on #2150
Great! We can also link from brand, perhaps. But I think it makes sense to call this out specifically.

[2019-01-02 22:11] galeyang opened #2154 "Improve the readability of full sample code listed in the tutorials"
From recent new users' study, some participants found the raw source code listed on our tutorials (e.g. Building layout, Adding interactivity)  was a little hard to read when there is **no syntax highlighting**.

**_Some links to raw source code: main.dart_**

![image](https://user-images.githubusercontent.com/5102864/50613978-3cd43680-0e94-11e9-8455-52f861a8cee0.png)

**_Source code without synta

[2019-01-02 22:38] filiph commented on #2012
I'm making slow (but steady) progress on this.

Today, I landed the simplest possible example to github.com/flutter/samples — the [Counter app, using `ScopedModel`](https://github.com/flutter/samples/tree/master/scoped_model_counter). This should alleviate one of the most pressing issues: that there is no official sample that shows a Flutter app whose state is modified from "outside". Right now th

[2019-01-02 23:32] pedromorgan commented on #2012
Adding a link to a blog
https://medium.com/flutter-community/let-me-help-you-to-understand-and-choose-a-state-management-solution-for-your-app-9ffeac834ee3

One size fits all would be nice..

[2019-01-02 23:42] sfshaza2 commented on #2142
I agree, @chalin.  Closing.

[2019-01-02 23:42] #2142 closed

[2019-01-03 08:41] zoechi opened #2156 "What's the default unit of measurement in flutter?"
@vanshu commented on [Fri Dec 28 2018](https://github.com/flutter/flutter/issues/25833)

## Steps to Reproduce

I am using AppBar class to set App bar of the page, there is an attribute called [elevation](https://docs.flutter.io/flutter/material/AppBar-class.html)
```The z-coordinate at which to place this app bar. This controls the size of the shadow below the app bar.```
The document hasn't figu

[2019-01-03 08:53] jffiorillo commented on #2142
I agree that (`...`) means more code there that isn't shown but more code not related to the expression shown as example.
Also without the `,);` the single expression shown as example isn't complete.
[code]
The idea is to add the closing <pre><b> ); </b></pre> to finish the expression as shown:

<pre><code>MaterialApp(
      title: 'Flutter Demo',
      theme: ThemeData(
        primarySwatch: Col

[2019-01-03 10:18] chenglu commented on #2148
Thanks a lot, @chalin !

[2019-01-03 13:28] mattlaver opened #2157 "'MacOS install' page issue"
Page URL: https://docs.flutter.dev/get-started/install/macos
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description:

This line failed with permission issues for me:

```brew install --HEAD usbmuxd```

The error was:

```Error: The following directories are not writable by your user: /usr/local/include```

It may be worth putting a note to re

[2019-01-03 21:15] feinstein opened #2159 "'JSON and serialization' page issue"
Page URL: https://flutter.io/docs/development/data-and-backend/json.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/json.md

Description:

Make this page mobile friendly

[2019-01-03 23:00] VLEIX opened #2160 "'Using custom fonts' page issue"
Page URL: https://flutter.io/docs/cookbook/design/fonts.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/fonts.md

Description:
https://flutter.io/docs/cookbook/design/fonts#pubspecyaml-option-definitions
- "specfies" poorly written.

[2019-01-04 01:32] #2159 closed

[2019-01-04 08:39] jffiorillo commented on #2142
Great, thanks for the update @chalin . That sounds fair!

[2019-01-04 10:25] AJ9 opened #2165 "'Testing Flutter apps' page issue"
Page URL: https://flutter.io/docs/testing/
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/index.md

Description:

The unit testing documentation currently specified contains an incorrect package import:

Current full example:

[code]

Where `import 'package:test/test.dart';` should be `import 'package:flutter_test/flutter_test.dart';`

[2019-01-04 14:12] chalin commented on #2142
👍

Btw, here is a first PR for those updates: #2164 (with a link to the staging server preview).

[2019-01-04 14:39] chalin commented on #2165
Thanks for this issue. There is indeed a problem with the sample code given in the Unit Testing section, but as I commented in #2166, I believe that the intent was to illustrate direct use of the test package. cc @brianegan, @sfshaza2

[2019-01-04 14:50] AJ9 opened #2167 "'Testing Flutter apps' page issue"
Page URL: https://flutter.io/docs/testing/
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/index.md

Description:

The tutorial for integration testing is missing the `test` dependency.

The `Adding the flutter_driver dependency` section should specify this:

[code]

[2019-01-04 21:10] Daniel-BD opened #2169 "'Navigate to a new screen and back' page issue"
Page URL: https://flutter.io/docs/cookbook/navigation/navigation-basics.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/navigation-basics.md

Description: The GIF in the bottom of the page displays a listview for a split second after navigating back from the second screen to the first. It also looks very laggy. The GIF should be updated.

[2019-01-07 04:10] feinstein opened #2172 "'Building Layouts' page issue"
Page URL: https://flutter.io/docs/development/ui/layout/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/index.md

Description:

The text on step 3:

Should be:

Also:

Should be:

Since the function created takes 3 arguments

[2019-01-07 17:15] DanTup opened #2173 "Archive page no longer defaults to your platform"
The archive page (https://flutter.io/docs/development/tools/sdk/archive) used to default to your OS ([based on user agent sniffing](https://github.com/flutter/website/blob/2f8781a59dd87b8bfc10dc132256d53f439cd478/js/tabs.js#L61)) before the update but it doesn't seem to anymore. It does persist your selected tab but if I clear all site data and hit the URL above from Chrome macOS it always seems t

[2019-01-07 17:47] chalin commented on #2173
(There might be another issue related to this, but I don't have time to look it up now. I'll check later.)

[2019-01-07 18:03] DanTup commented on #2173
I did spot #1886 but it didn't seem to mention this. Feel free to roll it in there if it makes sense though.

[2019-01-07 18:44] chalin commented on #2173
(It might have been only in my local to-do list. Thanks for the reference to #1886.)

[2019-01-07 20:48] gspencergoog commented on #1196
No, because if you do switch back to Cirrus, it will have to be the slow way that doesn't use Docker, since Patrice doesn't have access to that resource.

[2019-01-07 20:48] #1196 closed

[2019-01-07 23:21] cbracken commented on #2060
@zoechi yep - closing!

[2019-01-07 23:21] #2060 closed

[2019-01-08 01:21] sfshaza2 commented on #2165
That is also my understanding.

[2019-01-08 07:48] Sunzxyong opened #7783 "In the team's development mode, Flutter SDK Version Consistency Management."

[2019-01-08 09:02] brianegan commented on #2165
Hey all -- that is correct! In fact, I need to review the cookbook recipes to see if they suffer from this same problem.

It looks like #2168 solves this problem in the correct way.

Maybe should open a separate issue, but I'm wondering: Should we actually trim down this testing page a bit in general and link more to the cookbook? The page could describe the testing offered by flutter and the phil

[2019-01-08 17:57] chalin opened #2178 "Consolidate testing page"
From https://github.com/flutter/website/issues/2165#issuecomment-452223510:

[2019-01-08 17:57] chalin commented on #2165
I agree. I've opened #2178 to track this.

[2019-01-09 00:43] Hixie opened #2182 "Every Web page should have an edit button"
...that sends you straight to the relevant page on GitHub.

(From https://github.com/flutter/flutter/issues/10416)

[2019-01-09 00:48] chalin commented on #2182
We have such a button that links to the GitHub page source, like this:

The button title is "View page source" because that is what the link leads to: the page source on GH. And on that page, the user will find an edit button. (If the user hasn't forked, I believe that she/he will be asked if they want to fork ... or maybe it automatically forks, I can't recall for sure).

cc @sfshaza2 @kwalrath

[2019-01-09 01:41] eseidelGoogle commented on #2183
What is the link I should point people to when they think Flutter APKs are too large?  (or when they file bugs like the above linked?)

What is the set of steps they should walk through to make sure their app is as small as possible?
e.g. make sure they're looking at --release
What tool should they use to understand where the space is going?
What compression tips/techniques should they be applying

[2019-01-09 07:36] AJ9 commented on #2165
@brianegan just seen the cookbook. There is a lot there already which seems like a good place to consolidate! Shall I close this issue?

[2019-01-09 13:44] hatemelmougy opened #2186 "'Making authenticated requests' page issue (authenticated http requests)"
Page URL: https://flutter.io/docs/cookbook/networking/authenticated-requests.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/authenticated-requests.md

Description:
Hello Flutter team,
I have been trying to make an authenticated http request but it needs a dart:_http import and when I use that I get this error "Compiler message:
lib/challenges.dart:1:8

[2019-01-09 17:23] #1929 closed

[2019-01-09 18:51] bvanrijn commented on #1858
This tripped me up as well just now. Could I submit a PR to fix https://github.com/flutter/website/blob/master/src/docs/get-started/install/macos.md?

[2019-01-09 19:53] sfshaza2 commented on #2182
Closing, please reopen if you still feel it's an issue.

[2019-01-09 19:53] #2182 closed

[2019-01-09 20:05] chalin commented on #1834
The new code-excerpting tools are in place and support ellipses. E.g., this code excerpt from the [codelab, step 4](https://flutter.io/docs/get-started/codelab#step-4-create-an-infinite-scrolling-listview):

[2019-01-09 20:05] #1834 closed

[2019-01-09 23:41] chalin commented on #1951
Unassigning myself since I won't be actively working on this. We'll address issues as the arise.

[2019-01-09 23:46] #2101 closed

[2019-01-10 00:48] #2154 closed

[2019-01-10 05:33] kangwang1988 commented on #1858
@bvanrijn  Always welcome do submit a PR.

[2019-01-10 09:21] alialwadie100 opened #2193 "'Linux install' page issue"
Page URL: https://flutter.io/docs/get-started/install/linux.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Description:

[2019-01-10 10:34] chalin opened #2194 "Fix link to React site"
From a recent failing travis build:

[code]

[2019-01-10 10:37] chalin commented on #2193
Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue.

[2019-01-10 10:37] #2193 closed

[2019-01-10 14:47] #2194 closed

[2019-01-10 16:31] neiljaywarner commented on #1758
Closing, flutter create probably solves this issue

[2019-01-10 16:31] #1758 closed

[2019-01-10 16:40] neiljaywarner opened #2196 "'MacOS install' page issue - update path"
Page URL: https://flutter.io/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description:
It is awesome that you are doing such specific docs so people will not get stuck and easier onboarding for people of different backgrounds. thanks!  however.
Typo in line for .bash_profile
[code]
should be
[code]
e.g. if us

[2019-01-10 18:12] galeyang commented on #1756
The problem of selecting a subset of code still exists so I reopen the issue. This is not urgent.

[2019-01-10 18:56] chalin commented on #1756
Ok, thanks. I'll adjust the priority.

[2019-01-10 20:09] chalin commented on #1968
The solution that we've opted for is what is used on other Dart sites as well as https://developers.google.com: code excerpts now have a copy-code button (#2184). See https://flutter.io/docs/development/ui/layout#step-3-implement-the-button-row for examples.

I'll close this for now assuming that it gives the core functionality of what you are asking for.

Closed by #2184

[2019-01-10 20:09] #1968 closed

[2019-01-10 20:32] chalin commented on #1967
The apps in the first part of the tutorial have been created via #2164.

[2019-01-10 21:41] chalin commented on #1371
Breadcrumbs are implemented except for the cookbook categories (i.e., right now it looks as if the cookbook is flat, with all recipes at the same level), e.g.:

<img width="545" alt="screen shot 2019-01-10 at 16 39 56" src="https://user-images.githubusercontent.com/4140793/50998749-6b868880-14f6-11e9-9d11-657435ede9ff.png">

For the example above, the breadcrumbs should be: Docs > Cookbook > List

[2019-01-10 23:34] #1371 closed

[2019-01-11 02:52] JieJiejjjjjjjj opened #2200 "'Flutter SDK archive' page issue"
Page URL: https://flutter.io/docs/development/tools/sdk/archive.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/archive.md

Description:

[2019-01-11 07:58] kangwang1988 commented on #2196
@neiljaywarner
Thanks for your contribution.
I would recommend you to file a PR to edit this page.

[2019-01-11 09:15] chalin commented on #2200
Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue.

[2019-01-11 09:15] #2200 closed

[2019-01-11 17:17] eseidelGoogle commented on #2183
I see questions about size on Twitter/Reddit frequently.  Another this morning:
https://twitter.com/android_sattout/status/1083683098682888192

[2019-01-11 23:06] chalin opened #2202 "Split the "Building Layouts" into multiple pages"
The [Building Layouts](https://flutter.io/docs/development/ui/layout) is awfully long. I think that we should split it up into multiple pages, one page per top-level of the TOC (except maybe for Resources, that could be merged into another page?):

<img width="415" alt="screen shot 2019-01-11 at 18 04 54" src="https://user-images.githubusercontent.com/4140793/51063989-6cd5b500-15cb-11e9-9097-be84f

[2019-01-11 23:08] sfshaza2 commented on #2202
Yeah, that's how I first created it. I was ordered to put it together in a single page. Searching is easier if it's one page. I'd ask the UX folk, which we didn't have back when I wrote it.  @galeyang?  @InMatrix? Please weigh in.

[2019-01-12 01:07] InMatrix commented on #2202
I'm not concerned about the length of the page, since the table of contents on the right hand side helps users navigate the doc. However, if it takes too long to load the whole doc at once (not from my computer), we should consider breaking it up.

[2019-01-12 02:37] sfshaza2 commented on #2202
As I said, engineering had very strong feelings about keeping it together
in one page. Easier to search.

On Fri, Jan 11, 2019 at 5:07 PM Tao Dong <notifications@github.com> wrote:

[2019-01-12 08:07] #2117 closed

[2019-01-12 10:31] chalin commented on #2202
Long pages are a bit of a pain to deal with on mobile, but that isn't our core audience (most devs consult the docs from desktop). Ok, thanks for the feedback, I'll close this for now.

[2019-01-12 15:36] zoechi opened #2206 "cached_network_image library should not be referenced as the way to work with cached images."
@lifenautjoe commented on [Sat Jan 12 2019](https://github.com/flutter/flutter/issues/26463)

The library [flutter_cached_network_image](https://github.com/renefloor/flutter_cached_network_image) employed in [the website tutorial on cached network images](https://flutter.io/docs/cookbook/images/cached-images) is semi-abandoned with [tons of bugs & missing features](https://github.com/renefloor/flu

[2019-01-13 03:42] neiljaywarner opened #2207 "'Hot reload' page issue - example says 2.7seconds; should say under 1 second."
Page URL: https://flutter.io/docs/development/tools/hot-reload.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/hot-reload.md

Description:
it says "Reloaded 1 of 448 libraries in 2,777ms." in this page as an example situation.

I see this article where 3 seconds or so was the max he could get it to even with stress test, and 700ms-1000ms seems normal.'
h

[2019-01-14 18:24] galeyang commented on #2202
I think about this earlier but don't feel strong enough to file a change yet. Here are more thoughts on this.

**Feedback about the length of the page and ToC:**
I do get some feedback suggesting that this page is very long and could be break down better (maybe splitting the tutorial and common layout intro? not sure about it).

From a study with new users, we observed a few participants were not

[2019-01-14 22:21] feinstein opened #2208 "'Building Layouts' page issue"
Page URL: https://flutter.io/docs/development/ui/layout/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/index.md

Description:

The website says:

There's an `are` missing

[2019-01-14 22:35] #2208 closed

[2019-01-15 00:28] Tien79 opened #2210 "'Test drive' page issue"
Page URL: https://flutter.io/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Description:

[2019-01-15 10:51] chalin commented on #2210
Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue.

[2019-01-15 10:51] #2210 closed

[2019-01-15 18:04] neiljaywarner commented on #2196
https://github.com/flutter/website/pull/2212

[2019-01-15 19:37] chalin commented on #2202
At least splitting it in two would make sense.

[2019-01-15 19:42] feinstein opened #2213 "Make 'Adding Interactivity to Your Flutter App' page responsive"
Page URL: https://docs.flutter.dev/ui/interactive
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/interactive/index.md

Description:

Make this page mobile friendly

[2019-01-15 19:52] chalin commented on #2213
Related to #1951

[2019-01-15 20:23] #2167 closed

[2019-01-15 22:45] sfshaza2 commented on #2202
OK, we have the blessing of two of our UX researchers and the main detractor has gone to another team.

Let's do it!  (Meaning, if you want to do it, Patrice, go right ahead.  :) )

[2019-01-16 05:07] kangwang1988 commented on #2196
As this issue will be tracked at: https://github.com/flutter/website/pull/2212
Closing issue: #2196 now.

[2019-01-16 05:07] #2196 closed

[2019-01-16 13:36] 6heads commented on #1954
Will anyone look into this?

[2019-01-16 13:41] chalin commented on #1954
Yes, eventually (it is a question of relative priorities). cc @sfshaza2 @maguinis

[2019-01-16 14:19] chalin opened #2216 "CI: run the formatter on example code"

[2019-01-16 14:28] chalin opened #2217 "Run `dart tool/next_prev.dart` as part of CI or a precommit check"

[2019-01-16 15:00] #1370 closed

[2019-01-16 16:37] chalin commented on #1354
A dart script was added via #2218. It could be generalized to support the Get Started pages (though it will be a little trickier to figure out the intended page ordering). Maybe we would limit the resync to the titles for these pages.

[2019-01-16 16:38] #1355 closed

[2019-01-16 16:40] #1895 closed

[2019-01-16 16:41] feinstein opened #2220 "'Send data to a new screen' page issue"
Page URL: https://flutter.io/docs/cookbook/navigation/passing-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/passing-data.md

Description:

Part of the example has the following code:

[code]

Not only it mixes `'` and `"` for no apparent reason, but also there's no need to put it inside a string, since its value is a string already. The `ListTil

[2019-01-16 17:09] eseidelGoogle opened #2222 "FAQ: "Can I build a framework/library with Flutter?""
We have a few different flavors of this question floating around.

1. Can I build a product framework with Flutter.  e.g. https://twitter.com/sekhar_das/status/1085430161770635266 . The answer is likely "not recommended" due to Flutter's 4mb runtime overhead.  It's unlikely that a product would want to bundle the Flutter engine with their framework (although such *should be* possible).  Another do

[2019-01-16 17:19] #1794 closed

[2019-01-16 19:38] #2202 closed

[2019-01-17 14:14] feinstein opened #2228 "'Animations overview': Ticker section needs rewrites"
Page URL: https://flutter.io/docs/development/ui/animations/overview.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/overview.md

Description:

The Ticker section should be rewriten, it's complicated to read, confusing and there are some grammar mistakes, for example, in some places there's an `at` missing.

[2019-01-17 15:43] gitrid opened #2229 "'MacOS install' page issue"
Page URL: https://flutter.io/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description: Example in point number 3 in the section "Update your path" should be updated doesn't include required quotation marks in the example.

So instead of:
export PATH=$PATH:[PATH_TO_FLUTTER_GIT_DIRECTORY]/flutter/bin

it should

[2019-01-17 17:50] chalin opened #2233 "Code excerpts: use new tooling and infra"
We currently have two mechanisms for dealing with code fragments: the old approach (using Jekyll include on individual fragments) and the new (where fragments are excerpt from fully tested apps).

The Get Started codelab and the Building Layouts tutorial use the new mechanism. This issue will be used to track the updates of remaining pages.

- [x] Get Started codelab
- [x] Layouts tutorial
- [x] L

[2019-01-17 23:33] feinstein opened #2237 "Revise 'Animations overview' page for screenshot, typos, other small changes"
Page URL: https://docs.flutter.dev/ui/animations/overview
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/overview.md

Description:

There's a `a` missing

[2019-01-17 23:34] feinstein commented on #2237
Actually that whole section should be revised.

[2019-01-18 02:51] kangwang1988 commented on #2229
File a pr to flutter/website.
@gitrid

[2019-01-18 09:42] dxGuan opened #2238 "'Animations tutorial' page issue"
Page URL: https://flutter.io/docs/development/ui/animations/tutorial.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/tutorial.md

Description:

In section **Refactoring with AnimatedBuilder**

There is a paragraph says:

[code]
which should be:

[code]
cause the code piece(animate5) is not relevant with that topic.

[2019-01-18 16:40] chalin commented on #2229
The quotes aren't necessary, unless you have an unescaped space in your `PATH_TO_FLUTTER_GIT_DIRECTORY`, but it is certainly more inclusive of edge cases like those to add quotes around the entire expression. I'll tackle it, thanks.

[2019-01-18 21:59] LyalinDotCom opened #2240 "'Windows install' page issue"
Page URL: https://flutter.io/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description: When unzipping flutter_windows_v...zip on Windows it is not clear in the instructions that you need to ensure the hidden folders/files (as-in .git folder) needs to be extracted from the zip to avoid the "The Flutter Dir

[2019-01-18 22:02] #2229 closed

[2019-01-18 22:09] jotisa opened #2241 "'Windows install': add example of Path change"
Page URL: https://flutter.io/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description:
It reads in the webpage:
"If the entry does exist, append the full path to flutter\bin using ; as a separator from existing values."
While this is acceptable in other OS's and some might make a sense of it for introduct

[2019-01-18 22:27] chalin opened #2242 "Fix code-block spacing"
Spacing after blocks should default to the same spacing as paragraphs. Currently, there is 0 spacing at the bottom, e.g.:

[2019-01-18 22:58] chalin commented on #2240
Hi. I wasn't aware that you could unzip a package without getting hidden files. Are you sure that it isn't because you copied the folder?

[2019-01-18 23:08] #2242 closed

[2019-01-19 13:01] getex001 opened #2246 "'Install' page issue"
Page URL: https://flutter.io/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Description:

[2019-01-19 13:19] kangwang1988 commented on #2246
@getex001  Please give more details about this issue.

[2019-01-19 15:35] chalin commented on #2246
Thanks for the followup @kangwang1988. Usually though, in these cases, I just share the following:  _Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue._ Sadly, most times, folks don't followup; so I assume that the issue was created by mistake.

[2019-01-19 15:35] #2246 closed

[2019-01-21 12:31] Narailton opened #2248 "'Cookbook' page issue"
Page URL: https://flutter.io/docs/cookbook/
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/index.md

Description:

[2019-01-21 12:32] #2248 closed

[2019-01-23 15:26] chalin opened #2253 "Ensure install pages are mobile friendly"
Currently the page content overflows because of a link w/o word-breaks:

<img width="432" alt="screen shot 2019-01-23 at 10 25 23" src="https://user-images.githubusercontent.com/4140793/51617002-48e26f80-1ef9-11e9-83d9-58a2dbb56f1c.png">

Related: #1951

[2019-01-23 22:27] #2253 closed, assigned to chalin

[2019-01-23 22:39] chalin opened #2256 "Ensure FAQ is mobile friendly"
There is an overflow in the page width because of a lack of word-breaks:

<img width="432" alt="screen shot 2019-01-23 at 17 37 48" src="https://user-images.githubusercontent.com/4140793/51641957-bc09d700-1f35-11e9-992e-59728515eb1b.png">

Related: #1951

[2019-01-24 00:22] #2256 closed

[2019-01-24 13:35] zoechi opened #2260 "Use a more real-world JSON structure for tutorial"
@troyibm commented on [Thu Apr 12 2018](https://github.com/flutter/flutter/issues/16533)

From URL: https://docs.flutter.dev/data-and-backend/json

1% of JSON is just a flat `key:value` structure, most have objects within the JSON.  While the example is easily understood, it could be more useful if the JSON structure you use for the example has a more structure to it.

Please revamp the tutorial t

[2019-01-24 15:44] zoechi opened #2261 "Firebase for Flutter instruction for google-services version"
@Dhana-Krishnasamy commented on [Thu Jan 24 2019](https://github.com/flutter/flutter/issues/26994)

The page https://codelabs.developers.google.com/codelabs/flutter-firebase/#6 suggests to use version 3.2.1 for com.google.gms:google-services, however with that version I get the below error

[code]

However, the app works with version 4.2.0 ( this version is mentioned [here](https://firebase.google

[2019-01-24 16:23] feinstein opened #2262 "'Hero Animations' page issue"
Page URL: https://flutter.io/docs/development/ui/animations/hero-animations/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/hero-animations/index.md

Description:

Make this page mobile friendly

[2019-01-24 16:25] zoechi opened #2263 "Networking page should include an example of a test"
@jonahwilliams commented on [Wed Apr 04 2018](https://github.com/flutter/flutter/issues/16233)
https://docs.flutter.dev/cookbook/networking/fetch-data includes an example of how to make an `HttpClientRequest` using the `dart:io` package, but doesn't include any example of a test using `HttpOverrides`.  We have some mocks inside of the flutter repo which are really the only examples.

---

@jonahwi

[2019-01-24 16:25] zoechi commented on #2263
Might be a dup of #1846

[2019-01-24 17:09] chalin commented on #2262
Related to #1951

[2019-01-24 19:03] Dhana-Krishnasamy commented on #2261
here you go

[code]

[2019-01-24 19:34] feinstein opened #2265 "'Staggered Animations' page issue"
Page URL: https://flutter.io/docs/development/ui/animations/staggered-animations/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/staggered-animations/index.md

Description:

Make this page mobile - friendly

[2019-01-24 19:34] feinstein commented on #2265
Related to #1951

[2019-01-25 03:41] 934086372 opened #2268 "'Flutter widget index' page issue: there are two Transform widget cards"
Page URL: https://flutter.io/docs/reference/widgets.html
Page source: https://github.com/flutter/website/tree/master/src/docs/reference/widgets.md

Description:  there ara two 'Transform' Widget at the bottom

[2019-01-25 08:20] JoakimLiu opened #2270 "'Flutter widget index' page issue"
Page URL: https://flutter.io/docs/reference/widgets.html
Page source: https://github.com/flutter/website/tree/master/src/docs/reference/widgets.md

Description:
Some images are not displayed in Page URL, like: AbsorbPointer etc.

[2019-01-25 14:33] feinstein opened #2271 "'Internationalizing Flutter Apps' isn't mobile friendly"
Page URL: https://flutter.io/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Description:

Make this page mobile-friendly

Relates to #1951

[2019-01-25 15:36] #2271 closed

[2019-01-25 15:40] chalin commented on #2270
Hi, thanks for filing an issue. What do you mean by "images are not displayed"? If by this you mean that the Flutter logo is displayed instead, then that is expected. Not all entries have their own images. If that isn't what you meant, could you include a screenshot? Thanks.

[2019-01-25 15:50] feinstein opened #2274 "docs.flutter.io mobile issue"
Page URL: https://docs.flutter.io/flutter/widgets/LocalizationsDelegate-class.html

Description:

The docs are not rendering perfectly on a mobile device.

I am not sure if this is the right repo to report it actually

[2019-01-25 15:53] #2268 closed

[2019-01-25 15:59] chalin commented on #2274
Here's a screenshot:
<img width="503" alt="screen shot 2019-01-25 at 10 57 54" src="https://user-images.githubusercontent.com/4140793/51756971-3b132280-2090-11e9-983d-d9fd840acab0.png">
@jcollins-g @filiph @Hixie /cc @sfshaza2 @kwalrath

[2019-01-25 16:01] chalin commented on #2265
Closed by #2266

[2019-01-25 16:01] #2265 closed

[2019-01-25 16:07] chalin commented on #2240
I'm going to assume it was a file/folder copy issue. If it was not, feel free to add a comment here with more information and we'll reopen the issue.

[2019-01-25 16:07] #2240 closed

[2019-01-25 16:08] chalin commented on #2241
I find the existing text clear enough. @sfshaza2 - any opinion about this?

[2019-01-25 16:11] chalin commented on #1861
`Transform` was addressed by #2275.

[2019-01-25 16:35] eseidelGoogle commented on #2183
We get soooo many questions about this.  We had another question from customer: amplify, who wanted to understand why Flutter was adding 20MB to their app.  But there are lots of questions about that which an article could help with?
- What does 20MB mean?  Is it release? Debug?  Is it compressed, uncompressed?  Does that necessarily mean it's sent to users (or do the stores shard the app bundles)

[2019-01-25 16:50] chalin commented on #1861
`ListView ` was fixed by #2175

[2019-01-25 16:50] #1861 closed

[2019-01-25 17:17] jcollins-g commented on #2274
Have you tried https://master-docs-flutter-io.firebaseapp.com/ ?   I fixed several critical mobile-blocking bugs since the last stable release.

[2019-01-25 17:18] #2238 closed

[2019-01-25 17:21] jcollins-g commented on #2274
dartdoc omnibus mobile fix PR: https://github.com/dart-lang/dartdoc/pull/1873
Push to Flutter:  https://github.com/flutter/flutter/pull/26041

[2019-01-25 17:21] feinstein commented on #2274
https://master-docs-flutter-io.firebaseapp.com/ has the same error

[2019-01-25 17:22] chalin commented on #2029
If by "image not shown" you mean that the Flutter logo is displayed instead, then that is expected. Not all entries have their own images. If that isn't what you meant, please add a screenshot. I'm going to close this issue for now, but we'll reopen it once you provide more information. Thanks.

[2019-01-25 17:22] #2029 closed

[2019-01-25 17:22] chalin commented on #2270
I'm going to close this issue for now, but we'll reopen it once you provide more information. Thanks.

[2019-01-25 17:22] #2270 closed

[2019-01-25 17:23] chalin commented on #1491
Hey Shams, can this be closed?

[2019-01-25 17:40] sfshaza2 commented on #2241
As a multi-decade Unix user, I don't have strong opinions on this, though including examples is never a bad idea.  :)

[2019-01-25 17:41] jcollins-g commented on #2274
I was able to reproduce this in simulator and with a real device.

This seems to be some artifact of how dartdoc is doing scrolling.  If you attempt to swipe the entire page to the left in a particular way, the doc page can get stuck there.  Worse, the stickiness seems to be persistent and reloads of the page don't seem to help.

A workaround is to manually swipe the page back to the right, but th

[2019-01-25 17:43] jcollins-g commented on #2274
This issue was moved to dart-lang/dartdoc#1911

[2019-01-25 17:43] #2274 closed

[2019-01-25 17:52] #1627 closed

[2019-01-25 17:55] chalin commented on #2241
I'm trying to find a balance. We don't add examples for all of the steps, and the prose seems quite straightforward in this case.

[2019-01-25 18:00] chalin commented on #1687
The white text box no longer covers the man's face, so I'll assume that we've addressed the final item in this issue.

[2019-01-25 18:00] #1687 closed

[2019-01-25 18:48] xster opened #2278 "Codelab mixes assumptions of context between terminal and IDE"
The codelab goes back and forth between assuming the user is in an IDE and terminal.

For instance, it starts with

```If you don’t see “New Flutter Project” as an option in your IDE, make sure you have the plugins installed for Flutter and Dart.```

and

```Run the app by clicking the green arrow in the IDE.```

but then goes into

![screen shot 2019-01-25 at 10 45 14 am](https://user-images.gith

[2019-01-25 18:50] xster opened #2279 "Reduce doubles to ints"
Since Dart 2.1 supports double-to-ints.

For instance ` final _biggerFont = const TextStyle(fontSize: 18.0);` could be `final _biggerFont = const TextStyle(fontSize: 18);`

etc

[2019-01-25 18:52] feinstein opened #2280 "'Internationalizing Flutter Apps' page issue"
Page URL: https://flutter.io/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Description:

This tutorial should be rewriten from scratch.

It shows some concepts like Locale and Delegates, but it fails to wrap things up, showing how this

[2019-01-25 19:00] chalin commented on #2280
As far as know that page is work-in-progress, but thanks for bring it up. /cc @sfshaza2

[2019-01-25 19:02] chalin commented on #2279
@Hixie @filiph @gspencergoog, any comment about this? /cc @sfshaza2

[2019-01-25 19:08] chalin commented on #2278
While the [Test drive](https://flutter.io/docs/get-started/test-drive) supports Android Studio, VS Code and use of the terminal, I'm not sure I want to do the same thing for any page beyond that, including the codelab.

A simple solution to this issue is to remove the comment, or make it clear that it only applies to folks working from a terminal. I'd be in favor of simply dropping the tip.

@sfsh

[2019-01-25 19:17] chalin commented on #2237
Missing "a" added via #2282.

[2019-01-25 19:18] chalin commented on #2237
@feinstein - any broad comments in terms of what you think needs to be addressed?

[2019-01-25 19:20] xster commented on #2278
There's also a hot restart button in intellij/AS

[2019-01-25 19:34] feinstein commented on #2237
There's an `At` missing in:

[2019-01-25 19:37] feinstein commented on #2237
I also think there should be a mention to `vsync` since it's an important part.

On the other tutorials there are references to `vsync` but nowhere there's an explanation of how it works with the mixins we are supposed to add.

At least the mixins docs do explain how they work, but it would be nice to see it on the tutorials as well.

I also think the animations overview could use an image that ex

[2019-01-25 23:18] #1633 closed

[2019-01-25 23:32] chalin opened #2285 "Links with target="_blank" should also have rel="noopener""

[2019-01-25 23:37] chalin opened #2286 "Entries should be sorted in widget categories and subcategories"
Related: #1895

[2019-01-26 00:57] #1680 closed

[2019-01-26 18:59] tumkit15 opened #2289 "'Install' page issue"
Page URL: https://flutter.io/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Description:

[2019-01-27 17:47] zoechi opened #2290 "CupertinoSliverRefreshControl should be in the cupertino catalog"
@xster commented on [Sat Jan 26 2019](https://github.com/flutter/flutter/issues/27117)

[2019-01-27 19:53] gautamsawala opened #2291 "'Fetch data from the internet' page issue"
Page URL: https://flutter.io/docs/cookbook/networking/fetch-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/fetch-data.md

Description:
There is a problem with the FutureBuilder call. The `future: post` call in below code is not working. It should be `future: fetchPost()`.

[code]

[2019-01-28 03:52] kangwang1988 commented on #2289
Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue.

[2019-01-28 03:52] #2289 closed

[2019-01-28 04:04] chalin commented on #2289
(Thanks @kangwang1988!)

[2019-01-28 07:06] kangwang1988 commented on #2291
It works fine in my side.
I checked the code and don't think this issue is valid.

@gautamsawala
Feel free to comment if you think this is an issue.

[2019-01-28 07:06] #2291 closed

[2019-01-28 16:07] chalin opened #2292 "Autogenerate src/_data/catalog/widgets.json"
Entries in the [Widget catalog](https://flutter.io/docs/development/ui/widgets) and the [Widget index](https://flutter.io/docs/reference/widgets), come from [src/_data/catalog/widgets.json](https://github.com/flutter/website/blob/master/src/_data/catalog/widgets.json).

We've had a few issues open over the widget list because of errors and/or omissions (I fixed a handful last Friday). We know for

[2019-01-28 16:10] sfshaza2 commented on #2292
Yes, this would be good for keeping those pages up to date.

[2019-01-28 18:26] goderbauer opened #2296 "Cookbook should have example about passing arguments to named route"
Once https://github.com/flutter/flutter/pull/27058 lands, we should have an example in https://flutter.io/docs/cookbook#navigation for pushing arguments to a named route.

It should show:
* pushing a route with arguments (https://github.com/flutter/flutter/pull/27058/files#diff-b4db74ec348d48e72da369c2bc858c7bR266)
* retrieving arguments from route settings in `MaterialApp`'s onGenerateRoute (http

[2019-01-28 19:04] chalin commented on #2084
This just came up in our meeting today. cc @RedBrogdon @galeyang @sfshaza2

[2019-01-28 19:05] chalin commented on #2108
The tutorial is now setup so that each step is a full app, so it should be easy to get the screenshots once we have the basic screen capture tooling in place. cc @RedBrogdon

[2019-01-28 19:16] mmcc007 commented on #2084
Check this out:
https://github.com/mmcc007/screenshots/blob/master/lib/capture_screen.dart

It's part of a package the does automated screenshots for upload to stores (Kinda like a combination of fastlanes ScreenShots, ScreenGrab with a little FrameIt thrown in for good measure!)

[2019-01-28 20:07] zoechi opened #2298 "Instructions for debugging Android engine with breakpoints"
@xster commented on [Mon Jul 23 2018](https://github.com/flutter/flutter/issues/19689)

Standard debugging approaches with Xcode and breakpoint work ok for debugging iOS engine. Describe how it can be done in Android Studio with breakpoints for Android engine.

@jason-simmons pointed out some instructions with GDB for now https://github.com/flutter/engine/blob/6bc4e7e9e452b2ca299e699e6bef64c0dada1

[2019-01-28 22:00] sfshaza2 commented on #2290
Related to:  https://github.com/flutter/website/issues/2292

If we autogenerated the catalog, it wouldn't fall out of date.

[2019-01-28 22:01] sfshaza2 commented on #2285
I thought we were doing this now.

[2019-01-28 22:02] sfshaza2 commented on #2280
Did you plan for updates, @HansMuller? (I assume not.  :) )

[2019-01-28 22:04] sfshaza2 commented on #2296
Thanks for the heads up, @goderbauer!

[2019-01-28 22:06] sfshaza2 commented on #2278
It may be that I'm being forgetful, but I'd suggest leaving the tip but removing the text of the warning, or summarizing it (ie. not verbatim).

[2019-01-28 22:08] sfshaza2 commented on #2260
Seems reasonable to at least include a more complex example.

[2019-01-28 22:12] sfshaza2 commented on #2222
I rated this e2 mostly because the required docs aren't clear.

[2019-01-28 22:24] sfshaza2 commented on #2206
Do we have a better solution for this, @Hixie!

[2019-01-28 22:31] sfshaza2 commented on #2147
Closed due to lack of info.

[2019-01-28 22:31] #2147 closed

[2019-01-28 22:33] sfshaza2 commented on #2165
@brianegan, I'm ok with trimming the testing page, and linking to the cookbook where things are consolidated.

[2019-01-28 22:34] sfshaza2 commented on #2169
@brianegan

[2019-01-28 22:36] sfshaza2 commented on #2172
Did you address this in your recent PR, @chalin?

[2019-01-28 22:38] sfshaza2 commented on #2157
Good suggestion. I get that, too.

[2019-01-28 22:39] sfshaza2 commented on #2156
Good idea.

[2019-01-28 22:43] sfshaza2 commented on #2124
@dansunhappy, are you suggesting a rename of the page? Is it so unclear?

[2019-01-28 22:45] sfshaza2 commented on #2153
Yes, this bug shouldn't be filed against the flutter.io repo.

[2019-01-28 22:46] sfshaza2 commented on #2122
Good idea. We could add it to the basic layout page/

[2019-01-28 22:52] sfshaza2 commented on #2153
Moved to:  https://github.com/dart-lang/dartdoc/issues/1912

Closing.

[2019-01-28 22:52] #2153 closed

[2019-01-28 22:52] sfshaza2 commented on #2149
Yes, we should add this info.

[2019-01-28 23:05] HansMuller commented on #2280
@Sfshaza  I don't have any short-term plans for updating the page.

Flutter's support for i18n is open ended because it assumes that apps will use the [Dart intl package](https://pub.dartlang.org/packages/intl) (or their own library) for managing app specific localizations. We haven't provided a tutorial for the Dart intl package although flutter's i18n tutorial includes an example based on i18n a

[2019-01-29 08:35] zoechi commented on #2206
I only know of https://docs.flutter.io/flutter/widgets/precacheImage.html

See also https://github.com/flutter/flutter/issues/16592, https://github.com/flutter/flutter/issues/27227

[2019-01-29 10:47] chalin commented on #2292
Yes, something along those lines (though our tooling could be given enough smarts to be able to figure out which classes are widgets of interest -- along with an opt-out tag for those we want to exclude; such an approach usually reduces the annotation burden).

Btw, we already have a syntax in place, at least one that dartdoc understands and can potentially (pre-)process: the syntax is like that f

[2019-01-29 11:05] brianegan commented on #2296
Definitely, thanks @goderbauer :)

[2019-01-29 11:08] brianegan commented on #2186
Oh dang, sorry I missed this one :/ Looks like I need to update this recipe.

Flutter used to ship the `http` library, but it no longer does so. To fix the problem, please add the `http` dependency to your `pubspec.yaml` and then import the `http` client using the following line:

[code]

[2019-01-29 11:52] chalin commented on #2285
I've noticed some places where it's missing.

[2019-01-29 14:45] fikermaryame opened #2303 "'Sample App Catalog' page issue"
Page URL: https://flutter.io/docs/catalog/samples/
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/index.md

Description:dev/bots/docs.sh

[2019-01-29 15:40] kangwang1988 commented on #2303
Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue.
@fikermaryame

[2019-01-29 15:40] #2303 closed

[2019-01-29 16:37] chalin commented on #2172
No, but it is now fixed by #2305.

[2019-01-29 17:08] #2172 closed

[2019-01-29 21:07] sfshaza2 commented on #2151
I have sent numerous emails to that team to fix. They responded today that it can be fixed after 1/31. (The site is frozen atm.)

[2019-01-29 21:09] sfshaza2 commented on #2133
@brianegan, can you add this to your todo list?

[2019-01-29 21:13] sfshaza2 commented on #2095
Haven't heard back. Closing. (Please re-open when/if you have more info.)

[2019-01-29 21:13] #2095 closed

[2019-01-29 21:18] sfshaza2 commented on #2071
- Do you mean that you can't search docs.flutter.io from flutter.io?
- The search text field is under the hamburger menu on flutter.io. Is this acceptable?

I guess I'd like to close this bug, unless we deem that the search needs to be directly on the mobile front page.

@eseidelGoogle @galeyang

[2019-01-29 21:20] sfshaza2 commented on #2068
@chalin, just checking to see if this is still true.

[2019-01-29 21:21] sfshaza2 commented on #2062
We've since redone the site. Closing.

[2019-01-29 21:21] #2062 closed

[2019-01-29 21:33] sfshaza2 commented on #2079
This is still true, though it's not clear where we would link it. Flutter Gallery is not on the showcase wall (but maybe it used to be). Here's the link on play store:
https://play.google.com/store/apps/details?id=io.flutter.demo.gallery

[2019-01-29 21:37] sfshaza2 commented on #2055
Sorry, but not a priority. Closing.

[2019-01-29 21:37] #2055 closed

[2019-01-29 21:39] sfshaza2 commented on #2013
@brianegan

[2019-01-29 21:42] sfshaza2 commented on #2006
It's still unclear what the solution is for this.

[2019-01-29 21:46] sfshaza2 commented on #2005
We have [this](https://flutter.io/docs/cookbook/design/orientation), but could still use the info in the testing doc.

[2019-01-29 21:47] sfshaza2 commented on #2004
Still true.

[2019-01-29 21:50] sfshaza2 commented on #2002
The website is done. We should check that this cross links are in place.

[2019-01-29 22:36] eseidelGoogle commented on #2071
I'm not sure how I search on docs.flutter.io:

![image](https://user-images.githubusercontent.com/11857803/51945335-4d17fc80-23d3-11e9-89b6-31c479fbe491.png)

[2019-01-29 22:37] eseidelGoogle commented on #2071
I suspect this is a dartdoc bug more than a flutter/website bug?

[2019-01-29 22:48] sfshaza2 commented on #2071
There is a search textfield on docs.flutter.io. It is suboptimal in my opinion, though. It seems to be on every page, so that's a good thing. But it forces code completion and it doesn't even look at the docs for Java and ObjectiveC. Those packages are almost undiscoverable.

<img width="657" alt="screen shot 2019-01-29 at 2 46 41 pm" src="https://user-images.githubusercontent.com/44418985/5194591

[2019-01-29 22:58] sfshaza2 commented on #2071
Oops, oops, oops! You are completely right that it's impossible to search the Flutter API docs from a mobile device. But this bug should be filed against dartdoc. I will open a bug there, and close this one.

[2019-01-29 22:58] #2071 closed

[2019-01-29 23:14] sfshaza2 commented on #2071
Opened a bug against dartdoc:
https://github.com/dart-lang/dartdoc/issues/1914

[2019-01-29 23:17] InMatrix commented on #2079
How about the "Expressive Beautiful UIs" section of the landing page? What's a little inconvenient is that we don't have Flutter Gallery on the iOS app store.

![image](https://user-images.githubusercontent.com/348942/51947166-bcdcb600-23d8-11e9-8ba8-6f7e0e4d7022.png)

[2019-01-30 00:30] sfshaza2 commented on #2009
We have some docs in process, @joeythomaschaske, that should help with this.

[2019-01-30 00:37] sfshaza2 commented on #1977
This codelab is out of date. It still uses new, the code should be checked. We should update or retire.

[2019-01-30 00:40] sfshaza2 commented on #1981
Sorry, not a priority. Closing.

[2019-01-30 00:40] #1981 closed

[2019-01-30 00:43] sfshaza2 commented on #1963
I think this covers the issue for now. Closing.

[2019-01-30 00:43] #1963 closed

[2019-01-30 00:44] sfshaza2 commented on #1985
We have started a doc internally, but this has some great ideas.

[2019-01-30 00:46] sfshaza2 commented on #1960
Yes, we have some docs for this in-progress. Stay tuned!

[2019-01-30 00:49] sfshaza2 commented on #1954
We should possibly link to [sign up](https://stackoverflow.com/users/signup) and Learn More can continue to link to the Flutter Q&As.

[2019-01-30 00:55] sfshaza2 commented on #1947
I don't see an extra return statement. This must have been fixed. Closing.

[2019-01-30 00:55] #1947 closed

[2019-01-30 00:56] sfshaza2 commented on #1950
I like this idea, though I'm not sure @chalin has time for this before he leaves.

[2019-01-30 00:57] sfshaza2 commented on #1945
Excellent idea.

[2019-01-30 00:59] sfshaza2 commented on #1965
I'm not sure where we would put this. Maybe in the faq?

[2019-01-30 01:00] sfshaza2 commented on #1984
There's some good info here.

[2019-01-30 01:02] sfshaza2 commented on #1725
Closing.

[2019-01-30 01:02] #1725 closed

[2019-01-30 01:03] sfshaza2 commented on #1720
Is this a dupe?

[2019-01-30 01:05] sfshaza2 commented on #1716
Still true. This might require some design work.

[2019-01-30 01:08] sfshaza2 commented on #1712
Still true, even on a Mac (w/ Chrome).

[2019-01-30 01:15] sfshaza2 commented on #1665
Is this still an issue, @xster? The home page says: "Reflectly. An award winning mindfulness app built with Flutter." And it has links to both the iOS and Android downloads. Seems pretty clear.

The showcase page seems equally clear. This bug was filed before Flutter Live, so I'm not sure it's still valid.

[2019-01-30 01:17] sfshaza2 commented on #1628
Still not there.

[2019-01-30 01:18] sfshaza2 commented on #1911
@chalin, you fixed this, yes?

[2019-01-30 01:32] sfshaza2 commented on #1157
Not any more! Fixed by @chalin.

[2019-01-30 01:32] #1157 closed

[2019-01-30 01:37] sfshaza2 commented on #1188
I think @Twinber is referring to the fact that the numbered lists aren't working properly. When this happens in markdown, I generally drop into HTML.

[2019-01-30 01:38] sfshaza2 commented on #1175
Where are we on this, @chalin?

[2019-01-30 01:42] sfshaza2 commented on #1174
Nice but I don't consider it essential.

[2019-01-30 01:44] sfshaza2 commented on #1202
@gspencergoog, we're going to hold off moving the website to Cirrus until we decide what to do with our websites, as a whole. (All of the Dart websites use Travis.)

[2019-01-30 01:45] sfshaza2 commented on #1206
Assuming this is good. Closing.

[2019-01-30 01:45] #1206 closed

[2019-01-30 01:48] sfshaza2 commented on #1208
I looked and the old samples seem to have been removed, which is fine. Closing.

[2019-01-30 01:48] #1208 closed

[2019-01-30 01:48] sfshaza2 commented on #1213
Are we pretty close to this, @chalin?

[2019-01-30 01:49] sfshaza2 commented on #1491
Yes, closing this.

[2019-01-30 01:49] #1491 closed

[2019-01-30 01:51] sfshaza2 commented on #1477
I'm not sure this is a problem. Closing.

[2019-01-30 01:51] #1477 closed

[2019-01-30 02:27] breakdeath opened #2311 "'Sample App Catalog' page issue"
Page URL: https://flutter.io/docs/catalog/samples/
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/index.md

Description:

[2019-01-30 03:29] korkis opened #2312 "'Background processes' page is too hard to understand."
Page URL: https://flutter.io/docs/development/packages-and-plugins/background-processes.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/background-processes.md

Description:
This example is too complicated. I have no even door in my home.
Isn't there any simple example I can understand?

[2019-01-30 04:15] xster commented on #1665
LG now

[2019-01-30 04:15] #1665 closed

[2019-01-30 08:07] zoechi commented on #2005
Orientation in testing is entirely different. See for example the last 2 links in the initial comment.
There is no easy to find way how to specify screen dimension/orientation for tests.

[2019-01-30 11:06] juliankim opened #2313 "Code snippets are impossible to read due to 10 letter visible column on mobile"
S9, Android 8, Firefox.

It's nearly impossible to read code snippets on mobile as you can't fully expand, zoom in/out on code snippets.

The most code snippets on the doc are wasting the half, sometimes even 2/3 of screen width with excessive white spaces.

Make sure you get rid of excessive margin, paddings on mobile. Better yet, try to keep things in new lines in block structure manner for each

[2019-01-30 15:11] brianegan commented on #2133
@Sfshaza Happy to!

@mit-mit To help guide this, I'd love some advice! Overall, I'm trying to answer the question: What would the title of this recipe be to focus it down on the problems someone might be solving?

Depending on the needs of the developer / app, I could see the solutions going a few ways:

  1. "Displaying Widgets based on asynchronous data"
  2. "Navigating to a new screen after su

[2019-01-30 15:20] #2311 closed

[2019-01-30 15:23] chalin commented on #1213
My guesstimate is that we're about 65% there. I work on this, time permitting, whenever I edit a page that has a local images folder.

[2019-01-30 15:25] chalin commented on #1174
Right, it isn't essential, but it is very useful when "debugging" site deploys (which has happened more than once for www in particular). That said, p3 is a good priority level.

[2019-01-30 15:31] brianegan commented on #2013
Thanks, I'll patch it up!

[2019-01-30 15:33] chalin commented on #1911
All [layout tutorial steps have corresponding (complete) apps](https://github.com/flutter/website/tree/master/examples/layout/lakes) that are tested on every commit (and every 24hrs by a cron job), so I think that we're good ;).

[2019-01-30 15:33] #1911 closed

[2019-01-30 15:36] chalin commented on #1712
Yeah, but it'll be tricky to fix unless we completely change the way we handle navigating to -- and the associated scroll adjustment of -- in-page anchors. Maybe @fertolg might have some insights.

[2019-01-30 15:36] chalin commented on #1712
(I'd say this is a p3)

[2019-01-30 15:47] chalin commented on #1716
Should be relatively easy to do. The main "challenge" is coming up with a pretty image to accompany the entry. How about of of these screenshots (of course, I can remove the border):

<img width="1108" alt="screen shot 2019-01-30 at 10 43 59" src="https://user-images.githubusercontent.com/4140793/51993140-41344500-247c-11e9-9ceb-f0d32d084063.png">

<img width="1108" alt="screen shot 2019-01-30 at

[2019-01-30 15:49] chalin commented on #1965
How about under "Testing & Optimization"?

[2019-01-30 15:53] chalin commented on #1954
There is this flutter-dev thread that is related: https://groups.google.com/d/msg/flutter-dev/wop8OSq7pVU/ez7W8mAHBAAJ. It ends with:

[2019-01-30 15:53] sfshaza2 commented on #1965
If we have enough for a whole page, yes. I'm not sure that we do.

[2019-01-30 15:54] sfshaza2 commented on #1716
I'm OK with that, theoretically, though I'm not sure we should show real people's names.

[2019-01-30 15:59] chalin commented on #1716
Actually, it might be nicer to put something nicer together using the Google logo and just a screenshot of the list on a phone.

Anyhow, I would say this is a p2. WDYT?

[2019-01-30 16:04] sfshaza2 commented on #1716
SGTM

[2019-01-30 16:08] chalin commented on #2068
The codelab has been reworked since last July. If you still have this issue with the updated codelab, let us know.

[2019-01-30 16:08] #2068 closed

[2019-01-30 16:09] sfshaza2 commented on #2079
Yes, linking to the new page would be nice.

[2019-01-30 17:22] InMatrix commented on #1716
How about showing the landing page of Google Groups?

![image](https://user-images.githubusercontent.com/348942/51999847-8bafc480-2470-11e9-998a-f9533387f8d4.png)

[2019-01-30 17:47] sfshaza2 commented on #1716
I like it!

[2019-01-30 17:47] neiljaywarner opened #2315 "'Report errors to a service' page issue"
Page URL: https://flutter.io/docs/cookbook/maintenance/error-reporting.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/maintenance/error-reporting.md

Description:
This page leaves you with a confused feeling if you've never used Sentry - its popularity relative to Crashhlytics is probably very low

[2019-01-30 18:12] chalin commented on #2233
Done with all the Development > UI > Layout pages.

[2019-01-30 18:12] sfshaza2 commented on #2312
This would be a good candidate for the website.

[2019-01-30 18:20] sfshaza2 commented on #2315
@brianegan

[2019-01-30 18:21] sfshaza2 commented on #2313
@chalin, thoughts?

[2019-01-30 18:24] mjohnsullivan commented on #2046
Looking that page, it appears GridView and Transform now only have a single card.

[2019-01-30 18:33] mjohnsullivan commented on #2051
Link before the widget tree now correctly points to animate4

[2019-01-30 18:33] #2051 closed

[2019-01-30 18:36] chalin commented on #2313
We're almost in the same situation for our other Dart sites. (I'll comment a bit more later.)

[2019-01-30 18:49] sfshaza2 commented on #1456
I'm OK with how this works. I'm closing. Re-open if it's still an issue, @galeyang

[2019-01-30 18:49] #1456 closed

[2019-01-30 18:59] sfshaza2 commented on #1745
We no longer use that carousel and we avoid screenshots on the showcase page. Closing. Please reopen (and clarify) if it's still an issue.

[2019-01-30 18:59] #1745 closed

[2019-01-30 18:59] sfshaza2 commented on #1403
@galeyang, can you give an example of what you mean?

[2019-01-30 19:01] sfshaza2 commented on #1542
We no longer support these examples. They are still on the site. but nothing links to them. Closing.

[2019-01-30 19:01] #1542 closed

[2019-01-30 19:15] filiph commented on #1954
I just reached out to Simon (founder of the Slack community) on Twitter. If we can get a nicer link destination, let's keep the link.

[2019-01-30 19:23] slightfoot commented on #1954
Hi everyone, We are setting up an invite page. I'll update this conversation and PR the updated link soon.

[2019-01-30 22:36] chalin opened #2319 "Animated­Widget example: prose doesn't match code"
In https://flutter.io/docs/development/ui/animations/tutorial#animation-examples, the prose mentions:

That may have been the case at some point, but it isn't anymore. `LogoApp` still extends `StatefulWidget`. Instead a new class, `AnimatedLogo` is created that extends `AnimatedWidget`.

cc @sfshaza2 @filiph

[2019-01-31 00:46] InMatrix commented on #2313
@juliankim Could you tell us how often and under what circumstances do you use Flutter's documentation from a mobile phone? We're under the impression that developers use our documentation mostly from a desktop browser. We might be overlooking something here.

[2019-01-31 01:12] galeyang commented on #2008
https://github.com/flutter/website/issues/1628 (bug-reports page) seems be relevant.

[2019-01-31 01:15] galeyang commented on #1456
Okay. I can come back to it later if users have problems with the clickable region.

[2019-01-31 02:13] romanmirov opened #2321 "'MacOS install' page issue: this missing detail would've helped me"
Page URL: https://flutter.io/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description: Hi! Just some feedback. I had some trouble figuring out this error I got after following every instruction of this page up to step 4 of the section "Set Up the iOS Simulator." Basically, you guys should include how to prope

[2019-01-31 03:21] anolivetree opened #2322 "Android dev's ListView sample throws exception"
https://flutter.io/docs/get-started/flutter-for/android-devs

The first sample code of 'How do I update ListView’s dynamically?' throws exception.

[code]

Replacing List widgets = []; with List&lt;Widget&gt; widgets = []; fixed the problem on my PC.

[2019-01-31 04:04] juliankim commented on #2313
@InMatrix it's not just about how often people use it on mobile in my opinion. It's about having a completed, fully functional website, not "half-responsive" website.

[2019-01-31 15:33] brianegan commented on #2315
Thanks, @neiljaywarner -- it's a fair point! The reason I didn't use crashlytics: At the time, the Flutter team had only provided the Sentry plugin and no Crashlytics plugins existed.

It looks like there are now a couple of different plugins available on Pub that support crashlytics, but it's funny, I've continued to use sentry myself b/c it was working well for me and haven't evaluated them clos

[2019-01-31 16:50] chalin commented on #2322
Could be fixed in the context of #2233.

[2019-01-31 17:03] #2319 closed

[2019-01-31 17:11] championswimmer commented on #2004
This is best addressed with documentation head on. We do not want truckloads of users knee deep into Flutter codebase, realising after almost shipping their app that they have no idea about the lifecycle of Android activities.

[2019-01-31 17:22] chalin commented on #2279
@sfshaza2 @filiph et all: note that

1. I've applied this change to all example apps under the `examples` folder.
1. We **can't just do a global search-and-replace** for code snippets that are unchecked (those with `<-- skip -->` before them). There are situations where type inference is at play and using `int` arguments might require adding a `<double>` type argument.

Here is a concrete example

[2019-01-31 18:39] mjohnsullivan commented on #2286
Merging this bug with #1895

[2019-01-31 18:40] mjohnsullivan commented on #1895
Entries should be sorted in widget categories and subcategories

[2019-01-31 18:40] mjohnsullivan commented on #2286
Reopening as #1895 is closed

[2019-01-31 18:54] mjohnsullivan commented on #2322
Fix added in https://github.com/flutter/website/pull/2324

[2019-01-31 20:32] #1945 closed

[2019-01-31 21:07] mjohnsullivan commented on #2285
Added rel="noopener" where missing

[2019-01-31 21:37] mjohnsullivan commented on #2207
Updated to reflect what I normally get on my dev laptop

[2019-01-31 21:38] mjohnsullivan commented on #2207
PR fix: https://github.com/flutter/website/pull/2329

[2019-01-31 21:54] #2144 closed

[2019-01-31 22:21] #2207 closed

[2019-01-31 22:21] #2285 closed

[2019-01-31 22:22] #2322 closed

[2019-01-31 22:22] mjohnsullivan commented on #2165
Changes in https://github.com/flutter/website/pull/2330

[2019-01-31 22:34] neiljaywarner opened #2331 "'Flutter for Android developers' page issue"
Page URL: https://flutter.io/docs/get-started/flutter-for/android-devs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/flutter-for/android-devs.md

Description:
It would be great if we had how to do layout_gravity and gravity on the FAQ ,or even a recipe converting a moderately complex layout from Android to Flutter

[2019-02-01 03:37] pouledodue opened #2333 "'Developing packages"
Page URL: https://flutter.io/docs/development/packages-and-plugins/developing-packages.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/developing-packages.md

The vast majority of people developing packages who include an `example/` include a Material example.
Every day I find myself asking them in github issues "Do you have a Cupertino ex

[2019-02-01 17:04] sfshaza2 commented on #2321
Fixed in PR https://github.com/flutter/website/pull/2328

Closing

[2019-02-01 17:04] #2321 closed

[2019-02-03 15:52] csloz opened #2337 "'Using Flutter in China' page issue"
Page URL: https://flutter.io/community/china.html
Page source: https://github.com/flutter/website/tree/master/src/community/china.md

"The Flutter community has made a Mandarin version" ->
"The Flutter community has made a Simplified Chinese version"

Mandarin refers to the spoken language.  If you refer to writing, then the written language has 2 forms - Simplified Chinese, and Traditional Chines

[2019-02-04 05:48] neiljaywarner opened #2340 "'MacOS install' page issue"
Page URL: https://flutter.io/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description:
run on device didn't 'just work' on iPhone 6 anyway. no trust popup..

In addition, i had to use product-device to get the right window to register the device, which i would guess is not device-specific.

if new to xcode/iO

[2019-02-04 06:10] ened commented on #2313
@InMatrix To answer your question, I often check Flutter docs before heading to bed, or while commuting. RSS feeds often link to interesting articles, which follow up with links to the documentation site.

While a mobile site hardly is enough to go to extreme detail (like, reading the source for some standard widgets), I'm thankful for **any** website that provides _dense content_ in such context.

[2019-02-04 06:48] rnitta opened #2341 "Website Localization in Japanese"
There are very few informations about Flutter in Japanese,
so I'm thinking about forking and unofficially translating this repository into Japanese.
However I don't know if it is legitimate/acceptable.
And I think the best is that flutter officially make a project to translate docs.

Now, the questions are
- Is there any plans to officially localize docs?
- As grass-roots, can I translate the fork

[2019-02-04 17:44] sfshaza2 commented on #2337
Thanks for that info, @csloz!

[2019-02-04 19:06] VLEIX opened #2342 "'Mock dependencies using Mockito' page issue"
Page URL: https://flutter.io/docs/cookbook/testing/unit/mocking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/mocking.md

Description:
https://flutter.io/docs/cookbook/testing/unit/mocking#5-run-the-tests
The correct command is `flutter test test/fetch_post_test.dart`

[2019-02-06 14:27] rudykaka41 opened #2350 "'Install' page issue"
Page URL: https://flutter.io/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Description:

[2019-02-06 18:15] filiph commented on #1960
Slightly improved by https://github.com/flutter/website/pull/2332.

New pages start here: https://flutter.io/docs/development/data-and-backend/state-mgmt/intro

I would love your opinion on this, @nklayman. If you find that the current doc is still lacking (and it probably is), please don't hesitate to file a new bug with concrete suggestions.

[2019-02-06 18:15] #1960 closed

[2019-02-06 18:17] filiph commented on #2012
Docs have been slightly improved by https://github.com/flutter/website/pull/2332.

New pages start here: https://flutter.io/docs/development/data-and-backend/state-mgmt/intro

I would love your opinion on this. If you find that the current doc is still lacking (and it probably is), please don't hesitate to file a new bug with concrete suggestions. (And cc me.)

[2019-02-06 18:17] #2012 closed

[2019-02-07 07:29] kangwang1988 commented on #2340
@neiljaywarner
Please provide more informations including screenshots in your side so that we can diagnose what's happening.

[2019-02-07 07:52] kangwang1988 commented on #2341
@rnitta

You can have a look at flutter's roadmap: https://github.com/flutter/flutter/wiki/Roadmap

Of course you can, we will appreciate your contributions to the community a lot.

[2019-02-07 07:52] #2341 closed

[2019-02-07 10:01] kangwang1988 commented on #2350
Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue.

[2019-02-07 10:01] #2350 closed

[2019-02-07 14:37] kangwang1988 commented on #2342
cc @chalin

[2019-02-10 15:42] hkelidari opened #2366 "'Layout tutorial' page issue"
Page URL: https://flutter.io/docs/development/ui/layout/tutorial.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/tutorial.md

Description:
in box What you’ll learn, "How to **lay out** widgets" is wrong, correct is "How to **layout** widgets"

[2019-02-10 15:45] #2366 closed

[2019-02-11 01:30] felangel commented on #2012
@filiph just curious what your thoughts are on
https://github.com/felangel/bloc?

Docs: https://felangel.github.io/bloc

[2019-02-11 11:59] zoechi opened #2367 "Typo in Survey"
Survey from
![image](https://user-images.githubusercontent.com/405837/52561824-cca6c200-2dfc-11e9-953d-ae11de332c52.png)

https://google.qualtrics.com/jfe/form/SV_bfowrKmM2DjD5tj?Source=Website
(2nd page)

![image](https://user-images.githubusercontent.com/405837/52561793-b26ce400-2dfc-11e9-9395-a0a2fe260d89.png)

`Disgree` instead of `Disagree`

[2019-02-11 18:36] filiph commented on #2012
Hi @felangel, this looks really good!

My plan next is to invite package owners like you to contribute to the [/options page](https://flutter.io/docs/development/data-and-backend/state-mgmt/options). That way your work and the work of others is more visible. I do need to make sure the contributions don't get out of hand, though, so stay tuned for updates.

[2019-02-11 22:25] #2013 closed

[2019-02-11 22:27] #2342 closed

[2019-02-12 05:05] giorodri0584 opened #2370 "'Parsing JSON in the background' page issue"
Page URL: https://flutter.io/docs/cookbook/networking/background-parsing.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/background-parsing.md

Description:  final parsed = json.decode(responseBody).cast<Map<String, dynamic>>();
this line of code is giving an exception.
NoSuchMethodError: Class '_InternalLinkedHashMap<String, dynamic>' has no instance

[2019-02-12 09:56] osmalia opened #2372 "'Set up an editor' page issue"
Page URL: https://flutter.io/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Description:

[2019-02-12 10:02] kangwang1988 commented on #2372
Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue.

[2019-02-12 10:02] #2372 closed

[2019-02-12 16:04] gspencergoog opened #2373 "Broken link to internationalization example."
Reported on flutter-dev by Grzegorz Antoniak:

Just want to report a broken link in the documentation (it leads to GitHub's error 404).

URL: https://flutter.io/docs/development/accessibility-and-localization/internationalization

Section "Defining a class for the app’s localized resources",

Paragraph "Complete source code for this example app.",

Broken link: https://github.com/flutter/flutter/t

[2019-02-12 21:01] devoncarew opened #2374 "document the widget reload indicators"
We shipped the widget reload indicators (both the in-editor ones, and the UI showing the table of rebuilt widgets). We should update the IntelliJ (and performance) docs to mention these.

@jacob314 @sfshaza2

Here's an example of the feature: https://github.com/flutter/flutter-intellij/pull/2855#issuecomment-440473380

[2019-02-12 22:37] sfshaza2 commented on #2367
@jayoung-lee, this reports a typo in your survey.

[2019-02-12 22:50] sfshaza2 commented on #2373
Fixed in PR https://github.com/flutter/website/pull/2371

[2019-02-12 22:50] #2373 closed

[2019-02-12 23:09] jayoung-lee commented on #2367
@Sfshaza OMG thanks! It's fixed now.

[2019-02-13 06:08] SV27 opened #2377 "Document the Minimum Android support version"
Hi.. I tried to find the minimum Android  platform version supported by Flutter and did not find any reference. It would be helpful, if we have those information in Flutter documentation.

[2019-02-13 08:59] LinXiaoTao opened #2378 "'Layouts in Flutter' page issue"
Page URL: https://flutter.io/docs/development/ui/layout/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/index.md

Description:
<img width="637" alt="qq20190213-165853 2x" src="https://user-images.githubusercontent.com/19836925/52699454-b8a3c180-2fb0-11e9-80bd-df3ef5a2fb56.png">

[2019-02-13 15:03] Taym95 commented on #1954
I would like to join!

[2019-02-13 18:02] brianegan commented on #2370
Hey there @giorodri0584 -- could you please provide your Flutter version? I've just verified this example works on the `stable` branch and was not able to reproduce the error.

[2019-02-13 22:18] pujitm opened #7782 "No check in place for if all pubspec deps are compatible with AndroidX before migrating"
There appear to be two missing resources in `values.xml` from the release output from `cloud_firestore`.

## Steps to Reproduce

1. migrate project to AndroidX using Android studio
2. add `cloud_firestore`  and `shared_preferences` as flutter dependencies
3. run `flutter build apk`

Expected output:
[code]

## Flutter Doctor

[code]
I'd be happy to add my `pubspec.yaml` if that'd help.

[2019-02-14 02:50] abilkhaiyr opened #2381 "'Windows install' page issue"
Page URL: https://flutter.io/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description:
Hi! There is a bug in Get the Flutter SDK section. The button under "1. Download the following installation bundle to get the latest stable release of the Flutter SDK:" keeps saying "failed" after "loading"
![image](htt

[2019-02-14 02:53] kangwang1988 commented on #2381
Probably a network issue.

[2019-02-14 03:05] abilkhaiyr commented on #2381
Thanks! Was able to clone it from github

[2019-02-14 03:30] #2381 closed

[2019-02-14 06:59] #2367 closed

[2019-02-14 07:30] sfshaza2 commented on #2340
No response from @neiljaywarner, so I am closing. Re-open if you have more info.

[2019-02-14 07:30] #2340 closed

[2019-02-14 16:15] sjmcdowall opened #2382 "'Continuous Delivery using fastlane with Flutter' page issue"
Page URL: https://flutter.io/docs/deployment/fastlane-cd.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/fastlane-cd.md

Description:

I think it's important to specify how to use / set the version # / build # in the documentation.  From within a Fastfile I can't figure out how to get the version#.  The build # I am setting myself but the version #?

Also -- I

[2019-02-15 07:29] zoechi opened #2383 "Widgets lack preview images on widget catalog"
@whhone commented on [Thu Feb 14 2019](https://github.com/flutter/flutter/issues/27951)

## Steps to Reproduce

1. Go to [Widget Catalog](https://flutter.io/docs/development/ui/widgets)
2. Choose a group. e.g., [Input](https://flutter.io/docs/development/ui/widgets/input)

Expected: See the preview image of the widgets.
Actual: Many preview images are missing.

---

@keertip commented on [Thu Feb

[2019-02-15 13:36] #2178 closed

[2019-02-15 20:55] sfshaza2 commented on #2370
@brianegan

[2019-02-15 21:20] sfshaza2 commented on #2378
@LinXiaoTao, can you explain the problem?  Thx

[2019-02-15 21:21] sfshaza2 commented on #2382
@xster, can you comment?

[2019-02-15 21:23] sfshaza2 commented on #2383
This is a great idea and we haven't really had the bandwidth. @gspencergoog also has a solution used in the API docs. We haven't investigated that.

[2019-02-15 21:23] sfshaza2 commented on #2377
Good idea, @SV27. @Hixie, any idea where we can find this info?

[2019-02-15 21:40] gspencergoog commented on #2383
Well, it's a solution in the sense that I added a library that makes it doable to capture the images automatically, but we don't capture preview images automatically for the widgets in the API docs either, because nobody's had the bandwidth to write the code that uses the library to do that.

Ideally, I'd like to have a way to link to the preview image for a widget in the API docs as well. We just

[2019-02-15 21:52] Hixie commented on #2377
https://flutter.io/docs/resources/faq#what-devices-and-os-versions-does-flutter-run-on

[2019-02-15 22:00] sfshaza2 commented on #2377
D'OH. @SV27, the info you need is at that link.

[2019-02-15 22:00] #2377 closed

[2019-02-15 22:02] sfshaza2 commented on #2383
Thanks for that clarification, @gspencergoog. I was hoping this might be a project for my summer intern, but alas, it won't be. It's a bandwidth issue and might be something I can request of our new tech writer who starts in March.

[2019-02-16 00:24] kwalrath opened #2391 "Fix references to the flutter logo"
This past week, the top 404 was for `/images/flutter-mark-square-100.png`, which led me down a rabbit hole of logos. The summary:

* Someone should update the Flutter logo+text image on Wikipedia to be a new one.
* We should redirect /images/flutter-mark-square-100.png to a good logo-only file, presumably PNG and 100x100 pixels and with a transparent background. Or we could add back the file.

  *

[2019-02-16 01:40] LinXiaoTao commented on #2378
@sfshaza2 Markdown syntax rendering error.
see **App Source**

[2019-02-16 03:48] xster commented on #2337
Looks like this issue can be closed?

[2019-02-16 03:49] xster opened #2393 "The splash screen instructions need updating for add2app scenarios"
https://flutter.io/docs/development/ui/assets-and-images#updating-the-launch-screen

cc @dnfield

[2019-02-16 04:05] SV27 commented on #2377
Thanks @sfshaza2 @Hixie

[2019-02-16 12:33] sjmcdowall commented on #2382
BTW -- my method of getting the version # is quite a hack .. but it does work. I put this in my Fastfile:

[code]

So I have #{version_number} (and only the version # part} from a pubspec.yaml that has:

[code]

So it grabs the 4.1.6 since the +1 is a place holder and gets swapped in later (for us, but # of commits).

Still, there should be docs on how to do that -- or maybe even a better way? May

[2019-02-16 23:25] timsneath opened #2394 "'Preparing an Android App for Release' page issue"
Page URL: https://flutter.io/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description of issue:
https://flutter.io/docs/deployment/android#review-the-app-manifest talks about removing the INTERNET permission from `AndroidManifest.xml` if you don't need it. This permission has moved (the rationale isn't clear to me), as per

[2019-02-18 06:17] javaddict opened #2395 "'Introduction to widgets' page issue"
Page URL: https://flutter.io/docs/development/ui/widgets-intro.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets-intro.md

Description:
The 'Material' widget returned by 'MyScaffold' in the example of section "Basic widgets" should be wrapped by 'SafeArea'. Or the reader will find it weird when running on either Android or iOS.

[2019-02-18 17:01] linhengu opened #2396 "'Preparing an iOS App for Release' page issue"
Page URL: https://flutter.io/docs/deployment/ios.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/ios.md

Reporting a TYPO? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-02-19 09:28] zoechi opened #2397 "[Suggestion about the site] Copy button in code snippets"
@jdamacena commented on [Tue Mar 27 2018](https://github.com/flutter/flutter/issues/15978)

I would like to have a Copy button close to code snippets on the site, like we've seen in several site out there, it's great to copy easily, especialy those great Complete Examples.

---

@Sfshaza commented on [Wed Jul 11 2018](https://github.com/flutter/flutter/issues/15978#issuecomment-404057885)

@InMatr

[2019-02-19 09:28] zoechi commented on #2397
Looks done, but I copied it here anyway to let you decide and close.

[2019-02-19 11:09] brianegan commented on #2370
Hey @giorodri0584 -- did you happen to have any more information on this one? I'd like to make sure we don't have any errors like this on the cookbook, but I wasn't able to reproduce the problem.

Please let us know!

[2019-02-19 16:43] sgaston321 opened #2399 "'List of state management approaches' page issue"
Page URL: https://flutter.io/docs/development/data-and-backend/state-mgmt/options.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/options.md

Description of issue:
under BLoC / Rx header, the first link for
State Management using the BLoC pattern in Flutter, by Saowen
links to https://hk.saowen.com/a/fbb6e484de022173fe85248875286060

[2019-02-19 21:59] VLEIX commented on #2160
PR created https://github.com/flutter/website/pull/2401

[2019-02-20 00:31] xster commented on #2382
Does a reference to https://docs.fastlane.tools/actions/increment_version_number/ or to `flutter build --build-name` address what you meant?

Or is your question mainly how to pipe the pubspec.yaml version number into the the various platform projects?

[2019-02-20 01:03] sjmcdowall commented on #2382
@xster --- The increment_version_number is interesting -- but does it actually work with a Flutter project (meaning, to me, that it updates the pubspec.yaml file?).  I think the flutter build --build-name and stuff is well know if one uses that ..

It really is how to get the information INTO a Fastfile to be used in other processes (like git tag, etc). that is Flutter specific (or Flutter compati

[2019-02-20 01:56] AkamineAiko opened #2404 "Dark theme option for the website docs & APIs"
Please add dark theme for the website docs because the white hurts my eyes

[2019-02-21 00:09] dkwingsmt opened #2408 "'Write your first Flutter app, part 1': Improve platform neutrality"
Page URL: https://flutter.io/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
1. Step1 section2
Before:
[code]
After
[code]

2. Step2 section5
Before:
[code]
After:
[code]

Rea

[2019-02-21 02:21] smartherd opened #2412 "A new resource to learn Flutter based on latest Flutter docs"
This [course on youtube](https://www.youtube.com/watch?v=fmPmrJGbb6w&list=PLlxmoA0rQ-Lw6tAs2fGFuXGP13-dWdKsB) provides Flutter learning resource for beginners. The course quality is premium. You can run QA and peer review. The author is Sriyank Siddhartha who creates Android courses for Pluralsight.

If you like it, kindly post it on your [technical videos page](https://flutter.io/docs/resources/v

[2019-02-21 21:02] dkwingsmt opened #2414 "'Write your first Flutter app, part 1 & 2': Consistent snippet guide style"
Page URL: https://flutter.io/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Description of issue:
Most of our snippets include all parent scopes leading to the patch line, for example,
[code]

Although most snippets keep this clear and intuitive format, some snippets don't, for example,
[code]

Although the sentence right

[2019-02-21 22:03] kwalrath opened #2416 "Consider moving to Cirrus CI"
Same issue, Dart side: dart-lang/site-www#1360

[2019-02-21 22:16] shihaohong opened #2418 ""Write your first Flutter app, part 1" - Infinite scroll iterator description is misleading"
URL to codelab section in question: https://flutter.io/docs/get-started/codelab#step-4-create-an-infinite-scrolling-listview
Source: https://github.com/flutter/website/blob/master/src/docs/get-started/codelab.md

This is what the codelab is currently describing the behavior to be in the first bullet point:
[code]

However, the actual behavior is more accurately described as follows:
[code]

[2019-02-21 22:26] shihaohong opened #2419 ""Write your first Flutter app, part 2" - Clarify description of step"
URL of codelab: https://codelabs.developers.google.com/codelabs/first-flutter-app-pt2/#5

Currently, the step describes `Add horizontal dividers, as shown below:`, when it should be `Add tiles with horizontal dividers, as shown below:`

<img width="776" alt="screen shot 2019-02-21 at 2 26 55 pm" src="https://user-images.githubusercontent.com/27032613/53206030-c24aac00-35e4-11e9-8132-420b9bdb3475.p

[2019-02-22 03:04] workerbee22 commented on #1954
All other channels on the Community page of Flutter.io seem to be open to all.

[2019-02-22 03:54] #2378 closed

[2019-02-22 13:07] lf-novelt opened #2425 "'Set up an editor' hyperlink issue"
Page URL: https://flutter.io/docs/development/tools/vs-code.html
Page URL: https://flutter.io/docs/development/tools/android-studio.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/android-studio.md
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/vs-code.md

Found a typo? You can fix it yourself by going to the page

[2019-02-22 19:04] sfshaza2 commented on #2374
Fixed in PR https://github.com/flutter/website/pull/2403

[2019-02-22 19:04] #2374 closed

[2019-02-22 21:40] #2425 closed

[2019-02-22 22:08] JiDoc1234 opened #2435 "'Flutter SDK archive' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/archive.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/archive.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-02-22 22:09] JiDoc1234 commented on #2435
three different browsers all show - loading for all platforms, cannot download flutter sdk

[2019-02-22 22:11] JiDoc1234 opened #2436 "'MacOS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

![image](https://user-images.githubusercontent.com/810134/53274348-daa6ed80-36ee-11e

[2019-02-23 03:56] neiljaywarner opened #2437 "'Flutter's build modes' page issue"
Page URL: https://flutter.dev/docs/testing/build-modes.html
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/build-modes.md

Description of issue:
It says release mode corresponds to the Android Studio bug icon, and debug mode corresponds to the regular icon. That can't be right...

"The command flutter run --release compiles to release mode. Your IDE also supports thes

[2019-02-23 05:10] KhizarNaeeem0332 opened #2438 "'List of state management approaches' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/state-mgmt/options.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/options.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
In BLoC / Rx
State Management Using BLoC

[2019-02-24 02:30] darrencole opened #2441 "'MacOS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
In the section on deploying to an iOS device, could you please indicate to users that

[2019-02-24 04:53] sfshaza2 commented on #2436
Need to see if we can replicate...

[2019-02-24 04:56] sfshaza2 commented on #2435
Hi, @JiDoc1234! Are you still having problems? I can download it now and I'm wondering if this might have been related to the change yesterday from flutter.io to flutter.dev. Please try again and let me know.

[2019-02-24 04:57] sfshaza2 commented on #2436
I left a comment on the other bug you filed, @JiDoc1234. Is this still happening for you?

[2019-02-24 05:00] sfshaza2 commented on #2396
I don't see an issue reported. Closing.

[2019-02-24 05:00] #2396 closed

[2019-02-24 05:08] sfshaza2 commented on #2394
@Hixie, please weigh in!

[2019-02-24 05:09] sfshaza2 commented on #2397
I believe it is done. Closing.

[2019-02-24 05:09] #2397 closed

[2019-02-24 05:13] sfshaza2 commented on #2333
This is a good idea. But we should also include this info on the pub site.

[2019-02-24 09:01] kw2019ltd opened #2443 "'Persist data with SQLite' page issue"
Page URL: https://flutter.dev/docs/cookbook/persistence/sqlite.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/sqlite.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
there is issue in case using sqlLite to save data, data is getting lost in case g

[2019-02-25 04:08] jonzhou45 commented on #1909
I am having the same issue with this.
The button starts from (loading..) then becomes (failed)

I also open up the Flutter SDK archive and it is still loading forever.

[2019-02-25 04:42] jonzhou45 opened #2444 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
![image](https://user-images.githubusercontent.com/27979427/53314692-b2092a00-388

[2019-02-25 09:03] zoechi opened #2445 "Include context clues from IDE in all Flutter sample code"
@Piinks commented on [Fri Feb 22 2019](https://github.com/flutter/flutter/issues/28364)

Sample code in both api docs and on flutter.dev does not contain the same context clues to identify closing brackets, braces, and parentheses. This can be a bit frustrating when just starting out, especially when trying to debug and compare to a sample snippet.
Illustrated below:

### Sample Code from Flutter

[2019-02-25 14:40] zoechi opened #2446 "Explain how to build Android platform development tree"
@sivang commented on [Sun Aug 12 2018](https://github.com/flutter/flutter/issues/20504)

## Steps to Reproduce

1. Install Android Studio, let it install for you the Android Sdk
2. Install Flutter
3. flutter -v doctor, will find android sdk
4. delete studio
5. delete android sdk (~/Android/Sdk)
6. install SDK using command line, by first downloading the 'tools' archive, then using sdkmanager --ins

[2019-02-25 14:41] zoechi commented on #2446
Move here for

[2019-02-25 16:03] Tom71238 opened #2447 "'JSON and serialization' page issue"
Issue: Clarification as to invoking method of converting object to json string.
The example shows the reader to invoke jsonEncode but earlier text indicates the use of toJson.
It seems that the build runner created a toJson() function (  example in my case is: Map<String, dynamic> toJson() => _$GolfCourseToJson(this);  ) but for the life of me (well for at least 2 days) I can not figure out how to

[2019-02-26 10:22] brianegan commented on #2443
Hey there! The `getDatabasePath` from the `sqflite` library returns the `databases` directory for your Android app. That directory should not be wiped out when upgrading, and the data should still be there.

Since we're using the official method from the library, I wonder if this might be an issue with the `sqflite` library itself, or if some other funny business is going on.

To help out, I've op

[2019-02-26 11:41] alextekartik commented on #2443
Hi @kw2019ltd do you mind following this issue here https://github.com/tekartik/sqflite/issues/166 instead and describe:

* your database location path
* whether the database has the same version/schema/code before and after the update
* whether it was tested using the release version the app (i.e. same application id and signature)
* how I could reproduce the issue

thanks!

[2019-02-26 12:07] brianegan commented on #2443
Thanks so much for the help, @alextekartik! I'll keep this issue open for now and track the progress on the sqflite side. If we find something that will be helpful to document, I'll update the recipe!

[2019-02-26 18:05] DanTup commented on #2023
@chalin ping!

Flutter v1.2 is live now, and includes the change to support ANDRIOD_SDK_ROOT.

[2019-02-26 18:30] kwalrath commented on #2023
Thanks for the ping. @chalin is taking a well-earned break. @sfshaza2 can you handle this?

[2019-02-27 11:46] DanTup commented on #2023
@kwalrath FWIW, this isn't urgent - Flutter supports both variables now. This is just about recommending the new/preferred one (just changing any instance of `ANDROID_HOME` to `ANDROID_SDK_ROOT`).

[2019-02-27 14:16] Tom71238 commented on #2447
cockpit error

[2019-02-27 14:16] #2447 closed

[2019-02-27 16:59] sfshaza2 commented on #2023
Yes, I can take care of this,

[2019-02-27 17:31] gspencergoog commented on #1886
I've added a SHA256 to the metadata for archives with this PR: https://github.com/flutter/flutter/pull/28472

The motivation isn't to identify the version, it is to allow people to be able to verify the download integrity.

[2019-02-28 07:07] zoechi opened #2452 "Add better instructions for migrating to AndroidX"
@gabrc52 commented on [Wed Feb 27 2019](https://github.com/flutter/flutter/issues/28601)

The previous Gradle/Android-specific breaking change had some nice instructions on migrating manually: https://github.com/flutter/flutter/wiki/Upgrading-Flutter-projects-to-Gradle-4.1-and-Android-Studio-Gradle-plugin-3.0.1

I had some trouble migrating manually by following the instructions on the offical And

[2019-03-01 00:42] gabrc52 commented on #2452
Suggested changes: #2454

[2019-03-01 07:51] atsu85 opened #2458 "Incorrect instructions for Android in "Continuous Delivery using fastlane with Flutter""
This is related to #2382, pointing out another issue on that page:

Currently under Fastlane [Local setup](https://flutter.dev/docs/deployment/fastlane-cd#local-setup) there is:

but instead of pubspec.yaml it should point to **applicationId in android/app/build.gradle**, otherwise uploading to play store would fail, as fastlane can't find the application

[2019-03-01 09:38] mkwsra opened #2459 "Can't get Nesting Rows and Columns on 'Layouts in Flutter' page to work"
Page URL: https://docs.flutter.dev/ui/layout
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

When I tried to apply the example everything went as expected until I tried to apply [Nesting rows and

[2019-03-01 17:40] neiljaywarner opened #2460 "'MacOS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Since the move to using flutter.dev (I think) it now does not work on our firewall. can both sites remain intact as mirrors rather than redirecting, or somehow otherwise have this be fixed on flutter's side?

Or can i get something mor

[2019-03-01 17:48] neiljaywarner opened #2461 "Simplify install instructions on `macOS install` page"
Concrete propositions.
1. Move system requirements to the bottom of the screen or to a pop-up - make the blue "get sdk" closer to the top
2. Consider two different audiences - audiences that want hello world to work with no IDE, and audiences that prefer they not use a terminal ever, and make it as easy as possible for those audiences to find what they are looking for - e.g. if you have Intellij a

[2019-03-01 20:20] jeongjoonl opened #2462 "'Navigate to a new screen and back' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/navigation-basics.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/navigation-basics.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The gif image on the bottom of the page seems not right.
May

[2019-03-01 21:51] jeongjoonl opened #2463 "'Navigate with named routes' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/named-routes.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/named-routes.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The gif image on the bottom of the page seems not right.

[2019-03-01 23:57] bradyt commented on #1954
Why not remove the link till it works?

[2019-03-01 23:59] bradyt opened #2465 "Add irc to community page"
There is a #flutter page on freenode. That will be convenient for people communicating from machines with less RAM, etc. Let's add it to the community page?

[2019-03-02 01:10] sfshaza2 commented on #2461
Excellent suggestions.

[2019-03-02 01:11] sfshaza2 commented on #2465
Thanks for letting us know, @bradyt!

[2019-03-02 01:12] sfshaza2 commented on #2463
The gif does seem a bit jerky. Is that what you mean, @jeongjoonl?

@brianegan, can you take a look?

[2019-03-02 01:14] sfshaza2 commented on #2462
Thanks, @jeongjoonl!

@brianegan, can you take a look at this one, too?

[2019-03-02 01:16] sfshaza2 commented on #2458
Can you confirm, @xster?

[2019-03-02 01:18] sfshaza2 commented on #2445
Interesting idea.

[2019-03-02 01:49] filiph commented on #2460
cc @kf6gpe for visibility.

[2019-03-02 17:23] atsu85 commented on #2458
@sfshaza2, @xster, i updated my initial post where instead of

i had

, because even tough applicationId in android/app/build.gradle is often the same as package in AndroidManifest.xml (for example after generating new flutter project), but they don't need to match. And if they don't match, you still need to provide value from applicationId of android/app/build.gradle.

[2019-03-02 22:14] kf6gpe commented on #2460
I’d be curious to know how widespread this problem is, if others could comment. Also, how likely is it that firewalls are just confused by .dev in general? A long term fix would be to modify our publishing so we publish to both sites and take away the forwarding. If this turns out to be a long term problem for folks, I’m certainly open to that, although it kind of defeats the notion of launching t

[2019-03-02 22:22] timsneath commented on #2460
I suspect our script needs to be more resilient to failure; perhaps some kind of timeout, or the script should be server-side? And of course, we always have the [direct links to the SDK archive](https://flutter.dev/docs/development/tools/sdk/archive) -- perhaps they should be described not merely as being 'for other release channels, and older builds'...

In the short term, I'd love to understand

[2019-03-03 17:27] apaatsio opened #8444 "Update `driver.close()` in `tearDownAll` on 'An introduction to integration testing' page"
In the [integration testing docs](https://flutter.dev/docs/cookbook/testing/integration/introduction#5-write-the-tests) the `tearDownAll()` is defined as
[code]

In [examples and tests](https://github.com/flutter/flutter/search?p=3&q=tearDownAll&unscoped_q=tearDownAll), there are at least three other variants to this same code. For example,

https://github.com/flutter/flutter/blob/938dd5a4aa9cdeff

[2019-03-04 00:26] Cretezy commented on #1750
Simply wrapping the images in a `div.col-4` instead of putting `col-4` directly on the images fixes this. Will open PR shortly with a fix!

[2019-03-04 11:56] brianegan commented on #2462
Thanks for the report! I've pushed a PR with a smoother and complete gif.

[2019-03-04 16:17] neiljaywarner commented on #2460
@timsneath I'm not sure how to find out where it is failing (a look at the html source and chrome devtools did not yield anything useful from my perspective.. didn't try charles or anything) but... I am pretty sure This issue will be resolved by the scripts being server side, which would be appreciated - especially if the same script would then affect the code block so that the file to unzip was d

[2019-03-04 16:18] neiljaywarner commented on #2460
@timsneath Perhaps you can  please try to have one of the web devs identify in base.js or similar what server is being utilized and i can ask IT to whitelist it? (I think my boss will approve it promptly)

[2019-03-05 08:23] filleduchaos commented on #1954
I'm a bit curious as to why it's listed in the first place if it's not readily accessible to the community. To be honest all I've ever seen it cause is confusion.

[2019-03-05 12:36] brianegan commented on #2463
Thanks, all! This is also fixed as part of #2467, since both recipes produce the same visual output!

[2019-03-05 13:13] brianegan commented on #2443
Closing this down for now since we haven't heard from the user since the initial report. @kw2019ltd, please feel free to reopen if you discover an issue with the recipe :)

[2019-03-05 13:13] #2443 closed

[2019-03-05 16:24] neiljaywarner opened #2471 "'Flutter for Android developers' - please mention AndroidX"
Page URL: https://flutter.dev/docs/get-started/flutter-for/android-devs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/flutter-for/android-devs.md

Please add an entry about AndroidX

[2019-03-05 17:49] filiph commented on #1954
I agree with the sentiment. Yesterday I got an email from someone asking for invite.

@slightfoot, unless you're very close to a solution, I propose we take down the link, at least temporarily.

[2019-03-05 19:12] #2463 closed

[2019-03-05 19:12] #2462 closed

[2019-03-06 05:08] xster commented on #2458
You're correct. Thanks for pointing out. It should indeed reference AndroidManifest.xml's package name or iOS's Info.plist's bundle identifier.

I'll make the correction

[2019-03-06 05:21] sfshaza2 commented on #2444
Duplicate of https://github.com/flutter/website/issues/2460

Closing

[2019-03-06 05:21] #2444 closed

[2019-03-06 05:22] sfshaza2 commented on #2436
Duplicate of https://github.com/flutter/website/issues/2460

Closing

[2019-03-06 05:22] #2436 closed

[2019-03-06 05:23] sfshaza2 commented on #2460
OK, we *think* we've fixed this. flutter.io is now serving out of the same firebase project as flutter.dev. There are several other bugs filed against this issue, but with less info. I'm closing those out.

Please let us know if you continue to experience this problem!

[2019-03-06 13:17] ScottS2017 commented on #1954
Short version, we weren't clear with Google that it was private so when they did something nice for us by posting the link, we were caught flat-footed. We've been juggling ideas about what to do since, but it's come to a head this week so there's going to be action on this within 72 hours.

Exactly what, I'm not sure. That's this morning's hot discussion of the moment.

[2019-03-06 15:22] neiljaywarner commented on #2460
@sfshaza2 thanks so much for working onthis.
i still get the same "loading..." blue button.

although... firefox and safari both work as expected... even though chrome previously worked properly, for flutter 1.0 and flutter.io ...  Is that weird?

[2019-03-06 17:07] weitieda opened #2477 "'MacOS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

It should be `macOS` instead of `MacOS`

[2019-03-06 17:19] #2458 closed

[2019-03-06 17:33] sfshaza2 commented on #2460
Thanks for checking, @neiljaywarner!

[2019-03-06 18:05] #1954 closed

[2019-03-06 19:23] atsu85 commented on #2458
@xster, looks like you didn't notice my previous comment when [you changed](https://github.com/flutter/website/pull/2474/files) instructions to use `package name in AndroidManifest.xml`, but it should be `applicationId in android/app/build.gradle` instead, as they may be different and that is when it matters.

[2019-03-06 23:14] Piinks opened #2479 "Building a form with validation - Requiring GlobalKey"
In [cookbook/forms/building a form with validation](https://flutter.dev/docs/cookbook/forms/validation),
Step 1 explains the use of the GlobalKey with a Form as required. It caused a bit of confusion when working on samples for API Docs ([see PR for API Docs here](https://github.com/flutter/flutter/pull/28857)), as the validation shown in this example can also be achieved through the use of the `F

[2019-03-06 23:23] Piinks opened #2480 "Image overflow on home page"
Some images seem to be overflowing on the homepage of [flutter.dev](https://flutter.dev/)
It is happening in the "Who's using Flutter?" section. See images from desktop and mobile below.

**Desktop using Chrome:**
<img width="800" alt="desktop image of website error" src="https://user-images.githubusercontent.com/16964204/53920856-5ecc6f80-4023-11e9-9a6f-3415bf3e5672.PNG">

**Mobile using Safari:*

[2019-03-07 19:07] kf6gpe commented on #2460
@neiljaywarner thanks for continuing to look at this with us! Can you try this and grab a snapshot of your JavaScript console? That should be (on Chrome, anyway) the options->More Tools->Developer Tools->Console? We're wondering if there's a JavaScript error that will give us a clue. Thanks!!

cc @filiph too, who's working on this with me.

[2019-03-07 19:26] filiph commented on #2460
JS console log would be super helpful.

FWIW, I think the solution will be somewhere around https://github.com/flutter/website/blob/master/src/_assets/js/archive.js#L7. There's nothing wrong with the function, afaik, but it looks like:

* Other JavaScript works for @neiljaywarner (I assume)
* Only the ajax call fails.
* This wasn't an issue before we moved to the .dev TLD

This points to something

[2019-03-07 19:49] neiljaywarner commented on #2460
@filiph  @kf6gpe  thanks
Well, for further info .. https://storage.googleapis.com/flutter_infra/releases/releases_macos.json *does* work without any problem directly in the browser (as you said, just the ajax).. . .i tried looking at the network requests and saw something useful. can you please point me to instructions on how to view the console log if you have time. thanks

[2019-03-07 22:46] filiph commented on #2460
@neiljaywarner I made this short gif:

![js-console](https://user-images.githubusercontent.com/919717/53994548-72410e80-40e7-11e9-9d20-6a97d1435f81.gif)

It's showing:

1) go to the https://flutter.dev/docs/get-started/install/ page for your platform
2) open the developer tools,
3) make sure you're on the "Console" tab,
4) re-fresh the site.

[2019-03-07 23:10] neiljaywarner commented on #2460
@filiph  that is very kind of you to be so thorough.  The part you show in your gif is exactly the  part I did see, but when i refresh the site there is no output to the console - similar to how your shows nothing in the red circle area in the console at the end of the gif.

[2019-03-07 23:14] neiljaywarner commented on #2460
if it helps for diagnostic purposes, i go to a semi-random dev site https://developer.android.com/guide/topics/permissions/overview and use your procedure in the gif and the console says the below. of course, i'm not suggesting you troubleshoot that site, i'm just giving more info.

thank you.

Access to fetch at 'https://www.gstatic.com/images/icons/material/product/2x/youtube_48dp.png' from orig

[2019-03-07 23:15] filiph commented on #2460
Hmm, that's already helpful information! So, there's no error.

What happens in the Network tab (two tabs right from Console)?

[2019-03-07 23:18] neiljaywarner commented on #2460
nothing useful afaik :(
i checked that first...
![image](https://user-images.githubusercontent.com/3019617/53996177-14b7bc80-40fd-11e9-9eda-9a7b09733484.png)

--
macos	304	document	Other	901 B	9 ms	flutter-lockup-4cb0ee072ab312e59784d9fbf4fb7ad42688a7fdaea1270ccf6bbf4f34b7e03f.svg	200	svg+xml	macos	(from memory cache)	0 ms	xcode-account.png	200	png	macos	(from memory cache)	0 ms	trust-computer.png

[2019-03-07 23:43] filiph commented on #2460
Weird.

Does other JavaScript on the site work? For example, can you open and close carets in the left navigation bar?

Can you make another screenshot of the Network tab, but this time, just before the screenshot, hit Cmd-Shift-R (force reload)? This should make sure that every network request is tried again.

[2019-03-08 01:56] dresserm opened #2482 "Minor mistake in cassowary plugin priority documentation"
Line 14 in the priority.dart file, part of the cassowary plugin, says that the maximum Priority level is 1000000000 but it is actually 1001001000.0.

[2019-03-08 09:53] nikolayandreev opened #3600 "Spotted some problems on the docummentation website"
Awesome work on the framework, amazing amount of information in the docs, but therefore I saw some small issues, that annoys me, first issue is that the flutter.io website on mobile got a vertical scroll on a lot of pages, the homepage is having like 3x more vertical scroll and other pages I encountered specifically in the Docs sections also have vertical scroll, which is bad for UI on mobile, and

[2019-03-08 16:02] neiljaywarner commented on #2460
@filiph the carets also do not open and close; sorry i forgot to point that out.

[2019-03-08 16:17] alvaromashiro opened #2484 "'Dentro de Flutter' page issue"
Page URL: https://flutter-es.io/docs/resources/inside-flutter.html
Page source: https://github.com/flutter/website/tree/master/src_es/docs/resources/inside-flutter.md

Hay un error en el titulo del link en el menu dice _"Dento"_ en lugar de _"Dentro"_

[2019-03-08 17:10] Twinber commented on #2484
Gracias Alvaro, pero estas poniendo el issue en el repositorio de la web en ingles, tomo nota en la nuestra.

[2019-03-08 17:15] alvaromashiro commented on #2484
Disculpa, no sabia como hacerlo. Se puede mover el issue?

[2019-03-08 19:26] mglriosr opened #2485 "Images in home page of Spanish site"
![Screen Shot 2019-03-08 at 2 23 21 PM](https://user-images.githubusercontent.com/25510181/54050818-2d33df80-41ae-11e9-99ea-6d0e45025ad9.png)

[2019-03-08 20:37] Twinber commented on #2484
Ya está resuelto .
Please @sfshaza2 close this issue

[2019-03-08 20:42] Twinber commented on #2485
Esto ya está reportado en #2480
El error es del repo original
Los issues relacionados con el sitio en español por favor en https://github.com/flutter-es/website

[2019-03-09 03:46] KarimMohamed2005 opened #2487 "'Working with Tabs' page issue"
Page URL: https://flutter.dev/docs/cookbook/design/tabs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/tabs.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

## Welcome

### I found issue in this page in TabBar Samples there is some problems in code

[

[2019-03-09 04:33] KarimMohamed2005 commented on #2487
Pull Request Url: https://github.com/flutter/website/pull/2488

[2019-03-09 04:33] #2487 closed

[2019-03-09 06:07] Twinber opened #2489 "please help us to migrate from flutter-es.io to flutter-es.dev"
I would need advice on migration to .dev domain for flutter-es.io, without affecting SEO.
How have you done the redirections, so that each url of the old domain, leads to the corresponding url of the new one?

[2019-03-10 04:47] titandiaz opened #2490 "do not load the images"
![53595283_10157028668923431_4100491168247185408_o](https://user-images.githubusercontent.com/13188000/54080768-affb8e00-42c5-11e9-81b3-5ec7875cef8e.jpg)

[2019-03-11 12:29] Twinber commented on #2490
Thank you.
But please, spanish issues here https://github.com/flutter-es/website.

[2019-03-11 14:05] Twinber commented on #2490
SOLVED -> https://flutter-es.io/docs/development/ui/interactive
Please Close this issue.

[2019-03-11 16:19] brianegan commented on #2479
Hey, thanks for writing in! I'm the author of the cookbook and happy to make the change, but I'm not 100% sure on which method is preferred and which one we should guide users toward.

My quick thoughts: I feel like it's best to focus on the preferred method and provide links to the docs for the alternative method. Overall, I like to keep recipes focused on the task at hand so folks can jump in an

[2019-03-11 16:20] brianegan commented on #2370
Gonna close this one out for now due to inactivity. Please reopen if ya need more help :)

[2019-03-11 16:20] #2370 closed

[2019-03-11 16:21] brianegan commented on #2315
@Sfshaza Any more thoughts from you or the team on this one?

[2019-03-11 16:23] brianegan commented on #1721
Closing due to fix landing. Looks like a bug with the commit message that did not close this automatically.

[2019-03-11 16:23] #1721 closed

[2019-03-11 16:23] brianegan commented on #2160
Fixed!

[2019-03-11 16:23] #2160 closed

[2019-03-11 16:24] #2169 closed

[2019-03-11 16:25] brianegan commented on #2186
Fixed as part of another set of changes, but commit message bug didn't close this out!

[2019-03-11 16:25] #2186 closed

[2019-03-11 20:22] kwalrath commented on #2489
@mit-mit can you tell us what the magic is?

[2019-03-11 20:34] sfshaza2 commented on #2482
@dresserm, do you mean you found a s/w bug here?  https://pub.dartlang.org/packages/cassowary

The relevant person will never see a plugin bug filed on the Flutter website. Can you file a bug here?
https://github.com/google/cassowary.dart/issues

I will close this bug. Thanks!

[2019-03-11 20:34] #2482 closed

[2019-03-11 20:35] sfshaza2 commented on #2490
Thanks, @titandiaz!

[2019-03-11 20:35] #2490 closed

[2019-03-11 20:35] sfshaza2 commented on #2484
Thanks, @Twinber!

[2019-03-11 20:35] #2484 closed

[2019-03-11 20:40] sfshaza2 commented on #2479
@Hixie, it looks like you might own this? Can you advise on whether Form.of or GlobalKeys is preferred?

I agree, @brianegan, that we don't want to confuse our users. Document the preferred method and maybe, if it makes sense, mention the other.

[2019-03-11 20:49] sfshaza2 commented on #2489
@Twinber, let me see if I can find someone to help you.

[2019-03-11 23:30] linczy opened #2499 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

This page shows an app which is not built before or at least the code of the given app i

[2019-03-12 09:50] the4thfloor opened #2502 "Please add Chrome search feture on flutter.dev"
I'm sorry but I don't know to call this feature, I try to describe what I mean ;-)

When I enter `flutter.io` followed by a `<space>` in the address bar of Chrome, it changes to a search field and I can search something on `flutter.io`.

This doesn't happen with `flutter.dev`

[2019-03-12 09:56] dodyg opened #2503 "Broken link"
https://flutter.dev/docs/development/data-and-backend/state-mgmt/options

There's one unrendered markdown tag in this page

[2019-03-12 18:22] kf6gpe commented on #2489
Hi! This repo may help you with forwarding --- we used this for a few days with manual redirect rules in Firebase to redirect to our new URLs.

[old-website-io-redirect](https://github.com/flutter/old-website-io-redirect)

[2019-03-12 18:35] sfshaza2 commented on #2489
@Twinber, @kf6gpe was responsible for redirecting to the new domain. With your request, we've made the redirect repo public. I'm glad you asked!

[2019-03-12 18:51] sfshaza2 commented on #2503
Thanks, @dodyg!  Fixed via https://github.com/flutter/website/pull/2501

Closing

[2019-03-12 18:51] #2503 closed

[2019-03-12 19:06] sfshaza2 commented on #2499
@linczy, when you follow the instructions, it creates the project and the code is in <project>/lib/main.dart. Was that unclear?

[2019-03-12 19:07] sfshaza2 commented on #2502
Good catch, @the4thfloor!

[2019-03-12 19:29] sfshaza2 commented on #2499
Just for the record, the source code is here:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/templates/app/lib/main.dart.tmpl

I am reluctant to link to it because it has some templating instructions that get stripped out of the file and may be confusing to users.

[2019-03-12 19:38] filiph commented on #2489
More generally, you want to HTTP 301 redirect each URL from one site to another. HTTP 301 tells the search engines this is a permanent move. You can also log onto the search engine's console (like [Google Search Console](https://search.google.com/search-console/about)) and follow instructions there.

For specific redirect rules, and more specifically for Firebase Hosting redirect rules, look at ht

[2019-03-12 19:47] lifenautjoe commented on #2206
Hi everyone, I've found this library https://pub.dartlang.org/packages/flutter_advanced_networkimage which does a much better job and the maintainer @mchome is actively developing it regardless of his Github status.

[2019-03-12 20:03] sfshaza2 commented on #2206
@brianegan, can you address this? It's referencing the cached images page in the cookbook.

[2019-03-12 21:08] rubensdemelo opened #2507 "Add "Best Practices" section on developing packages/plugins"
On https://flutter.dev/docs/development/packages-and-plugins/developing-packages add a "best practice" section, with advices to create example project, avoid attach gifs in README, etc.

[2019-03-13 12:26] brianegan commented on #2206
Ack, sorry I missed this one :/

My initial thoughts: it might be time to remove the recipe until a proper solution is in place. Sounds like there is a newer version that solves a lot of the problems from the original library, but I feel like it might make sense to give that library some time to mature and stabilize before resurrecting this recipe.

[2019-03-13 16:32] Twinber commented on #2489
Thank you very much for the information, you are great.

[2019-03-13 16:52] sfshaza2 commented on #2489
@Twinber, can I close this?

[2019-03-13 17:07] Twinber commented on #2489
Yes @sfshaza2, Thanks again

[2019-03-13 17:07] #2489 closed

[2019-03-13 17:08] Twinber commented on #2485
@Sfshaza please close this.

[2019-03-13 17:14] sfshaza2 commented on #2507
Good idea!

[2019-03-13 17:16] sfshaza2 commented on #2499
Closing.

[2019-03-13 17:16] #2499 closed

[2019-03-13 17:16] #2485 closed

[2019-03-13 17:21] sfshaza2 commented on #2479
I got this straight from a Flutter engineer:

I believe we reached a consensus on this! GlobalKeys preferred, but not required. In the cookbook sample for form validation, Form.of would work because it returns the closest FormState that encloses the given context, and the validation is taking place within that scope. Outside of that scope though, Form.of may not return the state you are expecting.

[2019-03-13 17:25] brianegan commented on #2479
Thanks Shams, that's helpful. Based on that feedback, do you all think we should make any changes to the recipe since we're documenting the preferred method already?

[2019-03-13 17:32] sfshaza2 commented on #2479
I wonder if it makes sense to add a note.  something like "If you're aren't sure whether to use Forms.of or GlobalKey for Form validation, GlobalKeys is preferred. In this eample, Form would work because it returns the closest ..."

I think the fact that it may not return the state you expect might be worth noting. Thoughts?

[2019-03-13 17:34] jkmathew opened #2509 "Consider adding document on how to use FlutterDartProject"
In flutter framework Could see an initialiser for `FlutterEngine` as
`- (instancetype)initWithName:(NSString*)labelPrefix project:(FlutterDartProject*)projectOrNil;`.
 From the `FlutterDartProject` header its clear that `FlutterDartProject` can be initialised with a precompiled dart bundle(correct me if I am wrong). But I couldn't find a document describing how to compile flutter in to a bundle an

[2019-03-13 19:28] fertolg commented on #1750
The fix in #2466 made the images overflow their containers, I'm reverting that change and reopening this issue.

Screenshot for reference:
![o0kmupkZ1qV](https://user-images.githubusercontent.com/2965170/54308565-7e1b4d80-458b-11e9-85e6-5c335878ca1d.png)

[2019-03-13 19:32] nathfreder commented on #1750
I noticed that too...

[2019-03-13 22:13] neiljaywarner opened #2513 "'Differentiate between ephemeral state and app state' page issue"
Please link "pageview" to docs https://docs.flutter.io/flutter/widgets/PageView-class.html
(bonus: link on FAQ for Android developers or quickstart for android devs with similarities/differences to viewpager)

[2019-03-13 22:38] rubensdemelo commented on #2507
Related: https://github.com/flutter/website/issues/2333

[2019-03-14 02:25] carlyonj opened #2515 "Fix Flutter cache was unexpected error with 'Windows install' page"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

Unable to install on windows. Followed directions and verified many times that e

[2019-03-14 05:55] zjuwjf opened #2516 "It would be very glad to add fish-redux to show in flutter official website"
[Fish Redux](https://github.com/alibaba/fish-redux) is an assembled flutter application framework based on Redux.

[2019-03-14 06:17] kangwang1988 commented on #2516
/cc @chalin

[2019-03-14 12:10] #2296 closed

[2019-03-14 12:34] brianegan commented on #2479
PR with changes here: #2517.

[2019-03-14 13:58] Twinber opened #2518 "'Pass arguments to a named route' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/navigate-with-arguments.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/navigate-with-arguments.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

// If you push the the PassArguments route ¿?

[2019-03-14 14:31] linczy commented on #2499
This code was not created by default.
It was missing to mention that need to "choose" Scaffold in Sample
Application/generate sample content. I don't think it's an obvious choice
without any hint.

[image: image.png]
Andras

On Wed, Mar 13, 2019 at 6:16 PM sfshaza2 <notifications@github.com> wrote:

--
B.R.
Andras Linczmayer

[2019-03-14 19:03] Sun3 opened #2519 "'List of state management approaches' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/state-mgmt/options.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/options.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: In the BLoC / Rx section the link to the

[2019-03-14 19:33] #2479 closed

[2019-03-14 19:37] #2438 closed

[2019-03-14 19:46] sfshaza2 commented on #2519
Fixed in PR https://github.com/flutter/website/pull/2512

[2019-03-14 19:46] #2519 closed

[2019-03-14 19:48] sfshaza2 commented on #2516
@filiph

[2019-03-14 19:49] sfshaza2 commented on #2480
Fixed in PR https://github.com/flutter/website/pull/2510

[2019-03-14 19:49] #2480 closed

[2019-03-14 19:51] sfshaza2 commented on #2518
@brianegan, just remove the double "the the" . :)

[2019-03-14 20:24] rubensdemelo commented on #2518
@sfshaza2 done.

[2019-03-14 20:25] filiph commented on #2516
In my opinion, the best place to have this is https://flutter.dev/docs/development/data-and-backend/state-mgmt/options. Please feel free to create a Pull Request on https://github.com/flutter/website/blob/master/src/docs/development/data-and-backend/state-mgmt/options.md and cc me.

[2019-03-14 20:34] rubensdemelo commented on #2516
@filiph done. Should I add more comments or improve description?

[2019-03-14 20:49] filiph commented on #2516
Change merged, thank you!

[2019-03-14 20:49] #2516 closed

[2019-03-14 20:58] feinstein opened #2523 "Offer another way to create `TextEditingController` on 'Handle changes to a text field' page"
Page URL: https://docs.flutter.dev/cookbook/forms/text-field-changes
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/forms/text-field-changes.md

Description of issue:

Is it there any reasons for creating the `TextEditingController` as a `State` `field`:

[code]

Instead of creating it, and listening, at `initState()`?

[code]

I am not sure how `createState()` and `

[2019-03-15 03:20] feinstein opened #2525 "'Focus on a Text Field' page issue"
Page URL: https://flutter.dev/docs/cookbook/forms/focus.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/forms/focus.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

should be:

[2019-03-15 03:46] feinstein commented on #2523
For example, the [Focus cookbook](https://flutter.dev/docs/cookbook/forms/focus) says:

So is it ok to initialize a `FocusNode` on the field declaration? Or should the `TextEditingController` creation be moved to the`initState` method? And why?

[2019-03-15 12:38] #2518 closed

[2019-03-15 12:38] #2525 closed

[2019-03-15 12:47] brianegan commented on #2523
Hey there! Thanks for writing in.

In general, instantiating the field in `initState` vs when the state object is first constructed should not result in much of a difference: The field will be instantiated slightly later if you do it in `initState`.

Performing instantiation in `initState` can be handy if you need to use values passed to the Widget, or if you need to access the current state objec

[2019-03-15 13:20] feinstein commented on #2523
Well, I like the idea of showing many different ways of doing the same things, this promotes flexibility and, to some, curiosity.

The best solution IMO is to have another recipe explaining the pros and cons of everything you guys show differently here and there. So in this case, there could be a note with the link for the recipe on "differences between variable initialization - field or initState

[2019-03-15 21:55] rubensdemelo opened #2528 "Add CupertinoApp on layout page, section 4"
There are examples for MaterialApp and WidgetApp.

https://flutter.dev/docs/development/ui/layout#4-add-the-layout-widget-to-the-page

Should add a CupertinoApp too.

[2019-03-15 22:07] rubensdemelo commented on #1995
@pedromorgan https://flutter.dev/docs/get-started/flutter-for/web-devs This isnt helpul ?

[2019-03-15 22:09] rubensdemelo commented on #1992
State management docs since 1.2 suggest scoped_model

[2019-03-15 22:45] rubensdemelo commented on #2181
What about this article by @chinmaygarde  https://medium.com/flutter-io/profiling-flutter-applications-using-the-timeline-a1a434964af3 ? Would be good to reference in debugging page ?

[2019-03-15 22:52] rubensdemelo commented on #2131
same on macos page

https://flutter.dev/docs/get-started/install/macos

[2019-03-15 23:05] rubensdemelo opened #2529 "Include option to get Flutter by cloning repository"
Would be nice refer another option to get flutter is cloning the repository.

https://github.com/flutter/website/edit/master/src/docs/get-started/install/_get-sdk.md

[2019-03-16 13:03] ShivamSinghania opened #2531 "Consider including some "Persistence" details in "Data & backend" pages."
Page URL: https://flutter.dev/docs/development/data-and-backend/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/index.md
Description of issue: Some flutter users are newbies like me who have never built any app. When I read through the [data & backend page](https://flutter.dev/docs/development/data-and-backend), I kind of formed this impression th

[2019-03-17 03:07] sfshaza2 commented on #2528
Good idea.

[2019-03-18 00:17] joeythomaschaske opened #2533 "Add token-based auth examples"
There needs to be examples for token based authentication. It is difficult to know how to store tokens for persistent authentication and even more difficult when there is no clear(opinionated) solution for app state.

Things that would be cool to see:

- Loading tokens from local storage
- Dynamic route to show Login page when user is unauthenticated and Home/requested page when user is authentica

[2019-03-18 11:01] Twinber opened #2534 "[flutter-es] new look 4x more bandwidth"
![excesodeconsumo](https://user-images.githubusercontent.com/5513621/54525893-78e84500-4975-11e9-998c-1a8c4aec7680.jpg)

[2019-03-18 11:05] Twinber commented on #2534
The increase in bandwidth consumption does not correspond to an increase in visits to the web.
Have you experienced this since the change to the new design?

[2019-03-18 19:09] MrMister53 opened #2535 "'Install' page issue"
Page URL: https://flutter.io/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Description:

[2019-03-18 19:45] sfshaza2 commented on #2533
@filiph

[2019-03-18 19:47] sfshaza2 commented on #2531
@filiph

[2019-03-18 19:59] kwalrath commented on #2534
We haven't noticed this, in general, but I believe the homepage has a lot more data due to its animation. If you remove the animation or you omit the homepage from the data, what happens?

[2019-03-18 23:29] Twinber commented on #2534
Yes.. is the homepage

[2019-03-18 23:29] #2534 closed

[2019-03-19 20:48] #2452 closed

[2019-03-20 07:53] travisbhartwell opened #2539 "'Write your first Flutter app, part 1' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Description of issue:

I did part 1 of the CodeLab from this page. However, it appears that this is different to the version that is [on Google Codelabs](https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#0).

* [This is the fi

[2019-03-20 18:08] natebosch opened #3592 "Add documentation about internet permissions"
Users get confused when code that works in debug mode stops working in release mode. A few of them end up looking for help in the `package:http` repo (likely since it has a google-able name) but that repo is not flutter specific.

https://github.com/dart-lang/http/issues/185
https://github.com/dart-lang/http/issues/258
https://github.com/dart-lang/http/issues/254

We can [add some documentation](h

[2019-03-20 23:32] Ethan1983 opened #7781 "Explain cases when hot-reload will reload and when not"
Hello,

  Flutter hot reload fails when value of the field is changed. This field is a child widget used in the application.

In this app, after the first install, changing text of _body1 or wrapping it under a child widget is not applied after hot reload. However, it works if it is returned from a function and if the function _getBody() is used to build the widget.

Based on the docs at https://d

[2019-03-21 01:35] ValiantCat opened #2540 "'Working with WebSockets' page issue"
Page URL: https://flutter.dev/docs/cookbook/networking/web-sockets.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/web-sockets.md

Description of issue:

TextEditingController need dispose  when _MyHomePageState dispose.

[2019-03-22 23:06] legalcodes opened #2545 "Presubmit spellcheck"
Add TravisCI job to run spellcheck against all relevant file formats that should be spellchecked, e.g. .md

[2019-03-22 23:14] jwtippens commented on #2545
- Investigate existing scripts/libraries for this

[2019-03-22 23:15] kwalrath commented on #2545
Possibly useful: https://probot.github.io/

[2019-03-23 12:28] yanir-edri commented on #2296
RouteSettings has no variable arguments
![error](https://user-images.githubusercontent.com/26008614/54866014-918e9b80-4d77-11e9-85d7-239776d0d469.png)

[2019-03-25 04:10] goderbauer commented on #2296
@yanir-edri you may beed to upgrade your flutter version to see this.

[2019-03-25 11:10] TimotheosFirestone opened #2546 "intl_example tests do not run and documentation is scarce"
The `README.md` of https://github.com/flutter/website/tree/master/examples/internationalization/intl_example says that `flutter test` should be run, but the tests do not compile.

Changing the test main body to this compiles:

[code]

but that's not a useful test, and I don't know how to complete the TODOs. It's very difficult to see the code in action and follow it, without being able to look for

[2019-03-26 20:11] sfshaza2 commented on #2546
I'm surprised that the example doesn't work, as that should shake out in smoke testing. @HansMuller, any insight into this?

[2019-03-27 14:35] eggenstein commented on #2005
This works just fine for me:

[code]

[2019-03-27 15:16] saidbendrioue opened #2550 "place holder isn't working in CacherNetworkImage"
Page URL: https://flutter.dev/docs/cookbook/images/cached-images.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/images/cached-images.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-03-27 21:30] jacob314 commented on #1851
https://flutter.github.io/devtools/inspector
Now has up to date documentation.

[2019-03-27 21:30] #1851 closed

[2019-03-29 08:55] jonasfj opened #2556 "Add notes to 'Using Flutter in China' page about publishing and Google Accounts"
Page URL: https://docs.flutter.dev/community/china
Page source: https://github.com/flutter/website/tree/master/src/community/china.md

I'm not sure exactly how to phrase this... But could we mention that `flutter packages publish` will not work when using `export PUB_HOSTED_URL=https://pub.flutter-io.cn`.

----
Publishing packages also requires a Google account, so I'm not sure Chinese users will

[2019-03-29 22:02] kwalrath opened #2558 "Fix 404: /docs/get-started/install."
Since 3/25, we've started getting 404s for `https://flutter.dev/docs/get-started/install.` (note the added `.`, which makes the otherwise OK URL break).

We could either redirect this or hunt down the offender and (if possible) fix it. Maybe both.

I see no commits to this site on 3/25, so presumably the offender is external.

[2019-03-31 00:47] panda8z opened #2560 "flutter: 'package:flutter_doc/main.dart': error: Unexpected tag 0 (Nothing) in ?, expected a procedure, a"
Page URL: https://flutter.dev/docs/development/ui/widgets-intro.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets-intro.md

Description of issue:

my Env:
[code]

![image](https://user-images.githubusercontent.com/24646937/55283202-1b4df280-5390-11e9-9c00-692879cd3fe1.png)

The  Hello world  simple  code can not be Run correct.

Here is the error log

[2019-03-31 00:52] panda8z commented on #2560
I  solve the problem just by   shutdown  the terminal and retry the `flutter run`, this issue may cause by hot-reload .  Because  I  copied the  hello-world code to the Editor  covered  initial project code then  double tap `R` to  hot-reload.

[2019-04-02 19:26] kevmoo opened #2567 "Consider compressing your PNGS"
bytes to save: 12,943,491

[code]

[2019-04-02 19:26] kevmoo commented on #2567
CC @gspencergoog

[2019-04-02 23:58] sfshaza2 commented on #2567
I thought that compressing PNGs happened automatically.

[2019-04-03 00:01] kevmoo commented on #2567
I worked through this with @gspencergoog – perhaps `pngquant` does a better job?

[2019-04-04 13:42] atilkan opened #2572 "HSTS security error on website"
@chalin @mit-mit @sethladd
Can't visit website on some countries. Chrome, Firefox, Opera. I have to use VPN for a simple site. Turkey is the country. I am sure there are others.
![Screen Shot 2019-04-04 at 16 42 02](https://user-images.githubusercontent.com/1254613/55560300-98fb6080-56f8-11e9-8813-27a360a5cf52.png)

![Screen Shot 2019-04-04 at 16 40 25](https://user-images.githubusercontent.com/12

[2019-04-04 22:14] RDuuke opened #2573 "Codelab documentation needs update - Write Your First Flutter App, part 2"
There is an error in[ step number 4,](https://codelabs.developers.google.com/codelabs/first-flutter-app-pt2/#3) in the line
`final bool alreadySaved = _saved.contains (pair); // Add this line.`

When I run, it generates an error:

[2019-04-05 00:33] VarolOkan opened #2574 "'Android Studio / IntelliJ' page issue"
Page URL: https://flutter.dev/docs/development/tools/android-studio.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/android-studio.md

Description of issue:
So Android Studios top menu has only [File][Edit][View][Navigate][Build][Run][Tools][VCS][Window][Help]
There is NO [Check for Updates]

The proper path is
[Android Studio] -> [Settings] -> [Appearan

[2019-04-07 15:58] dafinoer opened #2577 "'Hero Animations' page issue"
Page URL: https://flutter.dev/docs/development/ui/animations/hero-animations.html

found html tag `</span>` at example code RadialExpansion

[2019-04-08 07:35] alistairsykes opened #2578 "Release Mode - Get Started Documentation"
I’d really recommend adding a nod to release mode in your “Get started” section of the docs.

My task was to work out whether, as a company, we need to be considering Flutter. Given the agency nature of our work, I was only able to spend a couple of days exploring. This meant I didn’t get as far as the “Testing & optimization” section. Even then, my experience in native development would never lea

[2019-04-10 05:56] Realank commented on #2556
Hi jonasfj:

Here is my verbose log when publish my package using Chinese mirror pub:
Looks great! Are you ready to upload your package (y/n)? y
FINE: Loading OAuth2 credentials.
FINE: Saving OAuth2 credentials.
IO  : Writing 377 characters to text file /Users/realank/.pub-cache/credentials.json.
MSG : Uploading...
IO  : HTTP POST https://accounts.google.com/o/oauth2/token
    | content-type: appl

[2019-04-10 07:19] Realank commented on #2556
Hi jonasfj:

I have done some tests with @chenglu just now, and we don't think this is the problem of CN mirror.
Most CN devs using the HTTP(s)/SOCK5 proxy, but the Terminal seems didn't always have the proxy setup, so when the OAuth process happened next to “Google prompts user for consent” --Exchange authorization code for refresh and access tokens, the Terminal need connect to https://accounts.

[2019-04-10 07:30] chenglu commented on #2556
Great thanks to @Realank for your time!
@jonasfj please ignore my Email of adding the whitelist ;-)

[2019-04-10 08:12] jonasfj commented on #2556
If you're behind a proxy you'll probably have to setup environment variables for `pub` to use said proxy, see: https://www.dartlang.org/tools/pub/troubleshoot#pub-get-fails-from-behind-a-corporate-firewall

[2019-04-10 09:06] chenglu commented on #2556
@jensjoha is this the same way to change the proxy setting in the whole Terminal?
@Realank could you please try to set the proxy with the document and shut down VPN which controlled the all traffic, using CN mirror, and try to publish the package?

[2019-04-10 09:08] jensjoha commented on #2556
I guess the above should have been @jonasfj ?

[2019-04-10 09:12] chenglu commented on #2556
Sorry to @jensjoha!
Yes, I am trying to mention @jonasfj.

[2019-04-10 10:21] jonasfj commented on #2556
I think setting `http_proxy` and `https_proxy` environment variables is the convention for how you tell CLI programs how to use a proxy. If there is some other means by which we could detect a proxy to use, I'm open to considering those.

But `dart:io` will use `http_proxy` and `https_proxy` environment variables, if they are defined.

[2019-04-12 01:47] #2408 closed

[2019-04-12 01:47] #2418 closed

[2019-04-14 16:06] nfortescue opened #2591 "Remove duplicate from macOS install 'Test drive' page"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Description of issue:
When working through the getting started exercises, the very first thing you do is try out flutter via "flutter create my_app".

Then in the very next section (this page) you are told to create a project again using I

[2019-04-15 07:38] vijayvedula opened #2592 "Add MediaQuery widget to 'Navigate to a new screen and back' page example"
Page URL: https://flutter.dev/docs/cookbook/navigation/navigation-basics.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/navigation-basics.md

Description of issue: While running this demo, Media Query object is required to be created.

[2019-04-15 18:24] marcosgallardo opened #2593 "Remove `cached_network_image` from 'Working with cached images' page"
### Page URL

https://docs.flutter.dev/cookbook/images/cached-images/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/images/cached-images.md

### Description of issue:

The plugin [`cached_network_image`](https://pub.dartlang.org/packages/cached_network_image#-readme-tab-) has being updated and the code no longer works with the latest version.

[2019-04-15 21:16] AnNEDoMini commented on #2215
Any update here? Some guidelines for both platforms

[2019-04-16 05:12] cneilmon opened #2595 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:

Download of Flutter SDK unavailable.

[2019-04-17 00:53] #2577 closed

[2019-04-17 06:45] smm13344331 commented on #1289
I have exactly the same issue, did you make this work?

[2019-04-17 10:15] medvedev opened #2596 "Missing link for "Issue 18494" at /docs/deployment/android.md"
Link "Issue 18494" is empty at https://github.com/flutter/website/blob/master/src/docs/deployment/android.md
Probably, it should point to https://github.com/flutter/flutter/issues/18494

[2019-04-18 00:49] legalcodes commented on #2596
Thanks! Fixed here: https://github.com/flutter/website/commit/4938a8c7bba0a6440420c2d3fd1371ce7f1801a0

[2019-04-18 00:49] #2596 closed

[2019-04-19 16:06] eseidelGoogle opened #2601 "flutter logo is png inside an svg :)"
https://flutter.dev/assets/flutter-lockup-4cb0ee072ab312e59784d9fbf4fb7ad42688a7fdaea1270ccf6bbf4f34b7e03f.svg

The twitters complained:
https://twitter.com/flyin1501/status/1119170219157536768

[2019-04-19 16:06] eseidelGoogle commented on #2601
FYI @Sfshaza @kwalrath  :)

[2019-04-19 16:08] jamesderlin commented on #2601
I think this is https://github.com/flutter/website/issues/1755 ?

[2019-04-19 16:34] kwalrath commented on #2601
/cc @maguinis

[2019-04-19 21:26] atilkan commented on #2572
This is the explanation after clicking Advanced button.
![Screen Shot 2019-04-20 at 00 25 20](https://user-images.githubusercontent.com/1254613/56444778-d23fed00-6302-11e9-84ec-98a018d72422.png)

[2019-04-20 06:21] kisaragi-hiu commented on #1755
This is caused by #2601. (I'm the person who complained on Twitter.)

Below are the [logo](https://github.com/flutter/website/blob/master/src/_assets/image/flutter-lockup.svg) ([permalink](https://github.com/flutter/website/blob/d3dd4af648534dbd1dc95d6faff2af90c5be41b7/src/_assets/image/flutter-lockup.svg)), the PNG extracted from it, and an SVG with text. Only the png-within-svg is not being anti

[2019-04-21 09:56] Krishnaflutter opened #2606 "'Place a floating app bar above a list' page issue"
Page URL: https://flutter.dev/docs/cookbook/lists/floating-app-bar.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/lists/floating-app-bar.md

Description of issue:

[2019-04-22 17:39] merarischroeder opened #2607 "'Firebase' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/firebase.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/firebase.md

Description of issue:

This page needs to clearly state that the firebase/flutter libraries are NOT complete nor production ready.

It says:

"Firebase is a Backend-as-a-Service (BaaS) app development platform t

[2019-04-22 19:49] mit-mit commented on #2572
cc @kf6gpe

[2019-04-22 21:50] smokinguns commented on #2472
Flutter users should run `flutter packages get` instead of `pub get`.

perhaps i'm not following but running pub on a flutter application yields `Flutter users should run `flutter packages get` instead of `pub get`.`

[2019-04-24 16:55] mjohnsullivan opened #2611 "Clarify which approach should be used Internationalization page is confusing with mention of two approaches"
At the beginning of the [Internationalization page](https://flutter.dev/docs/development/accessibility-and-localization/internationalization), in the Sample internationalized apps box, a brief description and links are provided to two ways of handling i18n in apps: a simple example, and a more sophisticated one using the Dart intl package.

After this box, the text begins to describe the flutter_l

[2019-04-24 22:53] HansMuller commented on #2611
This section returns to the Dart intl package example: https://flutter.dev/docs/development/accessibility-and-localization/internationalization#defining-a-class-for-the-apps-localized-resources

This section (two sections later) returns to the minimal rough-and-ready i18n example: https://flutter.dev/docs/development/accessibility-and-localization/internationalization#an-alternative-class-for-the-

[2019-04-24 22:56] sfshaza2 commented on #2606
@Krishnaflutter, can you describe the problem?

[2019-04-24 23:52] sfshaza2 commented on #2574
Hi, @VarolOkan! Which platform are you on? I am on a Mac and my top menu is:

[Android Studio] [File][Edit][View][Navigate][Code][Analyze][Refactor][Build][Run][Tools][VCS][Windows][Help]

For me, it's definitely
[Android Studio] -> [Check for updates...]

But, if you tell me your platform, I can add that info.

Thanks!

[2019-04-24 23:56] sfshaza2 commented on #2595
@cneilmon, are you still having problems? I just went to that page and am able to download the Flutter SDK, though I am on a Mac and can't run it. If it's still happening to you, please paste the output of "flutter doctor" in a comment.

[2019-04-25 00:20] #2560 closed

[2019-04-25 01:09] cphoenix-google opened #7806 "Doc on docs.flutter.io is incomplete"
The doc in docs.flutter.io seems to be copied, but with some pages missing, from pub.dartland.org.

https://docs.flutter.io/flutter/package-async_async/StreamQueue-class.html seems to be a copy of
https://pub.dartlang.org/documentation/async/latest/async/StreamQueue-class.html

However, neither page tells what 'import' statement is needed to use StreamQueue.

That information is on https://pub.dar

[2019-04-25 11:10] SamiraAko opened #2613 "'Flutter SDK releases' 1.2.1 charts_flutter & RepaintBoundary issue"
I have the problem whis this release in charts_flutter and repaint boundary, the lines of chart disapear
RepaintBoundary(
    key: globalKey,
    child: chart,
)

[2019-04-25 11:42] cneilmon commented on #2595
@sfshaza2, just checked it now, and its already fixed, though haven't tried it before using Mac because i'm using Windows and Linux and both of them shows (failed). Nevertheless, seems fine now.

[2019-04-25 11:42] #2595 closed

[2019-04-25 11:44] cneilmon commented on #2558
hey! look at the comment here: https://github.com/flutter/website/issues/2595
seems its already working fine

[2019-04-25 11:44] cneilmon commented on #2535
hey! look at the comment here: https://github.com/flutter/website/issues/2595
seems its already working fine

[2019-04-25 11:48] cneilmon commented on #2460
hey! look at the comment here: https://github.com/flutter/website/issues/2595
seems its already working fine

[2019-04-25 11:50] cneilmon commented on #1909
hey! look at the comment here: https://github.com/flutter/website/issues/2595
seems its already working fine

[2019-04-25 12:33] #2460 closed

[2019-04-26 03:41] iridescent-rsy commented on #2472
@larelb

I tried to generate a self-signed certificate but still got 'TLS error'.
Could you please show me how to generate this self-signed certificate? Or maybe where to get this file?

Thx.

[2019-04-26 11:50] atilkan commented on #2572
I was able to solve this by this.
https://superuser.com/questions/1413402/i-cant-visit-websites-that-have-dev-domain

[2019-04-26 11:50] #2572 closed

[2019-04-26 18:07] bus710 commented on #2593
Found the same one.

[2019-04-27 00:45] xster opened #2616 "Include Cupertino examples in 'Navigate to a new screen and back' page"
Add some Cupertino concepts in there. Maybe in various parts of the page, have side by side columns when they behave differently.

[2019-04-29 14:59] kasperpeulen opened #2618 "let child/children be last parameter in 'Flutter for web developers' page"
Page URL: https://flutter.dev/docs/get-started/flutter-for/web-devs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/flutter-for/web-devs.md

IMHO, I think this page is almost an example of how **not** to write flutter code.
Please let child/children be the last parameter in all examples.

Before:
[code]

After:
[code]

[2019-04-30 00:51] Lovely50 opened #2619 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:

[2019-04-30 00:53] sfshaza2 commented on #2619
@Lovely50, can you provide a description of the problem?

[2019-04-30 01:01] sfshaza2 commented on #2613
Hi, @SamiraAko! I'm afraid this isn't the place to get help with Flutter problems. You'll have better luck on Stack Overflow or some place like that.  Find other resources on our [community page](https://flutter.dev/community). Good luck!

[2019-04-30 01:01] #2613 closed

[2019-04-30 08:16] mirkancal opened #2620 "Fix JS function syntax in 'Flutter for React Native Developers' page"
relevant part of the article: [async and await](https://docs.flutter.dev/get-started/flutter-for/react-native-devs#async-and-await)

There is a JavaScript function example in this section:

[code]

I'm not JavaScript expert but I couldn't run it on chrome, babeljs.io, jsbin.

I think these are the correct ways to go

[code]

or

[code]

[2019-04-30 19:29] filiph opened #2622 "Search on flutter.dev shows flutter.io links"
Search on flutter.dev finds articles on flutter.io. (Try https://flutter.dev/search?q=routes.)

<img width="498" alt="Screen Shot 2019-04-30 at 12 28 35 PM" src="https://user-images.githubusercontent.com/919717/56987881-7fa4d300-6b43-11e9-8228-65bc745ef0dc.png">

This is mostly a cosmetic issue since these links correctly redirect back to .dev.

cc @sfshaza2

[2019-04-30 23:54] pedromassango opened #2623 "Wrong address for Flutter page"
The address of **Flutter** in readme file should point to the correct one. At this time it is pointig to:
https://github.com/flutter/website/blob/master/get-started/install

And this link is broken.

[2019-05-01 20:20] xster opened #2625 "Layout issues on widgets catalog on phones"
- There's too much horizontal margin around the column
- It would be nice to be able to specify where the word breaks happen when there indeed to little space (but I'm not a web person to know what the right solution is :()

![Screenshot_20190501_131633_com android chrome](https://user-images.githubusercontent.com/156888/57040261-b34f2e00-6c13-11e9-96fb-e27cda802454.jpg)
![Screenshot_20190501_1317

[2019-05-02 07:42] VFX10 opened #2628 "Can't run the application on IOS Device"
I am trying to deploy my aplication on My iPhone 6S Plus device and I receive the following error:

`flutter run
ideviceinfo returned an error:
ERROR: Could not connect to lockdownd, error code -21`

when I run the flutter doctor command i have the following errors:
`flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.2.1, on Mac OS X 10.14.3

[2019-05-03 06:39] cbracken commented on #1886
I suspect I somehow misread this issue. I was the one who originally filed the issue requesting shasums precisely for verification: https://github.com/flutter/website/issues/1955.

[2019-05-03 07:37] #2628 closed

[2019-05-05 05:07] Apoorva-Singh-110 opened #2633 "'Windows install' page issueflutter' is not recognized as an internal or external command, operable program or batch file"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-05-07 14:01] badjem79 opened #2638 "'Write your first Flutter app, part 1' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

in the first copy paste example I had to add "new" in front of MaterialApp, Scaffold, AppBar and

[2019-05-07 17:52] yjbanov opened #2639 "Trailing whitespaces in text fields"
Flutter is changing how trailing whitespaces affect the alignment of text in text fields. Specifically, trailing whitespace should affect the cursor position but not the centering of the text. i.e:

"Mouad"
"Mouad    "

When centered, both strings above should have the same painting offset.

[2019-05-07 21:06] gspencergoog opened #2643 "'Flutter for web' page typo"
Page URL: https://flutter.dev/web.html
Page source: https://github.com/flutter/website/tree/master/src/web.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
in "Eventually, we’ll have a singke SDK/Framework with one set of widgets that works across all platforms.", the word "single" is misspelle

[2019-05-07 21:07] #2643 closed

[2019-05-08 01:31] maguinis opened #2647 "Add new title card with our I/O launch on the homepage"
Shift the 1.2 launch article left and on the right add this article with card and title "Flutter: a Portable UI Framework for Mobile, Web, Embedded, and Desktop"
-> https://developers.googleblog.com/2019/05/Flutter-io19.html

[2019-05-08 15:26] tvolkert commented on #2578
@Sfshaza we've had other people report this feedback informally as well.

[2019-05-08 18:30] repiatx opened #2651 "Crossbrowser support."
Thx for this improvement. i was expecting this. and future lies in this. it will overcome crossbrowser issues and pass over the grid system workflow. :)

`it works on new browser version but it doesnt support old browsers ( internet explorer 11 tested)`

http://dershub.com/flutter/first

thx for you hard work.

[2019-05-08 23:37] xster opened #3594 "Add another warning in archive download pages to go to the chinese mirror when in china"
There's a china warning in https://flutter.dev/docs/get-started/install

but in https://flutter.dev/docs/get-started/install/windows and https://docs.flutter.dev/release/archive where the actual archive SDK zips are linked, we should also add another warning to redirect to https://flutter.cn/docs/development/tools/sdk/releases where the zips are in faster mirrors

[2019-05-09 06:32] robsonfingo commented on #2067
Has the article been published? Is there a way to get the trace programmatically from inside the app?

[2019-05-09 11:06] maplerichie opened #2654 "'Exporting fonts from a package' page issue"
Page URL: https://flutter.dev/docs/cookbook/design/package-fonts.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/package-fonts.md

Description of issue: Misleading for beginner to follow this tutorial. `awesome_package` is existed on [pub.dev](url), thus when include `awesome_package` into `pubspec.yaml`. It will download the package automatically which ca

[2019-05-10 00:20] liyuqian opened #3595 "Move "How to Collect and Read Timeline Traces" into flutter.dev"
Move the section [How to Collect and Read Timeline Traces](https://medium.com/flutter/profiling-flutter-applications-using-the-timeline-a1a434964af3) in the Medium article [Profiling Flutter applications](https://medium.com/flutter/profiling-flutter-applications-using-the-timeline-a1a434964af3) to our website [flutter.dev](https://flutter.dev).

Simplify it a little bit (e.g., separate it into two

[2019-05-10 02:57] luohong123 opened #3614 "flutter doc error english_words: ^3.1.0 version not found"
## Steps to Reproduce

1. https://flutter.dev/docs/get-started/codelab   this doc has error,for example, this doc write
`english_words`: ^3.1.0, but the  link of https://pub.dartlang.org/

![image](https://user-images.githubusercontent.com/20392340/57446247-dcf8fc80-7286-11e9-99a4-4f1515d330b3.png)

![image](https://user-images.githubusercontent.com/20392340/57499455-58ec5680-7312-11e9-92d5-e78ed5

[2019-05-10 14:41] tvolkert commented on #2578
Correct user handle: @sfshaza2

[2019-05-11 18:52] cbracken commented on #2067
@robsonfingo yes. @chinmaygarde published [Profiling Flutter Applications Using the Timeline](https://medium.com/flutter-io/profiling-flutter-applications-using-the-timeline-a1a434964af3) on Medium.

[2019-05-12 12:40] EdisonTKPcom opened #2659 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Description of issue:
From VS Code MacOS
Flutter: New Web Project
Stagehand needs to be updated with 'pub global activate stagehand' to use this feature.
Command 'Flutter: New Web Project' resulted in an error.

[2019-05-12 14:51] yueban opened #2660 "mistake in codelab 'Building a Cupertino app with Flutter'"
There is a mistake in codelab ['Building a Cupertino app with Flutter' step 4](https://codelabs.developers.google.com/codelabs/flutter-cupertino/index.html?index=..%2F..index#4). As I highlight with red rect below:
![image](https://user-images.githubusercontent.com/5647837/57583895-e80e8f80-7507-11e9-882e-28f7de5c9d0f.png)

It will cause build failed, and it should be `builder: (context) => AppSta

[2019-05-12 19:52] j3g opened #2662 "Step 2b: Add Android platform code (.java/.kt)"
Page URL: https://flutter.dev/docs/development/packages-and-plugins/developing-packages.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/developing-packages.md

Description of issue:
In Section "Step 2b: Add Android platform code (.java/.kt)" please change the following:

"Before editing the Android platform code in Android Studio..."
This

[2019-05-12 22:41] javiermrz opened #2663 "'Return data from a screen' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/returning-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/returning-data.md

Description of issue: I think the GIF example at the end of the page is quite bugged. It gets stucked in Navigator.pop and doesn't show the snackbar at any moment.