[2020-09-29 00:24] RedBrogdon commented on #4477
Wouldn't hurt to ask. @willlarche, do you know who to talk to about an issue downloading the Material icons font?

[2020-09-29 02:11] willlarche commented on #4477
Yes. I'll email.

[2020-09-29 03:15] micpap25 commented on #3952
@samisnotinsane Hi, it seems like you pushed these commits but never actually made a PR for them. Do you plan to do that, and if not, can I copy your commits on to my branch and make a PR? Thanks.

[2020-09-29 05:41] SainathPatil001 commented on #4664
I/le.rolling_Dic(26572): Starting profile saver IsSaveProfileNow end.
E/flutter (26572): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: NoSuchMethodError: The method 'findAncestorStateOfType' was called on null.
E/flutter (26572): Receiver: null
E/flutter (26572): Tried calling: findAncestorStateOfType<NavigatorState>()
E/flutter (26572): #0      Object.noSuchMethod  (dart:core-

[2020-09-29 05:42] SainathPatil001 commented on #4664
Sorry I have sorted that error but this in new error

[2020-09-29 08:16] samisnotinsane commented on #3952
@micpap25 Hey, thanks for your comment. I believe I did raise PR #4155 which solves this issue and it was subsequently merged. Let me know if it isn't checking out. ![image](https://user-images.githubusercontent.com/11885489/94531361-60c4d780-0234-11eb-9146-a6272a2b45bc.png)

[2020-09-29 12:44] Zwennsch opened #4688 "Sorry, please delete"

[2020-09-29 15:40] sfshaza2 commented on #4664
Hi, @SainathPatil001. What code are you running? Is this error from one of our examples?

If this is coming from your own code, then it sounds like you are asking for help. This repo is where to report documentation errors, not ask for support. For that, use one of the resources listed on our flutter.dev/community page.

Good luck!

[2020-09-29 15:46] SainathPatil001 commented on #4664
Thank you..!

[2020-09-29 15:47] #4664 closed

[2020-09-29 16:12] #4076 closed

[2020-09-29 18:06] #4688 closed

[2020-09-29 18:07] Zwennsch commented on #4688
Seems like I did not read till the end

[2020-09-29 19:07] #4199 closed

[2020-09-29 19:08] #4633 closed

[2020-09-29 19:53] pranjaljain0 commented on #4673
<img width="1440" alt="Screenshot 2020-09-30 at 1 22 36 AM" src="https://user-images.githubusercontent.com/53955200/94608727-703b3380-02bb-11eb-9deb-480bd2d5fc6c.png">
I am using the same page on brave,
Doesn't seem like a browser issue.
@Sfshaza

[2020-09-30 02:56] micpap25 commented on #3952
Ah, so in that case it looks like this issue can be closed.

[2020-09-30 10:20] sfshaza2 commented on #4673
It may be, @pranjaljain0, as both you and @purezen are using the Brave browser and I don't know if DartPad is well supported. I'll let @johnpryan weigh in. Thanks for reporting this!

[2020-09-30 14:41] Mereep opened #8441 "Provide specific supported test version or wider constraint/caret dependency for Unit testing"
Testing cookbook should be more specific about supported test version, or suggest a wider constraint/caret dependency

I followed the official descriptions given here: https://flutter.dev/docs/cookbook/testing/unit/introduction

giving me:
[code]

however, when using fetching the dependencies on a freshly installed framework (stable) it does not resolve:

[code]

How can this be resolved? Is there

[2020-09-30 19:34] Niranjan215 opened #4709 "Navigation Bar Responsiveness"
Navigation need to be set for responsive screen for smaller screen size by using some CSS properties.

[2020-09-30 20:02] aromalanil commented on #4259
@sfshaza2 Hope this issue can be closed

[2020-09-30 20:04] aromalanil commented on #3598
@sfshaza2 This issue can be closed.

[2020-09-30 20:51] #3598 closed

[2020-09-30 20:52] #4259 closed

[2020-10-01 00:19] sfshaza2 commented on #4586
I'm closing this issue. The doc does mention using "where" on Windows.

[2020-10-01 00:19] #4586 closed

[2020-10-01 06:42] Riya123cloud opened #4736 "flying update"

[2020-10-01 12:00] saumya66 commented on #4647
Rather this should be the name right ?? :
`android/src/main/java/com/example/PluginCodelab/PluginCodelabPlugin.java`

[2020-10-01 12:30] saumya66 opened #4754 "Can someone tell me where is this page located in repo ??"
[https://codelabs.developers.google.com/codelabs/write-flutter-plugin/#3](url)

[2020-10-01 12:33] saumya66 commented on #4542
Can someone tell me where is this page in the repo - [](https://codelabs.developers.google.com/codelabs/write-flutter-plugin/#3)

[2020-10-01 12:37] #4754 closed

[2020-10-01 12:38] micpap25 commented on #4542
I don't believe codelabs aren't directly in the repo, that's why they're generally marked "external".
It's infuriating because this is a really easy fix, lol.
There's https://github.com/flutter/codelabs but it doesn't seem to be open-source.

[2020-10-01 14:18] ricardobrg opened #4760 "Website i18n"
I am translating the docs and it gets really hard to keep up with the updates.

Are there any plans on website internationalization? I would like to work on it.

[2020-10-01 17:22] #4736 closed

[2020-10-01 17:43] saumya66 commented on #4542
Ya right

[2020-10-01 18:00] sfshaza2 commented on #4760
No, I'm afraid not. And, I agree, info is being updated at an amazing rate. I am sorry about that.

[2020-10-01 21:19] micpap25 commented on #4226
Could someone verify if this is still an issue, and if the Ctrl+F5 shortcut Hot Restarts? This is going to lead to a lot of changes in both this page and https://flutter.dev/docs/development/tools/hot-reload to fully resolve.

[2020-10-01 21:20] micpap25 commented on #4319
@sfshaza2 Since this is fixed I think it can be closed.

[2020-10-01 21:23] micpap25 commented on #4320
Could probably put the content of the article on the top of the "release notes and changes" page in flutter.dev.

[2020-10-01 21:23] tango4567 opened #4783 "Codelab code not working"
[Using a plugin with a Flutter web app](https://codelabs.developers.google.com/codelabs/web-url-launcher/index.html?index=..%2F..index#9)

The following **Codelab** code is not working
[code]

After this change code is working fine
[code]
I cross-check these pieces of code multiple times and then I'm writing this issue.
If I'm missing anything please let me know.
Thanks In Advance.

[2020-10-01 21:27] micpap25 commented on #4372
I do find it a bit concerning that the API docs list it as a widget, then.
Should `AnimatedWidgetBaseState` be removed from the page and the API docs be adjusted? If so, where should it be listed instead?

[2020-10-01 21:42] #4551 closed

[2020-10-01 21:44] #4381 closed

[2020-10-02 00:39] #4319 closed

[2020-10-02 07:10] deandreamatias opened #4791 "'New CupertinoIcons has icon glyph changes' page issue"
Page URL: https://flutter.dev/docs/release/breaking-changes/cupertino-icons-1.0.0.html
Page source: https://github.com/flutter/website/tree/master/src/docs/release/breaking-changes/cupertino-icons-1.0.0.md

Description of issue:
In Timeline section say:
Landed in: 1.22.0-10.0.pre.65
In stable release: not yet

But with new release, maybe will be say
Landed in: 1.22.0
In stable release: yes (?)

[2020-10-02 09:30] albertodev01 opened #4795 "Insert a new book in the 'Books about Flutter' page"
In the [Books about Flutter](https://flutter.dev/docs/resources/books) page is missing a new Dart 2.10 and Flutter 1.22 book from the list. It's called **Flutter Complete Reference** and it's worldwide available on [amazon](https://www.amazon.com/dp/B08KHKK8TR).

  - Title: Flutter Complete Reference
  - By: Alberto Miola
  - Description: (take it from amazon)

Thank you!

[2020-10-02 10:36] ricardobrg commented on #4760
Don't be sorry, it's amazing that it is being updated so much. I will work in a i18n version so it will be easier to mantain. Thanks

[2020-10-02 17:29] #4795 closed

[2020-10-02 17:53] #4645 closed

[2020-10-02 17:54] #4237 closed

[2020-10-02 17:58] sfshaza2 commented on #4791
Yup, I need to go through and update the breaking changes docs.

[2020-10-02 18:02] aromalanil commented on #4791
@sfshaza2 I would like to help. Is this the only change needed on this page?

[2020-10-02 18:03] aromalanil commented on #4783
@sfshaza2 I couldn't find the code for any of the codelabs issues I have come across. Where exactly is these issue being fixed?

[2020-10-02 19:10] ayaankhan98 commented on #4709
top navigation bar seems responsive to me for all screen widths. can you please explain your point a bit clearly?

[2020-10-02 20:34] blasten commented on #4657
This is fixed now.

[2020-10-02 20:34] #4657 closed

[2020-10-02 20:36] blasten opened #4802 "Platform view docs should have Kotlin and Swift code examples"
The newly added page is missing examples using Kotlin or Swift.
https://flutter.dev/docs/development/platform-integration/platform-views

[2020-10-03 00:12] AllanDaemon opened #4805 "'Desktop support for Flutter' page issue"
Page URL: https://flutter.dev/desktop.html
Page source: https://github.com/flutter/website/tree/master/src/desktop.md

Description of issue: Add the command for dnf package manager

In the session [#additional-linux-requirements](https://flutter.dev/desktop#additional-linux-requirements), there is a command for installing it manually for Linux. The command is using APT, that is only for Debian-bas

[2020-10-03 01:16] sfshaza2 commented on #4791
Sorry, @aromalanil, I spent a chunk of today going through the breaking change docs and updating them. I have a PR in flight. There are numerous things I do for this. But thanks for that offer!

[2020-10-03 01:18] sfshaza2 commented on #4783
Hi @aromalanil! Unfortunately the source for the codelabs published to codelabs.google.developers.com is not available externally. It's an internal process.

[2020-10-03 01:20] #4802 closed

[2020-10-03 02:59] aromalanil commented on #4791
@sfshaza2 Okay. Cool 😄

[2020-10-03 03:00] aromalanil commented on #4783
@Oh! Okay 👍🏻

[2020-10-03 06:48] ayaankhan98 opened #4809 "Switch to dark mode"
Title says everything, no need of description

[2020-10-03 16:04] sfshaza2 commented on #4805
Yes, we do plan to augment this info soon. Thx

[2020-10-03 16:05] sfshaza2 commented on #4809
Duplicate of https://github.com/flutter/website/issues/3632

[2020-10-03 16:05] #4809 closed

[2020-10-04 15:00] oravecz opened #4820 "New i18n examples are good - missing How To for package authors"
I like that the internationalization documentation and example apps have been recently worked on.

There is some hinting about package localization.

However, there is still a gap in how to use the `intl` library for those of us developing widgets for sharing with others via a Flutter package.

1. When or how does the packages localization content get loaded?
2. Since a package does not have an Ap

[2020-10-05 03:49] #2021 closed

[2020-10-05 03:55] sfshaza2 commented on #4820
@shihaohong, can you weigh in?

@oravecz, we are working on some new docs that will better explain this.

[2020-10-05 17:11] haiderajmal opened #4822 "out of the room"
the picture side is out of the room at which widget I should use wrap widget to resolve the issue
![Screenshot (54)](https://user-images.githubusercontent.com/67483723/95110562-a3684180-0757-11eb-801e-2841f56299a7.png)

[2020-10-05 18:00] sfshaza2 commented on #4822
Hi, @haiderajmal, this UI is definitely not a responsive design. Unfortunately, this is not where to get support. Please refer to the channels on flutter.dev/community.

[2020-10-05 18:00] #4822 closed

[2020-10-05 18:12] johnpryan commented on #4677
Right now the docs assume which package manager you are using. Are there examples of other projects that include instructions for multiple distros / package managers? It can be confusing for users who are using distro X when the instructions are for distro Y.

[2020-10-05 18:14] johnpryan commented on #3842
`onGenerateRoute` is for more flexible route handling, since it can handle any route. Since this API hasn't changed with Navigator 2, this sample is probably still useful.

[2020-10-05 18:15] sfshaza2 commented on #4677
My understanding is that we will add more info as the alpha gets further along. However, based on PR https://github.com/flutter/website/pull/4812, I'm not quite sure how we expect to proceed.

[2020-10-05 18:29] johnpryan commented on #4677
We can't cover all package managers, but we probably want to be consistent with #4812.

[2020-10-05 18:37] deandreamatias commented on #4791
Solved by PR #4806

[2020-10-05 18:37] #4791 closed

[2020-10-05 18:56] SchoolGuy commented on #4677
May I suggest leaving packaging to downstream? That may lead to outdated packages in some cases, in my eyes the advantage is that you spare yourself the load of this work. The only thing you need to provide is offline building instructions in my eyes to support airgapped build environments. Services like the openSUSE Build Service is able to build for a lot of distributions and reduce the total am

[2020-10-05 19:24] micpap25 commented on #3842
In that case, I think this can be closed, right?

[2020-10-05 19:45] #3842 closed

[2020-10-05 21:55] dnfield opened #4824 "API docs are difficult to read for some users"
More context at https://github.com/flutter/flutter/pull/48073

The basic problem seems to be around how font weights are used. This is probably something that should be fixed in dartdoc, so I filed https://github.com/dart-lang/dartdoc/issues/2374 as well - depending on how that issue goes, we could potentially fix it in our own repo.

[2020-10-05 23:02] omatt opened #4825 "'Hosting native Android and iOS views in your Flutter app with Platform Views' page issue"
Page URL: https://flutter.dev/docs/development/platform-integration/platform-views.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-views.md

### Description of issue:
I'm having issues running the sample code for iOS in this doc.

There are errors thrown in FLNativeView.swift
`Argument type 'Optional<_>' does not conform to expect

[2020-10-06 02:31] mitchross opened #4827 "Explain platform interface packages for federated plugins"
There doesn't seem to be a lot of documentation around "platform interface package". The documentation jumps around and never completes a full picture. I am looking at plugins + platform interface package. There's good info on plugins for ios/android but it falls short.

It appears the new documentation for plugins recommends https://pub.dev/packages/pigeon for type safety. Id like to see a full s

[2020-10-06 02:53] micpap25 commented on #4150
Hi @mthan160 , are you working on this PR? Just let me know because I'm also interested in fixing this.

[2020-10-06 03:09] micpap25 commented on #4565
https://flutter.dev/docs/perf/rendering/ui-performance#launch-devtools links to both the Timeline page and the list of all DevTools.
I think there's a good amount of cross-referencing, unless we add more of the possible DevTools functions to that section.
Personally, though, I think the issue has been resolved.

[2020-10-06 07:28] mthan160 commented on #4150
Oh please - if you'd like to do a PR for it do go ahead. This is info that
desperately needs to go in.

TBH I'm quite new to Github and have never done a PR yet perhaps you'd be
better qualified to do it.

Regards,

mthan160

On Tue, Oct 6, 2020 at 10:53 AM Michael Papadopoulos <
notifications@github.com> wrote:

[2020-10-06 14:46] omatt commented on #4825
Duplicate of https://github.com/flutter/flutter/issues/67393

[2020-10-06 15:43] slashwhatever opened #4830 "Flutter firebase codelab issue step #9"
[Codelab page](https://codelabs.developers.google.com/codelabs/flutter-firebase/index.html#8)

After pasting the `_buildBody` method into `main.dart`, you will be prompted that there are 2 problems in the file:

[code]

Performing this change does result in the problem being cleared.

[code]

Performing this change does result in the problem being cleared.

[2020-10-06 16:13] slashwhatever opened #4831 "Flutter firebase codelabs fails"
After completing all the code in the codelab, the Android emulator generates this error:

[code]

Replacing the `MyApp` class with the following should work:

[code]

[2020-10-06 16:16] slashwhatever opened #4832 "Flutter firebase codelab step #10"
Adding this code:

[code]

You are warned that `updateData` is deprecated and shouldn't be used.

Change to this to resolve:

[code]

[2020-10-06 17:11] pranjaljain0 commented on #4832
@Sfshaza can verify this issue?
If it needs to be changed can you assign it to me?

[2020-10-06 19:01] InMatrix opened #4834 "Use the characters package in cookbook pages about text processing"
The characters package has been integrated into the Flutter framework and is now the recommended way to handle user-entered text from widgets such as TextField. The API docs have been updated in this recent PR (https://github.com/flutter/flutter/pull/67361). It would be really helpful to use the characters package in the following cookbook pages as well:

- https://flutter.dev/docs/cookbook/forms/

[2020-10-06 21:51] carpiodanielj opened #4836 "'Building a web application with Flutter' page issue"
Page URL: https://flutter.dev/docs/get-started/web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/web.md

Description of issue:

** Please add this last step when setting up web development: **flutter update-packages**
See this link [https://github.com/flutter/flutter/issues/58110#issuecomment-634940055](url)

[2020-10-06 22:46] liyuqian commented on #4565
Agree. Closing this issue now.

[2020-10-06 22:46] #4565 closed

[2020-10-07 10:26] yashwanth-ravula opened #4841 "Fix Firebase for Flutter Codelab step 7"
In the last line, the link to **FlutterFire GitHub page** should be updated. The current link is directing us to an empty Github page.
The FlutterFire family of plugins has moved to the FirebaseExtended organization on GitHub.

[2020-10-07 10:42] yash-1th opened #4842 "Firebase for Flutter Codelab step 11"
`.updateData()` is depricated use `.update()` instead.

While replacing a line of code with the following line of code use `.update()` instead of `.updateData()`

`onTap: () => record.reference.updateData({'votes': FieldValue.increment(1)})`

[2020-10-07 10:57] yashwanth-ravula opened #4843 "Fix Firebase for Flutter Codelab step 9"
The following error showed up.
[code]

solution:
All Firebase versions have been updated and now you have to call `Firebase.initializeApp()` before using any Firebase product, for example:

[2020-10-07 15:08] sfshaza2 commented on #4824
Thanks for this issue, @dnfield, but it should be filed on flutter/flutter. Moving.

[2020-10-07 15:12] sfshaza2 commented on #4836
Actual link:   https://github.com/flutter/flutter/issues/58110

[2020-10-07 18:23] shihaohong commented on #4820
In Flutter, `WidgetsApp`, `MaterialApp` or `WidgetsApp` take a list of localizations delegates and will load the required localized resources for your application based on that list. If a package contains widgets with localized content, you can pass a localizations delegate into `*App` so that it can be referenced by the custom widgets in your package.

However, package authors could come up with

[2020-10-08 18:02] fluttercorner commented on #1222
[How to Create SideBar Menu In Flutter](https://fluttercorner.com/how-to-create-sidebar-menu-in-flutter/)

[2020-10-08 21:41] HUAWEI911 opened #4849 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-10-09 01:42] jmagman opened #4852 "Update iOS deployment docs with `flutter build ipa` command"
https://github.com/flutter/flutter/pull/67598 and https://github.com/flutter/flutter/pull/67781 introduces a new `flutter build ipa` command.
Reference in the [iOS deployment docs](https://flutter.dev/docs/deployment/ios#create-a-build-archive).

1. Remove the `flutter build ios` instructions.
1. Replace

with something like:

Keep the "Click the Validate App button." next step.

Add something abo

[2020-10-09 11:19] d3xt3r2909 opened #4854 "Add article to state management approach"
Hi guys & girls

is it possible to add this [article](https://medium.com/upday-devs/reduce-duplication-achieve-flexibility-means-success-for-the-flutter-app-e5e432839e61)  to the state management [recco page](https://flutter.dev/docs/development/data-and-backend/state-mgmt/options)?

- It's about the usage of redux in combination with redux_epics.

Of course, if you say yes (and please say), I wou

[2020-10-09 13:00] amanv8060 commented on #1252
@chalin this could be closed

[2020-10-09 13:04] amanv8060 commented on #1592
@sfshaza2 this could be closed

[2020-10-09 18:06] #1592 closed

[2020-10-09 18:28] sfshaza2 opened #4855 "Add golden testing to 'An introduction to widget testing' page"
I'd like to add info to the [widget testing](https://flutter.dev/docs/cookbook/testing/widget/introduction) page on golden tests - what they are and an example.

@Piinks

[2020-10-09 19:14] Piinks commented on #4855
The API docs may have something along the lines of what you are looking for:

https://api.flutter.dev/flutter/flutter_test/GoldenFileComparator-class.html

https://api.flutter.dev/flutter/flutter_test/matchesGoldenFile.html

https://api.flutter.dev/flutter/flutter_test/LocalFileComparator-class.html

[2020-10-09 20:28] JeanDesenvolvedo32322313 opened #4856 "'Upgrading Flutter' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/upgrading.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/upgrading.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-10-09 21:36] harrybou opened #4881 "Flutter tutorial Building beautiful UIs with Flutter - Step 4"
In section 5 Add a UI for composing messages/Add a responsive Send button/Wrap the TextField inside a Flexible: the instruction says Select Row.  But, to reproduce the code following it seems that you have to select TextField.
So, I suspect that either the first line is incorrect or the following code is incorrect.

[2020-10-12 19:45] kwalrath opened #4864 "Change build to use `dart` tool"
A writer attempting to run `install.sh` got this message:

[code]

If we switch to the new `dart` tool (e.g. `dart pub`), then you should be able to build the site whether or not you separately download the Dart SDK and have it in your path.

/cc @johnpryan @RedBrogdon

[2020-10-13 16:15] Abhishek01039 commented on #4856
Hi @JeanDesenvolvedo32322313
can you please elaborate in more detail please that what problem are you facing?
Thanks

[2020-10-13 16:35] guidezpl opened #4869 "'Cupertino (iOS-style) widgets' page issue"
Page URL: https://flutter.dev/docs/development/ui/widgets/cupertino.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/cupertino.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

https://api.flutter.dev/flutter/cupertino/CupertinoSliverNavigationBar

[2020-10-13 16:41] #4560 closed

[2020-10-13 16:48] sfshaza2 commented on #4854
Sure! Create the PR.  :)

[2020-10-13 16:50] sfshaza2 commented on #4849
Nothing described. Closing..

[2020-10-13 16:50] #4849 closed

[2020-10-13 16:50] sfshaza2 commented on #4856
Nothing described. Closing.

[2020-10-13 16:50] #4856 closed

[2020-10-13 21:53] sfshaza2 commented on #4827
@amirh, let's talk about this issue. I only recently learned about endorsed federated plugins and am not sure what else we might be missing..

[2020-10-13 21:54] sfshaza2 commented on #4831
@domesticmouse, we received a recent spate of issues filed against this codelab. Could you take a look?

[2020-10-14 01:33] mitchross commented on #4827
Hi @sfshaza2 @amin3mej

Imagine you are new to Flutter and you want to make a plugin, you naturally will check out https://flutter.dev/docs/development/packages-and-plugins/developing-packages.

You will go about your tutorial and practice code with the classic "flutter create --template=package hello"

Along the way you will discover platform specific tutorials which will lead you here https://fl

[2020-10-14 10:43] MuhammadimYusoff opened #4878 "Fix duplication of setting PATH on 'macOS install' page"
Page URL: https://docs.flutter.dev/get-started/install/macos
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description of issue:

Guys please, at this section:
https://flutter.dev/docs/get-started/install/macos#update-your-path

Number/Step 3, why do I need to include "/flutter/bin"?
FUCKING WORKING AFTER I HAVE REMOVE IT! REMOVE IT!

Please, ed

[2020-10-14 16:33] #4869 closed

[2020-10-14 16:37] sfshaza2 commented on #4878
@MuhammadimYusoff, can you provide your actual path? And what platform/version are you using? These instructions work for me, so I would like to narrow it down.

[2020-10-15 06:22] tnawanna opened #4885 "'Set up an editor' page issue"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-10-17 08:14] JoykishanSharma opened #4891 "'flutter: The Flutter command-line tool' page issue"
Page URL: https://flutter.dev/docs/reference/flutter-cli.html
Page source: https://github.com/flutter/website/tree/master/src/docs/reference/flutter-cli.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
Hi, I'm kinda new to flutter. I found this [typo in here](https://github.com/flutter/website/

[2020-10-18 03:50] micpap25 commented on #1799
After review of the page, it looks like a lot has been changed since this issue was made.
The first issue still stands: the page has no reference to `Padding` and heavily encourages the use of `Container` for padding.
The second issue is also present, and the guide specifically recommends nesting with rows and columns. Mention to `SizedBox` exists but only in passing to explain how to constrain a

[2020-10-18 05:56] RoySegall commented on #4376
Hi, looking at the doc and it seems that 1 and 2 are at the same line:
![image](https://user-images.githubusercontent.com/1222368/96359806-b0a20a80-111f-11eb-8ace-8dd31501de58.png)
Shouldn't this one be in separate line like this one:

![image](https://user-images.githubusercontent.com/1222368/96359814-c0b9ea00-111f-11eb-84ff-52e014c2d1c3.png)

[2020-10-18 15:24] Gbolly007 opened #4894 "Flutter web: Named route in stateful widget keeps changing"
In my Flutter web project, I happen to use Named routes for navigations. For pages that are stateless widget, the url contains the name of the route but for pages that are stateful widget, the name of the route is shown for few seconds alongside the url when the user navigates to the page after this, it removes the name of the route from the url. Does anyone have an idea what could be wrong, I hav

[2020-10-19 03:41] feinstein opened #4895 "'Internationalizing Flutter apps' page issue"
Page URL: https://flutter.dev/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The `Int

[2020-10-19 12:18] d3xt3r2909 commented on #4854
Hi @sfshaza2,

thanks for review it. I've created [PR](https://github.com/flutter/website/pull/4896).

See you

[2020-10-19 17:40] #4891 closed

[2020-10-19 17:42] #4150 closed

[2020-10-19 21:01] sfshaza2 commented on #4894
@Gbolly007, hi! I'm sorry to hear you are having frustrations with named routes. Unfortunately, this is not a place to get support. Can you direct it to one of the channels listed on our [community page](https://flutter.dev/community)?  If you find an error or missing info in the flutter.dev site, file that here. If you find an error in the SDK's behavior, file that on the flutter/flutter repo.

G

[2020-10-19 21:01] #4894 closed

[2020-10-19 21:01] sfshaza2 commented on #4885
Nothing listed. Closing.

[2020-10-19 21:01] #4885 closed

[2020-10-19 21:03] sfshaza2 commented on #4895
FYI, @shihaohong.

[2020-10-19 21:37] Gbolly007 commented on #4894
Thank you very much

[2020-10-22 21:26] kevmoo commented on #4396
Fodder for content here: https://github.com/flutter/flutter/wiki/Experimenting-with-null-safety-in-Flutter

[2020-10-22 23:16] kwalrath commented on #4396
https://flutter.dev/docs/null-safety links to that page as of #4908.

[2020-10-23 03:39] kevmoo commented on #4396
Yup – but thinking that `/docs/null-safety` would be a better longer-term home for such content.

[2020-10-23 06:39] pstricks-fans opened #7769 "Request a collapsible left navigation menu on the online Flutter documentation"
When reading Flutter documentation (in flutter.io, flutter.dev, etc), the left navigation menu is really distracting. We can        automatically collapse it by zooming in (ctrl+mouse scroll in Windows). Unfortunately, this action makes the font size is too huge so forcing us to horizontally scroll the code snippet provided on the screen. It is very unpleasant for on screen reading.

If you don't

[2020-10-23 20:45] nehuenKC commented on #2472
i have try everything here but still have error with self signed certs.

[code]

cant by bypass the use of certificates? any helps?

[2020-10-23 21:01] nehuenKC commented on #2472
same error. Were you able to work it out?

[2020-10-23 21:34] nehuenKC commented on #2472
i have correctly the DART_VM_OPTIONS in the environment variables. But still complains that the certificate is self-signed

[code]

Any work around?

[2020-10-26 08:47] marlonflore opened #4917 "'Flutter documentation' page issue"
Https://Www.ODPF1.com Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-10-26 13:12] yaxum opened #4918 "'Work with tabs' page issue"
Page URL: https://flutter.dev/docs/cookbook/design/tabs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/tabs.md

Description of issue:

I followed this TabController guide and realized that I have a bugg with the tabcontroller...
I have a bugg when working with tabbarviews..
When pressing on a category that is named "sprit" and has index 5 in the tabbarcon

[2020-10-26 18:04] sfshaza2 commented on #4918
Hi, @yaxum! I'm sorry to hear you are having problems. Unfortunately this is not the place to get support. For that, refer to one of the resources on our [community page](https://flutter.dev/community) like Stack Overflow or Discord. If you find an error or omission on this page, let us know!

[2020-10-26 18:04] #4918 closed

[2020-10-26 18:04] sfshaza2 commented on #4917
Nothing listed. Closing.

[2020-10-26 18:04] #4917 closed

[2020-10-26 19:20] ramanathanp opened #4920 "'Display a snackbar' page requires an update"
[Display a snackbar](https://flutter.dev/docs/cookbook/design/snackbars) page needs to be updated because `Scaffold.of(context).showSnackBar()` method is deprecated and instead `ScaffoldMessenger.of(context).showSnackBar()` must be used.

P.S. - Thanks to Flutter team for maintaining a wonderful UI framework.

[2020-10-29 19:25] miniBloq opened #4935 "'Upgrading Flutter' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/upgrading.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/upgrading.md

Description of issue: Tried the `flutter version` command and did not work. Plus, `flutter -h` seems to do not list it anymore.

[2020-10-30 00:10] narcodico commented on #3633
Hey @Hixie @matthew-carroll !

Struggling with running android app's launch screen in full screen mode. All proposed solutions or workarounds don't seem to work.

Would like to be able to have the startup experience completely full screen since the app itself is running in full screen as well(basically it makes use of `SystemChrome.setEnabledSystemUIOverlays([])`)
Unfortunately the android launch

[2020-10-30 06:03] matthew-carroll commented on #3633
I don't have the bandwidth to dig into this. However, if you are seeing an actionbar before *before* your splash screen then something very strange is going on. The process that happens at the beginning of an app is:

Android launch screen > Android view > Flutter UI

An Android launch screen can only display a bitmap, so I have no idea how an actionbar would appear at that stage.

Perhaps the act

[2020-10-30 06:06] matthew-carroll commented on #3633
Also @narcodico the issue that is linked in my original post, as well as @Hixie's comment seems to indicate the answer to solve the "jumping" issue.

[2020-10-30 08:56] narcodico commented on #3633
Thanks @matthew-carroll for taking the time to answer. As I mentioned, all the proposed solutions don't work for me. Would you mind running the sample I linked in my original comment above to see exactly what I'm talking about ?

[2020-10-31 16:05] giapdong opened #4939 "'Flutter documentation' page issue"
![Screenshot_20201031-230114](https://user-images.githubusercontent.com/43102628/97783874-19cc5800-1bcd-11eb-8cb6-f0679c23e8fa.png)
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

When i try access to document via Chrome latest version and have bad UI for it. Please fix it!

[2020-11-01 03:26] micpap25 commented on #4018
@sfshaza2 I can help out with this. Do you know off the top of your head what file the code excerpt headers are controlled by? I can hunt around the files if you don't.

[2020-11-01 23:08] waded opened #4941 "Provide guidance on alternative to ‘Android Studio Setup Wizard’ on 'Windows install' page"
Page URL: https://docs.flutter.dev/get-started/install/windows
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue: This page suggests there are two steps to installing Android Studio to provide Android platform dependencies: 1) download and install Studio and then 2) "Start Android Studio, and go through the ‘Android Studio Set

[2020-11-01 23:25] waded commented on #4941
(It appears in my case I had SDK 28 installed, and older BuildTools, probably from prior install of Android Studio. If there is something called "Setup Wizard" that's supposed to trigger on its own, perhaps that's why it didn't. Perhaps, then it would be helpful here to mention that Configure->SDK Manager can be used from the "Welcome to Android Studio" screen in case "Setup Wizard" doesn't trigge

[2020-11-02 14:35] shihaohong commented on #4895
I'll take a look into the `intl` package and how it interacts with Flutter and get back to you on how to use both packages together.

https://docs.google.com/document/d/10e0saTfAv32OZLRmONy866vnaw0I2jwL8zukykpgWBc/edit# is sort of a more "technical user guide" for the new `flutter gen-l10n` workflow. We plan on incorporating a simpler and easier-to-follow section or codelab for that workflow in th

[2020-11-02 16:27] feinstein commented on #4895
I did some research on this and currently we can't use them both together reliably. There's an open issue in the main repo about it.

[2020-11-02 21:44] feinstein commented on #4895
@shihaohong on that document I left this question:

[2020-11-02 21:45] lion-starsirio opened #4944 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-11-04 02:32] KotlinIsland opened #4950 "Show platform support status overview"
It would be useful to view platform support status, I would expect to see:
- platform support: iOS, Android, web etc
- support level: experimental, alpha, ... stable
- supported version: Minimum android sdk, maximum android sdk

[2020-11-04 04:54] Sun3 opened #4951 "'Books about Flutter' page issue -"
Page URL: https://flutter.dev/docs/resources/books.html
Page source: https://github.com/flutter/website/tree/master/src/docs/resources/books.md

Description of issue:
I noticed that all of the books are in Alphabetical order except for the book Flutter Complete Reference which has been placed in first place for better exposure. Why was this decision made and why is that book more important than th

[2020-11-04 08:05] FlutterTutorial opened #4952 "Slack Community Link doesn't work"
On this page: https://flutter.dev/community

There's a "Learn more" link that takes you to the slack community page.

href="https://fluttercommunity.dev/joinslack"
which redirects to: https://fluttercommunity.slack.com/join/shared_invite/<some_really_long_code>

Unfortunately, it looks like this is a short term link. Visiting the URL routes you to an error page that says "This invite link is no lo

[2020-11-04 19:16] sfshaza2 commented on #4951
I agree, @Sun3. Feel free to submit a PR to fix it.

[2020-11-04 19:16] sfshaza2 commented on #4944
Nothing listed. Closing.

[2020-11-04 19:16] #4944 closed

[2020-11-04 19:20] sfshaza2 commented on #4939
@giapdong, can you be more specific? I just tried every video link on that page and it works fine for me. I'm also on the latest Chrome.

[2020-11-04 23:08] micpap25 commented on #4935
Yep, `flutter version` is outdated. I'll update it to the modern equivalent `flutter --version`.

[2020-11-05 11:17] cazci commented on #4939
Hi, I guess he's referring to the mobile view UI. The two videos **how is flutter different for app development** and **how stateful widgets are used best** don't auto-scale to the media width, Thanks :)

[2020-11-05 12:12] cazci commented on #4939
Please ignore the 1st PR (closed one), I updated the file directly within the browser and accidentally made a PR to my forked repo

[2020-11-05 18:26] omatt opened #4958 "Add loading images from file on 'Adding assets and images' page with best practices"
Page URL: https://docs.flutter.dev/ui/assets-and-images
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/assets-and-images.md

Provide official guide on loading images from device storage with best practices.

[2020-11-05 19:35] sfshaza2 commented on #4952
@filiph, you provided me with the correct link last time. Who can update this?

[2020-11-05 19:56] slightfoot commented on #4952
Link has been renewed: https://fluttercommunity.dev/joinslack will now work.
Slack expires the links after 30 days now, and after X people use it.

I am looking into an automated solution so we can renew the invite link every 2 weeks.

[2020-11-05 20:05] #4939 closed

[2020-11-05 20:10] RedBrogdon commented on #4952
I'm no longer getting an expired invite notification when clicking on the link in flutter.dev/community, so this is fixed AFAICT.

Thanks for the help, Simon!

[2020-11-05 20:10] #4952 closed

[2020-11-05 21:53] sfshaza2 commented on #4958
@omatt, can you give me an example of what you are looking for?

[2020-11-05 21:58] #4935 closed

[2020-11-05 21:59] sfshaza2 commented on #4950
I like this idea, though it might be a real pain to keep up to date.

[2020-11-05 22:01] omatt commented on #4958
I've tried creating an app that imitates an image gallery using `Image.file()` and `GridView`. The app works fine when only few images are displayed, but I'm getting out of memory errors if I'm trying to display a lot i.e. > 100 images

When I've checked the [image_picker](https://pub.dev/packages/image_picker) plugin, fetching of images seems to be done on their native platforms. I'm curious if d

[2020-11-05 22:08] micpap25 commented on #4854
Since the PR was merged, I think this can be closed.

[2020-11-05 22:19] micpap25 commented on #4036
The section of the page that you linked to is reserved for Flutter widget equivalents of React components. But I agree that there should be another section comparing React and Flutter lifecycle functions. Maybe a new section under the one you linked to.

[2020-11-05 22:21] micpap25 commented on #4035
I'm not seeing how a search bar is necessary when you can CTRL + F the widget you'd like to find.. Just my opinion though.

[2020-11-05 22:26] #4854 closed

[2020-11-06 00:19] jpkontreras opened #4964 "Stop posting on medium"
Hi FlutterTeam
Im learning the new navigator in this page https://flutter.dev/docs/development/ui/navigation, which has this link https://medium.com/flutter/learning-flutters-new-navigation-and-routing-system-7c9068155ade
The issue is that medium implemented a paywall and devs cant see the content of the new navigator api

How can we devs learn about the new features if theres a paywall ?
Is this

[2020-11-06 00:31] Sun3 commented on #4951
I created the PR [4963](https://github.com/flutter/website/pull/4963)

Thanks.

[2020-11-06 01:50] sfshaza2 commented on #4964
And just to be clear. ALL of the content posted on the Flutter publication on Medium is free, and not behind the metered paywall.

[2020-11-06 15:43] jpkontreras commented on #4964
then how do you explain images not loading

<img width="723" alt="Captura de Pantalla 2020-11-06 a la(s) 12 40 58" src="https://user-images.githubusercontent.com/7862089/98385117-6381cc00-202d-11eb-968b-5180935a7508.png">
<img width="727" alt="Captura de Pantalla 2020-11-06 a la(s) 12 41 02" src="https://user-images.githubusercontent.com/7862089/98385123-65e42600-202d-11eb-803d-e0d5531a3608.png">

[2020-11-06 17:26] sfshaza2 commented on #4951
Fixed by PR 4963.

[2020-11-06 17:26] #4951 closed

[2020-11-06 17:31] sfshaza2 commented on #4964
@jpkontreras, images not loading is a different issue than the paywall. If it were behind the paywall, and you'd reached your limit of 3 free articles for the month, it would invite you to subscribe.

@johnpryan, any idea why your images aren't loading? I can see them, even when I open in an incognito window.

[2020-11-06 17:58] johnpryan commented on #4964
@jpkontreras Can you check which browser you are using and whether you're using an ad blocker?  The page is working for me.

[2020-11-06 17:58] johnpryan commented on #4964
The images are hosted on Medium, so I'm not sure why they wouldn't be working.

[2020-11-06 18:35] jpkontreras commented on #4964
Chrome latest versión
Im using adblocker

[2020-11-06 18:37] sfshaza2 commented on #4964
Maybe turn adblocker off? Or try another browser that doesn't have an adblocker?

[2020-11-06 18:54] jpkontreras commented on #4964
Solvencia

[2020-11-06 18:55] #4964 closed

[2020-11-07 19:29] bibhas2 opened #4968 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive?tab=vscode
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Description of issue:

In **Run the app** section, a iOS Simulator must be running for it to show up in the VS Code status bar. So this needs to be started prior using the command:

[code]

Also "click No Devices and launch a sim

[2020-11-08 11:56] hemalibl opened #4969 "'Flutter SDK releases' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/releases.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/releases.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-11-08 11:56] #4969 closed

[2020-11-08 17:35] JuYeong0413 commented on #4968
For me, when I click **No Device** at the bottom, three options are shown:
<img width="615" alt="Screen Shot 2020-11-09 at 2 32 43 AM" src="https://user-images.githubusercontent.com/33684401/98472076-e5dbdd00-2233-11eb-85f4-a30ddfe47fc4.png">
The second one(Pixel 2 API 28) is the latest Android simulator I used, and I see both **Create Android emulator** and **Start iOS simulator**.

[2020-11-08 19:00] yahu1031 opened #4970 "Website not loading"
I have good internet connection. IDK why I can't load only flutter website [Flutter](https://flutter.dev) and also [API Docs](https://api.flutter.dev/).

Here are some images I can provide regarding the issue

* **Image 1**
  This shows the ping of the website and the result of my web page.
  <img src="https://cdn.discordapp.com/attachments/420324994703163404/775059357296492584/unknown.png" width=

[2020-11-08 19:34] yahu1031 commented on #4970
Everything related to flutter aren't opening, even [Flutterfire](https://firebase.flutter.dev/docs/overview/) too 😭 only [Pub](https://pub.dev) is working and all other flutter related things aren't working and I'm clueless.

[2020-11-08 23:20] csor-dev commented on #4970
Even I'm not able to access flutter website from past 2 or 3 days

[2020-11-09 14:11] yahu1031 commented on #4970
I'm closing this cause it got resolved suddenly. @csor-dev if you still have any issue you can continue.

[2020-11-09 14:11] #4970 closed

[2020-11-09 22:17] kwalrath opened #4974 "Move diagrams out of src"
See https://github.com/dart-lang/site-www/pull/2742, which fixes https://github.com/dart-lang/site-www/issues/1920.

[2020-11-10 05:40] csor-dev commented on #4970
@yahu1031 Flutter website is working but [Flutterfire](https://firebase.flutter.dev/docs/overview/) is still not working

[2020-11-10 05:43] csor-dev commented on #4970
Oops it worked now after a long loading time(for about more than a minute). Everytime it's the same thing

[2020-11-10 05:45] yahu1031 commented on #4970
Both works for me 😁

[2020-11-10 10:46] kamyar75 opened #4975 "'Work with cached images' page issue"
Page URL: https://flutter.dev/docs/cookbook/images/cached-images.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/images/cached-images.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-11-10 17:34] sfshaza2 commented on #4974
OK, I had to read through the Dart PRs/issues to get more context. This isn't removing the .graffle (Omnigraffle) files out of the repo, it's just moving them from /src/_diagrams to /diagrams. Yep, that seems fine.

We just needed a place to stash the source for our diagrams but these diagrams aren't actually used to generate the site. And, moving forward, we are now using draw.io to generate diag

[2020-11-10 17:36] sfshaza2 commented on #4941
Sorry for the confusion! Yup, this makes sense.

[2020-11-10 17:37] sfshaza2 commented on #4975
Nothing listed. Closing.

[2020-11-10 17:37] #4975 closed

[2020-11-10 20:15] ghenry opened #4976 "Change example to use `kDebugMode` on 'Report errors to a service' page"
Page URL: https://docs.flutter.dev/cookbook/maintenance/error-reporting
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/maintenance/error-reporting.md

Description of issue:

Do we need this any more as there is `kDebugMode` in `flutter/foundation.dart`

[code]

and in https://github.com/flutter/crashy/blob/cf40e4723a698010103c5aaf2b40ce8750d092a0/lib/main.dart#L50

T

[2020-11-11 02:19] felangel opened #4978 "Links broken in state management options"
Links introduced by https://github.com/flutter/website/pull/4966 are not rendering properly

<img width="743" alt="Screen Shot 2020-11-10 at 8 18 45 PM" src="https://user-images.githubusercontent.com/8855632/98757389-0e79e900-2392-11eb-996e-6a79f8d9a6a0.png">

<img width="945" alt="Screen Shot 2020-11-10 at 8 18 50 PM" src="https://user-images.githubusercontent.com/8855632/98757391-0fab1600-2392-1

[2020-11-11 03:02] sfshaza2 commented on #4976
That makes sense to me!  @domesticmouse, can you take this?

[2020-11-11 08:09] #4978 closed

[2020-11-11 14:24] csor-dev commented on #4970
Both working fine now

[2020-11-11 14:56] kwalrath commented on #4970
This sounds like it might've been due to Firebase's issues in India. Although they still have a banner on their [dashboard](https://status.firebase.google.com/) warning about "issues to Firebase Hosting and Realtime Database from some locations in India."

[2020-11-11 19:19] johnpryan commented on #4958
That's an interesting question, I think this could be done by combining [Read and write files](https://flutter.dev/docs/cookbook/persistence/reading-writing-files) guide along with the [Image.file](https://api.flutter.dev/flutter/widgets/Image/Image.file.html) constructor.

[2020-11-13 16:56] nstrelow opened #5054 "Add information about const Widget() into Rendering best practices"
### What is the recommendation by the flutter/dart developers for using `const`?
#### Especially in Widget trees, where additional `const` keywords can make it harder to read the code.

Are there already docs I cannot find? The [Flutter Performance best practices](https://flutter.dev/docs/perf/rendering/best-practices) does not mention `const`.

Defining `const` helps the DartVM optimizing certain

[2020-11-14 18:11] nalnir opened #4987 "Undefined name 'Firebase'. Try correcting the name to one that is defined, or defining the name."
I'm not sure if I should be posting this here, but it seems to me this is a flutter issue.
I am using firebase for flutter web on it works very well locally but when deployed I can't login to my app and I get this error:

FirebaseError: Firebase: No Firebase App '[DEFAULT]' has been created - call Firebase App.initializeApp() (app/no-app).

I got some answers on stack overflow, but they were appli

[2020-11-16 05:15] jkotesh007 opened #4989 "Vn"

[2020-11-16 06:34] 9JIMIN commented on #4544
Package name should be all lowercase, with underscores to separate words.[https://dart.dev/tools/pub/pubspec#name](https://dart.dev/tools/pub/pubspec#name)
`plugin_codelab`, not `PluginCodelab`.

so, command should be..
`flutter create --org com.example --template=plugin --platforms=android,ios -a java plugin_codelab`

[2020-11-17 18:46] stuz5000 opened #4992 "Understanding constraints' page - doesn't explain the biggest confusion with widget sizes."
Page URL: https://flutter.dev/docs/development/ui/layout/constraints.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/constraints.md

Description of issue:

The simple model of: "Constraints go down, sizes go up" fails to explain the most common issue in Flutter, why are my sizes ignored?

For example:
https://stackoverflow.com/questions/53972392/cust

[2020-11-17 22:56] krolaw opened #4993 "Verify that template file is created per iOS FFI C Interop instructions on 'Binding to native iOS code using dart:ffi' page"
As per: https://docs.flutter.dev/platform-integration/ios/c-interop

Yet:
[code]

[2020-11-18 06:55] bnetz opened #4995 "Clean up 'macOS install' page"
Those installation instructions are hard to follow. It's obvious they are written by pros that could not anticipate the problems of intermediate users.

**I would suggest 3 changes.**
1) There are a lot of options (like "if you want to use git …" or "please click this link if you want to add the path permanently [what exactly IS what you want]"). Why not writing a step-by-step-installation-guide w

[2020-11-18 07:21] nwparker opened #4996 "Incorrect Android Platform View code"
https://flutter.dev/docs/development/platform-integration/platform-views?tab=android-platform-views-java-tab

The documentation (Java/Kotlin) creates a new instance of the `NativeViewFactory` using the following code:
[code]

However, `NativeViewFactory` takes 2 arguments. It's not described where/how to get these two arguments.

Further, an extra line must be called for app to function:
`Generate

[2020-11-20 19:32] kwalrath commented on #2391
Still one of the top 404s. Maybe we should just add it back?

[2020-11-20 19:34] sfshaza2 commented on #2391
SGTM

[2020-11-20 22:56] kwalrath opened #5006 "'Binding to native code using dart:ffi' page issue"
https://flutter.dev/docs/development/platform-integration/c-interop.html is analogous to https://dart.dev/guides/libraries/c-interop, but they don't use the same terminology.

https://github.com/dart-lang/site-www/issues/1955 points out that the sidenav is different, for example.

[2020-11-21 04:41] micpap25 commented on #3813
Hi, @sfshaza2 , I'm currently working on this issue. Do you think Layouts is the right place for this new section to go? I'm bringing this up because CustomScrollBar is already in Scrolling while SliverAppBar is in Material Design.

[2020-11-23 06:45] zjiekai opened #5011 "Add how to use local packages in flutter to docs"
https://github.com/flutter/website/blob/master/src/docs/development/packages-and-plugins/using-packages.md

The document has information for using packages from pub.dev.  It would be great if there would be instructions about using local packages (eg. packages in local file system).

https://stackoverflow.com/q/51238420/264442

This seems to be a common scenario.

[2020-11-24 01:47] ching7 opened #5014 "Use the latest version of Swift and XCode in the 'Adding a Flutter screen to an iOS app' tutorial"
Page URL: https://flutter.dev/docs/development/add-to-app/ios/add-flutter-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/ios/add-flutter-screen.md

Description of issue:

In ios14, xcode12.2, Swift version 5.3.1, the code in this tutorial is no longer applicable, especially in the tutorial of embedding ios application in flutter single page.

[2020-11-24 14:54] #4992 closed

[2020-11-25 14:02] Klievan opened #5018 "Change API used on 'SnackBars managed by the ScaffoldMessenger' page"
Page URL: https://flutter.dev/docs/release/breaking-changes/scaffold-messenger.html
Page source: https://github.com/flutter/website/tree/master/src/docs/release/breaking-changes/scaffold-messenger.md

Description of issue:
The examples uses the deprecated API Scaffold.of(context).showSnackBar()

[2020-11-26 10:30] kamleshwebtech opened #5020 "Add other option to sync project on 'AndroidX Migration' page"
Page URL: https://docs.flutter.dev/release/breaking-changes/androidx-migration
Page source: https://github.com/flutter/website/tree/master/src/docs/development/androidx-migration.md

Description of issue:

i am using android studio - 3.5 version but there is no "Sync Project with Gradle Files from the File menu", suggested on androidx migration google documentation page. Please suggest how can we

[2020-11-27 09:19] MisterRog85 opened #5022 "'macOS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description of issue: The method describing how to permanently add flutter to the path does not work ! It should show how to update the /etc/paths file instead which worked for me.

[2020-11-27 23:18] micpap25 commented on #4989
Should be closed unless this is fixed.

[2020-11-28 07:53] #4989 closed

[2020-11-30 04:23] theswerd opened #5025 "CupertinoSearchTextField isn't on stable yet"
When clicking to view the docs for **CupertinoSearchTextField** there are none. It is also not on the current stable branch.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/38309438/100568653-9c097400-3280-11eb-9816-b8ba79f6ec76.gif)

[2020-11-30 06:11] aadarshadhakalg commented on #4018
I have #5026 pull reqquest on this.

[2020-11-30 17:21] #2395 closed

[2020-11-30 22:52] csells opened #5029 "Repurpose provided adaptive UI content for website"
https://aloisdeniel.com/#/posts/adaptative-ui

[2020-12-01 02:35] cmbillman opened #5030 "'Set up an editor' page issue"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

[2020-12-01 04:31] micpap25 commented on #3813
Unless anyone has any objections I'm going to go ahead with putting everything in Layouts and moving both CustomScrollBar and SliverAppBar over there. I'll mention where they went.

[2020-12-01 07:23] xster commented on #5025
Sorry, it's not on stable yet. You can try the widget on the dev branch. It should roll onto stable in a few months.

[2020-12-01 09:25] asashour opened #5032 "Internationalization page feedback"
In [internationalization](https://flutter.dev/docs/development/accessibility-and-localization/internationalization), there are two hints:

1. `#6`

        To test the localization tool, run your application. You should see generated files in ${FLUTTER_PROJECT}/flutter_gen/gen_l10n.

  should be in ${FLUTTER_PROJECT}/`.dart_tool`/flutter_gen/gen_l10n instead

2. One must add

          localizatio

[2020-12-01 17:14] AnkitSingh-zm commented on #5030
I can fix the typo's. Can I work on it.

[2020-12-02 04:05] jmagman opened #5034 "Add note that add-to-app on iOS will require CocoaPods 1.10"
https://github.com/flutter/flutter/pull/71495 will add a requirement on CocoaPods 1.10 for add-to-app only due to how add-to-app is using XCFrameworks.  See details about the bug on older CocoaPod versions at https://github.com/flutter/flutter/pull/71531.

https://flutter.dev/docs/development/add-to-app/ios/project-setup#system-requirements

[2020-12-02 06:16] aadarshadhakalg commented on #2088
#5026 on this

[2020-12-02 18:54] #5006 closed

[2020-12-03 16:09] afroewis opened #5159 "Documentation of "Hosting native Android and iOS views in your Flutter app with Platform Views" contains error"
I believe that the documentation of the topic [Hosting native Android and iOS views in your Flutter app with Platform Views](https://flutter.dev/docs/development/platform-integration/platform-views) is wrong our outdated. I tried to render a native Android view in a Flutter app using Virtual displays, but the provided code doesn't compile.

The `NativeViewFactory` class has a constructor with 2 pa

[2020-12-03 20:59] sfshaza2 commented on #5029
Doesn't this imply that the website uses Flutter? (Which it doesn't.)

[2020-12-04 05:24] elliotsayes opened #5042 "'Write your first Flutter app on the web' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Description of issue:
No information on `didUpdateWidget` method of `_AnimatedProgressIndicatorState`. Not an override method, and not referenced anywhere else in the guide or code. However, removing it breaks updating the progress bar, so

[2020-12-04 06:00] theswerd commented on #5025
Thank you

[2020-12-04 06:00] #5025 closed

[2020-12-04 14:20] aadarshadhakalg commented on #2088
@sfshaza2 I guess this issue can now be closed.

[2020-12-04 22:19] tnawanna opened #5045 "Admin Convert"

[2020-12-04 22:35] tnawanna opened #5046 "Contributor License"

[2020-12-04 22:43] tnawanna opened #5047 "Contributor License Terms"

[2020-12-04 22:44] tnawanna opened #5048 "Flutters License"

[2020-12-04 23:19] tnawanna opened #5049 "CONNECT THE ECONOMIC SYSTEM"

[2020-12-06 15:13] filiph commented on #5054
Sorry this took so long. I agree with the plan to put a bullet point into https://flutter.dev/docs/perf/rendering/best-practices#controlling-build-cost.

Pull requests welcome! Otherwise, I'll get to it as soon as possible.

[2020-12-06 16:59] feinstein opened #5055 "'Report errors to a service' page issue"
Page URL: https://flutter.dev/docs/cookbook/maintenance/error-reporting.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/maintenance/error-reporting.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

We should have a topic on Crashlytics.

Any reasons for recomm

[2020-12-07 10:26] Pablo-Aldana opened #5057 "'Internationalizing Flutter apps' page issue"
Page URL: https://flutter.dev/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

On the s

[2020-12-07 18:50] orbit88 opened #5059 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Description of issue:

[2020-12-07 18:50] orbit88 commented on #5059
Sighted bug upon installing``

[2020-12-07 18:59] sfshaza2 commented on #5059
Sighted bug? Can you explain what this means?

[2020-12-07 19:00] sfshaza2 commented on #5057
Good catch!

[2020-12-07 20:40] sfshaza2 commented on #4987
@kroikie, can you shed some light here?

[2020-12-07 20:41] sfshaza2 commented on #5057
Fixed by #5051

[2020-12-07 20:41] #5057 closed

[2020-12-07 20:42] sfshaza2 commented on #5046
Nothing listed. Closing

[2020-12-07 20:42] #5046 closed

[2020-12-07 20:42] sfshaza2 commented on #5048
Nothing listed. Closing

[2020-12-07 20:42] #5048 closed

[2020-12-07 20:42] sfshaza2 commented on #5049
Closing

[2020-12-07 20:42] #5049 closed

[2020-12-07 20:42] sfshaza2 commented on #5047
Closing

[2020-12-07 20:42] #5047 closed

[2020-12-07 20:43] sfshaza2 commented on #5045
Closing

[2020-12-07 20:43] #5045 closed

[2020-12-07 20:49] sfshaza2 commented on #5032
The second issue was fixed by #5051...

[2020-12-07 20:54] asashour commented on #5032
Thanks for feedback. Windows 10.

[2020-12-07 23:41] johnpryan opened #5060 "change package:integration_test imports to use SDK imports when added to the SDK"
The `integration_test` will soon be part of the SDK, so `pubpsec.yaml` files importing it as a Pub package should use an SDK import instead. See [this comment](https://github.com/flutter/website/pull/5050#discussion_r537891839) for an example.

[2020-12-08 00:02] johnpryan commented on #5060
This is just waiting to land in the stable channel

[2020-12-08 01:37] drekka opened #5062 "[i18n] Documentation issues with "adding your own localizations" section"
Page URL: https://flutter.dev/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Description of issue:

Hi guys, I've been trying to follow this page for several days and it appears that the Intl package no longer works as described in this

[2020-12-08 18:11] johnpryan opened #5063 "Add HTMLElementView page + sample"
One of the [solutions for resolving CORS issues](https://github.com/flutter/website/pull/5061) with images is to use an HTMLElementView. We currently don't have any sample code for using it.

https://api.flutter.dev/flutter/widgets/HtmlElementView-class.html

[this issue + comment](https://github.com/flutter/flutter/issues/71619#issuecomment-740810200) has a sample that uses an ImageElement to dis

[2020-12-10 02:09] feinstein opened #5068 "'Work with WebSockets' page issue"
Page URL: https://flutter.dev/docs/cookbook/networking/web-sockets.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/web-sockets.md

Description of issue:

Can't this code lead to a memory leak:

[code]

Usually we create new Streams on `initState`, since `build` should be idempotent.

[2020-12-11 02:58] 349989153 opened #5074 "'Return data from a screen' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/returning-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/returning-data.md

Description of issue:
I try to follow the guide but get the error: `The method 'ElevatedButton' isn't defined for the type 'SelectionButton'`.

And the version is :
[code]

So I do some extra search and find that **To

[2020-12-11 03:41] sfshaza2 commented on #5068
Can you weigh in, @johnpryan?

[2020-12-11 03:42] sfshaza2 commented on #5062
@shihaohong, have these changes reached stable?

[2020-12-11 03:44] sfshaza2 commented on #5059
No additional info. Closing. If you have additional info, please reopen and provide it here.

[2020-12-11 03:44] #5059 closed

[2020-12-11 03:47] sfshaza2 commented on #5022
@MisterRog85, can you tell me what platform you are using? (Including which shell.)

[2020-12-11 03:53] sfshaza2 commented on #5055
@RedBrogdon, @johnpryan, any opinions on this? I would assume that we can't show everything.

[2020-12-11 03:54] sfshaza2 commented on #5030
I believe this can be closed.

[2020-12-11 03:54] #5030 closed

[2020-12-11 03:56] sfshaza2 commented on #5018
This will be deprecated on our next stable release. We generally document stable on flutter.dev.

[2020-12-11 04:00] sfshaza2 commented on #5014
@xster, @jmagman, can you weigh in?

[2020-12-11 04:03] sfshaza2 commented on #5020
@blasten, can you weigh in?

[2020-12-11 05:29] xster commented on #5014
What specific changes would you like to see? Did you mean having the template be based around scenes rather than just the storyboard?

[2020-12-11 09:50] noamraph opened #5076 "Update 'Simple app state management' page for consistency"
Page URL: https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/simple.md

Description of issue:

I suggest to update the page to use context.watch<>(). This is what the example is using, and it's much easier than creating another widget.

[2020-12-11 11:11] feinstein commented on #5055
We can't show everything... But Crashlytics is a Google service, that's what intrigues me, why you guys didn't include one of the most famous services and a Google one?

[2020-12-11 19:19] johnpryan commented on #5055
The Crashlytics plugin for Flutter has some documentation here: https://firebase.flutter.dev/docs/crashlytics/overview/. We should at least link to these docs from this page.

[2020-12-11 19:31] johnpryan commented on #5068
I think you're onto something. The `connect()` function could technically get called multiple times since it's invoked in a build() method. (In this sample, it probably won't because nothing in the parent widget will change.)

 Instead, the call to `connect()` could be moved into an `initState()` and cleaned up in by overriding `dispose()`.

For bonus points, the `channel` parameter could still be

[2020-12-11 20:14] feinstein commented on #5068
Yes, and even if it won't be rebuilt, the examples should reflect best practices, so begginers don't get in trouble. In special since many don't know `build` should be indempotent.

[2020-12-11 20:24] sfshaza2 commented on #5068
No question! Which of you wants to fix this?  :)

On Fri, Dec 11, 2020 at 12:14 PM Michel Feinstein <notifications@github.com>
wrote:

[2020-12-12 22:32] micpap25 opened #5083 "Add a link to the r/FlutterDev discord in the Contributing page"
If it's possible, we could add this link for even easier access to the community Discord.

[2020-12-13 14:18] elcolie opened #5084 "byType is not a valid method"
https://codelabs.developers.google.com/codelabs/flutter-app-testing/#6
`  final listFinder = find.byType('ListView');`

![image](https://user-images.githubusercontent.com/18206728/102014443-8ae45b00-3d88-11eb-914e-3ff4c679bbc3.png)

I can't find `byType` method

[2020-12-13 14:21] elcolie opened #5085 "Icons.close is not shown in the app, but it can be tested"
I don't see `Icons.close` in the emulator.

[code]
https://codelabs.developers.google.com/codelabs/flutter-app-testing/#5

[2020-12-13 19:17] jjgibs opened #5086 "'Flutter documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-12-14 14:39] ahmeddabak opened #5088 "'Internationalizing Flutter apps' page issue"
Page URL: https://flutter.dev/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

You refe

[2020-12-14 14:40] #5088 closed

[2020-12-14 14:40] ahmeddabak commented on #5088
Duplicate of https://github.com/flutter/website/issues/5057

[2020-12-14 17:16] mbcode64 commented on #4996
I posted corrected code at https://stackoverflow.com/questions/65207626/hosting-native-android-and-ios-views-in-your-flutter-app-with-platform-views/65264459#65264459.

You also need to call super.configureFlutterEngine(flutterEngine) in the overrided method in MainActivity.

[2020-12-15 05:49] RedBrogdon commented on #5055
My understanding is that a number of years ago, Sentry was one of the first options for Flutter developers that needed crash reporting. Since then, a number of other alternatives (Crashlytics being a great one) have entered the market.

IMHO, it would be good to remove the reliance on any one service by refactoring the article into a more generic one on trapping and recording unhandled exceptions

[2020-12-15 08:11] #3813 closed

[2020-12-15 08:29] happyharis opened #5089 "Integration Testing Sidebar typo"
Typo on the side bar: Integration Testinng

[2020-12-15 09:30] AkshayDilod opened #5091 "No implementation found for method share on channel plugins.flutter.io/share"
ListTile(
          leading: Icon(
            Icons.share,
            color: JdColor.primary,
          ),
          title: Text('Share App'),
          onTap: () async {
            await Share.share(
                'https://play.google.com/store/apps/details?id=com.tencent.ig&hl=en');
          },
        ),
![share](https://user-images.githubusercontent.com/29436937/102196579-19baba00-3ee6-1

[2020-12-16 00:57] drekka commented on #5062
Actually can close this. It turns out that the Flutter docs are out of date and the files are actually generated into the `.dart_tool/flutter_gen/gen_l10n` directory.

[2020-12-16 01:30] shihaohong commented on #5062
Hey @drekka, sorry about the delay with getting back to this. Could you share which part of the Flutter docs are out of date? I'd like to go and sort that out if that's still a problem. If it's something we can fix on the framework side of things, file an issue at [flutter/flutter](https://github.com/flutter/flutter/issues/new/choose) and cc/ me in on it!

[2020-12-16 02:15] drekka commented on #5062
A couple of places on https://flutter.dev/docs/development/accessibility-and-localization/internationalization

First, second code example under setup which looks like this:

[code]

Should be something like this:

[code]

Basically to import the generated flutter package and use it's prebuilt arrays which include all the entries in the original code plus the generated localisation code. Also A go

[2020-12-16 02:59] drekka commented on #5062
Oh, one last thing. The bottom of the dock talks about the `intl_translation` package for reading and writing to *.arb files. I'm using intl 0.17.0-nullsafety.2 and `flutter pub get` throughs version conflicts if I try to include `intl_translation`. As the language darts files are being generated without it, I'm assuming it's no longer needed? Which would possibly change that whole section?

[2020-12-16 09:54] #5089 closed

[2020-12-16 09:54] happyharis commented on #5089
Typo has been fixed.

[2020-12-16 16:17] sfshaza2 commented on #5062
Thanks so much for this additional info, @drekka!

[2020-12-16 16:27] sfshaza2 commented on #5091
@AkshayDilod, this is not a bug for the flutter.dev docs. Also that error message is rather confusing. The flutter.io site no longer exists. Moving to the flutter/flutter repo.

[2020-12-16 16:29] sfshaza2 commented on #5086
Nothing listed. Closing.

[2020-12-16 16:29] #5086 closed

[2020-12-16 16:31] sfshaza2 commented on #5085
I believe this codelab needs updating now that the integration_test package is available.  @domesticmouse

[2020-12-16 16:34] sfshaza2 commented on #5083
I'm definitely ok with that.

[2020-12-16 16:37] AkshayDilod opened #5098 "No implementation found for method share on channel plugins.flutter.io/share"
ListTile(
          leading: Icon(
            Icons.share,
            color: JdColor.primary,
          ),
          title: Text('Share App'),
          onTap: () async {
            await Share.share(
                'https://play.google.com/store/apps/details?id=com.tencent.ig&hl=en');
          },
        ),
![flutter](https://user-images.githubusercontent.com/29436937/102583991-9b4f5980-412b

[2020-12-16 16:51] slevikov opened #5099 "'Chrome OS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/chromeos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/chromeos.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-12-17 01:47] elcolie commented on #5085
I looked on the wrong app page. What a newbie 🤦🏻‍♂️

[2020-12-17 01:47] #5085 closed

[2020-12-17 07:54] JieBin-Li opened #5101 "问题"
Failed to send crash report due to a network error: SocketException: OS Error: Operation timed out,
errno = 60, address = clients2.google.com, port = 51611
Oops; flutter has exited unexpectedly: "FileSystemException: Cannot open file, path =
'/Users/jayj/flutter_dome/flutter_app01/android/local.properties' (OS Error: Permission denied,
errno = 13)".

A crash report has been written to
/var/folders

[2020-12-17 08:21] drekka commented on #5062
And it just keeps on giving ... :-) I've realised that some material widgets aren't honouring the locale (looking at date picker for example - known issue) so it looks like there needs to be some additional code in the material app setup in the `localeListResolutionCallback: (locales, supportedLocales) {...}` argument. Still looking at this and trying to understand what needs to be done.

[2020-12-17 17:30] #5034 closed

[2020-12-17 19:50] jmagman commented on #5034
Thanks @micpap25!

[2020-12-17 20:21] Tofil commented on #3627
I believe both could, right ?

[2020-12-18 13:53] draxex opened #5103 "How can I be notified that the local notification has been sent?"
Hi,

I am using flutter_local_notifications to send users notifications. In my application, there is only one button, when people click it, they can set an alarm for a specific time.  At the same time, if the alarm has been set, the button text will be "cancel alarm" and the user can cancel the alarm by clicking on it.

My problem is how can I know when the alarm has been sent while the applicatio

[2020-12-18 15:09] aadarshadhakalg commented on #4382
@MateusAmin You should add dark tools to path explicitly to use them. Which is generally located at

[code]

Adding this line at the end of .bashrc file should work.

[code]

[2020-12-19 02:34] Roshan13046 commented on #5083
I would like to work on this issue.

[2020-12-19 03:46] micpap25 commented on #5083
My PR that you referenced linked to the current community page on the Flutter website. This PR is referring to the r/FlutterDev discord server.

[2020-12-19 03:49] Roshan13046 commented on #5032
I would like to work on this issue.

[2020-12-19 04:13] Roshan13046 commented on #5076
Can you please describe more about this issue on what exact changes are needed?
I am a new contributor.

[2020-12-19 05:36] devabhishekpal opened #5109 "Update tutorial on 'Take a picture using the camera' page"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue:

I think the tutorial isn't updated with the latest version of the Camera Plugin, since the _controller.takePicture(path) gives an error for **path** argument telling that it takes 0 argume

[2020-12-19 06:42] Bookie164 opened #5110 "Change phrasing for 'Configure signing in gradle' on 'Build and release an Android app' page"
Page URL: https://docs.flutter.dev/deployment/android#configure-signing-in-gradle
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description of issue:
This page used to show how to configure Gradle by showing two code blocks. One code block would replace another so the usage of replace "code1" with "code2" was ok. Like in the attached screenshot.
<img w

[2020-12-19 06:52] Bookie164 opened #5111 "'Build and release an Android app' page issue"
Page URL: https://flutter.dev/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description of issue:

keytool was not in my path so I had to run flutter doctor -v to get the path mentioned after ‘Java binary at:’
replaced java with the word 'keytool' and ran it several times before realising that keytool meant the entire comma

[2020-12-19 09:40] AkshayDilod opened #5112 "X Flutter plugin not installed; this adds Flutter specific functionality. X Dart plugin not installed; this adds Dart specific functionality."
Microsoft Windows [Version 10.0.19042.685]
(c) 2020 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>flutter doctor -v
[√] Flutter (Channel stable, 1.22.5, on Microsoft Windows [Version 10.0.19042.685], locale en-US)
    • Flutter version 1.22.5 at C:\src\flutter
    • Framework revision 7891006299 (9 days ago), 2020-12-10 11:54:40 -0800
    • Engine revision ae90085a84
    • Dart

[2020-12-19 10:12] Roshan13046 commented on #4661
I would like to work on this issue.
so, should I add a link or define difference between packages and plugins?

[2020-12-19 11:03] Roshan13046 commented on #4471
Is this issue active. Can I work on it?

[2020-12-19 11:24] Roshan13046 commented on #4215
can you please describe where to put the documentation about --dart-define key?

[2020-12-19 13:04] Roshan13046 commented on #3620
both the URL links not working.

[2020-12-19 15:30] AkshayDilod commented on #5098
It happens due to the share package version not compatible with the Gradle version.

[2020-12-19 15:30] #5098 closed

[2020-12-19 21:00] sfshaza2 commented on #4661
Go for it! I would like to see a section added to the beginning of the page defining the difference. Then we can link to that text from other pages, as needed.

[2020-12-19 21:01] sfshaza2 commented on #5032
Go for it!

On Fri, Dec 18, 2020 at 7:49 PM Roshan Prakash Raut <
notifications@github.com> wrote:

[2020-12-19 21:19] sfshaza2 commented on #4215
@Roshan13046, we now have a [Flutter CLI page](https://flutter.dev/docs/reference/flutter-cli). It should go there.

[2020-12-19 21:21] sfshaza2 commented on #4471
@johnpryan, can you weigh in here?  (@Roshan13046, John is on vacation until the new year.)

[2020-12-19 23:39] Jeerasak-Sittising opened #5114 "'Learn more' page issue"
Page URL: https://flutter.dev/docs/get-started/learn-more.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/learn-more.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-12-20 07:30] AkshayDilod commented on #5112
![Capture](https://user-images.githubusercontent.com/29436937/102707709-53633a80-42c3-11eb-844e-aeb123efa990.PNG)

[2020-12-20 14:28] AkshayDilod opened #5116 "java.lang.NoClassDefFoundError: Class not found using the boot class loader"
Launching lib\main.dart on YU5010A in debug mode...
lib\main.dart:1
Parameter format not correct -
**√ Built build\app\outputs\flutter-apk\app-debug.apk.**
E/AndroidRuntime(20267): FATAL EXCEPTION: main
E/AndroidRuntime(20267): Process: com.example.fluttertest, PID: 20267
E/AndroidRuntime(20267): java.lang.RuntimeException: Unable to instantiate application android.support.multidex.MultiDexApplica

[2020-12-20 19:00] Roshan13046 commented on #4215
The article link is not working. Can you please share a correct link for reference about the topic dart-define key?

[2020-12-20 19:57] TatsuUkraine commented on #4215
@Roshan13046 strange, it works for me, here is a friendly [link from medium](https://itnext.io/flutter-1-17-no-more-flavors-no-more-ios-schemas-command-argument-that-solves-everything-8b145ed4285d?source=friends_link&sk=256607486556b496d27397d6c238f131) let me know if it works

[2020-12-21 00:07] sfshaza2 commented on #4215
I found another copy on [binary.studio](https://binary-studio.com/2020/06/23/flutter-3/).

[2020-12-21 00:10] TatsuUkraine commented on #4215
@sfshaza2 it might be not up to date, I was making changes in the article on medium after 1.20 flutter release

[2020-12-21 00:12] TatsuUkraine commented on #4215
@sfshaza2 thanks for reminding me about it, btw) need to update it as well)

[2020-12-21 00:23] #5083 closed

[2020-12-21 04:23] Roshan13046 commented on #4215
Thanks! The link is working now.
Should I include another row in the table of [https://flutter.dev/docs/reference/flutter-cli] for --dart-define key or write a separate section for --dart-define key?

[2020-12-21 07:33] ayushmehre opened #5119 "'Handle changes to a text field' page issue"
Page URL: https://flutter.dev/docs/cookbook/forms/text-field-changes.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/forms/text-field-changes.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: TextEditingController should be initialized inside setstate inside in

[2020-12-21 08:32] talebalmarri opened #5120 "Google"

[2020-12-21 14:01] #5112 closed

[2020-12-21 14:03] AkshayDilod commented on #5112
when we run flutter doctor its shows 2 categories of issues. but flutter works fine simply ignore those errors.

[2020-12-22 11:56] ching7 commented on #5014
Yes, I hope the examples on the official website can use the latest version of swift and Xcode. If not, I hope to mark the tool version used in the tutorial

[2020-12-22 21:40] najeebaslan opened #5122 "'JSON and serialization' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/json.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/json.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-12-24 08:41] noamraph commented on #5076
@Roshan13046 I think that if you are a new contributor, you should not document areas that you are not familiar with.

[2020-12-25 06:00] Roshan13046 commented on #5076
But, if you suggest me the edits I can do it properly.
Please, suggest the required changes.

[2020-12-25 08:20] zmeggyesi opened #5128 "'Integration testing' page issue"
Page URL: https://flutter.dev/docs/testing/integration-tests/
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/integration-tests/index.md

Description of issue:

I'm trying to follow the instructions to migrating away from using `flutter_driver` directly, in favor of using `integration_test`, as well as running my tests on Firebase Test Lab.

While running on a physical

[2020-12-25 09:37] noamraph commented on #5076
I'm sorry, I don't have time to suggest the edits. I notified about the
document needing an update. Those who are familiar with the matter should
know how to fix it.

Thanks,
Noam

[2020-12-25 18:52] miksen opened #5130 "Camera example code doesn't pass analysis"
This page has a full example of using the camera plugin:
https://flutter.dev/docs/cookbook/plugins/picture-using-camera#complete-example

This code doesn't work with the most recent version of the camera plugin (`0.6.2+1`), as it doesn't pass analysis:

[code]

The following line is the one that triggers this:

[code]

[2020-12-25 18:53] miksen commented on #5130
From the changelog, it appears that `takePicture` no longer takes a path:
https://pub.dev/packages/camera/changelog#060

[2020-12-27 02:20] aadarshadhakalg commented on #4968
Hopefully, #5132  fixes this

[2020-12-27 04:58] toly1994328 opened #5133 "Correct text around `InkFeature` on 'Debugging Flutter apps programmatically' page"
### Page URL

https://docs.flutter.dev/testing/code-debugging

### Description

![image](https://user-images.githubusercontent.com/26687012/103164162-8cab2580-4842-11eb-9db3-45a75a130d32.png)

The `InkFeature` should be `_InkFeature`.  Because  `_InkFeature` is an implementation detail of the `Material` widget.

![image](https://user-images.githubusercontent.com/26687012/103164180-d431b180-4842-11

[2020-12-27 22:38] finnjohnsen opened #5134 "Fix bad example on 'Work with WebSockets' page"
Page URL: https://flutter.dev/docs/cookbook/networking/web-sockets.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/web-sockets.md

Description of issue:
By following this example of web-sockets by copy&paste;
- On Android Emulator I get  'Bad state: Insecure HTTP is not allowed by platform:'
- In Chrome / flutter web I get 'Unsupported operation: Platf

[2020-12-27 23:13] finnjohnsen commented on #5134
I made progress for Android, by changing three things:

1.
In profile/Manifest.xml I added this to <application>
            android:networkSecurityConfig="@xml/network_security_config"

2. res/xml/network_security_config.xml I added
[code]
3. I changed the url to begin with wss:// instead of ws://, which seemed to go back to http.

[2020-12-28 03:06] shihaohong commented on #5062
I'll try to address these bit by bit:

[code]

[code]

Nice! Thanks for catching these, I'll address them in an upcoming PR.

Looks like this was already fixed :)

Ahh I see, you're right. This is because the helper supportedLocales and localizationsDelegates arrays provide these. It's only necessary if you need to make direct use of stuff like `GlobalMaterialLocalizations.delegate` in the app. I'

[2020-12-28 10:13] yore22 opened #5136 "'Flutter documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-12-29 02:20] Rob-Pitt opened #5137 "Update example with correct filename on 'Integration testing' page"
https://docs.flutter.dev/testing/integration-tests#running-in-a-browser

**Says:**

Create file test_driver/integration_test_driver.dart

**But then says:**

[code]
This runs the tests in foo_test.dart via the adapter in test_driver/integration_test.dart.

**Expected:**
_test_driver/integration_test.dart_ and _test_driver/integration_test_driver.dart_ to match.

[2020-12-31 15:19] mprogers opened #5143 "'macOS install' page issue"
Page URL: https://docs.flutter.dev/get-started/install/macos
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Description of issue:

The instructions failed to mention what to do if **flutter run** gives this output:

[code]

This was a bug/issue that was reported in [January of 2020](https://github.com/flutter/flutter/issues/49290)

The solution t

[2020-12-31 16:07] srosti opened #5144 "Check that `ElevatedButton` works on 'Update data over the internet' page"
Page URL: https://flutter.dev/docs/cookbook/networking/update-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/update-data.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
ElevatedButton doesn't work... "FlatButton" works.

With this example, I

[2021-01-03 11:27] KumarLakshmanan opened #5149 "wrong command instructions in google codelabs"
Last day I see the google codelabs website. and read about "How to create Flutter plugin ?"

[https://codelabs.developers.google.com/codelabs/write-flutter-plugin](https://codelabs.developers.google.com/codelabs/write-flutter-plugin)
I found this article and I read the 3rd Step **Generate the plugin template**

And I found a wrong command
$ flutter create --template=plugin --org com.example --temp

[2021-01-04 21:09] polina-c opened #5152 "Fix recipe on 'Quit Application' recipe on 'Handling errors in Flutter' page"
Page URL: https://docs.flutter.dev/testing/errors
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/errors.md

Description of issue:

It seems the [recipe](https://flutter.dev/docs/testing/errors#quit-application-on-encountering-an-error) does not work for web.

In details:

I created application with `flutter create hello' and copied the code to quit the app on error.
T

[2021-01-04 22:39] polina-c commented on #5152
If it helps, this is the code that works for web:

[code]

[2021-01-05 18:14] Hall-e3 opened #5153 "'Flutter documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-01-05 23:31] bbugh commented on #1975
The stable feed link doesn't work, and everywhere I can find reference to it is the same link. I wasn't able to find anything in all of the doc sites or an Internet search. This seems to be the only related task that is still open.

Is there a fixed URL for https://docs.flutter.io/offline/flutter.xml? It redirects to https://api.flutter.dev/offline/flutter.xml and is a 404. The master XML URL seem

[2021-01-06 00:43] Hixie commented on #2465
Since we have plenty of links already, this is probably not critical to add. There's a growing number of places for Flutter developers to hang out with each other and it would be impractical to list them all at this point.

[2021-01-06 00:43] #2465 closed

[2021-01-06 00:50] johnpryan commented on #4471
@mcavazotti can you clarify why a `Map` is more beginner friendly than the `ScreenArguments` class currently used in the article?

[2021-01-06 01:14] Hixie commented on #2008
https://github.com/flutter/website/pull/5155, https://github.com/flutter/website/pull/5156.

[2021-01-06 01:14] #2008 closed

[2021-01-06 09:00] Spodeopieter2 opened #5157 "Update 'Report errors to a service' page to work with Sentry 4.0.1"
Page URL: https://docs.flutter.dev/cookbook/maintenance/error-reporting
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/maintenance/error-reporting.md

The code examples seem to be a little out of date, here are some fixes I had to do in order to get it working on Sentry 4.0.1

[code]

[code]

[2021-01-06 17:15] em-azhar opened #5158 "'Use a custom font' page issue"
Page URL: https://flutter.dev/docs/cookbook/design/fonts.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/fonts.md

Description of issue:
![Screen Shot 2021-01-06 at 10 37 26 PM](https://user-images.githubusercontent.com/70394391/103797216-4a6abb00-5070-11eb-9106-cdd965935bc0.png)
![Screen Shot 2021-01-06 at 10 37 41 PM](https://user-images.githubuserconten

[2021-01-06 20:01] #4968 closed

[2021-01-06 21:15] blasten commented on #5159
This issue was fixed in https://github.com/flutter/website/pull/5129

[2021-01-06 21:15] #5159 closed

[2021-01-07 03:14] #5062 closed

[2021-01-07 12:44] PeterKazimir opened #5161 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue:

When I copy the final code, I get an error at
l. 110 await _controller.takePicture(path);

"Too many positional arguments: 0 expected, but 1 found. "

As a result, the photo is not saved o

[2021-01-07 23:55] sfshaza2 commented on #5084
Hi @elcolie! This is not a good place for getting support. For that, check out the various venues on our [community page](https://flutter.dev/community). But I did find this:  https://api.flutter.dev/flutter/flutter_test/CommonFinders/byType.html

[2021-01-07 23:55] #5084 closed

[2021-01-07 23:56] sfshaza2 commented on #5099
Nothing listed. Closing.

[2021-01-07 23:56] #5099 closed

[2021-01-07 23:57] sfshaza2 commented on #5101
@JieBin-Li, this is not the place to file an issue like this. You can create an issue on the flutter/flutter repo, but it will need more explanation and a reproducible case. Thx

[2021-01-07 23:57] #5101 closed

[2021-01-07 23:59] sfshaza2 commented on #5103
Hi, @draxex! This is not the place to get support. Please refer to one of the avenues on the Flutter [community page](https://flutter.dev/community).

[2021-01-07 23:59] #5103 closed

[2021-01-08 00:00] sfshaza2 commented on #5109
@johnpryan, can you check or delegate?

[2021-01-08 00:22] sfshaza2 commented on #5114
Nothing listed.

[2021-01-08 00:22] #5114 closed

[2021-01-08 00:22] #5120 closed

[2021-01-08 00:22] #5153 closed

[2021-01-08 00:23] #5136 closed

[2021-01-08 00:25] sfshaza2 commented on #5128
@johnpryan, any insight?

[2021-01-08 00:27] sfshaza2 commented on #5116
@AkshayDilod, this is not the venue for support. Please refer to one of the avenues listed on the Flutter [community page](https://flutter.dev/community).

[2021-01-08 00:27] #5116 closed

[2021-01-08 00:28] sfshaza2 commented on #5130
It appears that this cookbook recipe needs updating. PRs welcome.

[2021-01-08 00:29] #5042 closed

[2021-01-08 00:32] #5122 closed

[2021-01-08 00:33] johnpryan commented on #5109
This is correct, [`takePicture`](https://pub.dev/documentation/camera/latest/camera/CameraController/takePicture.html) no longer takes a path, so this needs to be fixed.

[2021-01-08 00:49] johnpryan commented on #5128
It looks like you're running Flutter Driver on Firebase TestLab. The correct way is to upload the APKs created in the [Android Device Testing](https://pub.dev/packages/integration_test#android-device-testing) (or [iOS Device Testing](https://pub.dev/packages/integration_test#ios-device-testing)) sections of the README.

On this page we say:

Can you add more details about what steps you are taking

[2021-01-08 00:58] sfshaza2 commented on #5133
@toly1994328, where is this page? Can you provide a URL?

[2021-01-08 01:17] toly1994328 commented on #5133
https://github.com/flutter/website/blob/master/src/docs/testing/code-debugging.md

[2021-01-08 04:51] zmeggyesi commented on #5128
@johnpryan That is correct, I'm following the steps outlined [here](https://flutter.dev/docs/testing/integration-tests/) and [here](https://flutter.dev/docs/testing/integration-tests#uploading-an-android-apk).

I'm attaching an [example `app_test.dart` file](https://github.com/flutter/website/files/5785258/test.dart.txt) here (`.txt` extension mandated by GitHub), as well as [the excerpt from my `

[2021-01-08 07:06] debasiskoley opened #5163 "'Report errors to a service' page issue"
Page URL: https://flutter.dev/docs/cookbook/maintenance/error-reporting.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/maintenance/error-reporting.md

Description of issue: Please update the doc.

[2021-01-08 20:20] VarunSAthreya commented on #5074
If the issue is still open I would like to work on it.

[2021-01-08 20:37] VarunSAthreya commented on #5144
@srosti I guess the widget `ElevatedButton` was introduced in version 1.22.0

[2021-01-09 01:13] johnpryan opened #5165 "Add deferred loading to web documentation"
We should add documentation for using deferred imports in our web documentation. See https://github.com/flutter/flutter/issues/67303 for context.

[2021-01-09 20:21] VarunSAthreya commented on #5109
If the issue is still open I would like to work on it.

[2021-01-10 03:02] #5149 closed

[2021-01-10 06:44] AshutoshPatole opened #5167 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
The documentations has to be updated because _controller.take

[2021-01-10 06:45] AshutoshPatole commented on #5167
#5161

[2021-01-10 06:45] #5167 closed

[2021-01-10 20:08] SpencerRiddering opened #5168 "'Build and release an Android app' page issue"
Page URL: https://flutter.dev/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

This guide doesn't mention Google Play's pre-launch reports. Do pre-launch reports work with Flutt

[2021-01-10 23:16] kuyaC opened #5169 "Clarify location on assets on 'Adding assets and images' page"
Page URL: https://docs.flutter.dev/ui/assets-and-images
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/assets-and-images.md

Description of issue:

I think this part of the page is outdated/false:

I have pictures in a folder like this: assets/country_flags/...

If I use:

[code]

it doesn't work, I get errors while trying to load the assets during runtime.
(bu

[2021-01-11 06:58] rollas opened #5170 "'Write your first Flutter app, part 1' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Description of issue:
Codes in Step 2 & 3 missing AppBar things. I couldn't run the code without it.

[2021-01-11 13:54] joshuajennysibbu opened #5171 "Exception has occurred. MissingPluginException (MissingPluginException(No implementation found for method Firebase#initializeCore on channel plugins.flutter.io/firebase_core))"
I get this exception....... i try many ways but I cannot solve.....

![Screenshot from 2021-01-11 19-11-41](https://user-images.githubusercontent.com/59843233/104190378-085fc180-5442-11eb-9c78-95eb011459be.png)

[2021-01-12 01:10] speller opened #5173 "Deployment page is inconsistent"
https://flutter.dev/docs/deployment/android

1. When I follow all the steps and build an app bundle, I can't upload it to Google Play: (translated) `The uploaded APK file or App Bundle was signed in the debug mode. Sign the file or bundle in the release mode`. What should I do then?

2. The `How do I build a release from within Android Studio?` section https://flutter.dev/docs/deployment/android#h

[2021-01-13 12:11] kishanhitk opened #5179 "pubspec.yaml in integeration test example is using an older version of the integration_test package."
Currently, it is using 0.9.0, but the latest stable is 1.0.1.

[2021-01-13 18:13] imrishuroy commented on #5171
Initialize Firebase first before using it in your app. Check this page - https://firebase.flutter.dev/docs/overview

[2021-01-14 04:57] richardhaven opened #5182 "'JSON and serialization' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/json.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/json.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: "Encoding and serialization are the same thing—turning a data structu

[2021-01-14 05:02] richardhaven opened #5183 "'Advanced UI' page issue"
Page URL: https://flutter.dev/docs/development/ui/advanced/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/advanced/index.md

Description of issue: Focus handling system is not yet implemented

Either create a page for it (oh please, oh please) or remove the title

[2021-01-14 14:10] m01i0ng opened #5184 "'Codelabs' page issue"
Page URL: https://flutter.dev/docs/codelabs/
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-01-14 14:11] #5184 closed

[2021-01-14 17:47] ehabelnahas opened #5186 "'Animations tutorial' page issue"
Page URL: https://flutter.dev/docs/development/ui/animations/tutorial.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/tutorial.md

I think the last 3 lines (line number 44,45 and 46)  should be removed from the following tutorial example:

  | @@ -32,7 +32,15 @@
-- | --
     32 | void initState() {
     33 | super.initState();
     34 | controlle

[2021-01-14 19:10] TekExplorer opened #5187 "Missing Diagram in the FAQ"
there appears to be a missing link in the ["What technology is Flutter built with?"](https://flutter.dev/docs/resources/faq#what-technology-is-flutter-built-with) section of the FAQ:
[`src/docs/resources/faq.md`](https://github.com/flutter/website/blob/master/src/docs/resources/faq.md) line [`161`](https://github.com/flutter/website/blame/master/src/docs/resources/faq.md#L161) < Links included

![

[2021-01-16 11:41] joshuajennysibbu commented on #5171
I try this but still getting that exception.........

``

[2021-01-16 20:26] #1870 closed

[2021-01-17 03:01] i3games opened #5190 "Codelab "How to test a Flutter app" Step 6 Widget tests throw exceptions"
Following the instructions on the Codelab "How to test a Flutter app" through to Step 6 "Widget Testing"
on page

https://codelabs.developers.google.com/codelabs/flutter-app-testing#5

beginning with 'Testing Scrolling', widget tests throw exceptions (see below) and fail, regardless of platform and regardless if physical device or emulator. 'Testing if ListView shows up' does succeed.

Code is cop

[2021-01-17 20:41] KanameUwU opened #5193 "Hi"
UwU

[2021-01-17 20:42] #5193 closed

[2021-01-17 21:46] unsalatasoy opened #5194 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue:

takePicture method doesn't take any argument and return XFile.

// Attempt to take a picture and log where it's been saved.
            await _controller.takePicture(path);

[2021-01-19 04:17] Abhishek01039 commented on #5119
Hello @ayushmehre
I am not able to reproduce this issue.

[2021-01-19 10:20] andzejsw opened #5197 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue: "takePicture" method uses file path, while in latest version "0.6.4+5" there is no parameters for this method! So documentation is outdated!

[2021-01-19 11:43] mcavazotti commented on #4471
@johnpryan I had the opportunity to teach Flutter to some people in the company where I used to work. People who are new to Flutter usually have a hard time trying to grasp this whole "widget" concept, although it's pretty simple once you get it.

When I was a beginner in Flutter, I also found it hard to understand **why** I had to use an intermediate class to pass arguments to a route. Using a `M

[2021-01-19 17:00] johnpryan commented on #4471
What do you think about adding comment that says that since the type is `dynamic`, it can be any object, like a Map?

[2021-01-19 19:44] xster opened #7768 "Add some screenshots for how to run profile / release in IDEs"
Could be in https://flutter.dev/docs/testing/build-modes.

Show the Android Studio Flutter module commands. Also show Android Studio's Android Build Variant pane and Xcode's build configuration drop down in the scheme editor.

[2021-01-20 00:16] darwin-morocho commented on #3938
@sfshaza2 Any update for this?

[2021-01-20 09:58] hendy3617 opened #5198 "'Animation and motion widgets' page issue"
Page URL: https://flutter.dev/docs/development/ui/widgets/animation.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/animation.md

Description of issue:

AnimatedListState is being shown rather than AnimatedList itself.

[2021-01-20 14:47] stuartmorgan opened #7767 "Document macOS localization"

[2021-01-20 17:44] sfshaza2 commented on #3938
@johnpryan @domesticmouse, @RedBrogdon, can one of you take a look? Or suggest a SWE who can help? I believe that Matt C owned this area but he left us about a year ago.

[2021-01-20 17:45] sfshaza2 commented on #5163
@johnpryan, are you aware of updates that this page requires?

[2021-01-20 18:42] kadirselcuk opened #5200 "'Widget catalog' page issue"
Page URL: https://flutter.dev/docs/development/ui/widgets/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-01-22 02:33] micpap25 commented on #5200
You might have posted this issue by accident and forgot to add your description. Please either elaborate on this issue or close it. Thank you.

[2021-01-22 02:39] micpap25 commented on #5187
I found the past commit that accidentally changed `[architecture diagram]` to just `[diagram]` which broke this. Making a PR now.

[2021-01-22 02:45] micpap25 commented on #5186
Do you have any specific reason why? The point of the tutorial is to teach users how to use `addStatusListener()`. I'd like to hear your logic for removing this section.

[2021-01-22 02:50] micpap25 commented on #5183
From what I can tell... it looks like it may have been lost?
![image](https://user-images.githubusercontent.com/34077605/105439270-8b4afe00-5c32-11eb-816e-c2f11364d7b4.png)
I'd change the title to directly say "Implement the 'Focus handling system' page" or something. I'm shocked there isn't an issue open on this. Good catch!

[2021-01-22 02:58] micpap25 commented on #5158
Can you try indenting `fonts:` forward so it exactly matches the documentation? If this is a real issue then it will require a lot of changes over a lot of Flutter sites.

[2021-01-22 04:28] #5200 closed

[2021-01-22 14:41] TekExplorer commented on #5187
glad to help!

[2021-01-22 18:27] #5187 closed

[2021-01-22 22:16] tusharojha opened #5208 "[bottom-navigation-title-to-label] README file contains incomplete urls for api documentation"
In this [README File](https://github.com/flutter/website/blob/master/src/docs/release/breaking-changes/bottom-navigation-title-to-label.md) there are several incomplete URLs for API documentation that needs to be updated.

[2021-01-23 08:51] KenChoi1992 opened #5209 "'Adding assets and images' page issue"
Page URL: https://flutter.dev/docs/development/ui/assets-and-images.html
Page source: https://github.com/flutter/website/blob/master/src/docs/development/ui/assets-and-images.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
You're not describe how to load assets files like JSON from **packages*

[2021-01-25 04:33] JoseFMP opened #5211 "'Build and release an Android app' page issue"
Page URL: https://flutter.dev/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description of issue:

Following this instructions Google Play console says "You uploaded an APK or Android App Bundle signed with a certificate that expires too soon. You need to sign your APK or Android App Bundle with a certificate that expires f

[2021-01-25 12:31] MalteMagnussen opened #5212 "'List of state management approaches' page - Dead link 404"
On this page: https://flutter.dev/docs/development/data-and-backend/state-mgmt/options

The following link is 404'ing:

The link is pointed at the following 404 url: https://pub.dev/packages/async_redux/

![image](https://user-images.githubusercontent.com/11192971/105706128-6fd14300-5f11-11eb-92fe-b1c6cd871a84.png)

[2021-01-25 14:32] Maya163 opened #5213 "Error:Android Source Generator: [skylinksharingmaster] AndroidManifest.xml file not found"

[2021-01-25 20:47] sticksen opened #5214 "'Start thinking declaratively' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/state-mgmt/declarative.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/declarative.md

Description of issue:
[code]
I don´t really understand this claim and I think, a verbose example would be great here! ✌️

[2021-01-25 22:37] #5074 closed

[2021-01-26 04:55] tampro9x92 opened #5217 "auto close app when run flutter for web"
i'm using popOS 20.10 and browser is brave
I have code like this
https://paste.ofcode.org/37CrLRGVMycUFN8LAiCddRk
I run it on the browser sometime my website it just auto close it after it finish and send me no error

[2021-01-27 00:44] johnpryan commented on #5163
No, I'm not sure what this refers to.

[2021-01-27 01:05] sfshaza2 commented on #5163
OK, @debasiskoley, I am closing this issue. Please re-open if you have a list of specific issues that need to be addressed. Thanks!

[2021-01-27 01:05] #5163 closed

[2021-01-27 16:08] chinmoy12c opened #5219 "Change deprecated function of snackBar in Dismissible example"
The website example of Dismissible (https://flutter.dev/docs/cookbook/gestures/dismissible) uses deprecated version of showing snackbar ```Scaffold.showSnackBar``` instead of ```ScaffoldMessenger.showSnackBar```.

[2021-01-27 22:55] johnpryan opened #5223 "Explain changes to integration testing: `waitFor` vs `pump`"
[this section](https://flutter.dev/docs/testing/integration-tests#migrating-from-flutter_driver) of the integration testing page  needs more detail around the waitFor vs pump* APIs.

- Why waitFor / waitForAbsent are deprecated
    - (performance + accuracy
    - introduces extra work that can throw off benchmarks
    - can make tests more flaky,
- How to use pump APIs
    - pump can drive to spec

[2021-01-28 01:16] micpap25 commented on #5217
I think you might be in the wrong place. This is the GitHub for the Flutter documentation website.
If you are trying to report an error with the Flutter language itself, please go to the [flutter/flutter repository](https://github.com/flutter/flutter)
However, it looks like you're asking about errors in your code. I would recommend instead going to [StackOverflow](https://stackoverflow.com/)

[2021-01-28 01:19] micpap25 commented on #5213
It seems you might have posted this issue by accident. Please either elaborate on the problem so your issue can be solved, or close this issue. Thank you.

[2021-01-28 01:22] micpap25 commented on #2058
Just bumping this, @sfshaza2

[2021-01-28 01:25] micpap25 commented on #4401
Hi @vatsal-M, I'm also interested in working on this issue. Please let me know if you intend to make a PR to fix this, or if I can try to solve the issue. Thank you.

[2021-01-28 06:32] mansurbadamasi opened #5225 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-01-28 13:34] lyntree commented on #2068
Can someone please look into this as now its almost 2 years later in 2021 and still having the same issue? Same code but does not want to work

[2021-01-28 18:54] #5212 closed

[2021-01-28 21:43] chihero opened #5228 "'Write your first Flutter app, part 1' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-01-29 05:28] domesticmouse opened #5229 "'Mock dependencies using Mockito' page issue"
Page URL: https://flutter.dev/docs/cookbook/testing/unit/mocking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/mocking.md

Description of issue: This page needs to be updated for null safety. See Mockito's [NULL_SAFETY_README.md](https://github.com/dart-lang/mockito/blob/master/NULL_SAFETY_README.md) for details

[2021-01-29 10:01] PurpShell opened #5230 ""Using a plugin with Flutter web app" page issue - FlatButton is Deprecated"
Step 7 of "Using a plugin with Flutter web app" uses a FlatButton for a link to the privacy policy.. My IDE states that it is deprecated, by flutter.dev/go/material-button-migration-guide

[2021-01-29 11:16] White66778 opened #5231 "'Networking' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/networking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/networking.md

[2021-01-30 05:47] sfshaza2 commented on #5130
Dupe of https://github.com/flutter/website/issues/5109. Closing.

[2021-01-30 05:47] #5130 closed

[2021-01-30 17:49] guillempuche opened #5237 "Update imports in example on 'Writing custom platform-specific code' page"
### Page URL

https://docs.flutter.dev/platform-integration/platform-channels

### Page source

https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-channels.md

### Description of issue
Error when building the Android example.

**Solution:**
The code in `MainActivity.java` needs these libraries:
[code]

[2021-01-31 20:59] HasanElHefnawy opened #5238 "Offline saved page doesn't show properly"
1- open any webpage whose URL starts with [https://flutter.dev](https://flutter.dev)
2- press (CTRL + s) to save the page
3- open the offline saved page. It doesn't show properly.

Note: the issue doesn't exist in webpages whose URL start with [https://api.flutter.dev/](https://api.flutter.dev/)

[2021-02-01 16:48] dougclarknc opened #5241 "'Display a snackbar' page issue"
Page URL: https://flutter.dev/docs/cookbook/design/snackbars.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/snackbars.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

Update Scaffold.of(context).showSnackbar from deprecated usage to current ScaffoldMe

[2021-02-02 15:48] ebjorklund01 opened #5246 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue:

Section 5 shows to supply the variable path as a parameter to the .takePicture method. However, this method takes no parameters.

[2021-02-03 00:24] sfshaza2 commented on #5190
@johnpryan, I see this person is using the dev channel. Could that explain why the test is failing?

[2021-02-03 12:03] hosseinhadi opened #5249 "'Flutter widget index' page issue"
Page URL: https://flutter.dev/docs/reference/widgets.html
Page source: https://github.com/flutter/website/tree/master/src/docs/reference/widgets.md

Description of issue: Why the widget "DraggableScrollableSheet" is not in the list of the widgets which should be inclusive?

[2021-02-03 20:59] apieceofbart commented on #3824
@jonahwilliams  LOL, your website does not allow to download flutter and you redirect people to stack overflow?

[2021-02-03 21:02] apieceofbart commented on #3970
This still a problem no matter if you're on linux or windows - you have a CORS issue on your website
![Uploading image.png…]()

[2021-02-04 16:39] lotusgate opened #5255 "Screen flickers on keyboard opening/closing and there is additional offset on top of the keyboard"
1. Almost every time the keyboard opens/closes, the whole screen flickers.
2. When the keyboard is opened, although the scaffold takes all of the available space, its body doesn't - there is empty space below the content, as seen in the example. I noticed that locking and unlocking the phone makes that padding disappear.

OS:
Android 11, One UI 3 (Samsung device)

Flutter doctor:
[√] Flutter (Chan

[2021-02-05 08:07] chaluy007 opened #5260 "'DeTarget of URI doesn't exist: 'package:english_words/english_words.dart'. Try creating the file referenced by the URI, or Try using a URI for a file that does exist.vTools' page issue"
Page URL: https://flutter.dev/docs/development/tools/devtools/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/devtools/index.md

[2021-02-05 17:25] xxwassyxx commented on #4673
This is because of braves shield that blocks things it deems as bad. Disable it for the flutter page and things work as expected

[2021-02-05 17:34] sfshaza2 commented on #4673
Thanks for this explanation, @xxwassyxx!

@purezen and @pranjaljain0, can you confirm that this fixes your issue?

@RedBrogdon, @domesticmouse, @johnpryan, did you know that Brave doesn't work with DartPad unless the specific page is manually unblocked? I wonder if a note can be added to DartPad itself in this case.

[2021-02-05 17:36] sfshaza2 commented on #5255
@lotusgate, this is the repo for documentation issues on flutter.dev. This is an issue with Flutter behavior. I'm moving this to the flutter/flutter repo.

[2021-02-05 17:36] sfshaza2 commented on #5255
And thanks for providing the code and a video!!

[2021-02-05 18:03] johnpryan commented on #4673
We don't support the Brave browser, since it disables required features. See the [troubleshooting](https://dart.dev/tools/dartpad/troubleshoot) page for more info and a list of our [supported browsers](https://dart.dev/faq#q-what-browsers-do-you-support-as-javascript-compilation-targets)

[2021-02-05 18:03] #4673 closed

[2021-02-06 01:49] roeniss opened #5264 "misprint : https://codelabs.developers.google.com/codelabs/flutter-cupertino#9"
`switch (index) {]` should be `switch (index) {`

[2021-02-08 03:43] Abhishek01039 commented on #5264
cc @domesticmouse

[2021-02-09 06:40] Abhishek01039 commented on #5264
Thanks @domesticmouse

[2021-02-09 07:02] domesticmouse commented on #5264
I'm guessing the fix made it to production 😎

[2021-02-09 07:02] #5264 closed

[2021-02-09 13:20] alexhenriquepv opened #5269 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue:

The `takePicture()` method does not accepts positional arguments anymore.
To use him, return a XFile, ex: `final XFile picture = await _cameraCtrl.takePicture();`

[2021-02-09 14:45] pinguin999 opened #5270 "Syntax Error in the docs void _pushSaved()"
At https://codelabs.developers.google.com/codelabs/first-flutter-app-pt2#5
In this Code block

[code]

The last } is too much and than all code can be outdent by one tab.

And also the Link to report Issues is wrong: https://github.com/flutter/flutter/issues/75702

[2021-02-10 07:33] PurpShell commented on #5230
"Using a plugin with Flutter web app" page issue - FlatButton is Deprecated

Step 7 of "Using a plugin with Flutter web app" uses a FlatButton for a link to the privacy policy.. My IDE states that it is deprecated, by flutter.dev/go/material-button-migration-guide

[2021-02-10 07:33] #5230 closed

[2021-02-10 18:41] #5246 closed

[2021-02-10 19:07] Jeerasak-Sittising opened #5272 "'Flutter documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-02-11 07:56] staggone-ill opened #5277 "flutter sdk"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-02-11 11:36] Abhishek01039 commented on #5277
@staggone-ill
where you have found typo?

[2021-02-11 11:43] staggone-ill commented on #5277
Hello i am not able to /flutter creat app/

[2021-02-11 11:48] Abhishek01039 commented on #5144
These docs follow the latest stable version of flutter.

[2021-02-11 11:50] Abhishek01039 commented on #5137
I have created this PR https://github.com/flutter/website/pull/5265 and it merged.

please close this issue @sfshaza2

[2021-02-11 12:10] Abhishek01039 commented on #5277
try ```flutter doctor``` in your terminal
Please refer to this https://flutter.dev/docs/get-started/install/windows if you have windows
or https://flutter.dev/docs/get-started/install/macos if you have mac or
https://flutter.dev/docs/get-started/install/linux if you have linux
Thanks

[2021-02-11 12:13] staggone-ill commented on #5277
Bro i've but am getting error for no flutter sdk found

On Thu, 11 Feb 2021, 15:11 Abhishek Ghaskata, <notifications@github.com>
wrote:

[2021-02-11 12:15] Abhishek01039 commented on #5277
have you set the path for flutter?

[2021-02-11 12:41] MrBirb commented on #5241
Duplicate of #4920

[2021-02-11 12:43] staggone-ill commented on #5277
That is my proble no.2 i've done every step correctly but all the paths
i've tried on Android Studio are not accept

On Thu, 11 Feb 2021, 15:15 Abhishek Ghaskata, <notifications@github.com>
wrote:

[2021-02-11 14:06] #5241 closed

[2021-02-11 14:47] staggone-ill commented on #5277
![IMG_20210211_174610.jpg](https://user-images.githubusercontent.com/49114483/107651924-16973c80-6c91-11eb-8dd1-c58b21ffc5b1.jpg)

[2021-02-12 17:01] sfshaza2 commented on #5277
@staggone-ill, I am very sorry you are having this issue! @Abhishek01039, thanks so much for helping!

@staggone-ill, this is not a support channel. It's a channel for reporting bugs (typos, errors, feature requests) on flutter.dev. I'm really the only person who reads these issues (except for kind community members like Abhishek, and I don't monitor it daily. There are numerous places where you c

[2021-02-12 17:01] #5277 closed

[2021-02-12 17:03] sfshaza2 commented on #5272
Nothing listed. Closing.

[2021-02-12 17:03] #5272 closed

[2021-02-12 17:05] sfshaza2 commented on #5270
@miquelbeltran, is this still an issue? If not, I'd like to close it. And, in fact, yes, he's right. Codelab issues should come to the flutter/website repo, not flutter/flutter.

[2021-02-12 17:41] miquelbeltran commented on #5270
Yes, looks like the extra curly bracket is present in the original document.

I fixed it on the copy of the doc I have.

[2021-02-12 17:41] sidrao2006 opened #5286 "'Adopt a Widget' page issue"
Page URL: https://flutter.dev/adoptawidget/
Page source: https://github.com/flutter/website/tree/master/src/adoptawidget/index.md

Description of issue: Update Adopt a Widget contribution list. Several PRs were created and merged after the last update of the list which is needed to be added.

[2021-02-13 00:13] micpap25 commented on #5286
Hi, can you be more specific so I can solve this issue? What exactly is wrong with the contribution list?

[2021-02-13 00:21] micpap25 commented on #5249
Good catch! Adding it now.

[2021-02-13 03:01] micpap25 commented on #5228
Hi, it looks like you didn't fill out the description for this issue. Could you please either update your issue or close it. Thank you.

[2021-02-13 03:02] micpap25 commented on #5225
Hi, it looks like you didn't fill out the description for this issue. Could you please either update your issue or close it? Thank you.

[2021-02-13 03:16] sidrao2006 commented on #5286
@micpap25 thanks for asking, I have updated the description

[2021-02-13 20:02] bortnikov opened #5291 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue:
[code]

[2021-02-13 22:52] HaggaNaggaQuyre opened #5292 "Hi Taha and luohaohaha,"
Hi Taha and luohaohaha,

Do you know the solution?

May I know the solution for the above issue as I also face the same issue and am struggling for last few days.
Appreciate your help on this

_Originally posted by @geeraj in https://github.com/flutter/flutter/issues/63763#issuecomment-755773121_

[2021-02-14 06:06] keymistress opened #5293 "'Build a form with validation' page issue"
Page URL: https://flutter.dev/docs/cookbook/forms/validation.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/forms/validation.md

Description of issue:
Not exactly an issue but in the interactive example source code, line 64 still uses legacy code
`Scaffold.of(context)
  .showSnackBar(SnackBar(content: Text('Processing Data')));`
even though that is now managed b

[2021-02-14 10:09] keymistress opened #5295 "'Building beautiful UIs with Flutter' page issue"
Page URL: https://codelabs.developers.google.com/codelabs/flutter#4

Under **Wrap the TextField inside a Flexible:**
The first step says Select **Row** when it should be **Textfield**.

Apologies in advance if this was a mistake, I was just following the tutorial and get stuck for ages trying to wrap the Textfield by wrapping Row.

[2021-02-15 05:31] kaladron opened #5297 "Example for MethodChannel.invokeMethod isn't null-safe"
On the page:

https://api.flutter.dev/flutter/services/MethodChannel/invokeMethod.html

The following example is given:

[code]

_channel.invokeMethod will return Future<T?>, so this example will fail because isLicensed wants to return a Future<bool>.

I'm not sure what the correct solution is here because it's not clear in what cases null will be returned.  In platform_channel.dart:
[code]

missi

[2021-02-15 05:52] kaladron commented on #5297
I want to note, I know that isLicensed could be changed to return Future<bool?> - but that means that null uncertainty is then passed back throughout the application.  I think the example here should also show how to set a default in the case of invokeMethod returning null.  Since invokveMethod doesn't appear to be able to ever return null is why I think this might actually be a code problem.

[2021-02-15 09:23] pinguin999 commented on #5270
@sfshaza2 yes it's still an issue.
@miquelbeltran where is your copy of the docs?

[2021-02-16 00:42] Gurjot95 opened #5299 "'Deep linking' page dead link issue"
Page URL: https://flutter.dev/docs/development/ui/navigation/deep-linking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/navigation/deep-linking.md

Culprit URL: https://github.com/flutter/samples/blob/master/navigation_and_routing/lib/nav_2/router.dart

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or fini

[2021-02-16 17:55] #5286 closed

[2021-02-16 20:52] Deloper2297 opened #5304 "Flutter"

[2021-02-17 00:52] kwalrath opened #5305 "Update known null safety issues"
Per https://github.com/flutter/website/pull/5284#issuecomment-778401399.

[2021-02-17 09:39] #5304 closed

[2021-02-17 09:39] Deloper2297 commented on #5304
@👌

[2021-02-17 09:53] mcp10 opened #5307 "'Take a picture using the camera' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue:
`_controller.takePicture();` missing `path` argument

[2021-02-17 18:30] babyycakess3 opened #5308 "Flutter"

[2021-02-18 02:18] timsneath opened #5310 "Performance profiling IA doesn't clearly signpost key article"
https://flutter.dev/docs/perf/rendering/ui-performance is our main section on perf profiling. But https://flutter.dev/docs/development/tools/devtools/performance is our best document on perf profiling, and it's in a different part of the tree. It's hard to find this page, because it's deep in the tools hierarchy, as @eseidelGoogle discovered today.

We need to figure out how we can connect these m

[2021-02-18 12:48] moluwole opened #6767 "Create a cookbook and tutorial for "Adding API-based CMS Capability""
## Proposal

I would like to propose adding a section to the cookbook (preferably under Networking) on how to add "API based CMS Capability" to a flutter application. ButterCMS (https://buttercms.com) has a nice Flutter plugin we can use (https://buttercms.com/docs/api-client/flutter).

I would also like to propose adding a tutorial on this to the Tutorial section here: (https://flutter.dev/docs/r

[2021-02-18 14:11] ShortyLago commented on #5190
I have the same issue
[code]

I'm using Mac with M1 so BigSur 11.2.1.

[code]

[2021-02-18 20:14] ell1e opened #6766 ""Supported platforms" page lacks CPU architecture info, or clear info on SDK support"
The ["Supported platforms" page](
https://flutter.dev/docs/development/tools/sdk/release-notes/supported-platforms) lacks most CPU architecture info. It has no clear info on 1. Android x84 phones, 2. Linux ARM64 (which I assume will be supported soon with the tooling for that merged?), 3. the Windows 32bit is hidden in a note below instead of clear from the tables and there is nothing really clear

[2021-02-18 21:03] kwalrath opened #5318 "Replace remaining references to Travis"
Once #5314 is merged, we should go through all the markdown files and replace Travis with GitHub Actions.

To find references to Travis: https://github.com/flutter/website/search?q=Travis

[2021-02-18 21:25] feinstein opened #5319 "'Use a custom font' page issue"
Page URL: https://flutter.dev/docs/cookbook/design/fonts.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/fonts.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

We need a place that documents what kind of fonts formats Flutter accepts, like: ttf, otf, w

[2021-02-19 04:38] filiph opened #5323 "Explain 'Unbounded height/width' errors"
We have Katie Lee's excellent [article on debugging layout issues](https://medium.com/flutter/how-to-debug-layout-issues-with-the-flutter-inspector-87460a7b9db#1de2). I would like to make a video deep dive into one particular issue: the unbounded height error.

In short: This error comes up when something like a `ListView` or `Column` is placed into another `ListView` or `Column`.* It is often res

[2021-02-19 23:19] eseidelGoogle opened #5329 "flutter.dev/web should link to gallery.flutter.dev"
I discovered this afternoon that gallery.flutter.dev is not crawled by Google.  I think that's because it's never linked to from flutter.dev?

https://flutter.dev/web should probably link to gallery.flutter.dev.

Thanks!  FYI @mariamhas

[2021-02-20 01:12] krishil85 opened #5331 "'Codelabs' page issue"
Page URL: https://flutter.dev/docs/codelabs/
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Get to know Firebase for Flutter is throwing a 404 error. Please fix. I want to complete the tutorial

[2021-02-20 03:52] Hixie commented on #5323
In the example you give, if all three children were limited to the height of the Column, then the first Text would be as high as a line of text, the second Text would be as high as a line of text, and the MyScrollingWidget would be as high as the column. If we say the text is 10px high, and the column is 100px high, that means the contents of the 100px high column would be... 120px. That's presuma

[2021-02-20 03:54] Hixie commented on #5323
It happens for any render object that tries to be as big as possible (sets its height to the constraints' max height), when put inside a render object that tells its children they can be as big as possible (sets the child's constraints max height to infinity).

It really depends on what the developer wants the UI to be. Part of the reason we throw here is that we can't figure out what the right be

[2021-02-20 04:07] filiph commented on #5323
Great!

Additional questions:

1) Why can't the `Column` say to `MyScrollingWidget`: "You want 100px, but you only get 80px."?
2) Why can't the `Column` look at the two `Text`s with their set "tight" sizes first, and then just tell `MyScrollingWidget`: "You get 80px."?

I think I know the answers, but I would like to get this right.

[2021-02-20 08:43] Hixie commented on #5323
Two reasons, First: how would it know to do so? Why should MyScrollingWidget get 20px less space than it wants, rather than making each Text have 10px less space than they want, say?

But more importantly, second: because Flutter's rendering model is single-pass, constraint-down, geometry-up. To tell the child that it can only get 80px, it must specify a max height of 80px in the constraints. That

[2021-02-20 11:03] Timmmm opened #5334 "'Binding to native code using dart:ffi' page issue"
Page URL: https://flutter.dev/docs/development/platform-integration/c-interop.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/c-interop.md

Description of issue: The introduction isn't very clear about static vs dynamic linking. It explains what they are - fine, I expect most people reading it already know - but then it just jumps into dyn

[2021-02-21 02:14] Rashadtr27 opened #5335 "'Set up an editor' page issue"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-02-21 13:18] JuYeong0413 commented on #5299
Hey @Gurjot95, thanks for filing the issue.
The correct url is https://github.com/flutter/samples/blob/master/navigation_and_routing/lib/router/router.dart
I've created a pull request, hope it will be fixed soon. :-)

[2021-02-22 16:19] #5299 closed

[2021-02-22 16:32] MateusAmin commented on #4382
Thanks @aadarshadhakalg !

[2021-02-22 16:32] #4382 closed

[2021-02-22 23:14] filiph commented on #5323
Yes, thank you!

Is it fair to say, with perhaps a degree of simplification, that in the alternate universe in which `Column`>`ListView` "just worked" (i.e. you could add a ListView into a Column and there'd be no unbounded error):

1) Flutter would be much slower (multiple-pass layout), OR
2) Column would crash anyway because it would "run out of vertical pixels" (e.g. no pixels left for `Text('T

[2021-02-23 00:56] Hixie commented on #5323
If there's no error, that means we do something. What would we do? I don't understand what the "correct" rendering would be.

[2021-02-23 01:04] anurag940948 commented on #5331
@krishil85  This issue has been fixed and you can close this issue. Thanks.

[2021-02-23 01:37] franklinyow opened #5339 "Add version info related to null safety known issue list"
The known issue list need to have information about build version to avoid confusion

https://github.com/flutter/website/pull/5284

[2021-02-23 02:06] kwalrath commented on #5339
Looks like this was fixed in #5338

[2021-02-23 02:06] #5339 closed

[2021-02-23 02:28] filiph commented on #5323
For the sake of argument, let's say that doing

[code]

would do what the average beginner expects it to do, which is to say, there's no error, the two `Text` widgets are at their intrinsic height, and between them the `MyScrollingWidget` takes up the rest of the vertical space.

I know this is an arbitrary scenario. My hypothesis is that, by examining the alternate universe, the developer might b

[2021-02-23 08:51] Hixie commented on #5323
I don't understand how Column could know that MyScrollingWidget should act as if it was marked "Expanded". What's special about MyScrollingWidget? (Would it still be special if, e.g., it was wrapped in a Padding?)

I suppose we could have an entirely different layout model, in which MyScrollingWidget somehow (e.g. by multiple passes as you suggest) told the Column that it was special. Assuming we

[2021-02-23 19:54] mariamhas commented on #5329
I assume you mean have a gallery.flutter.dev link included in the flutter.dev/web page somewhere, and not have flutter.dev/web redirect to gallery demo. Right?

[2021-02-23 19:56] johnpryan commented on #5128
That's not correct - this file is meant to be run by Flutter Driver

Are you able to [run the APK](https://developer.android.com/studio/run/emulator#installadd) that was created when you ran  `flutter build apk`?

[2021-02-23 20:04] eseidelGoogle commented on #5329
Correct.  I just was noticing that flutter.dev/web didn't link to gallery.flutter.dev anywhere.  It doesn't need to redirect, just have a link since we've invested so much in making gallery.flutter.dev useful might as well link to it from other pages. :)

[2021-02-23 20:09] mariamhas commented on #5329
agreed, already have an update for it so ill assign this to myself and close once its published :)

[2021-02-23 20:33] filiph commented on #5323
Thanks! I think that answers all my questions. I'll leave this open until I either have more questions or I deliver the explanatory content.

[2021-02-23 23:15] micpap25 commented on #5335
Hi, @Rashadtr27 , could you please update your issue to include a description so we can resolve it. Thanks.

[2021-02-23 23:19] micpap25 commented on #5319
We can do this at https://flutter.dev/docs/cookbook/design/fonts#1-import-the-font-files . Additional information can be found at https://github.com/flutter/flutter/issues/13823 .

I'm going to work on this right now.

[2021-02-23 23:59] #5319 closed

[2021-02-24 03:37] feinstein commented on #5319
That was fast :) thanks!

[2021-02-24 22:39] juzapelini opened #5355 "'Web support for Flutter' page issue"
Page URL: https://flutter.dev/web.html
Page source: https://github.com/flutter/website/tree/master/src/web.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-02-24 22:40] #5355 closed

[2021-02-24 23:06] elnimr opened #5356 "'Linux install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/linux.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Description of issue:
there is no space between $ sign and "sudo snap install flutter --classic" the whole page have spaces between $ sign and code which is not acceptable on Ubuntu.

[2021-02-25 12:13] zyllus17 opened #5358 "Spelling mistake fails the test in How to test a Flutter app || Codelab"
The instruction says to create a `favourites_test.dart` file but the codelabs works with `favorites_test.dart`. The `favorites` is without a `u`.

![image](https://user-images.githubusercontent.com/50977126/109151029-a78d0e00-778f-11eb-84fd-d5d16a7bdf47.png)

This throws an error when using the command given below

🔴  Error -
[code]

![image](https://user-images.githubusercontent.com/50977126/1091

[2021-02-25 12:35] zyllus17 commented on #5358
Link to the Codelab [How to test a Flutter app](https://codelabs.developers.google.com/codelabs/flutter-app-testing#4)

[2021-02-25 21:24] afitz0 opened #5359 "Surface or collect best practices documents/pages for package authors"
There are a lot of great documents and pages outlining how to write packages and plugins, but it's not immediately obvious where they are. Having a single place where these are collected or otherwise surfaced for those looking for "Best Practices for Flutter/Dart Packages/Plugins" would be awesome. :)

Here's a short-and-likely-incomplete list:
* https://flutter.dev/docs/development/packages-and-p

[2021-02-26 07:53] guidezpl opened #5362 "'Desktop support for Flutter' page issue"
Page URL: https://flutter.dev/desktop.html
Page source: https://github.com/flutter/website/tree/master/src/desktop.md

Description of issue:

The page states the build path for Linux is `build/linux/release/bundle/` but on some machines it can be `build/linux/x64/release/bundle/`. We should update this section to reflect the possible options.

cc @RedBrogdon

[2021-02-26 16:46] londonforever opened #5363 "Web"

[2021-02-27 10:13] dhameliyamilan opened #5366 "'Install and run DevTools from Android Studio' page issue"
Page URL: https://flutter.dev/docs/development/tools/devtools/android-studio.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/devtools/android-studio.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-02-27 13:08] tafa-mustafa commented on #4369
remove const in the body it will work

[2021-02-27 13:11] tafa-mustafa commented on #4369
body: **const** Center(
          child: Text(wordPair.asPascalCase),
        ),

==> body: Center(
          child: Text(wordPair.asPascalCase),
        ),

[2021-02-27 14:34] devmgs opened #5367 "Typo in Flutter Fonts page https://flutter.dev/docs/cookbook/design/fonts (#76855)"
Under heading Supported font formats

its written

Flutter supports the following font formats:

.tff
.otf

the .tff should be .ttf

[2021-02-27 16:34] martinkilmartin opened #5368 "Add details on installing Android SDK Command-line tools to 'Linux install' page"
Page URL: https://flutter.dev/docs/get-started/install/linux.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Description of issue: Linux OS may need to install **Android SDK Command-line tools** from **Android SDK Manager**.

See https://stackoverflow.com/a/64162776/14885007

[2021-02-28 09:27] peaer opened #5369 "'Take a picture using the camera' page issue - noSuchMethodError"
Page URL: https://flutter.dev/docs/cookbook/plugins/picture-using-camera.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/picture-using-camera.md

Description of issue: After copy and paste to a blank project _"NoSuchMethodError: the getter 'width' was called on null. Receiver: null
Tried calling: width_"
On hot reload it works the second time

[2021-02-28 10:14] #5369 closed

[2021-02-28 11:42] sametocak opened #5370 "'macOS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-01 01:09] hk6an6 opened #5371 "Clarify relationship between `flutter_test` and `test` packages on 'An introduction to unit testing' page"
Page URL: https://docs.flutter.dev/cookbook/testing/unit/introduction
Page source: https://github.com/flutter/website/blob/main/src/cookbook/testing/unit/introduction.md

Description of issue:

Lines 18 to 19 are misleading. To clarify, the page should state:

[code]

[2021-03-01 01:17] hk6an6 opened #5372 "Change `test` to `flutter_test` on the 'An introduction to unit testing' page"
Page URL: https://docs.flutter.dev/cookbook/testing/unit/introduction
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/introduction.md

Description of issue:

The lines 35 to 45 are misleading and will not yield working code. The documentation introduces 2 problems that will be confusing for beginners:

1. When adding dependencies, the name of the file to

[2021-03-01 05:50] fahaddi opened #5373 "'Visual Studio Code' page issue"
Page URL: https://flutter.dev/docs/development/tools/vs-code.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/vs-code.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-01 06:24] MrBirb commented on #1252
@Sfshaza Step 5 was indeed removed. Nothing can be done here.

[2021-03-01 06:44] MrBirb commented on #5032
@sfshaza2 This looks like it has been fixed.

[2021-03-01 14:02] danielhrc opened #5374 "Add `export` command to `.zprofile` to macOS install page for Mac Catalina or higher"
## The problem
I had a problem installing flutter at my Macbook Air 2017 (OS version = Big Sur).

## Step by step to reproduce
- After doing exactly equal as the installing documentation, I restarted the computer
- tried to run `flutter doctor`
- Terminal was logging `command not found `

## The Solution
- I googled some solutions and I found that Mac Catalina or Higher requires Full Disk access t

[2021-03-01 16:55] sfshaza2 commented on #5032
Thanks! Closing.

[2021-03-01 16:55] #5032 closed

[2021-03-02 00:02] sunjay838 opened #5376 "'macOS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/macos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/macos.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-02 03:53] micpap25 commented on #5376
Hi @sunjay838, you might have forgotten to describe your issue. Could you please add a description so we can solve your problem? Thank you.

[2021-03-02 03:54] micpap25 commented on #5373
Hi @fahaddi , you might have forgotten to describe your issue. Could you add your description so I can solve your problem?

[2021-03-02 03:54] micpap25 commented on #5370
Hi @sametocak , you might have forgotten to describe your issue. Could you please add a description so we can solve your problem? Thank you.

[2021-03-02 03:55] micpap25 commented on #5363
@londonforever it seems you forgot to describe your issue. Could you please either add a description or close this. Thank you.

[2021-03-02 04:02] micpap25 commented on #5356
Hi, most documentation websites generally put a space between the $ and the command for the sake of readability. Additionally, at least for my installation of Cygwin, that space is already there, and even if I were to add another space commands would still work.

All the shell / terminal segments on the Flutter docs space out that section, and to show this isn't specifically a Flutter issue, here'

[2021-03-02 04:03] micpap25 commented on #5367
haha, thanks. this was my push, I can't believe I misspelled that.

[2021-03-02 20:20] nt4f04uNd opened #5379 "widgets catalog contains deprecated widgets"
https://flutter.dev/docs/development/ui/widgets/material#Buttons

this section contains deprecated FlatButton, OutlineButton and RaisedButton

they should be replaced with new widgets or marked as obsolete until they are removed completely

[2021-03-03 04:45] nerdybunz opened #5380 "error on flutter plugin codelab page"
on page

https://codelabs.developers.google.com/codelabs/write-flutter-plugin#2

the flutter create command contains '--template=plugin' twice

[2021-03-03 04:49] nerdybunz opened #5381 "Feature request for the "writing a plugin" codelab"
It would be nice if the flutter plugin codelab

https://codelabs.developers.google.com/codelabs/write-flutter-plugin#0

could somehow allow us users/readers to toggle between obj-c/swift... and java/kotlin.

Though I suppose that creates four possible combinations/repos which may not be feasible... or maybe take a poll?  I feel like more people know swift than objc.

Maybe the plugin could be redu

[2021-03-03 08:15] bjoern-from-kopply opened #5382 "'Display a snackbar' page issue"
Page URL: https://flutter.dev/docs/cookbook/design/snackbars.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/snackbars.md

Description of issue:
The example uses ```showSnackBar``` command, but ```showSnackBar``` is deprecated and shouldn't be used anymore.

[2021-03-03 08:21] #5382 closed

[2021-03-03 14:16] jackieoh1 opened #5384 "'Clip Behavior' page issue"
Page URL: https://flutter.dev/docs/release/breaking-changes/clip-behavior.html
Page source: https://github.com/flutter/website/tree/master/src/docs/release/breaking-changes/clip-behavior.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:  can you imagine being relatively new to flutter, searching

[2021-03-03 15:38] jonasjuni opened #5385 "'Pass arguments to a named route' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/navigate-with-arguments.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/navigate-with-arguments.md

Description of issue:
Missing type cast on `ModalRoute.of(context).settings.arguments`

I have a suggestion for fixing it over here:
https://github.com/flutter/website/compare/master...jonasjuni:patc

[2021-03-03 18:37] kwalrath opened #5387 "Fix badly formatted links"
[code]

[2021-03-03 21:57] wenz opened #5392 "Web setup instructions not updated for Flutter 2 yet"
The web setup instructions are outdated (web support is in the stable channel now).

[2021-03-04 02:00] #5392 closed

[2021-03-04 05:57] G1Joshi opened #5400 "link not found for web setup"
the link for instructions on "Building a web application with Flutter" not found

[2021-03-04 15:43] MaximilianFrick opened #5405 "'Internationalizing Flutter apps' AppLocalizations.of(context) nullable"
Page URL: https://flutter.dev/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Description of issue:

When using the new Flutter 2.0, you need to add a null-check (!) for `AppLocalizations.of(context)`.

[2021-03-04 22:15] #5400 closed

[2021-03-04 22:21] sfshaza2 commented on #5381
@gaaclarke, thoughts?

[2021-03-04 22:39] sfshaza2 commented on #5381
I'd also love to see this code lab expand to also covering web, now that it's reached stable.  :)

[2021-03-04 22:46] gaaclarke commented on #5381
Dear Nerdybunz,

That's a good idea.  When this codelab was authored we were just transitioning the default languages to swift/kotlin.  I don't know when someone will get the chance to update the codelab, but in the meantime you can see a simple hello world example by using `flutter create -t plugin`.  That will create a swift/kotlin plugin you can run immediately that will do "hello world" betwee

[2021-03-04 22:47] gaaclarke commented on #5381
That's an interesting idea.  I'm no expert on web development, especially when getting access to an audio callback.  I would certainly be learning if I wrote it.

[2021-03-04 22:48] sfshaza2 commented on #5374
@danielhrc, the [macos install page](https://flutter.dev/docs/get-started/install/macos) mentions editing the .zshrc file. That didn't work for you?

[2021-03-04 22:51] sfshaza2 commented on #5385
@johnpryan, can you take a look?

[2021-03-04 23:18] sfshaza2 commented on #5381
Thanks for your quick response, @gaaclarke!

On Thu, Mar 4, 2021 at 2:48 PM gaaclarke <notifications@github.com> wrote:

[2021-03-04 23:21] danielhrc commented on #5374
@sfshaza2 it didn't work - then I tried editing every `.z` file and restarting the notebook after every edit.
The only that worked was `.zprofile`

[2021-03-05 01:08] omelchenkovadym opened #5408 "Clarify why `NativeFactoryView()` is called without parameters on 'Hosting native Android views in your Flutter app with Platform Views' page"
Page URL: https://docs.flutter.dev/platform-integration/android/platform-views
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-views.md

Description of issue:

I am looking at the NativeViewFactory constructor it has two arguments, and I don't understand why in PlatformViewPlugin we use "new NativeViewFactory()" without arguments.
![1]

[2021-03-05 08:49] JigneshPatel23 opened #5411 "Updates on breaking changes pages and sub pages after release of Flutter 2.0.0"
As we have this section on website where developers normally look for any breaking changes on latest released version.
[Breaking Changes](https://flutter.dev/docs/release/breaking-changes)

I have sent few pull requests(PRs) on the sub pages where I am sure those are landed on stable release as a part of Flutter 2.0.0

I am not sure if everything on the section [`Not yet released to stable`](https

[2021-03-05 08:50] workerbee22 opened #7766 "Showcase page of flutter.dev needs updating"
During the Flutter Engage Keynote on 3.3.2021, I noticed many Google apps were presented that are using Flutter.

Stadia was one of these that is listed on the I noticed the https://flutter.dev/showcase page. But most of the others shown are not listed on https://flutter.dev/showcase page.

I'm wondering how long has it been since this page content was refreshed, and therefore are other 'key' apps

[2021-03-05 09:39] viralkachhadiya commented on #2237
Can you give me some details for this issue??
So I can help to solve it

[2021-03-05 09:39] viralkachhadiya commented on #2237
@sfshaza2

[2021-03-05 09:43] viralkachhadiya commented on #1985
If have any issue on it so please tell me.

So that I can help for solving it

@legalcodes

[2021-03-05 13:53] Atalanttore opened #5412 "'Desktop support for Flutter' page: Strange macOS version number"
Page URL: https://flutter.dev/desktop.html
Page source: https://github.com/flutter/website/tree/master/src/desktop.md

The 'macOS' section says the following:

The latest version of macOS is major version 11. What is **macOS 14.5** all about?

[2021-03-06 09:31] Leffe108 opened #5418 "hackers-web channel referenced in text, but discord link is to wrong server"
At the bottom of this doc hackers-web channel is referenced, but link is to /r/FlutterDev server. https://flutter.dev/docs/development/platform-integration/web

[2021-03-07 09:33] mrdc opened #5423 "'Parse JSON in the background' page issue"
Page URL: https://flutter.dev/docs/cookbook/networking/background-parsing.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/background-parsing.md

Source code in example is not compiling out of the box:

`The argument type 'String' can't be assigned to the parameter type 'Uri'.dartargument_type_not_assignable `

`await client.get('https://jsonplaceholder

[2021-03-08 03:38] micpap25 commented on #5367
@Sfshaza issue was fixed, if you could close this that would be great.

[2021-03-08 03:39] micpap25 commented on #5373
@Sfshaza since there's been no response for a week, I think this can be closed.

[2021-03-08 03:39] micpap25 commented on #5376
@Sfshaza since there's been no response for a week, I think this can be closed.

[2021-03-08 03:47] micpap25 commented on #5412
@Sfshaza This issue was fixed, the page now correctly says "macOS 10.14.5". This can be resolved.

[2021-03-08 12:50] mdakin opened #5428 "Animated section in flutter.io main page is hard to read and crowded."
The animated image in the main screen is hard to read. For example white on gray / blue:
![white on gray text](https://user-images.githubusercontent.com/1647551/110322767-e9ca1100-8013-11eb-8bda-5cfb6c5ae7e7.png) or  blue on dark:
![blue on dark bg](https://user-images.githubusercontent.com/1647551/110322994-3b729b80-8014-11eb-943a-58b8bd505401.png)

In general I also find this animation very crow

[2021-03-08 13:37] rhalff opened #5431 "'Adding a splash screen to your mobile app' page issue"
Page URL: https://flutter.dev/docs/development/ui/advanced/splash-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/advanced/splash-screen.md

Description of issue:

The Sample code link at the bottom of the page directs to: https://github.com/flutter/flutter/tree/master/dev/integration_tests/android_splash_screens

This code is not present anymore in

[2021-03-08 17:33] kwalrath opened #5434 "Fix the build"
flutter/website builds have been failing since #5378. I aim to fix that and update submodules, as well.

[2021-03-08 17:58] chances opened #5436 "'Hosting native Android and iOS views in your Flutter app with Platform Views' should include Web Platform Views"
Page URL: https://flutter.dev/docs/development/platform-integration/platform-views.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-views.md

These docs should show how to create platform views for Flutter apps targeting the Web platform.

See this [StackOverflow answer](https://stackoverflow.com/a/58154078/1363247) and [this examp

[2021-03-08 19:24] #5434 closed

[2021-03-09 01:07] behnamkhaniofficial opened #5439 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Build a variety of applications Participate in a complete content building platform Build your own repository
http://flutter.de
**[Behnam Khani](http://aparat.com/behnamkhanitabriz)** _ Engineer and designer of systematic scientific program and

[2021-03-09 02:02] #5418 closed

[2021-03-09 02:03] #5423 closed

[2021-03-09 16:22] edgfowler opened #5445 "integration_test package"
Please update integration test chapter to reflect usage of integration_test package.

[2021-03-10 02:03] nt4f04uNd opened #5449 "add TabPageSelector to widget catalog"
add it to the [material widget catalog](https://flutter.dev/docs/development/ui/widgets/material) to make it more explorable

[2021-03-10 03:00] #5209 closed

[2021-03-10 03:21] KenChoi1992 commented on #5209
@AlexV525 Sorry for my rude statement. I'm neither mean insulting Chinese people, nor did I know who is responsible for the documentation. It's just a men showing his angry.

[2021-03-10 14:49] AdrianSima opened #5451 "'Adding a splash screen to your mobile app' page issue"
Page URL: https://flutter.dev/docs/development/ui/advanced/splash-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/advanced/splash-screen.md

Description of issue: The "Sample Code" link at the bottom of the page is a broken url: https://github.com/flutter/flutter/tree/master/dev/integration_tests/android_splash_screens

[2021-03-10 15:49] #5379 closed

[2021-03-10 20:39] sfshaza2 commented on #5445
@johnpryan

[2021-03-10 20:50] sfshaza2 commented on #5439
flutter.de seems to be a German-language Flutter site. But this seems to be spam. Closing.

[2021-03-10 20:50] #5439 closed

[2021-03-10 20:51] sfshaza2 commented on #5186
Closing.

[2021-03-10 20:51] #5186 closed

[2021-03-10 20:52] sfshaza2 commented on #5217
Excellent advice, @micpap25. This is not the place to get Flutter support. Closing.

[2021-03-10 20:52] #5217 closed

[2021-03-10 20:54] sfshaza2 commented on #5168
@blasten, can you provide insight?

[2021-03-10 20:58] sfshaza2 commented on #5451
Duplicate of https://github.com/flutter/website/issues/5431
Closing

[2021-03-10 20:58] #5451 closed

[2021-03-10 21:00] sfshaza2 commented on #3774
Duplicate of https://github.com/flutter/website/issues/3938

[2021-03-10 21:00] #3774 closed

[2021-03-10 21:17] sfshaza2 commented on #5225
Closing.

[2021-03-10 21:17] #5225 closed

[2021-03-10 21:19] sfshaza2 commented on #5412
Thanks, @micpap25!

[2021-03-10 21:19] #5412 closed

[2021-03-10 21:22] sfshaza2 commented on #5411
Thanks, @JigneshPatel23! This is something I address after a stable release. The work is a bit complex as I also remove master-api links and replace with standard API links, check the format and grammar. I fixed this in PR https://github.com/flutter/website/pull/5441 and PR https://github.com/flutter/website/pull/5448.

[2021-03-10 21:22] #5411 closed

[2021-03-10 22:46] marcosmko opened #5456 "Request: Animation Docs Update"
Hello all!

I would like to request an update on the animations tutorial, considering null safety.
https://flutter.dev/docs/development/ui/animations/tutorial

Thank you very much!

[2021-03-10 22:56] sfshaza2 commented on #5456
@miquelbeltran, we can add this to the spreadsheet.

[2021-03-10 22:57] sfshaza2 commented on #5405
@miquelbeltran, and add this, too.  :)

[2021-03-10 23:13] sfshaza2 commented on #5384
Hmmm. Yes, finding yourself on a breaking change page is not going to be helpful. The breaking change pages are intended for folks who are familiar with Flutter, and have written code using Flutter, and need to migrate their app to continue working, as the API has changed. They aren't intended to teach basics.

This query suggests to me that perhaps we need a glossary page.  Would that be helpful?

[2021-03-10 23:16] sfshaza2 commented on #5380
You are correct, it is there twice.

[2021-03-10 23:17] sfshaza2 commented on #5376
Closing

[2021-03-10 23:17] #5376 closed

[2021-03-10 23:17] sfshaza2 commented on #5370
Closing

[2021-03-10 23:17] #5370 closed

[2021-03-10 23:19] sfshaza2 commented on #5373
Closing.

[2021-03-10 23:19] #5373 closed

[2021-03-10 23:21] sfshaza2 commented on #5334
Thoughts, @mit-mit?

[2021-03-10 23:21] fahaddi commented on #5373
Hi
في خميس، 11 مارس، 2021 في 2:20 ص، كتب Shams Zakhour (ignore Sfshaza) <
notifications@github.com>:

[2021-03-10 23:26] sfshaza2 commented on #5366
Closing.

[2021-03-10 23:26] #5366 closed

[2021-03-10 23:27] sfshaza2 commented on #5367
Thx! Closing.

[2021-03-10 23:27] #5367 closed

[2021-03-11 03:19] #5449 closed

[2021-03-11 03:22] sfshaza2 commented on #5329
I checked and this has been fixed. Thanks, @mariamhas!

[2021-03-11 03:22] #5329 closed

[2021-03-11 03:24] sfshaza2 commented on #5335
Closing.

[2021-03-11 03:24] #5335 closed

[2021-03-11 03:24] #5331 closed

[2021-03-11 03:25] sfshaza2 commented on #5323
I very much love this!

[2021-03-11 04:13] sfshaza2 commented on #5308
Closing.

[2021-03-11 04:13] #5308 closed

[2021-03-11 04:19] sfshaza2 commented on #5307
As of version 0.6.0 of the `camera` plugin, [`takePicture` no longer takes a `path` parameter](https://pub.dev/packages/camera/changelog).

[2021-03-11 04:19] #5307 closed

[2021-03-11 04:20] sfshaza2 commented on #5356
Thanks, @micpap25. Closing.

[2021-03-11 04:20] #5356 closed

[2021-03-11 04:21] sfshaza2 commented on #5297
@kaladron, API doc issues are reported on the flutter/flutter repo. This is because the API docs are embedded in the Flutter source code. Moving this issue to that repo.

[2021-03-11 04:23] sfshaza2 commented on #5293
Yes, the flutter.dev repo reflects the latest stable release, and you must have been using master, dev, or beta. With the release of Flutter 2, this has been fixed.

[2021-03-11 04:23] #5293 closed

[2021-03-11 04:25] sfshaza2 commented on #5292
Hi! This repo is for issues on the flutter.dev website. As the issue on flutter/flutter says, this is for a 3rd party dependency. Closing.

[2021-03-11 04:25] #5292 closed

[2021-03-11 04:26] sfshaza2 commented on #5291
Hi there. You must have been using master, beta, or dev channel. The website tests against the latest stable channel. As of Flutter 2, this has been fixed. Thx

[2021-03-11 04:26] #5291 closed

[2021-03-11 04:29] sfshaza2 commented on #5270
@pinguin999, Miquel was migrating our codelabs to null safety and that's where he fixed the issue. We made those live on 3/3 for the Flutter 2 launch. It is fixed now. Closing.

[2021-03-11 04:29] #5270 closed

[2021-03-11 04:29] sfshaza2 commented on #5269
This has been fixed. Closing.

[2021-03-11 04:29] #5269 closed

[2021-03-11 04:30] sfshaza2 commented on #5260
This has been fixed. Closing.

[2021-03-11 04:30] #5260 closed

[2021-03-11 04:33] sfshaza2 commented on #5238
Hi, @HasanElHefnawy. Yes, that doesn't work well at all.

I use a Mac and, when I need to do this, I "print" the page and then select "save as PDF". Then you can view/print the PDF. I'm not sure how this works on Windows.

Meanwhile, I will leave this open as an infrastructure bug.

[2021-03-11 04:37] sfshaza2 commented on #5231
Closing

[2021-03-11 04:37] #5231 closed

[2021-03-11 04:38] sfshaza2 commented on #5229
@miquelbeltran, can you add this to the spreadsheet?

[2021-03-11 04:39] sfshaza2 commented on #5228
Closing.

[2021-03-11 04:39] #5228 closed

[2021-03-11 04:39] sfshaza2 commented on #5197
This has been fixed. Closing.

[2021-03-11 04:39] #5197 closed

[2021-03-11 04:40] sfshaza2 commented on #5194
This has been fixed. Closing.

[2021-03-11 04:40] #5194 closed

[2021-03-11 04:40] sfshaza2 commented on #5219
This has been fixed. Closing.

[2021-03-11 04:40] #5219 closed

[2021-03-11 04:43] sfshaza2 commented on #5213
Closing.

[2021-03-11 04:43] #5213 closed

[2021-03-11 04:51] sfshaza2 commented on #5208
This has been fixed. Closing.

[2021-03-11 04:51] #5208 closed

[2021-03-11 04:54] sfshaza2 commented on #5170
I just checked and this appears to be fixed. I'm closing, but re-open if I am incorrect.

[2021-03-11 04:54] #5170 closed

[2021-03-11 04:56] sfshaza2 commented on #5171
Please file this in the GitHub repo for firebase.flutter. There's a link from the source page.

[2021-03-11 04:56] #5171 closed

[2021-03-11 05:07] sfshaza2 commented on #5183
@richardhaven, I'm sorry that this side nav item taunted you. I dimly recall that we did have such a page at one time, but it no longer exists (if I'm even remembering correctly). I've removed it from the sidenav. When I googled "Flutter focus handling", there were quite a few hits. Maybe someone else has published something useful. If you have specific questions about focus, please open an issue

[2021-03-11 05:08] sfshaza2 commented on #5182
@johnpryan, @domesticmouse, can we clarify this?

[2021-03-11 08:08] domesticmouse commented on #5182
Apologies for going all citation required, but can you please explain why you believe that Encoding and serialization are different concepts?

According to [Wikipedia's Code page](https://en.wikipedia.org/wiki/Code): The process of encoding converts information from a source into symbols for communication or storage.

Likewise, the [Wikipedia page on Serialization](https://en.wikipedia.org/wiki/Se

[2021-03-11 08:19] miquelbeltran commented on #5229
It's in row 170 in the "flutter.dev" sheet. I can add that to my TODO if you want!

[2021-03-11 08:40] miquelbeltran commented on #5405
Fixed in https://github.com/flutter/website/pull/5414 this can be closed

[2021-03-11 08:42] miquelbeltran commented on #5456
It's already there, row 88 on Sheet "Flutter.dev"

[2021-03-11 09:05] mit-mit commented on #5334
Yes, I agree that this page would benefit from some elaboration.

[2021-03-11 09:47] dcharkes commented on #5334
Similar issue https://github.com/flutter/flutter/issues/75537.

We have not explored the non-documented ways. They might be possible. If they are, PRs are welcome to update the documentation.

We should update the page to reflect this. @sfshaza2 @mit-mit any suggestions for wording?

[2021-03-11 12:08] KushalBeniwal opened #7765 "Inconsistent code text color and wrong lines commented"
Affected page: https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1#5

![Screenshot (13)](https://user-images.githubusercontent.com/55043173/110784788-230eb500-8290-11eb-9b05-bdcedaf7e9e5.png)
![Screenshot (12)](https://user-images.githubusercontent.com/55043173/110784813-2a35c300-8290-11eb-8bb3-9bd4acd1bc6e.png)

[2021-03-11 17:32] johnpryan commented on #5445
@edgfowler Are you referring to the [integration testing Cookbook article](https://flutter.dev/docs/cookbook/testing/integration/introduction)?

[2021-03-11 21:23] sfshaza2 commented on #5387
Status

Files crossed out are actually ok and valid. Since the release notes, changelogs, etc, are generated from GitHub, I am loathe to change that text to avoid "][". (In fact, I've been asked not to.)

In the case of the internationalization page, it occurs in legitimate code blocks.

- [x]_site/docs/development/tools/devtools/memory.html - Fixed in PR https://github.com/flutter/website/pull/54

[2021-03-11 23:12] mariamhas opened #5470 "Clarify how Flutter on the web builds and bundles `html` and `canvaskit` on 'Web renderers' page"
Page URL: https://docs.flutter.dev/platform-integration/web/renderers
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/web-renderers.md

Feedback: Regarding the default Flutter web render “auto”, does it actually build and bundle both a html and canvaskit build into the same bundle that you then upload to your server? And then it download the right build based

[2021-03-12 00:16] johnpryan commented on #5470
At first glance, I don't see an answer in the [Web Renderer Options](https://docs.google.com/document/d/1aY0iU16wf_sdT7nwfpjgT-IatHNfF3slTiYHKmxcIog/edit) design doc - I'll need to do some more digging.

@yjbanov Does `auto` affect the bundle in some way? Or is the renderer chosen at runtime?

[2021-03-12 09:21] Kazuchanfl opened #5471 "'Visual Studio Code' page issue - 'Flutter: New Project' command is no longer used"
Page URL: https://flutter.dev/docs/development/tools/vs-code.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/vs-code.md

Description of issue:
For the development of flutter project with VSCode, this site has tools guide that instructs the Installation and setup steps.

In the page I described above, it is said that we can create a new project using the

[2021-03-12 14:16] JigneshPatel23 commented on #5411
Thanks for the updates @sfshaza2 🎉

[2021-03-12 16:52] Puspharaj opened #5476 "Authenticating a user using firebase! - Web"
Looks strange, Did I miss something here?.

Flutter version - 2.0.1 stable,
Version: 1.54.2 (user setup)
Commit: fd6f3bce6709b121a895d042d343d71f317d74e7
Date: 2021-03-11T00:56:19.848Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

I'm running the website using main run mode. Not the terminal mode of running( different issue).

When

[2021-03-13 00:46] #5387 closed

[2021-03-13 00:51] sfshaza2 commented on #5471
Fixed! Closing.

[2021-03-13 00:51] #5471 closed

[2021-03-13 00:52] sfshaza2 commented on #5476
@kroikie, can you comment?  Thx

[2021-03-13 01:30] sfshaza2 commented on #5229
Yes, please. And thx!

On Thu, Mar 11, 2021 at 12:20 AM Miguel Beltran ***@***.***>
wrote:

[2021-03-13 01:33] sfshaza2 commented on #5405
Thanks! Closing.

[2021-03-13 01:33] #5405 closed

[2021-03-13 01:38] sfshaza2 commented on #5334
@chinmaygarde, do you have any insight into what we could say about this distinction?

[2021-03-13 03:46] Puspharaj commented on #5476
Yup, not sure !

[2021-03-13 09:02] osaxma opened #7764 "Feature request - link to release notes/changelog from the website"
The Flutter Website [Release Note Section](https://flutter.dev/docs/development/tools/sdk/release-notes) refers to the following [Hotfixes to the Stable Channel](https://github.com/flutter/flutter/wiki/Hotfixes-to-the-Stable-Channel) for information about bug-fix releases. Though it appears the wiki-page hasn't been updated since January 26th.

Please consider updating the wiki regularly.

Or even

[2021-03-13 09:19] Puspharaj commented on #5476
I guess this could be the issue! nowhere mentioned before using firebase auth.

[code]

[2021-03-13 11:46] herberlin opened #5483 "Explain fix for `flutter doctor --android-licenses` not working with java 11 on 'Linux install' page"
Page URL: https://docs.flutter.dev/get-started/install/linux
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Description of issue:
flutter doctor --android-licenses not working with java 11

Reproduce:
[code]

Java 8 works fine-

[2021-03-13 16:05] mprostock opened #5484 "'Breaking changes' page issue"
Page URL: https://flutter.dev/docs/release/breaking-changes/
Page source: https://github.com/flutter/website/tree/master/src/docs/release/breaking-changes/index.md

Description of issue:
Not sure this is the right place to mention this. But I found a breaking change in my code after just upgrading from 1.22.6 to 2.0.2:

The `Theme.of(context, shadowThemeOnly: true)` "`shadowThemeOnly`" parameter s

[2021-03-14 12:32] i3games commented on #5190
This is not a dev channel channel issue. The 'Testing Scrolling' test case fails consistently and exceprions are thrown as reported also in Flutter 2.0.2 stable channel and across different physical devices and emulators. The scrolling never takes place.

[2021-03-14 13:23] raulmabe opened #7154 "After deprecation period, remove this recipe"
Page URL: https://docs.flutter.dev/cookbook/effects/gradient-bubbles
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/effects/gradient-bubbles.md

Description of issue: I tried to implement this cookbook and I am getting an unexpected behaviour and I do not know if it is intended:

As the cookbook says `The CustomPainter requires the information necessary to determine

[2021-03-14 13:57] i3games commented on #5190
Some more information. The unit tests and integration tests in the codelab run fine. The widget tests in Step 6 look strange after loading as mentioned above: https://github.com/flutter/website/issues/5190#issuecomment-781370589

All widget tests that involve scrolling or tapping consistently fail: 'Testing Scrolling', 'Testing IconButtons', 'Testing Remove Button'
Thests that do not involve inter

[2021-03-14 16:01] i3games opened #5488 "'Mock dependencies using Mockito' page issue"
Page URL: https://flutter.dev/docs/cookbook/testing/unit/mocking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/mocking.md

Description of issue:

This page neeeds to be updated.

(1) references a previous version of the https://flutter.dev/docs/cookbook/networking/fetch-data recipe. The current recipe fetches `Album`not `Post`

(2) does not contain

[2021-03-15 19:28] chinmaygarde commented on #5334
There is no magic in the way symbol resolution works for Dart FFI. The symbols need to be resolved from a library using `dlsym`. `dlsym` needs a library handle. This handle is obtained by using `dlopen` with a specified path to a dynamic library. If symbol is already present in the current global scope, `RTLD_DEFAULT` can be used instead.

In Dart code, `DynamicLibrary.open()` is used to obtain th

[2021-03-15 20:04] sfshaza2 commented on #5334
Wow, @chinmaygarde, thanks for that detailed answer!

[2021-03-15 21:33] Timmmm commented on #5334
Ah that makes sense. Although isn't Flutter AoT compiled now on Android? Does that not give a binary you can statically link into? I guess maybe it's just too much of a pain to do, and it wouldn't work with hot reload which would kind of suck.

[2021-03-15 21:39] chinmaygarde commented on #5334
Right, it would be limited to specific modes. Also, the default Flutter workflow for Android doesn't require a native toolchain. So everyone would have to download the NDK or some other toolchain and have that versioned and updated. The assumption is that if you are writing native code, you already have a build system and toolchain in place for it that can generate a dynamic library.

[2021-03-16 03:11] sfshaza2 commented on #5483
I've googled and this seems to be an issue others have run into. Here's a Q&A on [Stack Overflow](https://stackoverflow.com/questions/61699046/android-licenses-in-flutter). We should definitely document this. I've started an internal chat thread about it. Meanwhile, there is a workaround in that Stack Overflow post.

[2021-03-16 03:15] sfshaza2 commented on #5484
@goderbauer, it looks like we need an additional breaking change doc for Flutter 2. Can you submit a PR or delegate?

Thanks for bringing this to our attention, @mprostock!

[2021-03-16 03:17] sfshaza2 commented on #5488
@miquelbeltran, would you mind adding this to your list?

[2021-03-16 03:19] sfshaza2 commented on #5431
The broken link has been removed. Closing.

[2021-03-16 03:19] #5431 closed

[2021-03-16 06:51] miquelbeltran commented on #5488
Yep, the mockito codelab will need some work indeed, because Mockito works differently as it is currently with null safety and requires to do code generation.

[2021-03-16 08:08] Puspharaj commented on #5476
Someone take a look at this.

[2021-03-16 13:48] micpap25 commented on #5368
![image](https://user-images.githubusercontent.com/34077605/111319195-1dbcbc00-863c-11eb-98ca-6d60b0e4e478.png)

This is the section we have for android studio; on one hand, your issue is already resolved and the method to install the command-line tools is mentioned. On the other hand, I think it would be useful to flesh out this section and maybe make it more robust.

I don't know if we should be

[2021-03-16 13:57] sumanthratna opened #5493 ""Flutter for Android Devs" and AppLifecycleState docs conflict"
- [the "Flutter for Android Devs" docs](https://github.com/flutter/website/blob/master/src/docs/get-started/flutter-for/android-devs.md)
- [the `AppLifecycleState` docs](https://api.flutter.dev/flutter/dart-ui/AppLifecycleState-class.html)

differences between the above 2 documents:
- according to `AppLifecycleState`, `suspending` does not exist
- according to `AppLifecycleState`, `inactive` _does

[2021-03-16 14:04] miquelbeltran commented on #5488
Hey @i3games I have submitted a PR addressing your points, you can take a look at #5492

Regarding point 2:

I think that this is out of the scope of the cookbook recipe, as the goal is to explain how mocks work rather how the `http` package works. In this case developers would have to use `http.Client()` to create a Client instance. But if it not obvious and @sfshaza2 agrees I can add a short exp

[2021-03-16 15:44] sfshaza2 commented on #5488
I agree that this recipe is not about how to use the http package, but I also don't object to adding a single sentence or two.

[2021-03-16 15:45] miquelbeltran commented on #5488
thanks! I will update the PR then

[2021-03-16 15:51] sfshaza2 commented on #5476
@Puspharaj, can you file your issue on the FlutterFire site? There is no one here that has the knowledge and/or bandwidth for this.  https://github.com/firebaseextended/flutterfire/issues

[2021-03-16 15:51] #5476 closed

[2021-03-16 16:33] martinkilmartin commented on #5368
I'm attempting to install  Android SDK Command-line tools and Android SDK Manager without installing Android Studio as it takes excessively large disk space and I already have a preferred IDE. The time I've spent attempting to set up a Flutter dev environment without Android Studio encourages me to switch back to React Native or Ionic.

[2021-03-16 16:40] Puspharaj commented on #5476
Ok

[2021-03-16 16:55] goderbauer commented on #5484
This wasn't a breaking change per our breaking change policy posted here: https://github.com/flutter/flutter/wiki/Tree-hygiene#1-determine-if-your-change-is-a-breaking-change. Therefore, no breaking change guide has been posted. Please feel free to contribute the tests of your package to https://github.com/flutter/tests to ensure that Flutter doesn't break you unknowingly in the future.

Having sa

[2021-03-16 16:59] sfshaza2 commented on #5476
Thanks for understanding, @Puspharaj. Also, if what you are looking for is support, we don't have the bandwidth to provide that here. I would suggest that you check out our [community page](https://flutter.dev/community) for suggestions on where to get support. I know that the Flutter Discord channels are a good place, as is Stack Overflow.

[2021-03-16 17:17] i3games commented on #5488
I would recommend to add a full working example at the end as it is common in other Flutter recipes. The goal of a recipe should be self-contained and working code that I can take without having to understand how to build contextual dependencies.

[2021-03-16 17:35] sfshaza2 commented on #5484
Thanks for that info, @goderbauer!  So, you are saying that changing the API such that compiling code that uses that API and the compile fails isn't a breaking change? That seems very counterintuitive to me. What makes this _not_ a breaking change?

[2021-03-16 17:37] sfshaza2 commented on #5484
Also looping in @Piinks. I am trying to better understand what is and is not a breaking change.

[2021-03-16 17:42] sfshaza2 commented on #5488
This makes a lot of sense to me. What do you think, @miquelbeltran?

[2021-03-16 18:23] Piinks commented on #5484
Hey @sfshaza2 according to the breaking change policy (@goderbauer linked above), a change is considered breaking if it breaks a customer test. Technically, *any* change can be considered breaking, so this is the metric @Hixie has developed for identifying breaks. Customer tests can be contributed by anyone to https://github.com/flutter/tests so their tests can be run against changes in flutter/fl

[2021-03-16 19:32] pablo384 opened #5497 "'Mock dependencies using Mockito' page issue - not null-safety adapted"
Page URL: https://flutter.dev/docs/cookbook/testing/unit/mocking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/mocking.md

Description of issue:
The handbook throws an error, is not null-safety adapted.

`00:03 +0 -1: fetchPost returns a Post if the http call completes successfully [E]
  type 'Null' is not a subtype of type 'Future<Response>'
  pac

[2021-03-16 19:41] kevmoo opened #5498 "Add go/adaptive -> https://flutter.gskinner.com/"
CC @Sfshaza @mit-mit

[2021-03-16 19:46] sfshaza2 commented on #5498
Submit a PR when ready!

[2021-03-16 19:48] sfshaza2 commented on #5497
Duplicate of https://github.com/flutter/website/issues/5488. Closing.

[2021-03-16 19:48] #5497 closed

[2021-03-16 19:52] sfshaza2 commented on #5484
I see. Thanks for explaining, @Piinks. The metric of breaking tests seems odd to me, but I guess you had to draw the line somewhere. At least it should quickly be solvable because it complains about the API and looking up the method signature should immediately make the change clear.

I'm closing this.

[2021-03-16 19:52] #5484 closed

[2021-03-16 20:00] sfshaza2 commented on #5498
LOL. Really?  :)

[2021-03-16 20:58] Taosif7 opened #5500 "'Adding a Flutter screen to an Android app' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/android/add-flutter-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/android/add-flutter-screen.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
There seems to be some closing tag er

[2021-03-16 21:00] #5500 closed

[2021-03-16 22:55] sfshaza2 commented on #5493
Yes, the Flutter for Android doc is out of date. The API doc is the source of truth. Not sure when we can get to this. PRs are most welcome!

[2021-03-17 03:07] #5498 closed

[2021-03-17 04:37] domesticmouse commented on #4542
I've changed `_RandomWordState` to `_RandomWordsState` in the source doc. Once @sfshaza2 lgtm's the change, it'll be up on the site.

[2021-03-17 04:37] #4542 closed

[2021-03-17 04:40] domesticmouse commented on #4530
Closing this issue out as the fix should be live soon.

[2021-03-17 04:40] #4530 closed

[2021-03-17 05:56] miquelbeltran commented on #5488
I've added now the complete example, copying over the parts from the fetch-data recipe but modified to be testable

[2021-03-17 07:21] Mohstarclassnet opened #5502 "'Widget catalog' page issue"
Page URL: https://flutter.dev/docs/development/ui/widgets/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-17 07:23] Mohstarclassnet commented on #5502
To set up Offline POS

[2021-03-17 09:21] Abdelrahman-Sousa opened #5503 "'Desktop support for Flutter' beta notes"
Page URL: https://flutter.dev/desktop.html
Page source: https://github.com/flutter/website/tree/master/src/desktop.md

Description of issue:
Remove beta notes on flutter windows support :)

[2021-03-17 09:21] #5503 closed

[2021-03-17 16:13] sfshaza2 commented on #5502
Nothing described. Closing.

[2021-03-17 16:13] #5502 closed

[2021-03-17 20:07] Hixie commented on #5484
It would be very valuable to have web site code be part of our contributed test suite, that would prevent this kind of problem in the future.

cc @RedBrogdon

[2021-03-18 03:24] domesticmouse commented on #4374
Hey @ShadabAShaikh,

Thank you for raising this monster of a bug report. I have closed out most of the issues included in this report, with another couple set to sneak out the door once @sfshaza2 lgtm's the internal PR with the updated content.

May I ask that the next time you want to raise a report that you raise individual reports for each issue? That way it is much easier to track which issues

[2021-03-18 03:24] #4374 closed

[2021-03-18 07:26] rinoldsimon opened #5507 "'Write your first Flutter app, part 1' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab.md

Description of issue:

Upgrade package **english_words** from **3.1.5** to **4.0.0-nullsafety.0** to opt null-safety

[code]

Commands to update:
[code]

[2021-03-18 19:06] sfshaza2 commented on #5507
@miquelbeltran, I thought we had done this?

[2021-03-18 20:01] bgoktugozdemir opened #5509 "'Mock dependencies using Mockito' page issue"
Page URL: https://flutter.dev/docs/cookbook/testing/unit/mocking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/mocking.md

Description of issue:
**2. Create a function to test**
**http.get()** method takes **Uri** parameter normally, but in the cookbook, it is taking String parameter instead of Uri. Possibly, it hasn't updated, yet.

You can find t

[2021-03-18 20:14] bgoktugozdemir commented on #5509
When I checked the source code of the website, I saw that it is already updated. But the website is not updated yet.

[2021-03-18 20:55] sfshaza2 commented on #5509
@bgoktugozdemir, I just [landed that PR](https://github.com/flutter/website/pull/5492/files) a couple of hours ago.  It looks updated to me. Could it be a browser caching issue?

cc @miquelbeltran

[2021-03-19 03:51] richardhaven commented on #5182
One can encode something (e.g. UTF-16, xor) without creating something to be transmitted and received

I grant that the difference is small  in practice, but the two terms have different intents, and perhaps that difference deserves two different words

Cheers

[2021-03-19 04:59] domesticmouse commented on #5182
I totally agree it would be good to have two different words for these closely related concepts, but we have to deal with words as they are currently used in practice. However, given the currently accepted definitions for the words, I'd argue the statement "Encoding and serialization are the same thing—turning a data structure into a string" is more true than false, as much as we might like it to

[2021-03-19 07:45] miquelbeltran commented on #5488
this can be closed now! :)

[2021-03-19 08:11] yivan4 opened #5511 "'Adding a Flutter screen to an Android app' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/android/add-flutter-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/android/add-flutter-screen.md

Description of issue:
The layout and code snippets are broken and confusing on "Step 2: Launch FlutterActivity" and onward.

[2021-03-19 08:48] Daynight-Himmat opened #5512 "'Hero animations' page issue"
Page URL: https://flutter.dev/docs/development/ui/animations/hero-animations.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/hero-animations.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-19 09:55] bgoktugozdemir commented on #5509
Yes, it is updated. I saw the PR after the issue. Thanks for your reply.

[2021-03-19 09:55] #5509 closed

[2021-03-19 10:13] miquelbeltran commented on #5507
The fixed version is under https://flutter.dev/docs/get-started/codelab_migrated

[2021-03-19 14:35] miquelbeltran commented on #5229
This can be closed now :)

[2021-03-19 15:09] richardhaven commented on #5182
One can encode a string into a non-string (e.g. zip files)

Cheers

[2021-03-19 19:10] sfshaza2 commented on #5511
Goodness, this generated page is something of a mess. I _believe_ that that first note to import the Android embedding file should be the extent of the note, but the rest of the page is included in that note. This page has the complication that it uses code excerpts _and_ tabs for the Java/Kotlin versions.

@miquelbeltran, can you take a look at this?

[2021-03-19 19:11] sfshaza2 commented on #5512
Nothing listed. Closing.

[2021-03-19 19:11] #5512 closed

[2021-03-19 19:38] miquelbeltran commented on #5511
oh there's definitely something broken, I will take a look!

[2021-03-19 20:38] #5229 closed

[2021-03-19 20:38] domesticmouse commented on #5229
Thanks @miquelbeltran!

[2021-03-19 22:30] #5456 closed

[2021-03-20 20:29] thdoan commented on #2472
I have the same issue as reported by @rockerhieu. Steps I took:

1. Went to https://pub.dartlang.org/
2. Clicked on lock icon and selected Certificate
3. Went to Details tab
4. Clicked Copy to File, then Next
5. Selected Base-64 encoded X.509, then Next
6. Saved file as C:\certs\flutter.pem
7. Added user environment variable `DART_VM_OPTIONS=--root-certs-file=C:\certs\flutter.pem`
8. Restarted con

[2021-03-21 13:56] tc14077 commented on #4484
Hi, @bkonyi
Thanks for the excellent guideline again!

However, I am facing issues after I followed the steps that given in the guide. As plugin registration is done via reflection in the V2 embedding, I skipped the following codes.
[code]
and try to use following codes to create a new Flutter background isolate (FlutterEngine i guess):
[code]
The isolate creation seems work fine after changing th

[2021-03-21 22:07] Ahmadre opened #5525 "'Integration testing' page issue: incomplete configuration"
Page URL: https://flutter.dev/docs/testing/integration-tests/
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/integration-tests/index.md

Description of issue:

I started a new project and I couldn't run the tests on test lab and they were always skipped.

After I found this very good tutorial: https://blog.codemagic.io/codemagic-flutter-integration-tests-firebase-test

[2021-03-22 05:25] shouichi opened #5526 "Document which directories to cache on CI for faster builds"
Hi,

It would be nice if there is documentation describes which directories to cache on CI for faster builds. It is not obvious which directories to cache because there are many candidates such as `~/.pub-cache`, `build`, `ios/Pods`.

Thanks!

[2021-03-22 21:58] sfshaza2 commented on #5525
Hm. Is this your area of expertise, @blasten?

[2021-03-22 22:00] sfshaza2 commented on #5526
Interesting question. @goderbauer, who might have this expertise?

[2021-03-22 23:01] goderbauer commented on #5526
I believe it is a good idea to cache `.pub-chache` - we do that on our CI as well. Not sure about any other directories. Maybe @jonahwilliams or @xster know?

[2021-03-22 23:04] jonahwilliams commented on #5526
We actually stopped caching .pub-cache as far as I could tell, because the cost of uploading it to CI and then downloading it again was slower than only downloading it from pub.dev. YMMV based on network cost and data center location

[2021-03-23 00:52] Ahmadre commented on #5525
@sfshaza2 by the way I found the same configuration here: https://pub.dev/packages/integration_test#android-device-testing

[2021-03-23 19:02] sfshaza2 commented on #5526
@shouichi, since there doesn't seem to be any iron clad advice here (and it may vary for different environments), I'm going to close this.  Thx!

[2021-03-23 19:02] #5526 closed

[2021-03-23 21:23] RandalSchwartz opened #5534 "'Visual Studio Code' page issue"
Page URL: https://flutter.dev/docs/development/tools/vs-code.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/vs-code.md

Description of issue:

Doesn't seem to mention Flutter Desktop yet.  I know, mere days after #flutterengage. :)

[2021-03-23 23:44] shouichi commented on #5526
Thanks for the confirmation. Just mentioning that the recommended way does not exist may help. Anyway, thanks again!

[2021-03-24 00:51] diosney opened #5535 "[typo] Fix typo in React Native to Flutter widgets comparison table"
(At https://flutter.dev/docs/get-started/flutter-for/react-native-devs)

The `LinearProgressIndicator`'s description states that is

 and should be:

or something similar.

![image](https://user-images.githubusercontent.com/1340074/112237538-42ef9280-8c19-11eb-9bab-b10287bb0e55.png)

[2021-03-25 22:09] nt4f04uNd opened #5546 "Update "Animate a page route transition" cookbook with some advanced example"
in context of https://github.com/flutter/flutter/issues/42615 i want to propose some changes to improve this cookbook
https://flutter.dev/docs/cookbook/animation/page-route-animation

in particular it would be nice to have a usage example of `secondaryAnimation`

[2021-03-26 02:20] #5493 closed

[2021-03-26 02:45] Tapaswi846580 commented on #5535
It’s fixed, you can check and can close this issue.

[2021-03-26 03:01] #5535 closed

[2021-03-26 03:04] sfshaza2 commented on #5534
Yup! Also, the web note is now wrong. You no longer have to enable web, you just get it. As always, PRs welcome.  ;)

[2021-03-26 03:06] sfshaza2 commented on #5546
@miquelbeltran, as the person updating this page to null safety, what say you about this idea? If it's beyond the scope of what you can do now, then I can go in and add some links to the pages that @HansMuller mentions in the flutter/flutter bug.

[2021-03-26 05:44] perryrivera opened #5547 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
For Android Studio Version 4.1.3, the item to select is "Create New Flutter Project" not

[2021-03-26 07:58] yivan4 commented on #5511
Oh yay, thanks @miquelbeltran for fixing! I'll close this issue now.

[2021-03-26 07:58] #5511 closed

[2021-03-26 20:26] followthegik opened #5551 "'Developing packages"
Page URL: https://flutter.dev/docs/development/packages-and-plugins/developing-packages.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/developing-packages.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:  Can this be updated with windo

[2021-03-26 22:14] neiljaywarner opened #5552 "'Integration testing' page issue"
Page URL: https://flutter.dev/docs/testing/integration-tests/
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/integration-tests/index.md

Feature Request
Since widget and integration tests have the same API now, how do we make a directory of shared code? Seems like this would be a common request? Or maybe it's too simple, but still, documentation is so good..
https://s

[2021-03-26 23:28] babakfp opened #5553 "I had a confusion in the docs"
Hi
[Link to the target docs page](https://flutter.dev/docs/deployment/android).

Target:
"
Enter cd <app dir>
(Replace <app dir> with your application’s directory.)
"

When I read the second line, I thought that it means that I need to replace something named "app dir" (something like a variable) with my app directory!! I thought that `application’s directory is something like a value that I need

[2021-03-27 01:50] micpap25 commented on #5551
These examples are to show how to set the preferred language for iOS / Android, which is not part of the Windows platform for developing plugins. The section already tells you how to set `windows` as a platform for the project as well. Hopefully this answers any issues you have, and let me know if you have any concerns, but I think this can be closed.

[2021-03-27 10:16] saumitro111 opened #5555 "'Flutter for Android developers' page issue"
Page URL: https://flutter.dev/docs/get-started/flutter-for/android-devs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/flutter-for/android-devs.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-27 16:36] Ahmadre commented on #5525
They're listed here: https://flutter.dev/docs/testing/integration-tests#android-setup

Solved :)

[2021-03-27 16:36] #5525 closed

[2021-03-28 12:54] SapinderSingh opened #5556 "'Firebase' page issue"
Page URL: https://flutter.dev/docs/development/data-and-backend/firebase.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/firebase.md

Description of issue:

The **Firebase for Flutter codelab** link on this page is broken. It says 404 | page not found

[2021-03-28 21:54] ottokafka opened #5557 "Explain Xcode setup to deploy to physical iOS devices on 'Build and release an iOS app' page"
Deploy to iOS devices
To deploy your Flutter app to a physical iOS device you’ll need to set up physical device deployment in Xcode and an Apple Developer account.

You can deploy to a iOS device with a personal account. You don't need an Apple developer account. I created a post on medium.com showing you the step-by-step instructions on how to do that.
https://ottokafka.medium.com/flutter-2-0-dep