[2022-09-09 09:53] darshankawar commented on #7533
/cc @domesticmouse

[2022-09-09 16:56] gisborne opened #7537 "San Diego Flutter meetup"
### What information is missing?

There is a new San Diego flutter meetup. I’d like it listed on https://flutter.dev/community and anywhere else appropriate.

You can put my email address if you need a contact: guyren@relevantlogic.com

### How would you like us to fix this problem?

Add the new meetup in relevant places.

[2022-09-09 23:26] jmagman commented on #7037
Done in the 3.3 website release.

[2022-09-09 23:26] #7037 closed

[2022-09-10 18:44] piedcipher commented on #6945
@danagbemava-nc do you have link of the repo where I fix this issue?

[2022-09-10 18:51] piedcipher commented on #6804
this one is fixed I guess. I checked it.

![Screenshot at 2022-09-11 00-20-28](https://user-images.githubusercontent.com/13456345/189497615-632242f7-9119-4556-a9ca-8088bc027301.png)

[2022-09-10 18:52] piedcipher commented on #6804
are these apps (dashatar-dev and dashatar-creator) owned by same entity?

[2022-09-10 20:03] piedcipher opened #7539 "[PAGE ISSUE]: 'Codelabs Link' :link:"
### Page URL

https://docs.flutter.dev/codelabs/

### Page source

https://github.com/flutter/website/tree/main/src/codelabs/index.md

### Describe the problem

Link for `Multi-platform Firestore Flutter` is `https://codelabs.developers.google.com/codelabs/friendlyeats-flutter` but it opens `https://firebase.google.com/codelabs/firebase-get-to-know-flutter`.

What should be the correct link?

###

[2022-09-10 20:06] piedcipher commented on #7539
https://user-images.githubusercontent.com/13456345/189500105-cd1aab65-9f47-409c-ba41-67fbc1afda8d.mp4

[2022-09-10 20:50] piedcipher commented on #6660
Is codelab completed?

[2022-09-12 06:29] danagbemava-nc commented on #6945
I do not have the link for the codelab, it might be internal
/cc @domesticmouse

[2022-09-12 06:31] danagbemava-nc commented on #6660
The info section that states that this codelab is not yet complete is still on the page, so I assume it is not complete yet

[2022-09-12 08:20] domesticmouse commented on #6945
@piedcipher It’s in a google doc and published through a google3 pipeline. Sorry, this content isn’t open source.

[2022-09-12 16:52] MiraMarshall commented on #7531
Closing because this issue has been fixed.

[2022-09-12 16:52] #7531 closed

[2022-09-13 14:30] MohamedMafaz commented on #7518
Sir, Can you assign me. I'll fix this.

[2022-09-13 18:23] #6928 closed

[2022-09-13 18:24] #6723 closed

[2022-09-14 12:30] MohamedMafaz commented on #7518
I fixed it

[2022-09-14 17:55] MiraMarshall commented on #5022
Closing because this issue has been resolved.

[2022-09-14 17:55] #5022 closed

[2022-09-14 19:55] mit-mit commented on #6631
Closing: this was completed a while back

[2022-09-14 19:55] #6631 closed

[2022-09-14 23:42] sfshaza2 commented on #5022
@MisterRog85, you should definitely *not* need to modify /etc/paths. I see you are on a Mac, but what shell are you using? You need to update the dot file for your shell. For `bash`, for example, that's `.bashrc`. Or you might use `zsh`, which is `.zshrc`. I'm glad that /etc/paths worked for you, but it's a rather large club to use.

[2022-09-14 23:45] sfshaza2 commented on #7402
Closing.

[2022-09-14 23:45] #7402 closed

[2022-09-14 23:49] sfshaza2 commented on #7498
Yes, you can't use the links from within GitHub. You must use the links from the website. The GitHub preview of the website is insufficient - it doesn't go through the entire build process with jekyll, etc. I'm afraid I don't know the answer to your WebView question. Perhaps ask in the Discord channel or on StackOverflow?

[2022-09-14 23:49] #7498 closed

[2022-09-14 23:50] sfshaza2 commented on #7495
@johnpryan, can you confirm?

[2022-09-15 00:07] sfshaza2 commented on #7483
@cbracken, can you comment?

[2022-09-15 18:58] piedcipher commented on #2927
This seems fixed! I can see a return statement with `return null;` at the end.

[2022-09-15 18:59] piedcipher commented on #3307
DraggableScrollableSheet is present under https://docs.flutter.dev/development/ui/widgets/scrolling.
This seems fixed!

[2022-09-15 23:24] cbracken commented on #7483
I don't think anything changed in this regard in between 3.0.4 and 3.3.0. `run_loop.cpp` was removed in https://github.com/flutter/flutter/pull/79969 on 2021-04-27.

There's an open issue for auto-migration of very old projects here https://github.com/flutter/flutter/issues/80057, though at this point I suspect we should close it and simply rely on documentation (this change was landed prior to de

[2022-09-16 10:33] enwi commented on #7483
@cbracken
Diff of `windows/CMakeLists.txt`:
[code]

Diff of `windows/flutter/CMakeLists.txt`:
[code]

[2022-09-18 10:27] bohdantrotsenko opened #7557 "[PAGE ISSUE]: 'Learn more'"
### Page URL

https://docs.flutter.dev/get-started/learn-more/

### Page source

https://github.com/flutter/website/tree/main/src/get-started/learn-more.md

### Describe the problem

Udacity link is broken.

### Expected fix

I haven't figured out the correct link yet.

### Additional context

_No response_

[2022-09-18 10:30] bohdantrotsenko commented on #7557
Update: the problem is on udacity website.
The single flutter course can be found in the catalog, but clickit on it resets the view to the homepage.

[2022-09-18 10:30] #7557 closed

[2022-09-18 16:40] gfb-47 opened #7571 "Android migration tutorial url is no longer available"
## Steps to Reproduce

1. Download this flutter app and try to run: https://github.com/alura-cursos/bytebank-api/archive/runnable.zip

**Expected results:** I would like to have an available url instead of this one: https://docs.flutter.dev/go/android-project-migration

**Actual results:**
![Captura de tela 2022-09-18 133546](https://user-images.githubusercontent.com/46033500/190918050-edc0ad0e-e5

[2022-09-19 18:11] piedcipher commented on #4920
I think this one is fixed. Good to close?

[2022-09-19 18:15] piedcipher commented on #5161
I think this one is fixed. Good to close?

[2022-09-19 18:21] piedcipher commented on #5157
I think flutter-doc's sentry page seems up-to-date. Good to close? Here is the sentry doc for comparison - https://docs.sentry.io/platforms/flutter/#configure

[2022-09-19 18:24] piedcipher commented on #5144
I think this issue is outdated now. Good to close?

[2022-09-19 18:25] piedcipher commented on #5109
Docs are already fixed! Good to close?

[2022-09-19 18:50] MiraMarshall commented on #1882
Closing because this issue has been addressed.

[2022-09-19 18:50] #1882 closed

[2022-09-20 01:18] cbracken commented on #7483
The CMakefile.txt diffs are unrelated to the version information change.

They may be useful nonetheless (e.g. CMake minimum version allows for more versions of Visual Studio, addition of flutter_texture_registrar.h is useful for anyone who wants to register an external texture), and removing and recreating the entire windows directory is probably the simplest solution in terms of the instructions

[2022-09-20 08:46] JimmyTai opened #7563 "[Page] PlatformViewLink example when host native view in Android"
### Page URL

https://docs.flutter.dev/development/platform-integration/android/platform-views#on-the-dart-side

### Page source

https://github.com/flutter/website/blob/main/src/development/platform-integration/android/platform-views.md

### Describe the problem

Hybrid composition `PlatformViewLink. onCreatePlatformView` should return `PlatformViewsService. initExpensiveAndroidView()` instead of

[2022-09-20 09:05] MaikuB opened #7564 "Background processing"
### What information is missing?

There is documentation on doing background processing at https://docs.flutter.dev/development/packages-and-plugins/background-processes. It looks out of date as there have been changes that I've not seen communicated more widely.

Examples include
- Flutter 3.3 appeared to ship with a version of Dart SDK with more aggressive tree-shaking where functions invoked by

[2022-09-20 16:31] sfshaza2 commented on #7564
This is quite true.

[2022-09-20 19:08] loic-sharma commented on #7483
This problem affects folks that created their Windows project using Flutter 2.2.3 or earlier. Flutter 2.2.3 was the last version whose [template contained the run loop](https://github.com/flutter/flutter/blob/2.2.3/packages/flutter_tools/templates/app/windows.tmpl/runner/CMakeLists.txt); the next stable release, 2.5.0, [removed this run loop](https://github.com/flutter/flutter/blob/2.5.0/packages/

[2022-09-20 20:23] cbracken commented on #7483
Makes sense - I think it's probably reasonable to add a bit of detail for people on older versions of Flutter. Long-term the real solution for this sort of thing is going to be `flutter migrate`.

[2022-09-20 23:57] #5791 closed

[2022-09-20 23:57] #5198 closed

[2022-09-20 23:59] sfshaza2 commented on #7452
@ericwindmill, do you have any suggestions?

[2022-09-21 11:14] jess-rod opened #7568 "[PAGE ISSUE]: 'List of state management approaches > Provider'"
### Page URL

https://docs.flutter.dev/development/data-and-backend/state-mgmt/options#provider

### Page source

https://github.com/flutter/website/tree/main/src/development/data-and-backend/state-mgmt/options.md

### Describe the problem

1. [You might not need Redux: The Flutter edition](https://proandroiddev.com/you-might-not-need-redux-the-flutter-edition-9c11eba006d7) is outdated. Provider h

[2022-09-21 15:54] MiraMarshall commented on #6904
Closing because this issue has been fixed.

[2022-09-21 15:54] #6904 closed

[2022-09-21 23:54] leighajarett opened #7572 "Create a page that maps Apple Kit's to workflows on Flutter"
### What information is missing?

Apple has several SDKs (for example: [MusicKit](https://developer.apple.com/musickit/)) that help with developing specific types of apps, or accomplish specific tasks when developing an app. For new Flutter developers that have experience working in the Apple ecosystem, it would be helpful for us to point them to specific code samples or packages that help them ac

[2022-09-22 01:36] leighajarett opened #7575 "Link not working"
### Page URL

https://docs.flutter.dev/deployment/ios#troubleshooting

### Page source

In Troubleshooting section of the iOS deployment doc

### Describe the problem

The link to the Distribute your app guide seems to no longer work.

### Expected fix

_No response_

### Additional context

_No response_

[2022-09-22 06:50] #7419 closed

[2022-09-22 06:51] #7571 closed

[2022-09-22 15:31] #7575 closed

[2022-09-22 20:50] sfshaza2 commented on #7537
I've contacted the proper person within the team who will handle this.

[2022-09-22 20:52] sfshaza2 commented on #7455
OK, this opened up numerous internal discussions. We aren't going to do this for now. Closing.

[2022-09-22 20:52] #7455 closed

[2022-09-22 20:52] sfshaza2 commented on #7518
I also worked on this. :). Closing.

[2022-09-22 20:52] #7518 closed

[2022-09-22 21:38] anelvro commented on #7537
Hi! There is a process for a group to be added under the [Flutter Meetup Network](https://www.meetup.com/pro/flutter). I'll send the details to the email you provided.

[2022-09-22 22:36] sfshaza2 commented on #7537
Thanks so much @anelvro! Closing this issue.

[2022-09-22 22:36] #7537 closed

[2022-09-22 22:38] sfshaza2 commented on #7568
@domesticmouse, could you update this page?

[2022-09-22 22:39] sfshaza2 commented on #7539
@MiraMarshall, could you take this?

[2022-09-22 22:40] sfshaza2 commented on #7572
@leighajarett, if you know of existing packages that do this, that would be great!

[2022-09-22 22:44] domesticmouse commented on #7568
What should we be linking to? We don't own maintaining [Sugarch's Medium article](https://medium.com/flutter-community/making-sense-all-of-those-flutter-providers-e842e18f45dd), which appears to be the meat of this bug report.

[2022-09-23 13:08] treeder commented on #7272
Did you create your flutter web app prior to flutter 2.10? If so, you are using the old loader and I think they did some tricks with the new loading scripts in index.html that make this less of a problem.

See this for regenerating the index.html file: https://docs.flutter.dev/development/platform-integration/web/initialization#upgrading-an-older-project

[2022-09-23 14:23] TahaTesser commented on #6155
Closing as done, if there are anymore remaining, please file a new issue.

[2022-09-23 14:23] #6155 closed

[2022-09-23 18:24] Biplab-Dutta commented on #7498
I found a breakthrough for the issue I had opened. The solution was to parse the HTML string so that WebView in Flutter could understand it. I am sharing the solution if anyone happens to face similar issue in the future.

[Check this file](https://github.com/Biplab-Dutta/now-in-dart-flutter/blob/master/lib/features/detail/core/data/detail_dto.dart) for the solution.

[2022-09-23 20:30] gaaclarke opened #7754 "The documentation has broken links from external sites"

[2022-09-25 03:45] cobelu opened #7586 "[PAGE ISSUE]: 'Write your first Flutter app, part 1'"
### Page URL

https://docs.flutter.dev/get-started/codelab/

### Page source

https://github.com/flutter/website/tree/main/src/get-started/codelab.md

### Describe the problem

`english_words 4.0.0` should be `english_words: 4.0.0` under "Step 2: Use an external package" -> 1.

### Expected fix

`english_words 4.0.0` should be `english_words: 4.0.0` under "Step 2: Use an external package" -> 1.

#

[2022-09-26 13:24] #7505 closed

[2022-09-26 13:43] haithemmihoubi opened #7589 "[PAGE ISSUE]: 'Shader compilation jank'"
### Page URL

https://docs.flutter.dev/perf/shader/

### Page source

https://github.com/flutter/website/tree/main/src/perf/shader.md

### Describe the problem

 Impeller on Android is being actively developed, but is not yet in developer preview
This line describe that the package is only developed in iOS, but now it's deployed in the pub.dev

### Expected fix

_No response_

### Additional conte

[2022-09-26 14:00] danagbemava-nc commented on #7589
Hi @haithemmihoubi, can you provide a link to the package you're referring to?

Impeller is being worked on in the flutter engine, it is unlikely that it will be published as a pub package.

[2022-09-26 14:42] MiraMarshall commented on #7539
It looks like this redirect is happening on all the links that are supposed to go to `friendlyeats-flutter`. @domesticmouse is this intentional?

[2022-09-26 18:21] sfshaza2 commented on #7589
I think he means this package:  https://pub.dev/packages/impeller

But I have no idea what's up. I'll ask around.

[2022-09-26 18:35] sfshaza2 commented on #7589
OK, this package is definitely NOT related to our Impeller implementation. (I didn't think so.) I've filed an issue with the pub.dev. Closing

[2022-09-26 18:35] #7589 closed

[2022-09-26 19:14] sfshaza2 commented on #7539
@domesticmouse, have we retired this codelab? It was old.

[2022-09-26 21:12] sfshaza2 commented on #7498
@khanhnwin

[2022-09-26 22:56] domesticmouse commented on #7539
Yup, the Friendly Eats codelab was retired (it was unmaintained), and the codelab URL was redirected to the maintained getting started with Flutter and Firebase codelab. Please feel free to delete.

[2022-09-26 23:21] sfshaza2 commented on #7539
Thanks! Feel free to delete, Shamira!

On Mon, Sep 26, 2022 at 3:56 PM Brett Morgan ***@***.***>
wrote:

[2022-09-27 01:27] Hirdey-1999 commented on #7586
I will do it

[2022-09-27 02:04] parlough commented on #7586
This was fixed by https://github.com/flutter/website/pull/7591, but thanks for offering @Hirdey-1999!

[2022-09-27 02:04] #7586 closed

[2022-09-28 02:00] sfshaza2 commented on #7539
@MiraMarshall, sorry if I wasn't clear. The description/name of the codelab on our index page is incorrect. It needs to be updated to reflect the codelab that it actually points to. If we already link to the newer codelab from our index page, then we should delete the second reference. I've re-opened, because this needs a PR.

[2022-09-28 11:38] Daynight-Himmat opened #7597 "[PAGE ISSUE]: 'Security'"
### Page URL

https://docs.flutter.dev/security/

### Page source

https://github.com/flutter/website/tree/main/src/security/index.md

### Describe the problem

Hello Flutter team
i am getting the issue in ioImage is not support in the flutter web.
i am unable to save image in the brower local directory to store the image or files for the communicate with the data response.
i am unable to give the

[2022-09-28 12:06] danagbemava-nc commented on #7597
Kindly file an issue on the main flutter repo and provide enough information as to what exactly it is that you want.

Closing as this is not an issue with the security page nor a website issue for that matter.

Thank you

[2022-09-28 12:06] #7597 closed

[2022-09-28 19:08] dlewis2017 opened #7600 "[PAGE ISSUE]: 'Using an OEM debugger'"
### Page URL

https://docs.flutter.dev/testing/oem-debuggers/

### Page source

https://github.com/flutter/website/tree/main/src/testing/oem-debuggers.md

### Describe the problem

Expect to see Debugging with Visual Studio for C/C#/C++ development on Windows example

### Expected fix

Expect to see Debugging with Visual Studio for C/C#/C++ development on Windows example

### Additional context

_

[2022-09-28 21:47] sfshaza2 commented on #7448
@leighajarett, who would the engineering contact be for this?

[2022-09-28 22:14] #6174 closed

[2022-09-28 22:15] sfshaza2 commented on #7600
That sounds great!

[2022-09-28 22:25] sfshaza2 commented on #7568
Both articles have been removed from the state management options page. Closing.

[2022-09-28 22:25] #7568 closed

[2022-09-29 21:03] #6584 closed

[2022-09-30 16:06] PracticalRyan opened #7609 "[PAGE ISSUE]: 'Desktop support for Flutter'"
### Page URL

https://docs.flutter.dev/development/platform-integration/desktop/

### Page source

https://github.com/flutter/website/tree/main/src/development/platform-integration/desktop.md

### Describe the problem

Some of the flags listed when disabling platforms don't work in the current version of the flutter app.

### Expected fix

From:
--no-enable-windows
--no-enable-linux

To:
--no-enab

[2022-09-30 16:14] #3019 closed

[2022-09-30 18:29] sfshaza2 commented on #7539
Fixed!

[2022-09-30 18:29] #7539 closed

[2022-09-30 20:32] KristiforMilchev opened #7612 "Change Update path directly section to prevent issues with Ubuntu-based distributions"
![image](https://user-images.githubusercontent.com/49519924/193351276-9752b6c3-d06c-4f30-90b6-7b89d6df6edc.png)

So, did it several times, following the documentation to install flutter on Ubuntu based system causes an issue with /usr/bin and it does work till you restart the system, then it gets stuck in a login loop till the snippet is removed from the  /etc/profile . I found that removing the p

[2022-10-03 00:05] #7609 closed

[2022-10-04 06:53] davidhicks980 commented on #3002
I'm not sure where you all fell on this issue, but I found that hiding the right sidebar and shrinking the font on code pages made for a more ergonomic experience when reading the docs. Let me know if there is any way I could contribute to make this happen.

Without modifications:
![image](https://user-images.githubusercontent.com/59215665/193752767-532a3df0-2d40-47b2-bd3b-bb0eac157e75.png)

With

[2022-10-04 14:35] MiraMarshall commented on #6622
Closing because the issue could not be reproduced.

[2022-10-04 14:35] #6622 closed

[2022-10-04 20:36] piedcipher commented on #7533
Just remove `const` from `Center`. Since `Text` uses a value which is not a const.

![Screenshot at 2022-10-05 02-05-38](https://user-images.githubusercontent.com/13456345/193921818-0169f862-7df8-4da0-9cb1-50d2a105021d.png)

Step 2 doesn't have a `const` either at that line.

[2022-10-04 20:40] sfshaza2 commented on #7619
@xster, this might be more approapriate for the Firebase website, which is where the Flutter + Firebase docs live.

@kroikie @kevinthecheung

[2022-10-04 21:47] jmagman commented on #7619
I don't know why the rest of the comment history didn't transfer, but this is tracking an iOS version of https://docs.flutter.dev/development/add-to-app/android/plugin-setup.  @sfshaza2 you asked in that original issue if it could be transferred to the website issue tracker.

[2022-10-05 23:13] Leedehai opened #7627 "Explain `.arb` file type on 'Internationalizing Flutter apps' page"
### Page URL

https://docs.flutter.dev/development/accessibility-and-localization/internationalization/

### Page source

https://github.com/flutter/website/tree/main/src/development/accessibility-and-localization/internationalization.md

### Describe the problem

The page mentions `.arb` files, but doesn't clarify what the format it is.

### Expected fix

Add a parenthesis after the first mention

[2022-10-05 23:24] dlewis2017 opened #7628 "Add VS guide for 'Using OEM debugger'"
### Page URL

https://docs.flutter.dev/get-started/editor/

### Page source

https://github.com/flutter/website/tree/main/src/get-started/editor.md

### Describe the problem

More of a request than issue. Can we have Visual Studio setup instructions?

### Expected fix

More of a request than issue. Can we have Visual Studio setup instructions?

### Additional context

_No response_

[2022-10-06 09:03] nielscup opened #7632 "[PAGE ISSUE]: 'Build and release an iOS app'"
### Page URL

https://docs.flutter.dev/deployment/ios/

### Page source

https://github.com/flutter/website/tree/main/src/deployment/ios.md

### Describe the problem

What version is used when building ipa: version from `pubspec.yaml` or from info.plist?

1. when I only set the buildnumber in pubspec.yaml: I get the following error when running `flutter build ipa`:

`error: exportArchive: The prov

[2022-10-06 12:02] danagbemava-nc commented on #7632
Hi @nielscup, what version of flutter did you experience this issue with?

I tested a new counter app and I didn't get any issues when trying to build an ipa.

If possible, can you file a new issue on the main flutter repo and provide all the relevant information so that this can be investigated?

Thank you

[2022-10-06 12:28] Henriquedn opened #7633 "[PAGE ISSUE]: 'Create a shimmer loading effect'"
### Page URL

https://docs.flutter.dev/cookbook/effects/shimmer-loading/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/effects/shimmer-loading.md

### Describe the problem

In class ShimmerState

bool get isSized => (context.findRenderObject() as RenderBox).hasSize;

causes the error below when the context.findRenderObject()  returns null.

======== Exception caught b

[2022-10-09 02:20] #7633 closed

[2022-10-09 16:13] bksubhuti opened #7639 "Build and Release a Linux AppImage"
### What information is missing?

The only information about building a linux desktop app for public consumption is a snap.
My old app was an electron app.  It was easy to build.
Most people hate snaps and if you ever try to build a snap, you will hate them more.
The "just type snapcraft" is very misleading.
I tried building a snap and found out that it required 12 gb of space and also 3 or 4 gb o

[2022-10-10 09:23] ManInTheWind commented on #6715
Any update? I think it was deprecated. use the binding from `onAttachedToActivity(ActivityPluginBinding binding)` method  to get FlutterAssets.

[2022-10-10 09:29] 12people commented on #7639
This, but for Flatpak too!

[2022-10-10 09:36] bksubhuti commented on #7639
I would not mind releasing flatpak.  anything is easier than snapcraft.  I made a deb very easily too.  Anything is easier than snapcraft.  But AppImage is the new thing.  Just like anything that competes with flutter is dead, snap and flatpak are dead compared to AppImage.  in fact.. a new article was released today.  Here:  https://www.omgubuntu.co.uk/2022/10/appimagelauncher-install-on-ubuntu

[2022-10-10 09:49] 12people opened #7641 "Building a Flatpak on Linux"
### What information is missing?

Currently, the only [officially documented](https://docs.flutter.dev/deployment/linux) deployment target for Linux is a Snap. However, Snaps are being widely rejected by the open-source community due to their closed source backend, with Ubuntu derivatives like Linux Mint, Pop!_OS, and elementary OS rejecting Snaps in favor of Flatpaks. They're also nearly impossib

[2022-10-10 10:01] 12people commented on #7639
Don't get me wrong, I support documentation for both AppImages and Flatpaks.

I'm not sure where you get the idea that AppImage is the "new thing" and everything else is dead.

AppImage was released in 2004, Flatpak in 2015. And unlike AppImage, Flatpaks deal with security issues (with sandboxing being a core feature) as well as size optimization (through the use of shared runtimes). And Flatpaks

[2022-10-10 11:15] bksubhuti commented on #7639
Right now there is successful documentation for building Appimages with
flutter.
Let's push for that to be on the official website.
If you find any flatpak documentation for flutter. Make a new and separate
issue.  The more the merrier.
Bhante Subhuti

https://AmericanMonk.org
https://withmetta.net

On Mon, 10 Oct 2022 at 16:31, Mirek Mazel ***@***.***> wrote:

[2022-10-10 12:45] 12people commented on #7639
Created one just today: https://github.com/flutter/website/issues/7641 :)

[2022-10-12 08:51] kevin2-cyber commented on #2856
Please I want to add to path on macOS Monterrey I've tried everything but it's not working

[2022-10-12 15:23] ueman opened #7645 "[PAGE ISSUE]: 'Handling errors in Flutter'"
### Page URL

https://docs.flutter.dev/testing/errors/

### Page source

https://github.com/flutter/website/tree/main/src/testing/errors.md

### Describe the problem

According to the docs of [PlatformDispatcher.instance](https://api.flutter.dev/flutter/dart-ui/PlatformDispatcher/instance.html) you shouldn't use it directly, but instead you should use `WidgetsBinding/instance.platformDispatcher.on

[2022-10-12 19:05] #7190 closed, assigned to nobody

[2022-10-13 15:12] skillkrio opened #7649 "Flutte documentation page footer bug"
### Page URL

https://api.flutter.dev/flutter/widgets/widgets-library.html

### Page source

_No response_

### Describe the problem

The footer of the page is placed at center after some seconds of loading. This cause the documentation hard to read. This bug occurs only in brave browser.

### Expected fix

Try to keep the footer at the bottom of the page instead of placing it in center.
![webbug]

[2022-10-13 15:12] loic-sharma commented on #7483
Hello we improved this documentation with: https://github.com/flutter/website/pull/7570

To summarize, folks affected by this should follow this guide: https://docs.flutter.dev/development/platform-integration/windows/run-loop-migration

Please let us know if you run into additional problems or have follow-up questions!

[2022-10-13 15:12] #7483 closed

[2022-10-13 15:39] jasimameen commented on #7649
Mention down the browser and the machine where this error caused

[2022-10-13 17:39] parlough commented on #7649
@skillkrio It looks like there are some other issues with the styling in your screenshot and I cannot reproduce this. Does this persist if you disable your dark theme extension for the page?

[2022-10-14 03:14] skillkrio commented on #7649
This issue caused due to an extension called spade.

[2022-10-14 03:14] #7649 closed

[2022-10-14 14:14] domesticmouse opened #7654 "[PAGE ISSUE]: 'Using packages'"
### Page URL

https://docs.flutter.dev/development/packages-and-plugins/using-packages/

### Page source

https://github.com/flutter/website/tree/main/src/development/packages-and-plugins/using-packages.md

### Describe the problem

We should document the `flutter pub add` equivalents for each `pubspec.yaml` modification listed in this document

### Expected fix

_No response_

### Additional cont

[2022-10-15 14:06] atrauzzi opened #7655 "[PAGE ISSUE]: 'Navigate with named routes'"
### Page URL

https://docs.flutter.dev/cookbook/navigation/named-routes/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/navigation/named-routes.md

### Describe the problem

This page doesn't contain any information about how to work with query string parameters.

### Expected fix

Advice on how to author routes that match, even when query string parameters are present

[2022-10-17 23:47] vick08 opened #7660 "Add link to 'Crafting accessibility experience with the Wonderous app' article to Flutter a11y page"
### Page URL

https://docs.flutter.dev/development/accessibility-and-localization/accessibility/

### Page source

https://github.com/flutter/website/tree/main/src/development/accessibility-and-localization/accessibility.md

### Describe the problem

Please consider adding the following blog article to the list of resources on the Flutter a11y documentation page
https://blog.gskinner.com/archives/

[2022-10-18 20:17] kevmoo opened #7663 "[PAGE ISSUE]: 'Flutter for web developers' - document notions of shared styling?"
### Page URL

https://docs.flutter.dev/get-started/flutter-for/web-devs/

### Page source

https://github.com/flutter/website/tree/main/src/get-started/flutter-for/web-devs.md

### Describe the problem

We talk a LOT about instead of THIS CSS, use THIS widget/property

But what is not covered is how to share styling across widget. Allowing folks to be DRY – "don't repeat yourself"

### Expected fi

[2022-10-18 22:17] jmagman opened #7664 "macOS SDKs list should alternative between x64 and arm64"
### Page URL

https://docs.flutter.dev/development/tools/sdk/releases?tab=macos

### Page source

_No response_

### Describe the problem

macOS SDK includes x64 and arm64 SDKs, but the order is not stable.  Instead of alternating x64, arm64, x64, arm64, it's instead in random order.

![Screen Shot 2022-10-18 at 3 14 22 PM](https://user-images.githubusercontent.com/682784/196555129-2d4e3708-e12c-4

[2022-10-19 01:08] TytaniumDev opened #7666 "Upgrading Flutter page doesn't show how seamless a major version upgrade is"
### Page URL

https://docs.flutter.dev/development/tools/sdk/upgrading

### Page source

_No response_

### Describe the problem

I gave a getting started with Flutter talk, and an iOS developer asked what the Flutter major version upgrade process was like. There isn’t really any documentation or guidance on this on the Flutter website that I could find, but it’d be worth showing off that it’s a m

[2022-10-19 12:04] danPyk opened #7671 "[PAGE ISSUE]: 'Displaying images on the web'"
### Page URL

https://docs.flutter.dev/development/platform-integration/web/web-images/

### Page source

https://github.com/flutter/website/tree/main/src/development/platform-integration/web/web-images.md

### Describe the problem

There's no link for this page in the left side navigation menu.

### Expected fix

Add a link for this page in the left side navigation menu

### Additional context

_

[2022-10-19 13:14] danagbemava-nc commented on #7671
Thanks for pointing this out.
There's also no entry for this under the Platform Integration topic for web.

<img src="https://user-images.githubusercontent.com/88313112/196700116-3680dd84-dc5e-45c4-bb04-1c47adc7b424.png" width="400" />

<img src="https://user-images.githubusercontent.com/88313112/196700134-5a67b53a-5510-44cf-b5e9-8e82e2ec5a50.png" width="400" />

[2022-10-19 14:41] wangmir commented on #7242
@neiljaywarner Did u solve this problem? I have similar problem when uploading aar libraries into maven repository.

[2022-10-19 15:31] neiljaywarner commented on #7242
I haven't done anything with it in quite some time. Sorry about that

[2022-10-19 15:46] wangmir commented on #7242
@danagbemava-nc Hi, did u check this problem? I think new guide is not suitable now. And, it also has problem with others too.

[2022-10-20 05:22] modooJH opened #7680 "'Box Constraint 다루기' page issue"
Page URL: https://flutter-kr.io/docs/development/ui/layout/box-constraints.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/box-constraints.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: The Korean translation of the Flex section is incorrect. It

[2022-10-20 13:04] danagbemava-nc commented on #7680
Hi @modooJH, unfortunately, the flutter-kr.io domain and it's content are community-maintained.

The flutter website team is not associated with the project and unfortunately, we have no way of communicating with the maintainers of that domain.

I'll be closing this issue since the site is community-maintained.

Thank you

[2022-10-20 13:04] #7680 closed

[2022-10-21 22:13] ReallyVirtual opened #7684 "[PAGE ISSUE]: 'Animate a widget across screens'"
### Page URL

https://docs.flutter.dev/cookbook/navigation/hero-animations/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/navigation/hero-animations.md

### Describe the problem

The URL https://picsum.photos/250?image=9 is blocked with an Access Denied, so the example is broken.

### Expected fix

Switch the URL from https://picsum.photos/250?image=9 to another image

[2022-10-21 22:19] ReallyVirtual commented on #7684
Besides the inaccessible image (the link also doesn't work in the browser), there's a cross-domain restriction. Changing to https://docs.flutter.dev/assets/images/shared/brand/flutter/logo/flutter-lockup.png works.

[2022-10-24 13:00] danagbemava-nc commented on #7684
Hi @ReallyVirtual, I seem to be able to run the example just fine. It does take a while to load. Can you share any errors you get?

<details>
<summary>recording</summary>

https://user-images.githubusercontent.com/88313112/197530991-f8ee7869-92f2-412b-81da-d51f64048da9.mov
</details>

[2022-10-24 14:54] MiraMarshall commented on #7671
Closing because this issue has been resolved.
![Screen Shot 2022-10-24 at 9 53 46 AM](https://user-images.githubusercontent.com/23406866/197557000-42057762-ec15-46b7-8c23-d93ecbb5d110.png)

[2022-10-24 14:54] #7671 closed

[2022-10-25 05:15] j796160836 opened #7691 "Revise example on 'Actions API revision' page"
### Page URL

https://docs.flutter.dev/release/breaking-changes/actions-api-revision/

### Page source

https://github.com/flutter/website/tree/main/src/release/breaking-changes/actions-api-revision.md

### Describe the problem

[Custom Actions and Intents with arguments](https://docs.flutter.dev/release/breaking-changes/actions-api-revision#custom-actions-and-intents-with-arguments)

Code wrong
[

[2022-10-25 12:37] danagbemava-nc commented on #7691
Thanks for pointing this out.

The example hasn't been updated for null-safety.

[2022-10-27 03:29] AlexV525 opened #7695 "Provide context for `myErrorsHandler` in 'Handling errors in Flutter' page"
### Page URL

https://docs.flutter.dev/testing/errors/

### Page source

https://github.com/flutter/website/tree/main/src/testing/errors.md

### Describe the problem

In **Handling all types of errors**, there is a line of code wrotes: `await myErrorsHandler.initialize()`. It is not clear what is `myErrorsHandler` and what `initialize` does.

### Expected fix

Provide a complete handler along with

[2022-10-27 22:40] InMatrix opened #7701 "Merge 'Dealing with box constraints' page with 'Understanding constraints' page"
### Page URL

https://docs.flutter.dev/development/ui/layout/box-constraints/

### Page source

https://github.com/flutter/website/tree/main/src/development/ui/layout/box-constraints.md

### Describe the problem

I'm not sure if the [Dealing with box constraints](https://docs.flutter.dev/development/ui/layout/box-constraints) page provides distinctive value over the [Understanding constraints](htt

[2022-10-28 13:25] #7632 closed

[2022-10-29 02:56] matthew-carroll opened #7711 "Improve documentation for Timeline, TimelineTask, and checkerboardOffscreenLayers"

[2022-10-30 15:30] Hixie opened #7707 "[PAGE ISSUE]: 'Firebase'"
### Page URL

https://docs.flutter.dev/development/data-and-backend/firebase/

### Page source

https://github.com/flutter/website/tree/main/src/development/data-and-backend/firebase.md

### Describe the problem

This refers to the FlutterFire site but the FlutterFire site says it's obsolete and to refer to https://firebase.google.com/docs/flutter/.

### Expected fix

_No response_

### Additional

[2022-10-31 01:16] fzyzcjy opened #7708 "Add closed `flutter/engine` issues to 'Flutter ... release notes'"
### Page URL

https://docs.flutter.dev/development/tools/sdk/release-notes/release-notes-3.3.0/

### Page source

https://github.com/flutter/website/tree/main/src/development/tools/sdk/release-notes/release-notes-3.3.0.md

### Describe the problem

A lot of very important features/bugfixes are done in the flutter/engine repo instead of flutter/flutter repo. However, this webpage only discusses the

[2022-11-01 02:58] samekard-dev opened #7712 "[PAGE ISSUE]: 'Visual Studio Code'"
### Page URL

https://docs.flutter.dev/development/tools/vs-code/

### Page source

https://github.com/flutter/website/tree/main/src/development/tools/vs-code.md

### Describe the problem

https://docs.flutter.dev/development/tools/vs-code#run-app-without-breakpoints

This article says that Start Without Debugging changes the status bar to orange, but isn't it Start Debugging that changes the stat

[2022-11-01 12:39] danagbemava-nc commented on #7712
I can confirm that debugging is what changes the status bar color.

https://user-images.githubusercontent.com/88313112/199234224-e4a85832-4ec7-4048-ad42-409647e45600.mov

[2022-11-02 16:16] RiRa12621 opened #7716 "[PAGE ISSUE]: 'Fetch data from the internet'"
### Page URL

https://docs.flutter.dev/cookbook/networking/fetch-data/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/networking/fetch-data.md

### Describe the problem

[code]

in the final example is called as

[code]

### Expected fix

[code]

### Additional context

_No response_

[2022-11-03 08:45] nickppbd opened #7720 "[PAGE ISSUE]: 'Implicit animations' error word"
### Page URL

https://docs.flutter.dev/codelabs/implicit-animations/

### Page source

https://github.com/flutter/website/tree/main/src/codelabs/implicit-animations.md

### Describe the problem

"Change the **Container** widget to an AnimatedOpacity widget: "

### Expected fix

"Change the **Column** widget to an AnimatedOpacity widget: "

### Additional context

_No response_

[2022-11-03 08:55] nickppbd opened #7721 "[PAGE ISSUE]: 'Implicit animations' error word"
### Page URL

https://docs.flutter.dev/codelabs/implicit-animations/

### Page source

https://github.com/flutter/website/tree/main/src/codelabs/implicit-animations.md

### Describe the problem

To do this, change opacity state using the onPressed() handler for **TextlButton**

### Expected fix

To do this, change opacity state using the onPressed() handler for **TextButton**

### Additional conte

[2022-11-03 12:09] danagbemava-nc commented on #7716
Hi @RiRa12621, the example is not wrong.

In step 4 `futureAlbum` is assigned the value of `fetchAlbum`. See https://docs.flutter.dev/cookbook/networking/fetch-data#4-fetch-the-data

[code]

As such I'll be closing this issue.

Thank you

[2022-11-03 12:09] #7716 closed

[2022-11-03 12:12] RiRa12621 commented on #7716
That's my bad, clearly.
Thanks for clarifying. Sorry for the noise.

[2022-11-03 12:13] danagbemava-nc commented on #7720
The problematic line is in https://docs.flutter.dev/codelabs/implicit-animations#1-pick-a-widget-property-to-animate

[2022-11-03 12:14] danagbemava-nc commented on #7721
The error is in https://docs.flutter.dev/codelabs/implicit-animations#4-set-up-a-trigger-for-the-animation-and-choose-an-end-value

[2022-11-04 07:27] TechSatya opened #7724 "Reference in "Want to skill up?" section in the documentation doesn't exist"

[2022-11-04 19:08] ditman opened #8591 "[docs] Document hostElement and the new config (Flutter web)"
https://github.com/flutter/flutter/issues/32329 introduces some configurable changes to the flutter behavior, which need to be documented in this page:

* https://docs.flutter.dev/development/platform-integration/web/initialization

The following needs to be documented:

* [x] New `engineInitializer.initializeEngine(configuration)` API.
    * [x] Attributes that can be passed as keys for the `conf

[2022-11-04 19:11] eliasyishak opened #7726 "[PAGE ISSUE]: 'Send data to the internet'"
### Page URL

https://docs.flutter.dev/cookbook/networking/send-data/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/networking/send-data.md

### Describe the problem

Not a huge problem but it would be help if we mentioned that you also need to have `import 'dart:convert'` at the top to make sure we have access to the `jsonEncode(..)` method.

### Expected fix

Show t

[2022-11-04 19:29] alejop153 opened #7727 "[PAGE ISSUE]: 'Take a picture using the camera'"
### Page URL

https://docs.flutter.dev/cookbook/plugins/picture-using-camera/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/plugins/picture-using-camera.md

### Describe the problem

The documentation works for web while you are in debug mode, but when you build for web the permission to open camera is never asked. It doesn't work.

### Expected fix

I don't know how

[2022-11-05 19:51] domesticmouse opened #7729 "Update the 'Use themes to share colors and font styles' page to use Material 3"
### Page URL

https://docs.flutter.dev/cookbook/design/themes/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/design/themes.md

### Describe the problem

This page needs to be updated for Material 3

### Expected fix

_No response_

### Additional context

_No response_

[2022-11-07 12:00] danagbemava-nc commented on #7727
Hi @alejop153, do you see any errors in your console?

What version of flutter are you using and what version of camera are you using as well?

[2022-11-07 17:20] #7654 closed

[2022-11-08 03:57] kissu commented on #3632
I guess that dark reader is still the best answer regarding that issue: https://darkreader.org/

[2022-11-08 09:44] nickppbd opened #7733 "[PAGE ISSUE]: 'Animations tutorial' error word"
### Page URL

https://docs.flutter.dev/development/ui/animations/tutorial/

### Page source

https://github.com/flutter/website/tree/main/src/development/ui/animations/tutorial.md

### Describe the problem

The current value of the Animation object can be found in the .value **method**

### Expected fix

The current value of the Animation object can be found in the .value

### Additional context

[2022-11-08 13:04] danagbemava-nc commented on #7733
Hi @nickppbd, can you point out the exact places in the documentation that is not clear to you?

Thank you

[2022-11-08 14:57] anoop-anilkumar opened #7734 "[PAGE ISSUE]: 'Write your first Flutter app, part 1'"
### Page URL

https://docs.flutter.dev/get-started/codelab/

### Page source

https://github.com/flutter/website/tree/main/src/get-started/codelab.md

### Describe the problem

The code is the page contains errors. When I tried to follow the tutorial on the step1 : Create the starter flutter App, the below mentioned error came. It was a code error. And i'm stuck at the first step . Hope for a fast

[2022-11-08 16:25] Piyaphartoi opened #7735 "[PAGE ISSUE]: 'Widget catalog'"
### Page URL

https://docs.flutter.dev/development/ui/widgets/

### Page source

https://github.com/flutter/website/tree/main/src/development/ui/widgets/index.md

### Describe the problem

https://docs.flutter.dev/development/ui/widgets/

### Expected fix

[PAGE ISSUE]: 'Widget catalog'

### Additional context

https://github.com/flutter/website/tree/main/src/development/ui/widgets/index.md

[2022-11-09 12:12] danagbemava-nc commented on #7734
Hi @anoop-anilkumar, what version of flutter are you on? I tested the code sample and I do not get any errors from vscode.

[2022-11-09 12:13] danagbemava-nc commented on #7735
Hi @Piyaphartoi, what exactly is the issue you're experiencing on this page?

[2022-11-09 12:40] anoop-anilkumar commented on #7734
I just downloaded the flutter sdk
I'm getting error on the 'super' .I run the application on browser.

On Wed, Nov 9, 2022, 17:42 Daniel Agbemava ***@***.***> wrote:

[2022-11-09 14:17] nickppbd commented on #7733
@danagbemava-nc

https://docs.flutter.dev/development/ui/animations/tutorial#tween

A Tween object does not store any state. Instead, it provides the evaluate(Animation<double> animation) method that applies the mapping function to the current value of the animation. The current value of the Animation object can be found in the .value method

[2022-11-09 15:33] UserY1 opened #7738 "[PAGE ISSUE]: 'Example does not run in TabController.'"
### Page URL

https://docs.flutter.dev/development/ui/widgets/material/

### Page source

https://github.com/flutter/website/tree/main/src/development/ui/widgets/material.md

### Describe the problem

Example does not run in TabController.
https://api.flutter.dev/flutter/material/TabController-class.html
"Error compiling to Javascript"

### Expected fix

_No response_

### Additional context

_No

[2022-11-09 23:22] ditman opened #7741 "[ci] check_link_references failing."
### Describe the problem

It seems that some dependency change in the `check_link_references` process has started breaking with the current setup:

* https://github.com/flutter/website/blob/main/Dockerfile#L63-L73

[code]

At least 2 PRs are affected similarly:

* https://github.com/flutter/website/pull/7661
* https://github.com/flutter/website/pull/7740

### Expected fix

It _seems_ that the node

[2022-11-09 23:24] ditman commented on #7741
/cc @btobin @johnpryan (from #7580)

[2022-11-09 23:37] johnpryan commented on #7741
I agree, we should probably troubleshoot by upgrading node and firebase-tools first: https://github.com/flutter/website/pull/7742

[2022-11-10 13:07] danagbemava-nc commented on #7734
Hi @anoop-anilkumar, what version of flutter did you install?

[2022-11-10 13:12] danagbemava-nc commented on #7738
Closing this in favor of https://github.com/flutter/flutter/issues/114795

[2022-11-10 13:12] #7738 closed

[2022-11-10 13:13] danagbemava-nc commented on #7733
Thanks for the clarification

[2022-11-10 17:20] #7741 closed

[2022-11-10 22:04] jmagman commented on #7039
`flutter_post_install` is available in 3.1.0-9.0.pre https://github.com/flutter/flutter/commit/5b58d5c58fcfdc83b1a740751986e465516533df

[2022-11-10 22:35] jmagman opened #7748 "Remove bitcode references"
### Page URL

https://docs.flutter.dev/resources/faq#how-big-is-the-flutter-engine

### Page source

_No response_

### Describe the problem

Some notes that bitcode is being removed were added as part of https://github.com/flutter/website/pull/7623.

### Expected fix

Remove references to bitcode once https://github.com/flutter/flutter/pull/112831 (available in 3.4.0-37.0.pre) is in stable.  Incl

[2022-11-10 23:31] brettatoms opened #7750 "[PAGE ISSUE]: 'Test drive'"
### Page URL

https://docs.flutter.dev/get-started/test-drive/

### Page source

https://github.com/flutter/website/tree/main/src/get-started/test-drive/index.md

### Describe the problem

On Firefox clicking on tabs changes the url hash but doesn't load the tab content.  Works ok on Chrome.

<img width="641" alt="Screen Shot 2022-11-10 at 6 30 25 PM" src="https://user-images.githubusercontent.com

[2022-11-11 03:17] 321paranoiawhy opened #7751 "[PAGE ISSUE] `BoxShape enum` page Not Found"
### Page URL

https://docs.flutter.dev/get-started/flutter-for/web-devs#making-circles-and-ellipses

### Page source

https://api.flutter.dev/flutter/painting/BoxShape-class.html

### Describe the problem

Hey, I found that link to [BoxShape enum](https://api.flutter.dev/flutter/painting/BoxShape-class.html) page in [this page](https://docs.flutter.dev/get-started/flutter-for/web-devs#making-circl

[2022-11-11 11:27] danagbemava-nc commented on #7750
Hi @brettatoms, was the page fully loaded when you tried to navigate between the tabs? It works just fine for me on firefox. See the recording below

<detail>
<summary>recording</summary>

https://user-images.githubusercontent.com/88313112/201330852-7c7dc334-a305-49fc-9acb-4915dfcae4af.mov
</details>

[2022-11-11 11:31] danagbemava-nc commented on #7751
The url is supposed to be https://api.flutter.dev/flutter/painting/BoxShape.html

Thanks for pointing that out

[2022-11-11 11:33] brettatoms commented on #7750
@danagbemava-nc Yes it was fully loaded and also the nav tree on the left wouldn't collapse/expand.  With that said it seems to be working fine now so I'm not sure what the problem was. 🤷

[2022-11-11 11:33] #7750 closed

[2022-11-11 12:20] ed-freitas opened #7752 "Flutter UI Succinctly"
Hi friends, maybe you'd like to add **Flutter UI Succinctly** to the list of Flutter books. Cheers.

https://www.syncfusion.com/succinctly-free-ebooks/flutter-ui-succinctly

[2022-11-11 19:16] jmagman commented on #7774
@atsansone why wouldn't this issue live in the website repo? https://docs.flutter.dev/development/add-to-app

[2022-11-11 19:18] timsneath commented on #7778
@anderdobo useful tracking issue for some of the work you and Martin are looking at?

[2022-11-11 19:18] jmagman commented on #7774
Sorry, I misread this, I thought it was transferred from website to flutter, not the other way.  Carry on.  🙂

[2022-11-11 19:29] tvolkert commented on #7804
iframe or not, I wonder why standard Google indexing doesn't pick those docs up?

[2022-11-11 20:06] sfshaza2 commented on #7804
@khanhnwin, can you weigh in?

[2022-11-11 20:08] sfshaza2 commented on #7803
@khanhnwin, can you weigh in on this?

[2022-11-11 20:13] sfshaza2 commented on #7775
@xster, you mentioned Crashlytics specifically. The Flutter Firebase docs are located on the [firebase docs site](https://firebase.google.com/docs/crashlytics/get-started?platform=flutter).

For me to really get my head around what you are asking for, I'd need to meet with a POC. Who should that be?

[2022-11-11 20:13] anderdobo commented on #7778
Yes! I've labeled as such.

[2022-11-11 20:18] sfshaza2 commented on #7806
Rather than spend time on this, I'm going to close. These URL links aren't even valid anymore. If this problem still exists, please open a new issue and use current links.

[2022-11-11 20:18] #7806 closed

[2022-11-11 20:21] sfshaza2 commented on #7752
PRs welcome

[2022-11-11 20:23] sfshaza2 commented on #7748
Yes, bitcode is deprecated. In fact, the second-to-last paragraph ends with the following sentence: "Note bitcode has been deprecated and will be removed from Flutter in a future release." Assuming that it's ok with @jmagman, I'd be fine with deleting this paragraph, but maybe keeping the note. Though it should be put in an official liquid note format.

[2022-11-11 20:24] sfshaza2 commented on #7751
Yup, a very straightforward fix.

[2022-11-11 20:25] sfshaza2 commented on #7735
Yeah, no issues listed. Closing.

[2022-11-11 20:25] #7735 closed

[2022-11-11 20:28] sfshaza2 commented on #7733
Perhaps it would be clearer if the text said "`Animation.value` method" and linked to its [API page](https://api.flutter.dev/flutter/animation/Animation/value.html).

[2022-11-11 20:30] Naaidrv commented on #7773
What widgets are you using?
If you are using the "stack" widget sometimes causes that gray screen, I recommend you to change it or remove it.
Good luck! :D

[2022-11-11 20:30] Naaidrv commented on #7773
What widgets are you using?
If you are using the "stack" widget sometimes causes that gray screen, I recommend you to change it or remove it.
Good luck! :D

[2022-11-11 20:32] sfshaza2 commented on #7734
@anoop-anilkumar, I see the same thing as @danagbemava-nc. This code works. You can test it on [DartPad](https://dartpad.dev/?), our in-browser playground. I pasted the exact code you provided and clicked Run. It ran fine.

I suspect that you either don't have the latest stable version of Flutter/Dart OR your IDE doesn't have the Dart/Flutter plugins installed.

[2022-11-11 20:34] sfshaza2 commented on #7729
Yes it does! We now have the theming tool.

[2022-11-11 20:35] sfshaza2 commented on #7724
Ooh, good catch!  Yes, I removed that section (which really was no longer that helpful) but forgot to check for links to that anchor.

[2022-11-11 20:38] sfshaza2 commented on #7701
I actually agree. It would also need a redirect since tooling points to the older page. @Hixie, what do you say?

[2022-11-11 20:53] sfshaza2 commented on #7771
I believe this belongs on the dart website repo. Moving.

[2022-11-11 22:05] domesticmouse commented on #7766
@atsansone Maybe this isn't the right repo for this issue. This repo doesn't contain the referenced URL and I believe that page has been updated since this issue was raised. I'd vote to just close out this bug.

[2022-11-11 22:58] khanhnwin commented on #7808
Please correct me if I'm wrong, but I don't think this issue is relevant anymore. This Issue looks to have been filed against old infrastructure that's no longer being used (Travis).

[2022-11-12 00:27] sfshaza2 commented on #7808
Oh, right. We definitely don't use Travis anymore. Closing.

[2022-11-12 00:27] #7808 closed

[2022-11-12 00:29] sfshaza2 commented on #7766
Let me chuck it to Kelvin. That's what we're supposed to do, since there is
no other way to file bugs publicly on the marketing repo.

On Fri, Nov 11, 2022 at 2:05 PM Brett Morgan ***@***.***>
wrote:

[2022-11-12 12:33] nickppbd commented on #7733
@sfshaza2 I did not realize that .value is a method. I am sorry!

[2022-11-12 20:55] matteo-bombelli commented on #7734
hello error on the same page/code (updated just before this message):

![image](https://user-images.githubusercontent.com/15176885/201494149-38767c8e-096e-4e02-9f08-fe7210eacb6f.png)

Flutter 3.3.8 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 52b3dc25f6 (4 days ago) • 2022-11-09 12:09:26 +0800
Engine • revision 857bd6b74c
Tools • Dart 2.18.4 • DevTools 2.15.0

[2022-11-12 20:58] matteo-bombelli commented on #7734
vs code plugin v3.52.0

[2022-11-12 23:44] wildwestrom opened #7813 "Small Typo in FFI Types"
### Page URL

https://docs.flutter.dev/development/platform-integration/platform-channels?tab=type-mappings-c-tab#codec

### Page source

./src/development/platform-integration/platform-channels.md

### Describe the problem

It's just a typo. Pretty sure there's no `int62_t` in the `stdint` library.

### Expected fix

[code]

### Additional context

_No response_

[2022-11-13 03:19] sfshaza2 commented on #7733
no problem!

[2022-11-13 03:30] sfshaza2 commented on #7813
Thanks for filing an issue, @wildwestrom!

[2022-11-13 03:32] wildwestrom commented on #7813
No problem. Very happy to make small edits when I see them.

[2022-11-13 22:11] parlough commented on #7813
Fixed by https://github.com/flutter/website/pull/7814, thanks!

[2022-11-13 22:11] #7813 closed

[2022-11-14 12:13] danagbemava-nc commented on #7734
Hi @matteo-bombelli, you need to remove the const from the `Center` widget.

[2022-11-14 13:24] #7684 closed

[2022-11-14 15:26] MiraMarshall commented on #7724
Closed. The links have been fixed.

[2022-11-14 15:26] MiraMarshall commented on #7707
Closed. The link has been fixed.

[2022-11-14 15:26] #7707 closed

[2022-11-14 15:40] #4004 closed

[2022-11-14 19:44] sfshaza2 commented on #7766
I discussed it with marketing. I was told that it should be closed.

[2022-11-14 19:44] #7766 closed

[2022-11-14 19:59] jmagman commented on #7748
I added that in https://github.com/flutter/website/pull/7623

My suggestion was to wait until https://github.com/flutter/flutter/pull/112831 (available in 3.4.0-37.0.pre) is in stable.  Once that happens we don't even need the note.

[2022-11-14 21:29] sfshaza2 commented on #7748
SG!

[2022-11-15 06:17] danagbemava-nc commented on #7751
Closing this since the link has been fixed in #7819

[2022-11-15 06:17] #7751 closed

[2022-11-16 22:22] polina-c opened #7830 "Update documentation for DevTools > Memory"
### What information is missing?

Documentation about memory concepts and new features is missing

### How would you like us to fix this problem?

The draft: http://go/using-memory-view-wording

[2022-11-16 22:26] kenzieschmoll commented on #7830
@sfshaza2 @atsansone  would it make sense to add a 'devtools-request' label that we could tag our docs requests with?

[2022-11-17 01:00] kevmoo opened #7831 "Change guidance on platform views on 'Displaying images on the web' page"
### Page URL

https://docs.flutter.dev/development/platform-integration/web/web-images#use-img-in-a-platform-view

### Page source

https://github.com/flutter/website/tree/main/src/development/platform-integration/web/web-images.md

### Describe the problem

End of the page. "As of today" links to https://github.com/flutter/flutter/issues/71884 which is duplicated against https://github.com/flutte

[2022-11-17 01:03] kevmoo commented on #7831
![image](https://user-images.githubusercontent.com/17034/202328650-0d0e9fc8-9d4b-4a83-b495-e6d5c4433543.png)

Thoughts @yjbanov @hterkelsen ?

[2022-11-17 01:11] sfshaza2 commented on #7830
Absolutely, if you find it useful!!

On Wed, Nov 16, 2022 at 2:26 PM Kenzie Davisson ***@***.***>
wrote:

[2022-11-17 01:36] sfshaza2 commented on #7734
Thanks, @danagbemava-nc. Closing.

[2022-11-17 01:36] #7734 closed

[2022-11-17 01:46] Hixie commented on #7701
I have no objection to merging them. We should make sure to update the URL in the tooling as well, so it's not pointing to the redirect.

[2022-11-17 01:47] jmagman commented on #7775
I believe all this issue is tracking is making an iOS version of the Android equivalent website page.  However in 2+ years I don't think I've ever seen a GitHub issue or question from a customer about this, probably safe to close this issue?

[2022-11-17 01:50] Hixie commented on #7754
@gaaclarke We want to avoid having more than one (well, two, if you count the master branch API docs) version of the API docs because we noticed a huge antipattern in lots of other SDKs wherein they have lots and lots of versions of the API docs and people often end up looking at old versions (e.g. due to following links or search engines not noticing they're old or whatever).

@itsjustkevin I'm n

[2022-11-17 02:11] sfshaza2 commented on #7775
Closing! Thx, @jmagman

[2022-11-17 02:11] #7775 closed

[2022-11-17 17:10] karmazinkd opened #7836 "[PAGE ISSUE]: 'Using the Memory view' - a link doesn't work"
### Page URL

https://docs.flutter.dev/development/tools/devtools/memory/

### Page source

https://github.com/flutter/website/tree/main/src/development/tools/devtools/memory.md

### Describe the problem

The link on the words "see the [memory leak case study](https://github.com/flutter/devtools/tree/master/case_study/memory_leaks/images_1_null_safe)."  is broken.

It leads to Github's 404 page wi

[2022-11-17 22:13] polina-c opened #7840 "The term 'flutter frame' is not defined."
### What information is missing?

What is 'flutter frame'?

### How would you like us to fix this problem?

It can be defined, for example in subsection 'Basic performance concepts' of the page https://docs.flutter.dev/development/tools/devtools/performance

[2022-11-17 22:21] #7836 closed

[2022-11-18 12:03] huxs7 commented on #7278
I have sportybet authorization code that last only 24 hours, the old codes doesn't work on the app again because it has been patched, this new code works as from November 2022 till it is patch.
saxjude7@gmail.com

[2022-11-18 17:06] johnpryan opened #7843 "Page issue: Hot restart only works in debug mode"
### Page URL

https://docs.flutter.dev/development/tools/hot-reload

### Page source

https://github.com/flutter/website/blob/main/src/development/tools/hot-reload.md

### Describe the problem

Right now, you can't hot restart in profile/release mode. This page says"Only Flutter apps in debug mode can be hot reloaded."

### Expected fix

I think it should say "Only Flutter apps in debug mode can b

[2022-11-18 19:33] #7572 closed

[2022-11-19 01:12] itsjustkevin commented on #7754
@Hixie thanks for pointing this out.  Do we want to move it back, and do we have someone who wants to take a look at this issue?

cc: @atsansone

[2022-11-21 21:18] parlough commented on #6974
`make up` is now working for me on an apple silicon device, even without Rosetta installed. Closing this as fixed.

[2022-11-21 21:18] #6974 closed

[2022-11-21 21:19] parlough commented on #3094
I'm going to close this as everything is being tracked in an issue. Thanks!

[2022-11-21 21:19] #3094 closed

[2022-11-21 21:20] parlough commented on #2115
We're now using the latest Bootstrap 4.x.y version.

[2022-11-21 21:20] #2115 closed

[2022-11-21 22:17] parlough commented on #6746
We're no longer using superstatic for staging the site, so I'm going to close this. If anyone sees this again, please open a new issue.

[2022-11-21 22:17] #6746 closed

[2022-11-25 19:56] Thalience commented on #6460
The flutter snap is again badly outdated, and it seems that nobody cares. PLEASE stop recommending this broken installation method to Linux users.

[2022-11-26 00:03] MrCsabaToth commented on #6460
The official policy is that the snap is just an installation vehicle. After install the flutter CLI should be used exclusively. See also https://github.com/flutter/website/issues/6499

If we go through the Linux installation methods there's a `flutter doctor` step after installation. Theoretically that should warn the user that the Flutter SDK is not up to date. In my opinion it should be an expli

[2022-11-26 02:45] Thalience commented on #6460
I see that now. Thank you for taking the time to respond!
I do think that a note to this effect could be added directly to the snap installation instructions.

Or perhaps it is the output of `flutter doctor` that could be improved to show that what it wants to update is not in the snap, but cached in my home directory. If I had installed manually, this would not have been surprising.

[2022-11-26 09:36] navaronbracke opened #7873 "Typo in federated plugin docs"
### Page URL

https://docs.flutter.dev/development/packages-and-plugins/developing-packages#endorsed-implementations

### Page source

_No response_

### Describe the problem

Below the code sample, the following phrase has a typo:

[code]

It should be `implemented` instead of 'implementated'.

### Expected fix

[code]

### Additional context

_No response_

[2022-11-27 11:23] EarlGreytea16 opened #7874 "[PAGE ISSUE]: 'Using packages' needs to change git to https"
### Page URL

https://docs.flutter.dev/development/packages-and-plugins/using-packages/

### Page source

https://github.com/flutter/website/tree/main/src/development/packages-and-plugins/using-packages.md

### Describe the problem

Unencrypted git:// protocol has been disabled at March 15, 2022

https://github.blog/2021-09-01-improving-git-protocol-security-github/#no-more-unauthenticated-git
htt

[2022-11-28 09:52] Severino opened #7876 "[PAGE ISSUE]: 'Persist data with SQLite'"
### Page URL

https://docs.flutter.dev/cookbook/persistence/sqlite/

### Page source

https://github.com/flutter/website/tree/main/src/cookbook/persistence/sqlite.md

### Describe the problem

There are code examples but no explanation of which file to put them in.

### Expected fix

Add the default filenames for where the code examples belong.

### Additional context

_No response_

[2022-11-28 12:10] #7727 closed

[2022-11-28 12:56] danagbemava-nc commented on #7876
This example only uses a `main.dart` file so that should be enough, but it could be made clearer that the code goes into that file.

[2022-11-28 16:07] Severino commented on #7876
Thanks for the fast reply. In the end, I managed to figure out to put the dependencies in the 'pubspec.yaml' and the 'main.dart' files. I now saw that this approach is common with the flutter examples. For brand-new users, it's a bit confusing.

[2022-11-28 16:07] #7876 closed

[2022-11-29 12:26] leighajarett opened #7884 "Theme page out of date"
### Page URL

https://docs.flutter.dev/cookbook/design/themes#creating-an-app-theme

### Page source

_No response_

### Describe the problem

The docs on theming reference parameters like `headline1` which have been deprecated

### Expected fix

Replace with update naming, for example `headline1` should be `displayLarge`

### Additional context

_No response_

[2022-11-29 18:05] kenzieschmoll opened #7886 "Add release notes for DevTools 2.19.0 to the website"
[Release notes draft](http://go/dt-2.19.0-release-notes).

[2022-11-29 18:13] eseidel commented on #4149
Another fix would be to just link to these samples, which seem pretty good (but took me a long time to finally find):
https://github.com/flutter/samples/blob/main/form_app

[2022-11-29 19:57] johnpryan opened #7887 "Warn users that profile mode isn't supported on the web"
DevTools can't connect to a Flutter web app running in profile mode, we should call this out on the [Flutter performance profiling page](https://docs.flutter.dev/perf/ui-performance#run-in-profile-mode). and any other pages that mention profile mode.

See [this comment](https://github.com/flutter/devtools/issues/3969#issuecomment-1095412620) for more details

[2022-11-30 17:55] johnpryan commented on #7887
One option is to recommend using Chrome DevTools to gather timeline events for a Flutter Web app running in profile mode

[2022-11-30 22:16] polina-c commented on #7830
PR: https://github.com/flutter/website/pull/7885