[2020-05-17 22:15] domesticmouse commented on #3083
I believe this has been fixed by the updated [Building a Cupertino app with Flutter](https://codelabs.developers.google.com/codelabs/flutter-cupertino/#4)codelab. Thanks for the report!

[2020-05-17 22:15] #3083 closed

[2020-05-19 00:40] kwalrath opened #4104 "Codelab DartPads should inject code, not use gists"
Details: https://github.com/dart-lang/site-www/issues/2421

Let's figure out the best way to fix these before going all in.

[2020-05-19 03:42] sfshaza2 commented on #4096
I have zero, and I mean ZERO recollection of a rendering page! A complete rewrite of the Flutter Architectural Overview page is in process and will be released soon-ish. It has a great section on rendering. Until then, I'd recommend linking to this [video](https://www.youtube.com/watch?v=996ZgFRENMs).

I'd redirect the material page to the API page. which is more up to date Thx!

[2020-05-19 03:43] sfshaza2 commented on #4104
I used a script-based embedded DartPad on some pages and found it to be super easy!

[2020-05-19 16:25] kwalrath commented on #4104
Can you point to the pages where you did that? (Unless that's more work than just doing it. :)

[2020-05-19 17:06] sfshaza2 commented on #4104
I was afraid you'd ask...  I'm trying to remember....

I REMEMBER! It was when I added the [Understanding constraints](https://flutter.dev/docs/development/ui/layout/constraints) page.

I added this JavaScript pieces to the front matter:

[code]

And then you add this to the markdown file:

[code]

And, of course, you can tweak the parameters for the DartPad itself. That's it!!!  To see the actual

[2020-05-19 17:49] kwalrath commented on #4096
Although you did of course... :) But I'll remember not to label flutter/website bugs!

[2020-05-19 18:29] tvolkert commented on #3982
@iiVOXODii if you're using Chrome, I'd be interested in seeing the Chrome Tools network tab when you see this issue.

@godofredoc is this because the GCP bucket fails to serve traffic occasionally?  Do we have stats on that?

[2020-05-19 19:13] rdenhof commented on #4100
From my point of view link used in https://github.com/flutter/website/blob/master/src/_data/books.yml is working (only missing last url segment /programming-flutter).

[2020-05-19 19:30] sfshaza2 commented on #4100
@dcarreroc, there seems to be a redirect in place. When I go to the URL in the yaml file, https://pragprog.com/book/czflutr ,
it goes straight to the correct page.

[2020-05-19 19:58] jmagman opened #4321 "Add documentation for supporting flavors"
https://flutter.dev/docs/deployment/flavors currently links to some community articles, but it would be better if there were official documentation.

For example, https://github.com/flutter/flutter/issues/56507 is due to confusion about flavors and build configurations in Xcode.  However there's no place to update and emphasize the correct fix for this issue, or even any documentation to link to.

[2020-05-20 12:29] lautaropaske opened #4109 "'Building a web application with Flutter' page issue"
Page URL: https://flutter.dev/docs/get-started/web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/web.md

Description of issue:

*You can install [Android Studio][], [IntelliJ IDEA][], or [Visual Studio Code][]* <= Missing links for IDEs, markdown error.

[2020-05-20 21:48] sfshaza2 commented on #4109
Fixed in PR https://github.com/flutter/website/pull/4108.

[2020-05-20 21:48] #4109 closed

[2020-05-21 12:15] rays-github opened #4117 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-21 16:30] sfshaza2 commented on #4117
No issue listed. Closing.

[2020-05-21 16:30] #4117 closed

[2020-05-21 22:48] danagbemava opened #4120 "Fix `TypeMatcher` to `isA` in 'Mock dependencies using Mockito' page"
Page URL: https://flutter.dev/docs/cookbook/testing/unit/mocking.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/testing/unit/mocking.md

Description of issue:

``` TypeMatcher<T> ``` has been deprecated in favor of  ``` isA<T>```

I think this needs to be reflected in the code snippet to allow beginners to know what to do in case they run into the deprecation wa

[2020-05-22 00:21] sfshaza2 commented on #4120
Actually, the problem is worse than that. This recipe relies on an earlier recipe, [Fetch Data from the internet](https://flutter.dev/docs/cookbook/networking/fetch-data). That class has been reworked to use the `Album` class, and `fetchAlbum` function. But this page assumes it's still using the `Post` class, and the `fetchPost` function. This needs to be fixed before the deprecation issue can be

[2020-05-22 00:22] sfshaza2 commented on #4100
Closing.

[2020-05-22 00:22] #4100 closed

[2020-05-22 00:23] sfshaza2 commented on #4034
Closing.

[2020-05-22 00:23] #4034 closed

[2020-05-22 09:02] domesticmouse opened #4121 "'Flutter release notes' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/release-notes/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/release-notes/index.md

Description of issue: Release notes for Flutter 1.17.1 is MIA.

[2020-05-22 15:10] sfshaza2 commented on #4121
Yes, the 1.17.0 should be relabeled to either 1.17 or 1.17.1.

[2020-05-22 22:50] ashkue opened #4123 "'Sample App Catalog' page issue"
Page URL: https://flutter.dev/docs/catalog/samples/
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

"curated list of samples" link throws 500 error on GitHub

[2020-05-22 23:06] ashkue commented on #4123
Seems to be self-fixed

[2020-05-22 23:06] #4123 closed

[2020-05-23 18:42] RomanKornev opened #4124 "Cannot download Android Studio: This site can't be reached"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:
First step in **Install Android Studio**
Cannot download Android Studio as "This site can't be reached"
https://redirector.gvt1.com/edgedl/android/studio/install/3.6.3.0/android-studio-ide-192.6392135-windows.

[2020-05-24 08:43] sampathbalivada commented on #4124
I have no issues with the given link and the Android Studio site is perfectly fine. It's a possibility that the issue is fixed now. Can you try again and give more info if possible, like if you are using an Ad Blocker, a custom DNS or something else.

[2020-05-24 14:49] RomanKornev commented on #4124
Thanks for confirming that it works for you! I finally solved it: it was a misconfigured `hosts` file.

[2020-05-24 14:49] #4124 closed

[2020-05-25 01:23] domesticmouse commented on #4121
I suspect linking the 1.17 Medium release post isn't the right thing here. All the other links here are to the release notes with list of bugs and features, and we should be doing the same for 1.17.x

[2020-05-25 06:17] Amit998 opened #4127 "'Hot reload' page issue"
Page URL: https://flutter.dev/docs/development/tools/hot-reload.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/hot-reload.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-25 14:09] dev-aentgs opened #4128 "'Implicit animations' page; what is reason for Future<void> main() async ?"
Page URL: https://flutter.dev/docs/codelabs/implicit-animations.html
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/implicit-animations.md

Description of issue:
In this codelab, why is `Future<void> main() async` used instead of `void main()` ?
The code works even if the main method is synchronous as `void main()`.
Could not find any parts that require asynchronous

[2020-05-25 14:55] tecnoorganico opened #4129 "Tableros Integrados"
https://auth.monday.com/users/invitation/accept?invitation_token=4XKxsgut_ESe_3R1hCyB#chooseSlug

[2020-05-25 18:52] ShadabAShaikh opened #4374 "The "Building Beautiful UIs with Flutter" codelab has multiple mistakes"
I am not sure where this should be reported but being somewhat familiar with mobile programming and just trying to learn Flutter, the following issues presented an annoyance.  I imagine they would be significantly more challenging for someone unfamiliar with the space and looking for an error free resource to learn.  Apologizing in advance if due to my lack of expertise with Flutter/Dart I overloo

[2020-05-25 20:42] danagbemava commented on #4120
I just noticed that, however, I think that because this recipe defines the `Post` class and `fetchPost` method, the issue can be resolved. Although I understand that for the sake of continuity, they all have to resolved. Thanks for drawing my attention to it

[2020-05-25 21:40] CivanDogan opened #4130 "'Layouts in Flutter' page issue"
Page URL: https://flutter.dev/docs/development/ui/layout/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: This tutorial is awsome but probably outdated. Sizing Widgets (https://flutter.dev/docs/dev

[2020-05-25 22:06] CivanDogan commented on #4130
It's because of the Image.asset because Expanded take up space as in tutorial.
![image](https://user-images.githubusercontent.com/34371430/82845413-21385880-9eed-11ea-970e-579152828ac9.png)

[2020-05-25 23:47] sfshaza2 commented on #4127
Nothing listed. Closing.

[2020-05-25 23:47] #4127 closed

[2020-05-25 23:49] sfshaza2 commented on #4129
Closing.

[2020-05-25 23:49] #4129 closed

[2020-05-25 23:50] sfshaza2 commented on #4128
Good question!  @goderbauer, do you have any insight?

[2020-05-26 10:03] dev-aentgs opened #4133 "Building a Cupertino app with Flutter codelab typo"
In [6. List products for sale](https://codelabs.developers.google.com/codelabs/flutter-cupertino/#5), There is a small typo just below

`ProductListTab` is mentioned as `ProductRowTab`

[2020-05-26 10:19] dev-aentgs opened #4134 "Building a Cupertino app with Flutter issue"
In `ProductListTab`, the code given on codelab page has `builder: (context, child, model)` .
This gives error.
`Error: The method 'getProducts' isn't defined for the class 'Widget'`
`final products = model.getProducts();`
`Try correcting the name to the name of an existing method, or defining a method named 'getProducts'`

The [github product_list_tab.dart](https://github.com/googlecodelabs/flutte

[2020-05-26 12:35] Tawmess opened #4135 "'Web FAQ' page issue"
Page URL: https://flutter.dev/docs/development/platform-integration/web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/web.md

Description of issue:

This listed FAQ seems wrong -- the "hot reload" works for web -- on both AS and VS IDE's...
FAQ) Does hot reload work with a web app?
A) No, but you can use hot restart.

FYI -- I'm complete

[2020-05-26 17:22] goderbauer commented on #4128
There's no good reason. AFAIK, it doesn't really hurt to have it there, but it also doesn't serve a purpose. We should simplify it.

[2020-05-26 17:28] mit-mit commented on #1986
@Sfshaza I'd love to see some updates to our background docs.

We currently have these two:
https://flutter.dev/docs/cookbook/networking/background-parsing
https://flutter.dev/docs/development/packages-and-plugins/background-processes

But they are not cross-linked, and it's not clear when to just use isolates, and when to use the lower-level mechanisms from Ben's post.

[2020-05-26 17:41] #4128 closed

[2020-05-26 18:38] sfshaza2 commented on #4135
Actually, the FAQ is correct. When running on the web, the "r" command performs a hot restart, not a hot reload. If running from the command line, you will see this note:

[code]

[2020-05-26 18:38] #4135 closed

[2020-05-26 18:44] sfshaza2 commented on #4134
@domesticmouse

[2020-05-26 18:45] sfshaza2 commented on #4133
@domesticmouse

[2020-05-27 06:45] domesticmouse commented on #4133
Fixed, and production publish requested. This should be out in the next five minutes or so.

[2020-05-27 06:45] #4133 closed

[2020-05-27 06:53] domesticmouse commented on #4134
Updated, and publish to production queued.

Oh, what I'd do for code in the codelabs to be automatically snippeted from GitHub repos with some form of marker. =)

Thanks for digging into the codelabs @dev-aentgs, it's much appreciated!

[2020-05-27 16:13] sfshaza2 commented on #4134
I think we can close this now.  :).

[2020-05-27 16:13] #4134 closed

[2020-05-27 16:41] dev-aentgs commented on #4134
Thank you @sfshaza2  and @domesticmouse

[2020-05-27 16:50] rockerhieu commented on #2472
`DART_VM_OPTIONS` doesn't seem to work for me. If I have it point to a `pem` file, the command will be freeze at `Building flutter tool...` (the same without `DART_VM_OPTIONS`).

But if I have it point to a `cer` file, I'll get a crash:
[code]

[2020-05-28 12:34] beevatsyu opened #4145 "Convert to StatefulWidget in VS Code"
VS Code quick fix can covert a StatelessWidget to a StatefulWidget. This needs to be documented [here](https://flutter.dev/docs/development/tools/vs-code#assists--quick-fixes).

[2020-05-28 12:52] Ginger88 opened #4146 "'Widget catalog' page issue"
Page URL: https://flutter.dev/docs/development/ui/widgets/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-28 13:17] surya-theCoder opened #4147 "'Play and pause a video' page issue"
Page URL: https://flutter.dev/docs/cookbook/plugins/play-video.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/plugins/play-video.md

Description of issue: E/ExoPlayerImplInternal( 6911): Source error.
I/flutter ( 6911): PlatformException(VideoError, Video player had error com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.upstream.

[2020-05-28 23:23] lukepighetti opened #4149 "Add link to 'Retrieve the value of a text field' from 'Build a form with validation' page"
Page URL: https://flutter.dev/docs/cookbook/forms/validation.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/forms/validation.md

Description of issue:

There's no description of how to get form values

[2020-05-29 06:27] mthan160 opened #4150 "'Visual Studio Code' page issue"
Page URL: https://flutter.dev/docs/development/tools/vs-code.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/vs-code.md

Description of issue:
Can we add in details of how to target different flutter build modes in VS Code - debug / release / profile on this page. I couldn't find specific documentation - though it is mentioned briefly here: https://flutt

[2020-05-29 06:45] dev-aentgs opened #4151 "'User interface' page issue"
Page URL: https://flutter.dev/docs/development/ui/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/index.md

Description of issue:
The below point in the list has no link attached.
- Platform-specific theming

[2020-05-29 21:32] sfshaza2 commented on #4146
No issue listed. Closing.

[2020-05-29 21:32] #4146 closed

[2020-05-29 21:34] sfshaza2 commented on #4147
I'm guessing that this cookbook recipe isn't working. @johnpryan, could you take a quick look?

[2020-05-29 21:37] sfshaza2 commented on #4149
This seems entirely reasonable. Perhaps the example can be updated to print the content of the text field on a submit.

[2020-05-29 21:40] sfshaza2 commented on #4150
Good idea. It looks like this is done in the launch.json file, by editing the `flutterMode` field in `configurations`.

[2020-05-29 21:48] nmsh5 opened #4153 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-29 21:51] #4153 closed

[2020-05-29 21:52] sfshaza2 commented on #4151
Wow, interesting. The only platform-specific info we currently have along these lines is:

* [Platform-specific behaviors and adaptations](https://flutter.dev/docs/resources/platform-adaptations)

Apparently, this was a placeholder in the side nav, and should be removed.

[2020-05-30 03:08] jonahwilliams opened #4154 "Update obfuscation page to note Linux/Windows support --obfuscate now"
https://flutter.dev/docs/deployment/obfuscate

Support for both has landed in master, the page should be updated on a dev release gives us a new version number.

[2020-05-30 08:55] mthan160 commented on #4150
Yeah - I only find the options listed at https://github.com/Dart-Code/Dart-Code/blob/05f13bd1a835872cb3dfb86d0cf3da3446a8cdd0/package.json#L1708

Along with all the other launch.json parameters.

[2020-05-30 14:39] sfshaza2 commented on #4150
Very resourceful! If you want to submit a PR, I'd welcome that.  :)

[2020-05-30 17:30] samisnotinsane commented on #3952
What should be passed into `expect` instead of `TypeMatcher<Post>()`? Please update as I'm using the cookbook to learn Flutter and deprecated code in official documentation is just poor.

[2020-05-30 17:41] samisnotinsane commented on #3952
Found the solution using official API docs for class [isA](https://api.flutter.dev/flutter/package-matcher_matcher/isA.html).

So change the line **from**:
`expect(await fetchPost(client), const TypeMatcher<Post>());`
**to**:
`expect(await fetchPost(client), isA<Post>());`

[2020-05-31 01:13] dark-chocolate opened #4157 "'Technical overview' page issue"
Page URL: https://flutter.dev/docs/resources/technical-overview.html
Page source: https://github.com/flutter/website/tree/master/src/docs/resources/technical-overview.md

Flutter Gallery's link needs to be updated.

![image](https://user-images.githubusercontent.com/40364434/83342204-0cebc580-a30a-11ea-88b0-91efad0d4f00.png)

[2020-05-31 02:15] Nipodemos opened #4158 "site displaying an additional step on windows installation that is no longer needed"
Hello!
when i went to install flutter today in my Windows PC, i noticed that on the [Android Studio install](https://flutter.dev/docs/get-started/install/windows#install-android-studio) part they are asking to install Android SDK tools obsolete because of an issue, but i checked the issue, and it is already fixed
as you can see in [this issue link](https://github.com/flutter/flutter/issues/51712#i

[2020-05-31 03:40] feinstein opened #4159 "'Send data to the internet' page issue"
Page URL: https://flutter.dev/docs/cookbook/networking/send-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/send-data.md

Description of issue:

There should be links to the HTTP package where it's referenced in blue.

[2020-06-01 16:18] #4145 closed

[2020-06-01 16:54] sfshaza2 commented on #4154
@jonahwilliams, can you provide a link to the PR where this landed?

[2020-06-01 16:56] jonahwilliams commented on #4154
For windows: https://github.com/flutter/flutter/pull/57749
For linux: https://github.com/flutter/flutter/pull/58372 (should land shortly)

[2020-06-01 18:02] #4157 closed

[2020-06-01 18:02] #4158 closed

[2020-06-01 18:02] #4159 closed

[2020-06-01 21:12] kodadasi04 opened #4163 "'Flutter Favorite program' page issue"
Page URL: https://flutter.dev/docs/development/packages-and-plugins/favorites.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/favorites.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-06-02 18:47] sfshaza2 commented on #4163
No issue listed. Closing.

[2020-06-02 18:47] #4163 closed

[2020-06-02 20:34] alexander-doroshko opened #4168 "Update info about formatting code in Android Studio and IntelliJ"
Page: https://flutter.dev/docs/development/tools/formatting#automatically-formatting-code-in-android-studio-and-intellij

Source: https://github.com/flutter/website/blob/master/src/docs/development/tools/formatting.md#automatically-formatting-code-in-android-studio-and-intellij

'Reformat Code with dartfmt' action is still there but there's no more need in it. Standard 'Reformat Code' action now i

[2020-06-03 05:38] josedanielrojaspixel opened #4172 "'Flutter Documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-06-03 11:09] dev-aentgs opened #4175 "Fix contradiction between main section and asset variants section on 'Adding assets and images' page"
Page URL: https://docs.flutter.dev/ui/assets-and-images
Page source: https://github.com/flutter/website/tree/main/src/ui/assets-and-images.md

Description of issue:

The above note contradicts [asset variants](https://docs.flutter.dev/ui/assets-and-images#asset-variants) ending section.

[code]

For  `graphics/dark/background.png` , sub-directory entry in `pubspec.yaml` would be necessary.

[2020-06-03 11:35] etoiledemer opened #4176 "Remove the anti-police, Black Supremacist "BLM" title"
I can't believe it, seriously?
Pushing for anti-Police, anti-white, Black Supremacist stuff on Flutter website?

To Flutter staffers: Keep your virtue-signaling needs for your personal hobbies outside work hours

[2020-06-03 16:36] #4176 closed

[2020-06-03 16:51] sfshaza2 commented on #4168
Nice additions!

[2020-06-03 16:52] sfshaza2 commented on #4172
No description. Closing.

[2020-06-03 16:52] #4172 closed

[2020-06-03 16:56] sfshaza2 commented on #4154
Related: @xster [created a PR](https://github.com/flutter/website/pull/4171) that updated this text.

[2020-06-03 18:15] EmperorYP7 commented on #4168
Linked a PR to resolve this issue. I'd be glad if someone reviews it!

[2020-06-03 18:29] sfshaza2 commented on #4168
Fixed! Thanks, @alexander-doroshko!

[2020-06-03 18:29] #4168 closed

[2020-06-03 19:16] alexander-doroshko commented on #4168
Thanks! Sorry for being a bit late. Added some comments to the PR.

[2020-06-03 23:39] CareF commented on #4074
#4181

[2020-06-03 23:39] #4074 closed

[2020-06-04 15:56] stuartmorgan opened #8442 "path_provider mock example needs to be updated"

[2020-06-04 16:01] iassal opened #4320 "Publish "Flutter Release Note" on multiple platforms to contrast geoblocking"
Hello,

Medium.com is blocked in Egypt. Is it possible to make release notes available somewhere else as a fallback in the future? I am pretty sure a lot of developers in Egypt wouldn't be able to access the release notes for flutter.

Here is the link that I'm referencing https://medium.com/flutter/announcing-flutter-1-17-4182d8af7f8e

[2020-06-04 18:11] rodolpheKASS opened #4186 "'Handling errors in Flutter' page issue"
Page URL: https://flutter.dev/docs/testing/errors.html
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/errors.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-06-04 18:24] kwalrath commented on #4186
Closing due to lack of description.

[2020-06-04 18:24] #4186 closed

[2020-06-05 10:26] dev-aentgs opened #4190 "'Send data to a new screen' page issue"
Page URL: https://flutter.dev/docs/cookbook/navigation/passing-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/passing-data.md

Description of issue:
Creation of `TodoScreen` is not mentioned in the steps until [interactive-example-section](https://flutter.dev/docs/cookbook/navigation/passing-data#interactive-example).
It would be helpful to add `

[2020-06-05 17:43] CareF opened #4191 "Gallery has been removed from flutter/example"
https://flutter.dev/docs/perf/rendering/ui-performance#programmatically (https://github.com/flutter/website/blob/master/src/docs/perf/rendering/ui-performance.md#programmatically) Gallery has been removed from flutter/example. And I can't see the "show overlay" option when I compile gallery in profile mode, not sure but it seems the feature is also removed.

[2020-06-05 17:51] dnfield opened #7770 "Enable developers to run heapprofd traces on Flutter applications"

[2020-06-05 18:48] sfshaza2 commented on #4190
Good idea!

[2020-06-05 23:32] kwalrath opened #4193 "Add Windows-specific info on finding path issues"
The pages under https://flutter.dev/docs/get-started/install have a note aimed at helping people who've downloaded both the Flutter & Dart SDKs to avoid path issues. This note features the `which` command, which works on all the platforms except Windows.

**Can anyone give us the equivalent text and commands for the Windows platform?** (Alternatively, if you know of a site that covers this, we'd l

[2020-06-06 06:40] ayushmittal1996 opened #4376 "Page Content is not as per expectation. "2) is missing""
Page: https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#4

**Issue:**
Page says "Implementing a stateful widget requires at least two classes: 1)..."
But it does not have second class i.e. "2) is missing"
As per my understanding, "2)" should be there before "State class..."

Note: This is my issue submission, please forgive me in case of any mistake :)

![2020-06-06 - 2) is mi

[2020-06-06 13:55] GokulDas027 opened #4196 "'Writing custom platform-specific code' page issue"
Page URL: https://flutter.dev/docs/development/platform-integration/platform-channels.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/platform-channels.md

``final int result = await platform.invokeMethod('getBatteryLevel');``

Description of issue:
Isn't the result passed by the platform is in ``List<dynamic>`` type?

The message(of type

[2020-06-06 13:57] GokulDas027 commented on #4196
Or am I missing something here?

Please forgive if it's false positive

[2020-06-06 14:28] GokulDas027 commented on #4196
False positive, seems like some issue i caused at the native level, fixed now. don't know how.. i tried it multiple times before posting this issue..

[2020-06-06 14:28] #4196 closed

[2020-06-08 05:47] mthan160 commented on #4150
Hm OK - it'll be my first pull request - let me see what I can do!

[2020-06-08 08:32] mit-mit commented on #4193
Windows has a `WHERE` command which is roughly equivalent.

[2020-06-08 09:08] EmperorYP7 commented on #4190
I'd like to work on it.

[2020-06-08 10:43] EmperorYP7 commented on #4190
Tried to modify the specific file in my PR. I hope it'll be reviewed soon! :smiley:

[2020-06-08 13:28] fzyzcjy commented on #3856
Hi, actually, I cannot find the `Runner.xcworkspace` file in the plugin... How can I fix that? Thanks!

What I have done: execute `flutter create --template=plugin mypackage`. Then `ls` shows:

[code]

[2020-06-08 14:02] kwalrath commented on #4193
We do mention the `where` command, but we weren't sure it was everywhere or what examples to give for using it.

[2020-06-08 14:56] emme1444 commented on #3938
@sfshaza2, @xster any updates?

[2020-06-08 16:19] dev-aentgs opened #4199 "'Animations overview' page question"
Page URL: https://flutter.dev/docs/development/ui/animations/overview.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/overview.md

Question:
In the [Tickers](https://flutter.dev/docs/development/ui/animations/overview#tickers) section,

Couldn't understand how will the ticks be synchronised with same starting time if they were started at differen

[2020-06-08 17:46] jmagman commented on #3856
@fzyzcjy Plugins don't generate Xcode projects (other than the example app, which doesn't get shipped with your plugin).  The apps that use your plugin will have an Xcode project.
@gaaclarke's `ios/YourPlugin.podspec` comment is more relevant for you: https://github.com/flutter/website/issues/3856#issuecomment-604665614

[2020-06-08 23:12] fzyzcjy commented on #3856
@jmagman Thanks so much!

[2020-06-09 03:05] sfshaza2 commented on #3938
@emme1444, I can't speak for @xster, but I have no updates. If you are seeking support, I suggest that you ask on one of our community platforms, such as Discord. Many of our engineers participate in the Discord channel. You can learn about other options on the [community page](https://flutter.dev/community).

[2020-06-09 12:12] frolovpv opened #4201 "'Internationalizing Flutter apps' page issue"
Page URL: https://flutter.dev/docs/development/accessibility-and-localization/internationalization.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/accessibility-and-localization/internationalization.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: what is t

[2020-06-10 11:50] emme1444 commented on #3938
Okay, I see. Thank you for your directions @sfshaza2! Should I close this? For me, feel free to do so.

[2020-06-10 12:07] guidezpl opened #4206 "Consider moving general widget rebuild information to UI performance page"
There is information in https://flutter.dev/docs/development/tools/android-studio#show-performance-data that is very useful but also not specific to Android Studio/IntelliJ. It would be useful to surface in the [article](https://flutter.dev/docs/perf/rendering/ui-performance#viewing-the-widget-rebuild-profiler) which links to this section.

That article's section could then be called something lik

[2020-06-10 23:57] sfshaza2 commented on #4206
An excellent idea!

[2020-06-10 23:58] sfshaza2 commented on #4201
Nothing listed. Closing.

[2020-06-10 23:58] #4201 closed

[2020-06-11 03:10] Tbhesswebber opened #4210 "Vague reference to obfuscation in docs"
Page URL: https://flutter.dev/docs/deployment/obfuscate.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/obfuscate.md

The Obfuscating Dart Code page references that we are able to perform obfuscation, but never mentions what types of obfuscation are deployed.  Is this merely name obfuscation?  Is it obfuscation at the Dart level before compilation or is this ob

[2020-06-11 04:01] soonkuk opened #4211 "'윈도우에서 설치' page issue"
Page URL: https://flutter-kr.io/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

There is a typo in korean language.

https://flutter-ko.dev/docs/get-started/i

[2020-06-11 09:54] dev-aentgs opened #4214 "'Hero animations' page issue"
Page URL: https://flutter.dev/docs/development/ui/animations/hero-animations.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/hero-animations.md

Description of issue:
In [Standard hero animations - What’s going on?](https://flutter.dev/docs/development/ui/animations/hero-animations#whats-going-on) section, the link to [Material Design motion spec

[2020-06-11 10:24] TatsuUkraine opened #4215 "Add documentation about --dart-define key"
Flutter 1.17 added support for custom compile-time variables in flutter tools with `--dart-define`

Quite interesting feature not just in terms of defining compile time variables for Dart, but also in terms of alternative way of environment configuration for application instead of flavors.

In my personal opinion, it would be helpful for developers to know about this feature when they're choosing

[2020-06-11 11:53] jamesibukun opened #4216 "'Flutter Documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-06-11 16:44] sfshaza2 commented on #4210
@jonahwilliams, can you elaborate? (or delegate)

[2020-06-11 16:44] sfshaza2 commented on #4216
No issue listed.

[2020-06-11 16:44] #4216 closed

[2020-06-11 16:46] sfshaza2 commented on #4211
Thanks for filing this error, however the Korean Flutter website is community maintained. I'm not even sure where their repo is. Can you report this there?

[2020-06-11 16:46] #4211 closed

[2020-06-11 16:48] sfshaza2 commented on #4214
It looks like things moved around since I wrote this. The correct link should be:  https://material.io/design/motion/understanding-motion.html

[2020-06-11 18:49] jonahwilliams commented on #4210
The command line option contains sufficient documentation:

[code]

TLDR: identifiers are renamed, that is it

[2020-06-11 19:10] Tbhesswebber commented on #4210
The phrase "source-code obfuscation" is what feels vague - replacing it with the phrase "name obfuscation within the source-code" is more specific _and_ easily Google-able for those who don't quite understand the security implications of specific types of obfuscation.

Is there a reason that only name obfuscation is utilized? Are there mitigating factors within Flutter and/or Dart that make other

[2020-06-12 16:21] Rifat-Alam521 opened #4220 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:I cant download flutter sdk its loadin and says failed.

[2020-06-15 04:20] xgqfrms opened #4226 "'Visual Studio Code' page issue"
Page URL: https://flutter.dev/docs/development/tools/vs-code.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/vs-code.md

Description of issue:

***

# error description

https://flutter.dev/docs/development/tools/vs-code#hot-reload-vs-hot-restart

![image](https://user-images.githubusercontent.com/7291672/84617665-53444580-af02-11ea-81c6-9e08fe0794ab.png

[2020-06-15 04:23] xgqfrms commented on #4226
![image](https://user-images.githubusercontent.com/7291672/84617872-f301d380-af02-11ea-92ce-a4a7fecafdea.png)

[code]

import 'package:http/http.dart' as http;

Target of URI doesn't exist: 'package:http/http.dart'.
Try creating the file referenced by the URI, or Try using a URI for a file that does exist.darturi_does_not_exist

[2020-06-15 04:26] xgqfrms commented on #4226
https://flutter.dev/docs/cookbook/networking/fetch-data

# pubspec.yaml

https://stackoverflow.com/questions/53462488/flutter-how-to-resolve-error-importing-packagehttp-http-dart

![image](https://user-images.githubusercontent.com/7291672/84617973-4411c780-af03-11ea-92e6-9cda5cb2aed0.png)

## flutter packages get

![image](https://user-images.githubusercontent.com/7291672/84618012-58ee5b00-af03-11

[2020-06-15 04:32] xgqfrms commented on #4226
# @flutter_ignore_below_line

![image](https://user-images.githubusercontent.com/7291672/84618258-3dd01b00-af04-11ea-9ed1-b0edf0da0d52.png)

[2020-06-15 04:35] xgqfrms commented on #4226
# flutter ignore warning

https://dart.dev/guides/language/analysis-options

https://stackoverflow.com/questions/35969619/suppress-hint-about-use-of-protected-member

https://github.com/dart-lang/sdk/issues/12490

https://pub.dev/packages/linter

[2020-06-15 06:52] dev-aentgs opened #4227 "'Staggered animations' page question"
Page URL: https://flutter.dev/docs/development/ui/animations/staggered-animations.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/animations/staggered-animations.md

Question:
In the [basic staggered animation](https://github.com/flutter/website/blob/master/examples/_animation/basic_staggered_animation/main.dart) code, why is variable initialization part be

[2020-06-15 15:45] jelkawasaki opened #4230 "canvas"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-06-15 17:55] sfshaza2 commented on #4227
@HansMuller

[2020-06-15 17:56] sfshaza2 commented on #4226
Yes, most of our instructions assume Android Studio or IntelliJ. We appreciate feedback on the VS code IDE!

[2020-06-15 17:57] HansMuller commented on #4227
Our style is to declare the variables first.

[2020-06-15 17:57] sfshaza2 commented on #4215
Yes, this feature in 1.17 took me a bit by surprise! Have to figure out where to put it...

[2020-06-16 02:59] dev-aentgs commented on #4214
#4218 fixed this issue.

[2020-06-16 02:59] #4214 closed

[2020-06-16 03:01] dev-aentgs commented on #4190
#4198 fixed this issue.

[2020-06-16 03:01] #4190 closed

[2020-06-16 03:58] sfshaza2 commented on #4227
Closing.

[2020-06-16 03:58] #4227 closed

[2020-06-16 04:01] sfshaza2 commented on #4220
Hi @Rifat-Alam521! I'm sorry to hear that. It sounds like you may have a VPN issue or something similar. Please look to the [Flutter community](https://flutter.dev/community) for support and file a bug if you have specific suggestions to improve the docs. Thanks!

[2020-06-16 04:01] #4220 closed

[2020-06-16 04:01] sfshaza2 commented on #4230
Nothing listed. Closing.

[2020-06-16 04:01] #4230 closed

[2020-06-16 16:43] zoeyfan opened #4234 "Bytedance Android link is not working."
Repro:
1. go to flutter/dev/showcase
2. find bytedance, click Android in the dropdown menu
3. Notice that it takes you to a "URL not found" page.

Suggested fix: please replace the current link with: https://play.google.com/store/apps/details?id=com.ss.android.article.news

Please ping me when you are going to look into this so I can learn how to submit a PR to flutter.dev. Thanks!
@johnpryan

[2020-06-17 11:22] AdrianoMulinari opened #4236 "'Build and release an Android app' page issue"
Page URL: https://flutter.dev/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description of issue: Guys, if you can add just one more info in **Updating the app’s version number** topic.
In order to flutter work on updating the version we have to run flutter pub get.

[When you run flutter packages get after updating this ve

[2020-06-17 13:06] bestkid1234 opened #4237 "'Build and release an Android app' page issue"
Page URL: https://flutter.dev/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description of issue: Is missing a detail for a successful build -> You need to specify the ```buildToolsVersion``` in build.gradle.

[2020-06-17 18:58] sfshaza2 commented on #4237
@bestkid1234, is there a way to initiate this from the pubspec file? As it works in https://github.com/flutter/website/issues/4236?

[2020-06-17 20:50] #4234 closed

[2020-06-17 20:50] #4236 closed

[2020-06-18 01:17] zoeyfan commented on #4234
wow, thanks so much for fixing this quickly! I was originally planning to learn how to submit a PR and fix it myself, haha~ I will get in touch with Shams quickly just to learn about the process for my own education purpose then. Thank you again!

[2020-06-18 01:57] sfshaza2 commented on #4234
Hi, @zoeyfan, I'd be happy to teach you after Flutter Day!

[2020-06-18 02:04] sfshaza2 commented on #3362
Closing.

[2020-06-18 02:04] #3362 closed

[2020-06-18 02:08] sfshaza2 commented on #2864
Closing. Please reopen if you can recreate this issue with the updated codelab.

[2020-06-18 02:08] #2864 closed

[2020-06-18 06:23] jfschmakeit commented on #3613
Apologies for not replying earlier. The codelab has been updated use Android X, so you should no longer see a warning message when running the application.

(See this commit if you are curious about the change: https://github.com/googlecodelabs/photos-sharing/commit/cc909390da5385648fc77a19dbbdf3ff984f3b20 )

@sfshaza2  Please close this issue :-)

[2020-06-18 10:00] bestkid1234 commented on #4237
Hi!
No, you shoud do it "manually" by introducing the build tool version in android/gradle.build
Ovidiu Uşvat

Sent from Yahoo Mail on Android

  On Wed, Jun 17, 2020 at 21:58, Shams Zakhour (ignore Sfshaza)<notifications@github.com> wrote:

@bestkid1234, is there a way to initiate this from the pubspec file? As it works in #4236?

—
You are receiving this because you were mentioned.
Reply to this

[2020-06-18 13:43] sfshaza2 commented on #4237
That's what I was afraid of. Thx!

[2020-06-18 13:44] sfshaza2 commented on #3613
Thanks, @jfschmakeit! Closing.

[2020-06-18 13:44] #3613 closed

[2020-06-18 15:46] cyanglaz opened #4319 "Update flutter.dev for the new `flutter create -t plugin --platforms` command`"
Update https://flutter.dev/docs/development/packages-and-plugins/developing-packages#plugin-platforms
so it is in sync with the new behavior of `flutter create -t plugin --platforms`.

[2020-06-18 16:04] sfshaza2 commented on #3603
The linter complains if no return type is specified, so I replace with `State<RandomWords> `.

[2020-06-18 16:11] sfshaza2 commented on #3612
Thanks for pointing this out, @ngouy. The keywords "const" and "new" used to be required by Dart, but that is no longer true. I'm removing const in both codelabs.

[2020-06-18 16:33] filiph commented on #3111
Hi, thanks for the suggestion! The reason we made the example like this is to drive the point that Flutter UI is built in code. You can literally do anything in the build method. This is not obvious to newcomers. In most mobile frameworks, you have a very limited way of expressing what you want to build (an XML file, for instance, with maybe some templating functionality). It's easy to stay in thi

[2020-06-18 17:07] zoeyfan commented on #4234
@sfshaza2 thank you! I will schedule some time after Flutter Day then!

[2020-06-18 17:56] ngouy commented on #3612
Hi @sfshaza2, thank you.
I'm really curious to understand how to do that, I tried to find the place where modifications should land but I was unable to find out where to do that.

[2020-06-18 19:22] sfshaza2 commented on #3612
Yeah, @ngouy, it's a bit convoluted. The source code for this codelab lives in a shared repo: flutter/codelabs. The source for the codelabs that live on codelabs.developer.google.com are in a Google Doc that you can't access. So I have to fix it in several places.  :)

[2020-06-18 21:05] csells opened #4240 "Update Testing Flutter Apps docs to include e2e_test guidance"
https://flutter.dev/docs/testing is where the new docs concerning best practice testing using e2e_test, currently [e2e](https://pub.dev/packages/e2e).

cc @dnfield @Sfshaza

[2020-06-19 09:29] yikwing opened #4242 "'Flutter SDK releases' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/releases.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/releases.md

Description of issue:
flutter 1.17.4, New projects, the device will not be found, adb devices and flutter devices is ok.but idea and android studio tool bar error flutter run: No connected devices.

[2020-06-19 14:36] guidezpl opened #4244 "Add information about adaptive Widget constructors"
I was looking for docs about 'adaptive widgets' (e.g. Slider.adaptive) but there don't seem to be any. https://flutter.dev/docs/resources/platform-adaptations was the first Google result so this would be a natural place to document these widgets

[2020-06-20 00:34] domesticmouse opened #4248 "Broken sample - Missing concrete implementation of 'StatelessWidget.build'"
From https://github.com/dart-lang/dart-pad/issues/1579

The [codelab](https://codelabs.developers.google.com/codelabs/flutter/#3) contains a link to the gist [99243efc05f92cd541af5e279c012050](https://gist.github.com/sfshaza2/99243efc05f92cd541af5e279c012050)

This gist is missing a `{` on [line 26](https://gist.github.com/sfshaza2/99243efc05f92cd541af5e279c012050#file-main-dart-L26).

[2020-06-20 23:03] sfshaza2 commented on #4242
@yikwing, can you elaborate a bit more? I don't understand the issue.

[2020-06-20 23:06] sfshaza2 commented on #4248
Thanks! Fixed.

[2020-06-20 23:06] #4248 closed

[2020-06-20 23:09] sfshaza2 commented on #2762
Fixed.

[2020-06-20 23:09] #2762 closed

[2020-06-20 23:10] sfshaza2 commented on #2573
This should be fixed. Please reopen if you find that's not the case.

[2020-06-20 23:10] #2573 closed

[2020-06-20 23:13] sfshaza2 commented on #2414
While this sounds good in theory, @dkwingsmt, the issue isn't so easy, particularly on flutter.dev. I have recently updated both codelabs, and I tried to make sure that this is as clear as possible.

[2020-06-20 23:13] #2414 closed

[2020-06-20 23:14] sfshaza2 commented on #2278
I removed the verbatim note and summarized it. Fixed.

[2020-06-20 23:14] #2278 closed

[2020-06-20 23:36] sfshaza2 commented on #1976
Fixed.

[2020-06-20 23:36] #1976 closed

[2020-06-20 23:43] sfshaza2 commented on #2419
This wording is no longer used.

[2020-06-20 23:43] #2419 closed

[2020-06-20 23:44] sfshaza2 commented on #1724
Closing

[2020-06-20 23:44] #1724 closed

[2020-06-20 23:45] sfshaza2 commented on #3628
This codelab is updated. Closing.

[2020-06-20 23:45] #3628 closed

[2020-06-20 23:46] sfshaza2 commented on #3603
Fixed.

[2020-06-20 23:46] #3603 closed

[2020-06-20 23:48] sfshaza2 commented on #3612
Fixed

[2020-06-20 23:48] #3612 closed

[2020-06-20 23:48] sfshaza2 commented on #3659
Fixed

[2020-06-20 23:48] #3659 closed

[2020-06-21 19:25] tillchen commented on #3632
Any updates :D?

[2020-06-21 21:38] acendre opened #4250 "Widget_test problem"
I was doing the tutorial for the cupertino AppStore when errors appears and don't know how to resolve it. I just copied code from GitHub file but it's doesn't work. I'm on Mac and using [VScode.
![Capture d’écran 2020-06-21 à 23 34 56](https://user-images.githubusercontent.com/63961762/85235805-39ca5e80-b418-11ea-828f-640879138616.png)
Thank in advance

[2020-06-22 16:53] sfshaza2 commented on #4250
@domesticmouse

[2020-06-22 17:46] kroikie commented on #3333
@naveenaa I would try this again with the latest versions of the plugins. They are compatible.

[2020-06-22 17:48] sfshaza2 commented on #3333
Hi, @naveenaa! My colleague on the Firebase team tells me that the incompatibility issues between core, analytics, and firebase have been resolved. Can you grab the latest versions of these plugins and let us know if you are still seeing problems?

[2020-06-22 20:16] sfshaza2 commented on #3974
Fixed

[2020-06-22 20:16] #3974 closed

[2020-06-22 20:16] sfshaza2 commented on #3971
Fixed

[2020-06-22 20:16] #3971 closed

[2020-06-22 20:17] sfshaza2 commented on #3915
Fixed.

[2020-06-22 20:17] #3915 closed

[2020-06-22 20:17] sfshaza2 commented on #3427
Fixed.

[2020-06-22 20:17] #3427 closed

[2020-06-22 20:18] sfshaza2 commented on #2061
@kwalrath, thoughts?  I'd like to either incorporate or close this issue. :)

[2020-06-22 20:19] sfshaza2 commented on #3606
Closing.

[2020-06-23 00:09] anthonymoretti opened #4256 ""Write Your First Flutter App, part 2" - Step 6 - Incorrect line of code and missing semicolon"
Hi. There is a problem with the last line of code and there is a missing semicolon in this codelab section:

Write Your First Flutter App, part 2
Step 6: Navigate to a new screen

It should be:
[code]

![image](https://user-images.githubusercontent.com/3210808/85346215-a0e42380-b4a9-11ea-9db6-bcded3bde2f2.png)
@domesticmouse

[2020-06-23 00:46] kwalrath commented on #2061
I can do that, but first I want to make sure we aren't going to change it.

@leafpetersen?

[2020-06-23 05:34] MToheed opened #4257 "'Create lists with different types of items' page issue"
Page URL: https://flutter.dev/docs/cookbook/lists/mixed-list.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/lists/mixed-list.md

Description of issue:
In Interactive example portion, why there is use of foundation library.

[2020-06-23 08:16] domesticmouse commented on #4250
Looks like VSCode has failed to correctly check out dependencies. I'd shutdown VSCode, confirm the code works from the command line with `flutter run` and then open up VSCode again on the specific step you are interested in.

I've found VSCode can be a bit iffy with checkouts that contain multiple flutter projects.

[2020-06-23 08:16] domesticmouse commented on #4250
/cc @DanTup this might be of interest to you. =)

[2020-06-23 08:34] DanTup commented on #4250
I'm not familiar with the project mentioned here - is there a repo/document I can try out to see if I can repro?

Generally when opening a new project that has no `.packages` file, there should be a prompt to run `pub get` like this:

<img width="535" alt="Screenshot 2020-06-23 at 09 28 02" src="https://user-images.githubusercontent.com/1078012/85379616-e0efe880-b533-11ea-88c1-a741dce9fad1.png">

[2020-06-23 08:43] domesticmouse commented on #4250
@DanTup the repository in question is https://github.com/googlecodelabs/flutter-cupertino-store

I just tried it myself against VSCode Version: 1.46.1 with Flutter 3.11.0 and it indeed shows the Get packages pop up. The various projects show as red until `flutter pub get` has been run by VSCode in each step sub directory.

@acendre can you replicate?

[2020-06-23 15:35] peRF0rmAncEb00st opened #4259 "'Code formatting' page issue"
Page URL: https://flutter.dev/docs/development/tools/formatting.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/formatting.md

Description of issue:

The content of the page is wrong. It says that on Android studio I have a checkbox that says `Format code on save` when I open the settings for dart (Setting -> Editor -> Code style -> Dart). However, such

[2020-06-23 15:52] acendre commented on #4250
Hello !
Thanks for answering so fast. I did what you suggested but it didn't work.

I will detail what I have and what I did to have this.

[2020-06-23 16:01] acendre commented on #4250
Sorry if I'm not that familiar with Git process but I'm new to it.
VScode Version: 1.46.1
Where did you see Flutter version ? It's recent

I just downloaded the project, put it in my developement repository where flutter repo is. Then launch VScode and open the project cupertino_store. Then I did flutter pub get or/and package get. It didn't change errors that much. (PS : I already achieve to crea

[2020-06-23 18:05] kwalrath opened #4260 "Document AOT size reduction via DWARF stack traces"
See dart-lang/site-www#2360 for details.

/cc @mit-mit

[2020-06-23 23:33] sfshaza2 commented on #3111
Closing.

[2020-06-23 23:33] #3111 closed

[2020-06-24 00:04] leafpetersen commented on #2061
In null safe code, `print("Step 1" + expectedStringInstance)` will be a static error if `expectedStringInstance` has type `String?`.  If `expectedStringInstance` has type `String`, then it can never be null (at least if the whole app is migrated to null safety).

In the full null safety world, the only way you can get an error there is if `expectedStringInstance` has type `dynamic`, in which case

[2020-06-24 04:38] shunjid commented on #3632
Hi @sfshaza2
Any updates over this?

[2020-06-24 10:25] mit-mit commented on #4260
The core point is this; we should talk about it as a perf tool: https://github.com/dart-lang/site-www/issues/2360#issuecomment-618354147

[2020-06-24 12:40] DanTup commented on #4250
@acendre if you run `flutter analyze` from the terminal in the same folder, do you see the same errors reported?

[2020-06-24 22:23] sfshaza2 commented on #3632
I'm afraid not, @shunjid. It is just not a priority at the moment. We have no support for website infrastructure right now.

[2020-06-25 19:35] ngouy commented on #3612
Haha gotcha. I guess the idea is to keep this that lands on google.com private

Thank you @sfshaza2

[2020-06-25 23:43] InMatrix opened #4266 "iOS build issue in the Firebase for Flutter codelab"
After completing step 5.1: https://codelabs.developers.google.com/codelabs/flutter-firebase/#4. Running the app threw an error and it never finished building for the iOS Simulator.
![image](https://user-images.githubusercontent.com/348942/85805985-abe5c080-b702-11ea-8815-aa9d58170a24.png)

Removing the cloud_firestore dependency added in the previous step fixed the issue. Another way that resolved

[2020-06-26 01:26] katisari opened #4267 "[Suggestion] 'Understanding constraints' page, text background color on dartpad"
Page URL: https://flutter.dev/docs/development/ui/layout/constraints.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/constraints.md

Description of suggestion:

The explanation part of each example on the dartpad is difficult to read with the grey background color.
we may be able to improve readability by replacing the color on line 148 on the dartpa

[2020-06-26 08:57] sfshaza2 commented on #3333
Closing..

[2020-06-26 08:57] #3333 closed

[2020-06-26 14:58] nawalhmw opened #4368 "[Building Beautiful UIs with Flutter] codelab error"
In the modified codelab: Building Beautiful UIs with Flutter, there's a problem in step 8 when I want to add an animation controller to the _handleSubmitted() method.

[code]

in this line:
[code]
when I wrote this line on my IDE the compiler shouts an error on the `Duration` property & says:

I checked the documentation & found that the AnimationController has a property called _duration_. So I w

[2020-06-26 20:42] Outright-Graham opened #4375 "Extra curly brace in first flutter app codelab"
This can be found on https://codelabs.developers.google.com/codelabs/first-flutter-app-pt2/#5
I found the following block of code to have an extra closing curly bracket at the end of the block:

[code]

[2020-06-26 21:12] mjordan56 opened #4268 "No Link To Creating Useful Bug Reports In Table of Contents"
There's no link in the Flutter website's Table of Contents for the "Creating useful bug reports" page. The URL for this page (https://flutter.dev/docs/resources/bug-reports) indicates that it is organized under the Resources section but there isn't link under the Resources section of the TOC for the bug reports page. Having a link in the TOC would make finding and accessing the page much easier fo

[2020-06-26 21:34] AsaoluElijah opened #4269 "Index page not responsive on mobile browser"
The index page - https://flutter.dev/ is not responsive on mobile browsers.
### Screenshot:
![Screenshot_20200626-223136](https://user-images.githubusercontent.com/34748637/85902972-285cca00-b7fd-11ea-987a-59b9800df2f7.png)

[2020-06-26 22:14] sfshaza2 commented on #4268
Good catch, @mjordan56!

[2020-06-26 22:15] sfshaza2 opened #4272 "Add new codelabs to flutter.dev/docs/codelabs page"
As is says.  :)

[2020-06-26 22:16] sfshaza2 commented on #4267
Very good call, @katisari!

[2020-06-26 22:16] sfshaza2 commented on #4256
I believe this has been fixed.

[2020-06-26 23:27] kwalrath commented on #4256
It looks like the [flutter/sample file](https://github.com/flutter/codelabs/blob/master/startup_namer/step6_add_interactivity/lib/main.dart) is fixed, but not the doc (or published codelab), which still has `home: RandomWords(),`.

[2020-06-26 23:31] kwalrath commented on #4256
OK, I've fixed the published codelab.

[2020-06-26 23:31] #4256 closed

[2020-06-27 06:13] medhasutaria opened #4274 "'Building layouts' page issue"
Page URL: https://flutter.dev/docs/development/ui/layout/tutorial.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/tutorial.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
The line saying -
`Create an images directory at the top of the project.`

[2020-06-27 17:29] mhmmtkls opened #4275 "'Write your first Flutter app on the web' page issue"
Page URL: https://flutter.dev/docs/get-started/codelab-web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/codelab-web.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: at step 3 it says one-third and two-thirds but real values are 0.15625 and 0.511717796325

[2020-06-28 14:02] CSELINGUA commented on #3606
The API docs please. Thanks

On Mon, Jun 22, 2020, 21:19 Shams Zakhour (ignore Sfshaza) <
notifications@github.com> wrote:

[2020-06-29 03:40] KaraleKomal opened #4276 "Invalid Cursor Icon On 'flutter.dev' Search Functionality"
**While reading the documentation I found Text Cursor rather than a Link Cursor
I feel this might be a potential bug**
![flutterSearchBug](https://user-images.githubusercontent.com/67219273/85970492-4aff0680-b9e8-11ea-9695-149640d97eff.png)

[2020-06-29 04:23] vzool commented on #2774
Hi, if you like to make a unified `database` instance for the whole application, I suggest this way:

[code]

Hope this will be helpful to you. ^_^

[2020-06-29 16:03] anandsubbu007 opened #4279 "'Data"
Page URL: https://flutter.dev/docs/development/data-and-backend/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-06-29 19:31] jmagman commented on #2011
Docs: https://developer.apple.com/documentation/xcode-release-notes/swift-5-release-notes-for-xcode-10_2

[2020-06-29 21:18] kwalrath commented on #4279
Closing due to lack of description.

[2020-06-29 21:18] #4279 closed

[2020-06-30 09:50] Ycmelon opened #4282 "'Sample App Catalog' page issue"
Page URL: https://flutter.dev/docs/catalog/samples/
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: The hyperlink is broken; I can't find the file "INDEX.md" in flutter/samples either?

[2020-06-30 12:20] acendre commented on #4250
Yes exactly the same ...

flutter pub get and packages get are the same command ?

[2020-06-30 12:22] pw2512 opened #4283 "'Sample App Catalog' page issue"
Page URL: https://flutter.dev/docs/catalog/samples/
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Link directs to a 404 page

[2020-06-30 13:15] albertviilik opened #4284 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: I am unable to access the terminal-tab and the vscode-tab. For some reason when I click o

[2020-06-30 13:59] sestegra opened #4285 "'Set up an editor' page issue"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
When clicking on VS Code or Emacs, the respective tab pane isn't activated.

[2020-06-30 14:27] DanTup commented on #4250
Yep, they're the same command. For the project (or one of the projects) that are showing errors like this, is there a `.packages` file in the root of the project? Does it contain a line for `flutter_test`?

[2020-06-30 14:40] acendre commented on #4250
Yes, there is file .packages :
![Capture d’écran 2020-06-30 à 16 38 16](https://user-images.githubusercontent.com/63961762/86139654-4b82c480-baf0-11ea-9a2e-9dd4c5abe4da.png)

[2020-06-30 15:23] DanTup commented on #4250
@acendre can you check you have this in your `pubspec.yaml`?

[code]

I think it's probably missing. It should be in the default `pubpsec.yaml` created by the **Flutter: New Project** command.

[2020-06-30 15:40] mhofner opened #4286 "'Test drive' page issue"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: tabs for visual studio and terminal & editor are not working

[2020-06-30 16:19] acendre commented on #4250
Ok thank you, it's good now. Does it exist processes to follow into avoiding that manipulation when we open an existing project ?

[2020-06-30 16:24] DanTup commented on #4250
@acendre I'm not sure how you ended up without that dependency. It's included automatically when you create a project with `flutter create` or **Flutter: New Project**. Is it possible you accidentally removed it while modifying the `pubspec.yaml`? Or did you build the project manually from following some instructions? (in which case, maybe they are missing this?).

[2020-06-30 17:48] kwalrath commented on #4286
I think this is the result of removing the banner.

[2020-06-30 17:53] #4286 closed

[2020-06-30 17:53] kwalrath commented on #4285
Should be fixed by #4287.

[2020-06-30 17:54] kwalrath commented on #4284
Should be fixed by #4287.

[2020-06-30 17:55] kwalrath commented on #4283
Looks like it should link to https://flutter.github.io/samples/#

[2020-06-30 18:07] kapilguptacr7 opened #4290 "'Test drive' page issue On setup your IDE it the tabs don't change data when you click on VsCode and Terminal&editor"
Page URL: https://flutter.dev/docs/get-started/test-drive/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/test-drive/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-06-30 18:26] sestegra commented on #4285
Fixed

[2020-06-30 18:26] #4285 closed

[2020-06-30 19:54] #4283 closed

[2020-06-30 20:08] kwalrath commented on #4290
Fixed by #4287. Thanks for making sure we knew about it!

[2020-06-30 20:08] #4290 closed

[2020-06-30 20:09] kwalrath commented on #4286
Fixed by #4287. Thanks for making sure we knew about it!

[2020-06-30 20:09] kwalrath commented on #4284
Fixed by #4287. Thanks for making sure we knew about it!

[2020-06-30 20:09] #4284 closed

[2020-06-30 20:10] kwalrath commented on #4282
Fixed by #4288. Thanks for making sure we knew about it!

[2020-06-30 20:10] #4282 closed

[2020-06-30 20:10] kwalrath commented on #4283
Thanks for the bug report!

[2020-06-30 21:15] ditman commented on #4266
I'll give this a try, that part of the codelab is a few years old, and things might have changed in the firebase packages since then!

[2020-07-01 20:33] bernaferrari opened #4294 "Update Flutter Logo on docs.flutter.dev to SVG"
It seems Flutter doesn't have a real SVG logo.

The website is using an SVG file that has a PNG image inside:
```<image overflow="visible" opacity="0.2" enable-background="new    " width="127" height="99" xlink:href="data:image/png;base64,....```

Related: https://github.com/flutter/website/issues/2601.

@maguinis tells about a [drive directory](https://drive.google.com/drive/folders/1NWJGmv_j9f0H

[2020-07-02 03:10] #4242 closed

[2020-07-02 12:30] FlashJonas opened #4297 "'Build and release an iOS app' page issue"
Page URL: https://flutter.dev/docs/deployment/ios.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/ios.md

Description of issue:
Strange text artifacts "keyboard_arrow_down" shown vertically and horizontally on page in Safari on Mac OSX 10.15.5, 13.1.1
But not in Chrome!

<img width="2445" alt="screenshot flutter site issue" src="https://user-images.githubuserco

[2020-07-02 12:45] Oscheibe opened #4298 "'Windows install' page issue: wrong requirement for disc space"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:

As mentioned in #2995 and fixed in #3011 not only was the Mac install disk space requirement wrong, but the Windows version, too.
The .zip file is 700 MB and the unzipped package is [1.32 GB](https://i.imgur.

[2020-07-03 01:05] raghavan-mookiah opened #4301 "'Flutter SDK releases' page issue"
Page URL: https://flutter.dev/docs/development/tools/sdk/releases.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/sdk/releases.md

Description of issue: Some programming literals or variables are
<img width="1314" alt="Screenshot 2020-07-03 at 6 32 17 AM" src="https://user-images.githubusercontent.com/47385593/86421353-5fe4de00-bcf7-11ea-8065-eca456673b3

[2020-07-05 16:24] JuYeong0413 commented on #4274
My app works fine following the tutorial, with creating an images directory at the top of the project.
I think this is not an error so it doesn't need to be fixed.

By the way, changing to `assets/images directory` would also affect these changes:
1. pubspec.yaml
[code]
2. referencing the image in main.dart
[code]

[2020-07-05 21:42] socialcalendarteam opened #4306 "'Platform specific behaviors and adaptations' page issue"
Page URL: https://flutter.dev/docs/resources/platform-adaptations.html
Page source: https://github.com/flutter/website/tree/master/src/docs/resources/platform-adaptations.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Not mentioning the scrollbar differences.

[2020-07-06 02:39] #4276 closed

[2020-07-06 06:53] leonardopaffi opened #4307 "'Samples' button redirects to 'Page not found'"
Steps to reproduce:
- https://flutter.dev/docs
- Click on 'Samples' button
- Redirects to [https://github.com/flutter/samples/blob/master/INDEX.md](https://github.com/flutter/samples/blob/master/INDEX.md)
- 404 Page not found

This is the button:
[code]

[2020-07-06 16:13] kwalrath commented on #4301
This looks like an issue with loading the images. Does reloading the page help?

[2020-07-06 16:20] kwalrath commented on #4297
Someone else has reported a similar issue (caused by icons not loading): #4301

But it's working for me in Safari 13.1, macOS 10.15.4. And in Chrome, of course. I did see this quite a bit a few months ago in some Chrome pre-releases, but it's been fine for me lately. I think reloading was an effective workaround.

[2020-07-06 21:19] kwalrath commented on #4307
To summarize the discussion (mostly just me talking to myself :) in #4308:

* Links to https://github.com/flutter/samples/blob/master/INDEX.md should change to be to https://flutter.github.io/samples.
* As a rule, we shouldn't link to the flutter/samples repo unless we're linking to individual samples.
* The following files have links to the samples:
  * Files that correctly link to flutter.github

[2020-07-06 21:22] johnpryan commented on #4274
@JuYeong0413 's answer is correct, assets don't *need* to be in a directory called `assets/`

[2020-07-06 21:22] #4274 closed

[2020-07-06 21:25] johnpryan commented on #4275
You're right, since it's using an `easeIn` curve, the actual value of the LinearProgressIndicator won't be exactly one-third of the way across.

[2020-07-06 21:34] johnpryan commented on #4294
That drive directory is the official source for the logos. You might take a look at the Adobe Illustrator files in this directory: https://drive.google.com/corp/drive/folders/1yaaGcIdNkba6VYT4xIwbvuwhHXzcQYov, but I'm not sure if AI will export them using PNG too.

[2020-07-06 21:41] johnpryan commented on #4298
Interestingly, when I download the 1.17.5 Windows SDK on my mac the ZIP is 624.2MB and the unzipped directory is 1.44 GB

[2020-07-06 21:56] johnpryan commented on #4306
cc: @xster

[2020-07-06 21:57] #4298 closed

[2020-07-06 22:46] bernaferrari commented on #4294
Upon further inspection, including the AI files, I found out the issue.

There is something which is exported as an image, in the "second slash of the F". I'm not exactly sure what it is, and comparing both I couldn't spot any difference.

I attached the original and the modified (without the image inside it). It is 6kb, vs 13kb! Half the size!

[flutter icons.zip](https://github.com/flutter/websi

[2020-07-06 22:59] kwalrath commented on #4294
Thanks for the sleuthing, @bernaferrari!

[2020-07-07 00:09] #4307 closed

[2020-07-07 19:21] #4275 closed

[2020-07-08 08:47] starand opened #4313 "'Binding to native code using dart:ffi' page issue"
Page URL: https://flutter.dev/docs/development/platform-integration/c-interop.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/c-interop.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

Should be 'dynamically' instead of 'statically' in

[2020-07-08 08:49] #4313 closed

[2020-07-08 15:55] dnishimoto opened #4317 "textformfield mouse click lost after wrapping"
After wrapping a word sequence in the textform field,  I lose the ability to use the mouse to reposition my cursor back within the content.

SizedBox _createInputWidget(int index) {
    return SizedBox(
      width:400,
      child:
      TextFormField(
      validator: (value) {
        return null;
      },
      style: TextStyle(
       fontSize: 14.0,
       height:2.0,
      color: Colors.bla

[2020-07-08 16:10] kwalrath commented on #4317
Is this a doc bug (this repo), a Flutter bug (flutter/flutter), or a request for help (https://flutter.dev/community)?

[2020-07-08 21:16] jeremy-w opened #4322 "'Integrate a Flutter module into your iOS project' page issue: Is aside about Release mode not working in Simulator now incorrect, since the Sim is now 64-bit?"
Page URL: https://flutter.dev/docs/development/add-to-app/ios/project-setup#embed-the-flutter-module-in-your-existing-application
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/ios/project-setup.md

Description of issue:

There is an aside with this warning:

Is this now factually incorrect for recent Xcode releases? macOS Catalina dropped 32-bit suppor

[2020-07-09 12:04] dnishimoto commented on #4317
This is a big

Sent from my iPhone

[2020-07-09 14:14] dnishimoto commented on #4317
steps to repeat: type until word wrap occurs in the textformfield then try to reposition the mouse cursor to any part of the content.  The cursor is lost.

[2020-07-09 14:54] dnishimoto commented on #4317
The problem also exists for TextField

I turned of the word count using counter:"" and the problem persisted.

[2020-07-09 14:59] dnishimoto commented on #4317
I am running the code in https with autocorrect=true

[2020-07-09 15:08] dnishimoto commented on #4317
The bug is caused by maxlines.   If you remove maxlines than the textformfield is always on a single line.  It does not look good but it works.

[2020-07-09 18:23] xster commented on #4306
oh ya, good callout. Forgot about that one. PRs welcome for this addition :)

[2020-07-09 19:40] johnwiese-ms opened #4324 "codelabs/flutter-firebase Broken"
Can't get past step 3 in the Firebase codelab (https://codelabs.developers.google.com/codelabs/flutter-firebase/#3)  using the latest cloud_firestore package.  A brand new flutter app (on Master) runs fine but as soon as you add the dependency for firestore then it refuses to build anymore.  No other changes, just add to pubspec and do a get then try to run.  I've done this on a Mac and Windows wi

[2020-07-09 20:51] dnishimoto commented on #4317
I found a similar issues

user text Selection is impossible after wrapping

https://github.com/flutter/flutter/issues/50717

[2020-07-09 21:01] dnishimoto commented on #4317
I recreated the bug using flutters demo code

// Flutter code sample for TextField

// This sample shows how to get a value from a TextField via the [onSubmitted]
// callback.

import 'package:flutter/material.dart';

void main() => runApp(MyApp());

/// This Widget is the main application widget.
class MyApp extends StatelessWidget {
  static const String _title = 'Flutter Code Sample';

  @overr

[2020-07-09 22:57] kwalrath commented on #4324
@ditman or @filiph, can you please follow up?

[2020-07-09 23:03] ditman commented on #4324
@johnwiese-ms , have you tried completing step 7 after adding the dependency? I think another user has reported a very similar issue to this one recently.

(I'm guessing that you're attempting to run this codelab for Android?)

[2020-07-09 23:23] johnwiese-ms commented on #4324
Why would I do step 7 before step 4?  I simply did a create, hit f5 to test it, then added the package and hit f5. Which gets me through step 3 in the codelab. I have tried on PC (Android) and Mac (iOS) with the same results. On PC for Android I get errors in the debug console at least, on Mac/iOS it just sits spinning. Not sure why it is trying to use _web plugins when I have no web support enabl

[2020-07-10 00:10] johnwiese-ms commented on #4324
Tried setting up the Firebase piece but no luck, still getting the error on Windows/Android.  I'll try iOS as well to see if they are different issues.

[2020-07-10 03:56] salaryazdjerdi commented on #4306
Now that I have your attention, the scrollbar widgets (cupertino and material) are annoyingly non-customizable.

I've seen arguments that these are platform defaults and you don't want to mess with platform defaults but I don't agree at all. We're using flutter and the whole point of it is to control and paint the whole screen on any platform. Or make whole new design new to both platforms.

Minim

[2020-07-10 13:05] FlashJonas commented on #4297
Yeah, revisiting this now and I can't reproduce it either.

[2020-07-10 15:54] dnishimoto commented on #4317
The cupertinoTextField also loses mouse navigation into the text for multiline after work wrapping has occurred

CupertinoTextField(
            maxLines: 11,
            controller:_textEditingController))

[2020-07-10 16:24] kwalrath commented on #4297
I'm going to close this, but will keep an eye out for it. Thanks for reporting it, @FlashJonas!

[2020-07-10 16:24] #4297 closed

[2020-07-10 17:39] johnpryan commented on #4306
@salaryazdjerdi You can file issues at https://github.com/flutter/flutter/issues. This issue tracker is for issues related to our website.

[2020-07-10 18:23] salaryazdjerdi commented on #4306
Okay thanks!

[2020-07-10 23:44] xster commented on #4306
ya, all pretty reasonable feature requests. Feel free to send us PRs to modify the SDK as well to add more customizability.

[2020-07-11 07:19] salaryazdjerdi commented on #4306
If you leave it to me, it might take longer. I don't know all the lingo/processes and I'm on a long trip. If anyone adds them please send add me to the PRs.

[2020-07-11 16:38] agubha opened #4331 "'Use a custom font' page issue"
Page URL: https://flutter.dev/docs/cookbook/design/fonts.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/fonts.md

Description of issue:
`flutter:
  fonts:
    - family: Raleway
      fonts:
        - asset: fonts/Raleway-Regular.ttf
        - asset: fonts/Raleway-Italic.ttf
          style: italic
    - family: RobotoMono
      fonts:
        - asset: fon

[2020-07-11 21:09] mbarlowvt opened #4332 "Data and backend has a dead link on the page"
Page URL: https://flutter.dev/docs/development/data-and-backend/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/index.md

Description of issue:
It looks like there's a disparity between what's getting hydrated on your index page and the markdown files you actually have in the directory. Don't quite know enough about how the webpage is being compos

[2020-07-12 13:41] dnishimoto commented on #4317
flutter run -d chrome --release --dart-define=FLUTTER_WEB_USE_SKIA=true

This command line fixed the bug

[2020-07-13 03:32] sfshaza2 commented on #3606
Thanks for clarifying, @CSELINGUA! Bugs against the API docs go on the flutter/flutter repo. I am moving this.

[2020-07-13 12:07] taereesa opened #4335 "Embedded; 'Flutter documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Description of issue:

[code]

[2020-07-13 13:11] chalin commented on #2567
@sfshaza2 - After  #4336 and #4337 are merged (since they add / tweaks some images), I can run the image-compression script if you'd like.

[2020-07-13 14:20] arizala13 opened #4338 "Include link to update PATH"
I recently went through the "[Setting up the Framework development environment](https://github.com/flutter/flutter/wiki/Setting-up-the-Framework-development-environment)" steps and found that a step 7 could benefit from adding a link.

I suggest that step 7 include the links to update the PATH variable. This link is directly from the Flutter website for [Windows](https://flutter.dev/docs/get-start

[2020-07-13 14:46] sfshaza2 commented on #2567
That would be great, @chalin! I've merged both PRs.

[2020-07-13 15:38] chalin commented on #2567
Done, see #4339

[2020-07-13 15:59] #2567 closed

[2020-07-13 17:10] johnpryan commented on #4306
https://github.com/flutter/flutter/issues/61362
https://github.com/flutter/flutter/issues/61364

[2020-07-13 18:44] #4332 closed

[2020-07-13 20:17] sfshaza2 commented on #4338
I just realized this refers to a Flutter wiki page. Moving to the flutter repo.

[2020-07-13 20:22] sfshaza2 commented on #4335
@taereesa, can you explain the issue here? This code doesn't appear on the main docs page.  thx

[2020-07-13 20:23] sfshaza2 commented on #4322
@xster

[2020-07-13 20:24] sfshaza2 commented on #4324
Thanks for your sleuthing, @johnwiese-ms! Please keep us posted.

[2020-07-13 20:27] sfshaza2 commented on #4321
We'd love better docs! Unfortunately it's not a high priority for Q2.

[2020-07-13 22:13] csells opened #4341 "Recommend the Flutter snap for Linux users"
On [Linux install](https://flutter.dev/docs/get-started/install/linux) today, there are a set of manual steps that a Flutter developer has to go through before they can use Flutter. On Linux, the first 4 steps listed in the [Get the Flutter SDK section](https://flutter.dev/docs/get-started/install/linux#get-sdk) can all be handled via [the Flutter snap](http://snapcraft.io/flutter). I'd like the d

[2020-07-14 11:19] dev-aentgs opened #4342 "Interactive examples issue in updated google chrome incognito mode"
Page URL: https://flutter.dev/docs/cookbook/images/network-image.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/images/network-image.md

Description of issue:
I am using google chrome incognito mode Version 84.0.4147.89, here the issue persists.
I think the issue is due to cookies being blocked in the browser ( Interactive examples on other pages are also having

[2020-07-14 16:06] khalidperwira opened #4343 "'Adding assets and images' page issue"
Page URL: https://flutter.dev/docs/development/ui/assets-and-images.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/assets-and-images.md

Description of issue:
**I found image overflow in documentation adding assets and images page.**

![flutter image documentation overflow](https://user-images.githubusercontent.com/31671952/87448462-16b15a00-c626-11ea-8b85

[2020-07-14 16:35] JuYeong0413 commented on #4342
![image](https://user-images.githubusercontent.com/33684401/87451615-18394d00-c63b-11ea-883f-d349ce5097fb.png)

The example works fine on my computer. Does reloading the page help?

[2020-07-14 17:59] sfshaza2 commented on #4301
@raghavan-mookiah, we can't reproduce this. Can you give us more information about your platform, OS version, etc? Without the ability to reproduce, we'll have to close this.

[2020-07-15 05:10] dev-aentgs commented on #4342
@JuYeong0413 Thank you for responding.
I am using google chrome incognito mode Version 84.0.4147.89, here the issue persists.
I think the issue is due to cookies being blocked in the browser.
In recent update to google chrome the third party cookies have been blocked by default in incognito mode.

The example is visible in normal non-incognito browsing and also works in-private mode on firefox.

I

[2020-07-15 15:52] sfshaza2 commented on #4343
Yup, this is easily fixed by restricting the image size to 100%. Thanks for pointing this out!

[2020-07-15 15:54] sfshaza2 commented on #4342
Interesting! @johnpryan, @RedBrogdon, can you weigh in?

[2020-07-15 16:00] sfshaza2 commented on #4317
@dnishimoto, thanks so much for your thorough report! This does sound like a Flutter bug, but you've filed this against the flutter/website repo. Is there a page that we need to fix? If not, I will transfer this bug to the flutter/flutter repo.

[2020-07-15 16:34] sfshaza2 commented on #4257
Hi, @MToheed! You are quite right. The foundation library doesn't need to be explicitly imported in this example. We should remove it.

Sometimes the foundation library is explicitly imported when the code uses the `@required` annotation, which is defined in that library.

[2020-07-15 17:52] johnpryan commented on #4342
This could be mitigated by showing a dialog when cookies / localstorage is disabled: https://github.com/dart-lang/dart-pad/issues/1237

[2020-07-15 18:15] #3954 closed

[2020-07-15 21:01] #4341 closed

[2020-07-15 23:59] sfshaza2 commented on #4342
Great! I'm moving this issue to the dartpad repo.

[2020-07-16 00:01] sfshaza2 commented on #4342
Oops, I can't transfer this issue across projects. @JuYeong0413, can you file/upvote an issue on the dart-lang/dartpad repo? I'll wait a short bit then close this issue.

[2020-07-16 00:04] sfshaza2 commented on #4322
@tvolkert, xster seems to be out. Can you weigh in (or delegate)?

[2020-07-16 00:05] sfshaza2 commented on #4335
@taereesa, I'm going to close this issue, as there doesn't seem to be any action I need to take on the website. If you are describing a bug in Flutter itself, please file an issue on the flutter/flutter repo.

[2020-07-16 00:05] #4335 closed

[2020-07-16 00:07] sfshaza2 commented on #4317
Transferring to the flutter/flutter repo.

[2020-07-16 01:12] JuYeong0413 commented on #4342
@Sfshaza Sure! :)

[2020-07-16 14:06] sfshaza2 commented on #4342
Thanks!

[2020-07-16 14:06] #4342 closed

[2020-07-16 16:48] #4343 closed

[2020-07-16 16:59] sfshaza2 commented on #4294
@messi01, can you look into this?

[2020-07-17 04:18] mono0926 opened #4360 "Design doc isn't shared"
https://docs.google.com/document/d/1GppFbc3rk__XiogKEfk_taw-cucqu_VYpsRuJKeTABI was added at #4340, but it isn't publicly shared.

<img width="671" alt="image" src="https://user-images.githubusercontent.com/1255062/87747996-bd1c7b80-c82f-11ea-8518-1289aee8d487.png">

@godofredoc

Could you change sharing setting of the document?

[2020-07-17 04:38] godofredoc commented on #4360
Thanks for letting me know I'll fix the link tomorrow morning.

[2020-07-17 15:21] Pragya007 opened #4361 "Update images of code snippets in Codelabs doc for first-flutter-app"
Image needs to be updated which are attached in [3.](https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#3) : Because [Here](https://github.com/flutter/codelabs/blob/b3293b5bb0c0187bdbe8112f7759f4d75f4c040a/startup_namer/step1_base/lib/main.dart) `const` is not there but image is displaying it.

This will solve [this](https://github.com/flutter/flutter/issues/53375) issue.

[2020-07-17 15:23] Pragya007 commented on #4361
If team approves this, I can work upon it.

[2020-07-17 23:39] godofredoc commented on #4360
PR to update the link is in review:

https://github.com/flutter/website/pull/4362

[2020-07-18 17:37] Pragya007 commented on #4361
[#60361](https://github.com/flutter/flutter/issues/60361) is also similar, image of code snippet needs to be change.

[2020-07-19 10:33] aayushbisen commented on #4324
Hello @johnwiese-ms 👋

I also faced the same issue, when I was doing this codelab for the first time.

You can fix the build error you are getting by going to `android/app/build.gradle` and changing the **minSdkVersion** version from 16 to 21.

We can add this info in the codelab. 😄

[2020-07-19 13:25] JuYeong0413 commented on #4331
Hi @agubha, can you provide more information about the issue?
When I followed the cookbook example, using Raleway & RobotoMono worked fine, it's not ignored by flutter.

This is my sample app output:
<img src="https://user-images.githubusercontent.com/33684401/87875682-ef83cf80-ca0d-11ea-8034-6762826e8521.png" width="40%">

[2020-07-20 01:55] JuYeong0413 commented on #3498
Fixed in #4099

[2020-07-20 16:43] sfshaza2 commented on #3498
Closing.

[2020-07-20 16:43] #3498 closed

[2020-07-20 16:45] sfshaza2 commented on #4324
Great info, thanks!!!

[2020-07-20 17:07] sfshaza2 commented on #4360
Fixed! Thanks for reporting, @mono0926!

[2020-07-20 17:07] #4360 closed

[2020-07-20 17:16] sfshaza2 commented on #4331
Thanks for your testing, @JuYeong0413!

[2020-07-20 17:17] sfshaza2 commented on #4324
@ditman, can you fix this issue or should I?

[2020-07-20 17:19] #4257 closed

[2020-07-20 17:47] ditman commented on #4324
@sfshaza2 I'll write something in the doc, and run it by you ASAP.

Thanks for noticing @aayushbisen!

[2020-07-20 18:01] aayushbisen commented on #4267
Can I work on this issue? 😃

[2020-07-20 18:37] sfshaza2 commented on #4267
Sure!!

[2020-07-20 19:58] awulkan commented on #2618
I agree, it makes it a lot easier to read when you put the child last.

[2020-07-20 22:43] Sunbreak opened #4372 "Change `AnimatedWidgetBaseState` to `ImplicitlyAnimatedWidget` on 'Animation and motion widgets' page"
Page URL: https://flutter.dev/docs/development/ui/widgets/animation.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/widgets/animation.md

Description of issue:

**`AnimatedWidgetBaseState` is state, not widget**

[2020-07-21 02:35] JuYeong0413 commented on #3616
Fixed in #4099

[2020-07-21 05:21] dev-aentgs opened #4373 "'Networking cookbook' page navigation issue"
Page URL: https://flutter.dev/docs/cookbook/networking/delete-data.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/delete-data.md

Description of issue:
While using the top navigation links, [Delete data on the internet](https://flutter.dev/docs/cookbook/networking/delete-data.html) and [Update data over the internet](https://flutter.dev/docs/cookbook/

[2020-07-21 13:56] JuYeong0413 commented on #4373
I think the top navigation links(previous/next pages) should follow the [cookbook contents list](https://flutter.dev/docs/cookbook#networking):
<img width="40%" src="https://user-images.githubusercontent.com/33684401/88062875-55a25b00-cba4-11ea-9426-8c6dc8d7a90a.png">

Not only the [Delete data on the internet](https://flutter.dev/docs/cookbook/networking/delete-data) but also the top navigation l

[2020-07-21 14:49] #4267 closed

[2020-07-21 14:52] dev-aentgs commented on #4373
@JuYeong0413 yes

[2020-07-21 14:54] sfshaza2 commented on #4372
Hi, @Sunbreak! Can you clarify? The page doesn't say that `AnimatedWidgetBaseState` is a widget. It says that it's a base class for widgets.

[2020-07-21 14:57] sfshaza2 commented on #4373
Oops! That can happen when we manually maintain these links.

[2020-07-21 15:01] dev-aentgs commented on #4373
Also, I think the order should be different then the one mentioned here. It should be according to their inter-dependencies.

[2020-07-21 15:01] sfshaza2 commented on #4375
@gaurivn, I'd love to let you fix this but, unfortunately, the source for the codelabs on codelabs.google.developer.com aren't accessible to external folks. But thanks!

[2020-07-21 15:03] JuYeong0413 commented on #4319
Seems like this issue is fixed. #4344

[2020-07-21 15:16] JuYeong0413 commented on #4191
Seems like this issue is fixed. #4225

[2020-07-21 16:00] #4191 closed

[2020-07-21 16:23] #4268 closed

[2020-07-21 16:27] #4089 closed

[2020-07-21 21:23] Sunbreak commented on #4372
Every item listed in https://flutter.dev/docs/development/ui/widgets/animation is a widget, except to `AnimatedWidgetBaseState `

[2020-07-22 19:51] kf6gpe commented on #4381
Per @stuartmorgan's comment, moving to the website repo.

[2020-07-22 20:33] MateusAmin opened #4382 "'Linux install' Snap does not install Dart CLI"
Page URL: https://flutter.dev/docs/get-started/install/linux.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Description of issue:

Installation of Flutter >1.20 using Snap does not install Dart CLI

[2020-07-23 05:31] sfshaza2 commented on #4372
Ahh, I see. Hmmm. Thanks for that report.

[2020-07-23 05:32] sfshaza2 commented on #4382
@csells

[2020-07-23 06:11] steelx opened #4383 "'Navigate to a new screen and back' page has NO TEST!"
Page URL: https://flutter.dev/docs/cookbook/navigation/navigation-basics.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/navigation/navigation-basics.md

Description of issue:
Im not able to test `Navigator.of(context).push`
How do I test the following:
[code]

I'm trying to test following:
[code]

[2020-07-23 14:53] lucalves commented on #4147
I believe it is working normally. Did you even include the permissions in AndroidManifest.xml?

[2020-07-23 15:17] deremer opened #4386 "KENKEN prototype link on showcase is now a broken link"
The NYTimes seems to have removed: https://www.nytimes.com/games/prototype/kenken#/

This link is on: https://flutter.dev/showcase and possibly elsewhere.

Recommend replacing the link with: https://youtu.be/LoLqSbV1ELU?t=3290

![image](https://user-images.githubusercontent.com/772290/88304128-da40c680-ccd5-11ea-8490-3537b259451f.png)

[2020-07-23 16:16] johnpryan commented on #4382
@domesticmouse

[2020-07-23 16:38] csells commented on #4382
@kenvandine fyi

[2020-07-23 20:40] johnpryan commented on #4147
Yes I believe these instructions are up to date. @surya-theCoder can you double check that you followed step 2 correctly?

[2020-07-25 13:35] YazeedAlKhalaf opened #4389 "[Language] Multi-language Support"
I am suggesting that the Flutter website creates a way of adding translations to other languages. Not Google Translate since it will not look professional. You know how the apps using Google translate look like. Anyways, I suggest letting the community add their own languages. So, for example, I can do Arabic.

[2020-07-25 23:45] ashfaq92 opened #4391 "'Books about Flutter' page issue"
Page URL: https://flutter.dev/docs/resources/books.html
Page source: https://github.com/flutter/website/tree/master/src/docs/resources/books.md

Description of issue:
Books should not be in alphabetic order. Instead, books should be according to the learning curve so that developer may pick an appropriate book for him. For example, you can categorize books in beginner, medium and advance categorie

[2020-07-26 07:49] Omer1Yuval1 opened #4542 "typos in the tutorial"
In steps 4 and 5 of the tutortial (https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#5), the same name is sometimes referred to as _RandomWordState and sometimes as _RandomWordsState

[2020-07-26 09:10] prabnur opened #4392 "'Build and release an Android app' page issue"
Page URL: https://flutter.dev/docs/deployment/android.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/android.md

Description of issue:

So that page shows you how to sign the app using a key in a keystore made with Java's keytool. However the recommended way to publish an android app according to Google is to build and release an app bundle. This requires that

[2020-07-26 13:27] JuYeong0413 commented on #4259
I'm using Android Studio 4.0.1.
<img width="1109" alt="Screen Shot 2020-07-26 at 10 21 57 PM" src="https://user-images.githubusercontent.com/33684401/88480056-a04e1980-cf8e-11ea-8d89-9eea63155f22.png">
There is `Format code on save` on the Flutter page in Preferences on Mac as the docs mentioned. (Preferences -> Language & Frameworks -> Flutter)
Seems like you're looking at the wrong section. You

[2020-07-26 16:05] JuYeong0413 commented on #4149
There is [Retrieve the value of a text field](https://flutter.dev/docs/cookbook/forms/retrieve-input) page in the [cookbook forms](https://flutter.dev/docs/cookbook/forms) category with interactive example of getting form values.

Since it is under the same category with [Build a form with validation](https://flutter.dev/docs/cookbook/forms/validation) page, I wonder whether it will be meaningful

[2020-07-26 17:05] JuYeong0413 commented on #4373
I agree that reordering the pages would be better as @dev-aentgs mentioned.

However, it seems that all the cookbook TOC are listed in alphabetical order and the top navigation links of individual pages correspond to it.
So @sfshaza2, should networking section be reordered unlike other pages? or will it be okay to leave it in alphabetical order and just fix the top navigation links?

[2020-07-27 01:08] lion-starsirio opened #4394 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-07-27 08:53] rt1410201 opened #4395 "G"

[2020-07-27 18:40] kevmoo commented on #4395
More information needed, please!

[2020-07-27 18:40] #4395 closed

[2020-07-27 18:44] kevmoo opened #4396 "Update flutter.dev/docs/null-safety"
Related to https://dart.dev/null-safety

We need a page to link to from https://dart.dev/null-safety

In the short term:
- which channels support null safety
- how to enable it for a project
- how to give feedback
- migration tooling, etc

[2020-07-27 19:06] jonahwilliams commented on #4396
My best guesses:

I think there won't be any channel restriction, but I haven't heard about this one yet.

--enable-experiment=non-nullable passed to the command line, analysis_options.yaml edit for analyzer

Bugs are good

IIRC the dartdev tool is disabled for release right now, so whenever that is turned back on it will be available.

[2020-07-27 23:46] #4151 closed

[2020-07-27 23:51] #4386 closed

[2020-07-28 00:00] sfshaza2 commented on #4391
@ashfaq92, thanks for your suggestion. It does make sense. However, this is a list of *available books* on Flutter, it's not a curated list. I have *none* of these books, so I can't evaluate them on those merits. We are happy to list available books as a service to our community, but that's about all we can do.

[2020-07-28 00:01] sfshaza2 commented on #4392
@tvolkert?

[2020-07-28 00:02] sfshaza2 commented on #4396
Great idea!

[2020-07-28 00:04] sfshaza2 commented on #4394
No issue listed. Closing.

[2020-07-28 00:04] #4394 closed

[2020-07-28 14:33] w-o-j-t opened #4399 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:

There is no "dart.exe" in flutter/bin/ path. Neither in downloadable package nor in the stable branch. Description incorrect.

[2020-07-28 20:22] chalin opened #4400 "Homepage "Try Flutter" isn't working"
Visit https://flutter.dev/#try-dart. I'd expect to see some code and be able to run it. No code is shown and so there is nothing to run:

In the console I'm seeing this:

[code]

And this error both before and after the above exception:

[code]

[2020-07-28 20:40] chalin opened #4401 "Add "Try Flutter" in the top nav"
There is a [Try Dart](https://dart.dev/#try-dart) link in the top nav of https://dart.dev. Since there is a similar "Try Flutter" section on the homepage, should there also be a "Try Flutter" in the top nav?

[2020-07-29 02:02] Rapidinfotech opened #4403 "'Play and pause a video' page issue"
#
![8E6467C9-9891-4216-8258-DE499E4A9A04](https://user-images.githubusercontent.com/68882921/88747973-8d457000-d16d-11ea-82db-6519e0974114.jpeg)
![1242FB30-474B-4B44-9CB4-EFE167D103E2](https://user-images.githubusercontent.com/68882921/88747979-933b5100-d16d-11ea-87ff-9c3a931559f2.jpeg)

Page URL: https://flutter.dev/docs/cookbook/plugins/play-video.html
Page source: https://github.com/flutter/web

[2020-07-29 02:03] #4403 closed

[2020-07-29 05:50] sfshaza2 commented on #4399
@timsneath, you have a Windows machine, yes? Can you comment?

[2020-07-29 05:50] sfshaza2 commented on #4401
That's a good idea!

[2020-07-29 05:55] timsneath commented on #4399
Ugh -- this was reverted out of the release. @franklinyow @pcsosinski -- see the URL above; should this now say 1.21?

[2020-07-29 12:22] chalin commented on #4400
Seems to be working now, closing.

Note that the DevTools error is still there in the console.

[2020-07-29 12:22] #4400 closed

[2020-07-29 15:45] pcsosinski commented on #4399
does a version requirement work on this page or will it just be more confusing?

[2020-07-29 18:20] timsneath commented on #4399
Yeah, we already had a version requirement (1.19.0-dev), so we just need to update it. What should it now say?

[2020-07-29 20:23] pcsosinski commented on #4399
oh I see the section in the webpage referring to that now.   TBH I'm not sure where the revert happened and am not tracking the re-enablement of the behavior.  can you point me to the issue(s) covering it?

the original description also references stable, which would be 1.17, so that seems expected.

[2020-07-29 21:54] franklinyow commented on #4399
I did some digging, I think the page is accurate but could be improve
The stable download ver 1.17 does not have dart.exe is what we expected.  It was not release until 1.19-dev
The up coming **stable** 1.20 will not have dart.exe because we backed it out. [#42748](https://github.com/dart-lang/sdk/issues/42748)

In summery, and build from 1.19.0-dev and after that is from a dev branch should have

[2020-07-30 03:56] RahulMahesh62 opened #4405 "I just came by a great book for Flutter beginners. Would love to see that book mentoined in the Flutter website. Here's the link to the book: https://books.google.co.in/books/about/Google_Flutter_Mobile_Development_Quick.html?id=hc6PDwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false"

[2020-07-30 03:57] RahulMahesh62 commented on #4405
I just came by a great book for Flutter beginners. Would love to see that book mentoined in the Flutter website. Here's the link to the book: https://books.google.co.in/books/about/Google_Flutter_Mobile_Development_Quick.html?id=hc6PDwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false

[2020-07-30 03:58] #4405 closed

[2020-07-30 03:59] RahulMahesh62 opened #4406 "Add new book to the current available resources"
I just came by a great book for Flutter beginners. Would love to see that book mentoined in the Flutter website. Here's the link to the book: https://books.google.co.in/books/about/Google_Flutter_Mobile_Development_Quick.html?id=hc6PDwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false

[2020-07-30 16:03] sfshaza2 commented on #4399
Thanks for clarifying, @franklinyow and @pcsosinski!

[2020-07-30 16:07] #4391 closed

[2020-07-31 16:55] vivekumar190 opened #4413 "'Slivers' page issue"
Page URL: https://flutter.dev/docs/development/ui/advanced/slivers.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/advanced/slivers.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-07-31 17:18] #4406 closed

[2020-07-31 17:19] #3953 closed

[2020-07-31 21:53] tmx11 opened #4415 "'Desktop support for Flutter' page issue"
Page URL: https://flutter.dev/desktop.html
Page source: https://github.com/flutter/website/tree/master/src/desktop.md

For linux it should add requirements cmake3 needs to be installed and set as default.

And ninja-build needs to be installed.

Error:

`flutter run
2020/07/31 17:30:22.504999 cmd_run.go:563: WARNING: XAUTHORITY environment value is not a clean path: "/run/lightdm/sroot/xauthority"

[2020-08-01 01:30] Dman9296 opened #4416 "'Using Flutter in China' page issue"
Page URL: https://flutter.dev/community/china.html
Page source: https://github.com/flutter/website/tree/master/src/community/china.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-08-01 01:30] Dman9296 commented on #4416
Yeah

[2020-08-01 04:49] jmrboosties opened #4417 ""Writing custom platform-specific code" guide out of date"
Issue reported at the request of moderator ping on the Flutter Discord.

https://flutter.dev/docs/development/platform-integration/platform-channels

This guide references a method `configureFlutterEngine` which you can override inside a FlutterActivity as follows:

[code]
As of writing this on Flutter stable channel version 1.17.5, [FlutterActivity](https://api.flutter.dev/javadoc/io/flutter/app/

[2020-08-01 05:10] jmrboosties commented on #4417
Found my issue. My project was importing the old FlutterActivity, not the new one found here: `import io.flutter.embedding.android.FlutterActivity`

[2020-08-01 05:10] #4417 closed

[2020-08-01 16:30] timsneath opened #4418 "'Build and release a web app': PWA comment is no longer correct"
Page URL: https://flutter.dev/docs/deployment/web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/web.md

Description of issue:
This line is no longer correct, since the future is here :)

We should update this with details of what we support now; and in the future we should also have a page on Flutter web and PWA manifest.

/cc @mariamhas to fix the former, @s

[2020-08-01 16:34] timsneath opened #4419 "'Web FAQ' page: supported platforms"
Page URL: https://flutter.dev/docs/development/platform-integration/web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/platform-integration/web.md

Description of issue:
I see confusion about what web platforms we support with Flutter. See for example, https://answers.microsoft.com/en-us/microsoftedge/forum/all/can-i-use-edge-with-flutter/f3d3e6f3-dad6-4382-8

[2020-08-01 16:35] #4416 closed

[2020-08-03 03:00] Rejaul316 opened #4422 "'Set up an editor' page issue"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-08-03 04:46] tvolkert commented on #2704
@sfshaza2, @xster has been OOO but is coming back online over the next few weeks.  I defer to him on whether there's any more update needed here.

[2020-08-03 05:06] tvolkert commented on #4322
@gaaclarke

[2020-08-03 05:27] tvolkert commented on #4392
@xster

[2020-08-03 17:30] xster commented on #4322
Well we're probably splitting hairs here :)

"x86" would be the ISA family which is a generic term. "x86-86" would be one of the 30 or so extensions on the generic x86 ISA family along with "IA-32" which would denote "x86" in 32 bits. But we can retweak the wording to make it clearer.

[2020-08-03 17:30] SyedLuqmanHakim opened #4423 "widget_test error, can someone help me. i follow step by step and did not touch code for widget_test."

[2020-08-03 17:31] SyedLuqmanHakim commented on #4423
import 'package:flutter/material.dart';
import 'package:flutter_test/flutter_test.dart';

import 'package:cupertinostore/main.dart';

void main() {
  testWidgets('Counter increments smoke test', (WidgetTester tester) async {
    // Build our app and trigger a frame.
    await tester.pumpWidget(CupertinoStoreApp());

    // Verify that our counter starts at 0.
    expect(find.text('0'), findsOneWid

[2020-08-03 17:39] xster commented on #4392
I don't think the instructions are conflicting. FWIW, there might be some slight confusion since there are 2 keys involved when signing Android apps. There's an upload key which you need to sign with before pushing to the Play Store. That key isn't seen by your users however. It's just a way to validate your upload package between you and the Play Store. The Play Store then resigns the whole thing

[2020-08-03 17:39] #4392 closed

[2020-08-03 17:43] xster commented on #2704
Nothing left to do here. All 32/64 bit support are already done on the way in during the add-to-app integration steps of the project setup. We haven't heard of any issues from our users currently. We can clarify more based on user feedback as needed.

[2020-08-03 17:43] #2704 closed

[2020-08-03 19:10] mdonan90 opened #4425 "'Free Flutter course from the App Brewery' page issue"
Page URL: https://flutter.dev/freecourse.html
Page source: https://github.com/flutter/website/tree/master/src/freecourse.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: free course no longer available

[2020-08-03 20:12] gaaclarke commented on #4322
Yea, I suspect the same as xster.  I don't think the Dart team implemented AOT on x64 and not on i386.  I don't think there would be a good justification for such an investment.

However, it's a problem that will disappear once mac's transition to ARM.  You should be able to run release builds on the simulator then.

[2020-08-03 20:42] liyuqian opened #4428 "Consider copying SkSL warm-up wiki to flutter.dev website"
The wiki is in https://github.com/flutter/flutter/wiki/Reduce-shader-compilation-jank-using-SkSL-warm-up.

The wiki is up to date as of today. Having it on flutter.dev website gives a better presentation at a maintenance cost: we need to make sure that any update to it need to be reflected both on Github wiki and on flutter.dev.

[2020-08-03 21:28] #4322 closed

[2020-08-03 21:38] sfshaza2 commented on #4413
Nothing described. Closing..

[2020-08-03 21:38] #4413 closed

[2020-08-03 21:39] sfshaza2 commented on #4425
Nothing described. Closing.

[2020-08-03 21:39] #4425 closed

[2020-08-03 21:40] sfshaza2 commented on #4423
Hi, @SyedLuqmanHakim. What is the context for this error? What instructions were you following? What page were you on? Thx

[2020-08-03 21:40] sfshaza2 commented on #4422
Nothing described. Closing.

[2020-08-03 21:40] #4422 closed

[2020-08-04 02:53] TharVid opened #4429 "'Free Flutter course from the App Brewery' page issue"
Page URL: https://flutter.dev/freecourse.html
Page source: https://github.com/flutter/website/tree/master/src/freecourse.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
This course is no longer available for free. Please remove this page.

[2020-08-04 03:16] #4418 closed

[2020-08-04 03:27] #4419 closed

[2020-08-04 08:45] jaeyeonling opened #4432 "[Question] Where is the Korea managed repository?"
![image](https://user-images.githubusercontent.com/40811999/89272799-a6708400-d679-11ea-8303-572b842cf442.png)

I found the example code not working.
But I can't find that repository.

[2020-08-04 08:47] jaeyeonling commented on #4432
Sorry, I found

https://github.com/flutter-korea/website

[2020-08-04 08:47] #4432 closed

[2020-08-04 14:42] sfshaza2 commented on #4429
Thanks so much for PR https://github.com/flutter/website/pull/4433, @TharVid! To avoid a broken link, that PR should be sufficient for now.

[2020-08-04 14:42] #4429 closed

[2020-08-04 14:46] sfshaza2 commented on #4415
@stuartmorgan

[2020-08-04 14:47] sfshaza2 commented on #4428
This is addressed in PR https://github.com/flutter/website/pull/4431.

[2020-08-04 14:50] sfshaza2 commented on #4423
@SyedLuqmanHakim, I'm closing this. If you can point to a page on flutter.dev that is misleading or incorrect, please re-open. A better place to find support is one of the channels listed on our [community page](https://flutter.dev/community).

[2020-08-04 14:50] #4423 closed

[2020-08-04 14:51] sfshaza2 commented on #4383
@johnpryan

[2020-08-04 15:36] stuartmorgan commented on #4415
CMake and Ninja are both listed as requirements on that page already (as well as both being checked by `flutter doctor`) so I'm not clear on what the issue here is.

You haven't included the full error, so it's impossible to tell what the problem is; without knowing that it's not at all clear that it's a documentation problem.

[2020-08-04 17:21] johnpryan commented on #4383
Hi @steelx, these cookbook articles don't have tests. If you are asking a general question about how to use the framework, we recommend Stack Overflow.

The way I would test this sample would be to factor out MaterialApp into a widget that can be tested:

[code]

And write a widget test that asserts the routes are on screen after some interaction:

[code]

[2020-08-04 17:21] #4383 closed

[2020-08-05 02:55] bryanoltman opened #4437 "Using same widgets for TabBarView and TabBar in 'Work with tabs' page is confusing"
Page URL: https://flutter.dev/docs/cookbook/design/tabs.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/tabs.md

Description of issue:

In the [Interactive Example](https://flutter.dev/docs/cookbook/design/tabs#interactive-example), the TabBarView and the TabBar use the exact same Icon widgets for their content, making it more difficult for newcomers to di

[2020-08-05 03:05] micpap25 opened #4438 "Rearrange Video Links on Main Documentation Page"
Page URL: https://flutter.dev/docs
Page Source: https://github.com/flutter/website/blob/master/src/docs/index.md

Issue: In the "Videos" section of the docs main page, we see this line:
`We also have some helpful videos on our Flutter YouTube channel! In particular, check out the Flutter in Focus series, and learn about other series on our videos page.`
However, `Flutter in Focus` is not a link.

[2020-08-05 03:33] micpap25 commented on #3791
It seems that this was fixed, this issue should be closed.

[2020-08-05 04:17] micpap25 commented on #3598
This issue is fixed on the link, and should be closed.

[2020-08-05 07:42] sfshaza2 commented on #3791
Yay!

[2020-08-05 07:42] #3791 closed

[2020-08-05 14:48] tvolkert commented on #4428
It looks like https://github.com/flutter/website/pull/4431 is unrelated?

[2020-08-05 14:50] sfshaza2 commented on #4428
Oops, you're right. It was a different PR.

[2020-08-05 15:57] timsneath opened #4446 "Preselect OS that we're running on for install page"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Description of issue:
Right now, if you click on "Get Started" from the title bar, you get to this page:
https://flutter.dev/docs/get-started/install

I like the visual strength, but this adds another click to the process compared to the old exp

[2020-08-05 17:58] liyuqian commented on #4428
Fixed by https://github.com/flutter/website/pull/4430

[2020-08-05 17:58] #4428 closed

[2020-08-05 21:06] micpap25 commented on #1469
I think we can close this now that it's fixed.

[2020-08-05 21:16] micpap25 commented on #1754
This has been fixed. I think this issue can be closed.
`After the archive has been successfully validated, click Distribute App. You can follow the status of your build in the Activities tab of your app’s details page on App Store Connect.`

[2020-08-05 21:33] micpap25 commented on #2058
As of right now, it looks like "Expanded" is in the single-child section. I think this issue can be closed safely.

[2020-08-05 21:50] micpap25 commented on #2165
It looks like this issue an all its follow-ups have been resolved, I think this can be closed.

[2020-08-05 21:53] sfshaza2 commented on #2165
Thanks! Closing.

[2020-08-05 21:53] #2165 closed

[2020-08-05 21:53] sfshaza2 commented on #1469
Thanks! Closing.

[2020-08-05 21:53] #1469 closed

[2020-08-06 00:35] kwalrath commented on #4324
@ditman has the codelab been updated?

[2020-08-06 01:40] ditman commented on #4324
@kwalrath not yet, but there's a fix coming. It's in the doc, and once @sfshaza2 reviews we can publish it. Apologies for the delay!

[2020-08-06 01:56] sfshaza2 commented on #4324
I've published it!

On Wed, Aug 5, 2020 at 6:40 PM David Iglesias <notifications@github.com>
wrote:

[2020-08-06 01:56] ditman commented on #4324
Wowza, @sfshaza2 has just reviewed and published the change.

Now [Step 4](https://codelabs.developers.google.com/codelabs/flutter-firebase/#3) has a note asking users to bump their `minSdkVersion` to use the firebase plugins!

I think this fixes the issue, please feel free to reopen if it doesn't!

[2020-08-06 01:56] #4324 closed

[2020-08-06 14:56] Estejin opened #4452 "flutter_localizations: Can not be used to localize a BottomNavigationBarItem title"
BottomNavigationBarItem(icon: Icon(Icons.collections_bookmark), title:

The title alway require a Const,
But xxxLocalizations.of(context) can not return a const.

[2020-08-06 16:27] miguelcmedeiros commented on #4121
I agree with the last comment from @domesticmouse. Opening a medium article when the user actually wants to look at the release notes is not straightforward. I had to re-read the article to find the [link to flutter.dev](https://flutter.dev/docs/development/tools/sdk/release-notes/changelogs/changelog-1.17.0).

Aside from that, the release notes in flutter.dev for 1.17 are less useful compared to

[2020-08-06 17:33] sfshaza2 commented on #4121
This was an intentional change as of 1.17. (I didn't even realize it at first.)

I'm wondering if this issue might get more traction if filed on the flutter/flutter site.

@kf6gpe, can you weigh in?

[2020-08-06 18:00] kf6gpe commented on #4121
Hi! Thanks for the feedback! We've been experimenting with a number of things in how we do release notes, as you've seen, so getting your thoughts is great.

* We had (perhaps) incorrectly assumed that having both a news-style blog post and the change log was perhaps too much information for most of our users, and was an additional chunk of work to assemble, which is why we stepped away from it st

[2020-08-06 21:09] liyuqian opened #4453 "Missing content in https://flutter.dev/docs/perf/rendering/shader"
As we've now removed https://github.com/flutter/flutter/wiki/Reduce-shader-compilation-jank-using-SkSL-warm-up and redirect the readers to https://flutter.dev/docs/perf/rendering/shader, it's nice to move all content from the old wiki to flutter.dev website.

I found 2 pieces missing in https://flutter.dev/docs/perf/rendering/shader that were in https://github.com/flutter/flutter/wiki/Reduce-shade

[2020-08-06 23:08] #4453 closed

[2020-08-07 01:56] micpap25 commented on #1252
Hi, it looks like Step 5 was removed. I think this can be closed safely.

[2020-08-07 02:08] micpap25 commented on #1293
It looks like this has been completed @sfshaza2 , I think this can be closed.

[2020-08-07 02:18] micpap25 commented on #2042
It seems that this was fully resolves, I think this can be closed.

[2020-08-07 02:30] #4452 closed

[2020-08-07 02:32] Estejin commented on #4452
In the end, I found out that I have set the bottomNavigationBar items to const. when I delete the const of items, things changed.

[2020-08-07 04:45] micpap25 commented on #2023
Seems like the change was made, this can be closed.

[2020-08-07 04:50] micpap25 commented on #1712
As a Chrome Windows user I don't have this problem, so maybe it was fixed at some point?

[2020-08-07 10:58] DanTup commented on #2023
Yep, looks like it was done in #4246.

[2020-08-07 10:58] #2023 closed

[2020-08-07 11:18] #2042 closed

[2020-08-07 16:23] #1143 closed

[2020-08-07 16:27] sfshaza2 commented on #1131
Fixed in PR https://github.com/flutter/website/pull/4451

[2020-08-07 16:27] #1131 closed

[2020-08-07 16:31] sfshaza2 commented on #2015
Fixed in PR https://github.com/flutter/website/pull/4448.

[2020-08-07 16:31] #2015 closed

[2020-08-07 17:41] johnpryan commented on #4147
I'm going to consider this issue as stale. @surya-theCoder please comment if you think this is still a problem with our docs. Thanks!

[2020-08-07 17:41] #4147 closed

[2020-08-07 23:10] chalin commented on #1712
Interesting, I'm not seeing the problem either -- Chrome 84.x under macOS:

Yep, it must have been fixed.

[2020-08-08 13:28] gtb-461 opened #4460 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-08-08 16:30] crydotsnake opened #4461 "SSL Certificate not working"
Hello,

i just would like to let you know that the SSL Certificate for https://flutter.dev isnt working.

![Bildschirmfoto 2020-08-08 um 18 29 45](https://user-images.githubusercontent.com/39345336/89715324-32015200-d9a5-11ea-8a9d-7ee849b96833.png)

[2020-08-08 23:45] laurentVRL2T commented on #3938
100% true @emme1444
**The Flutter splash screen section** need more clarity.
android view, FlutterFragment

[2020-08-09 11:34] xp015837 opened #4462 "'Set up an editor' page issue"
Page URL: https://flutter.dev/docs/get-started/editor.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/editor.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-08-09 15:37] yasu-com opened #4463 "'Layouts in Flutter' page issue"
Page URL: https://flutter.dev/docs/development/ui/layout/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/layout/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-08-10 09:35] pastapareo commented on #2472
Followed this and got this error when running `flutter packages get`

[2020-08-10 16:33] #1712 closed

[2020-08-10 18:07] sfshaza2 commented on #3938
No, I'll leave this open, @laurentVRL2T, as it seems we do need to improve the docs. Thanks!

[2020-08-10 18:34] sfshaza2 commented on #1293
Thanks!

[2020-08-10 18:34] #1293 closed

[2020-08-10 20:18] sfshaza2 commented on #4438
That sounds reasonable.  To be honest, I think the text mentions Flutter in Focus too much.

[2020-08-10 20:21] sfshaza2 commented on #4446
This flow hasn't changed recently, so I am a bit confused by your comment, "this adds another click to the process compared to the old experience".  This change would require some infrastructure expertise.

[2020-08-10 20:21] sfshaza2 commented on #4460
Empty bug.

[2020-08-10 20:21] #4460 closed

[2020-08-10 20:22] sfshaza2 commented on #4461
@johnpryan, @domesticmouse, can one of you take a look?

[2020-08-10 20:23] sfshaza2 commented on #4462
Empty bug.

[2020-08-10 20:23] #4462 closed

[2020-08-10 20:23] sfshaza2 commented on #4463
Empty bug.

[2020-08-10 20:23] #4463 closed

[2020-08-10 20:38] domesticmouse commented on #4461
Flutter.dev's SSL certificate looks sane to me:

<img width="470" alt="Screen Shot 2020-08-11 at 6 36 19 am" src="https://user-images.githubusercontent.com/30503/89828890-0cd73400-db9d-11ea-8e63-c5ce235046dc.png">

I'm curious if @crydotsnake can supply more information on why this certificate is failing. I don't speak german, but I assume one of those two buttons is the moral equivalent of "More

[2020-08-10 20:48] crydotsnake commented on #4461
Good Evening!.

Sorry, for the bad issue description.

I have the issue on Firefox, Brave, and Safari.

If i klick on More Information it says follwoing:

flutter.dev usually protects your data by encryption. When Brave tried to connect to flutter.dev this time, the site returned unusual and incorrect login information. Either an attacker attempted to impersonate flutter.dev, or the connection was

[2020-08-10 20:53] crydotsnake commented on #4461
I try it with a fresh installation of the Google Chrome Browser (To make sure it is not an issue with the browser settings, because i didnt touch them). Also didnt work.

[2020-08-10 20:59] crydotsnake commented on #4461
Interesting... it uses not the ssl certificate from flutter.dev, instead it uses a ssl certificate from my local project.

[2020-08-10 21:03] crydotsnake commented on #4461
![Bildschirmfoto 2020-08-10 um 23 03 09](https://user-images.githubusercontent.com/39345336/89831181-ada5ff00-db5d-11ea-8893-d06947d1ff08.png)

Translated Version:
Websites confirm their identity by means of certificates. Firefox does not trust this website because the certificate used by the website does not apply to flutter.dev. The certificate is only valid for the following names: craftapp.dev

[2020-08-10 21:05] timsneath commented on #4446
Oh, you're right! It's not one more click after all. The page has [changed in the last couple of months](https://web.archive.org/web/20200616041720/https://flutter.dev/docs/get-started/install), but only for the better.

Nevertheless, I still think the main point remains -- we can remove an unnecessary click by getting the user straight to install instructions for their current machine, and give t

[2020-08-10 21:14] crydotsnake commented on #4461
Okay, it works now.

Issue was, i use Laravel Valet for my local projects, and i use .dev for my local projects domain. So this was the conflict... i think Valet thought, flutter.dev would be a local project of me. So i changed it to use .test instead .dev and now, it is working ! :)).

[2020-08-10 21:16] crydotsnake commented on #4461
Thanks anyway!! :).

[2020-08-10 21:16] #4461 closed

[2020-08-10 21:19] domesticmouse commented on #4461
Quick suggestion, use .local for your local domains. 😇

[2020-08-10 21:22] crydotsnake commented on #4461
Good Idea ! 🙈

[2020-08-10 21:58] sfshaza2 commented on #4446
Oh, I don't disagree with that.  :). I was just confused by the assertion that it had changed. Yes, the last change was from Patrice (our former infrastructure guy) who improved the Linux option.

I'm definitely leaving this open, but we don't have infrastructure support at the moment.

[2020-08-11 02:06] #1720 closed

[2020-08-11 02:06] #2150 closed

[2020-08-11 02:09] #1822 closed

[2020-08-11 11:53] beardo01 commented on #1754
Cheers @micpap25.

[2020-08-11 11:53] #1754 closed

[2020-08-11 17:45] etoherrera opened #4467 "'Codelabs' page issue"
Page URL: https://flutter.dev/docs/codelabs/
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
This links is broken:
https://codelabs.developers.google.com/com/codelabs/web-url-launcher

[2020-08-12 01:45] micpap25 commented on #1870
On my computer the issue is fixed. It looks like this should be closed.

[2020-08-12 12:29] mcavazotti opened #4471 ""Pass Argument to a Named Route" is confusing"
[This](https://flutter.dev/docs/cookbook/navigation/navigate-with-arguments) cookbook is a bit confusing and seems overcomplicated. I suggest a simpler option (in my opinion, better suited for a beginner):

**1. Create the Widget that accepts arguments as a Map**

[code]
**2. Define the Routes**

[code]

**3. Navigate to the widget**

[code]

[2020-08-12 21:33] #1905 closed

[2020-08-12 21:33] sfshaza2 commented on #4467
Fixed

[2020-08-12 21:33] #4467 closed

[2020-08-12 21:35] sfshaza2 commented on #4471
@johnpryan, can you weigh in? Or, since [Navigation 2.0](https://flutter.dev/docs/release/breaking-changes/route-navigator-refactoring) is coming, should we just wait?

[2020-08-13 05:36] TangHuaiZhe opened #4477 "The Install-Flutter page looks buggy."
[Install Flutter](https://flutter.dev/get-started/) looks no good.
Tried both in Chrome and Safari.

![image](https://user-images.githubusercontent.com/7965577/90097668-10b7b180-dd69-11ea-8944-273fe6448e3f.png)

[2020-08-13 12:44] stefandevo opened #4478 "'List of state management approaches' Add new one please"
Page URL: https://flutter.dev/docs/development/data-and-backend/state-mgmt/options.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/options.md

Could you please add GetX?
With more than 900 likes on https://pub.dev/packages/get I think it is worth adding.

Some links you can include:
https://github.com/jonataslaw/getx
https://github.

[2020-08-13 16:07] JuYeong0413 commented on #4477
Seems similar to #4301

[2020-08-13 16:41] sfshaza2 commented on #4478
@filiph, what about adding GetX to our state management docs?

[2020-08-13 16:45] sfshaza2 commented on #4477
Yes, it sure does, @JuYeong0413!  @TangHuaiZhe, can you give us more info, as we don't see that here. You mention Chrome and Safari, so you're on a Mac? What OS? What locale? If you could provide the output from `flutter doctor`, that would help.

[2020-08-13 16:47] sfshaza2 commented on #4301
I'm closing this as a duplicate of Issue https://github.com/flutter/website/issues/4477. However, it would really help us if you could provide the output of `flutter doctor` so we could try to diagnose this.

[2020-08-13 16:47] #4301 closed

[2020-08-13 17:07] filiph commented on #4478
Sure! @stefandevo, do you want to make a pull request for it? This is a simple change, so all that's needed is opening https://github.com/flutter/website/blob/master/src/docs/development/data-and-backend/state-mgmt/options.md and clicking Edit to propose the change.

[2020-08-14 03:46] tc14077 opened #4484 "'Background processes' page issue"
Page URL: https://flutter.dev/docs/development/packages-and-plugins/background-processes.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/packages-and-plugins/background-processes.md

Description of issue:
I am a flutter developer and I had followed Ben Kony's excellent guideline to create my application with background process under **flutter SDK version 1.9**

[2020-08-14 04:12] #1984 closed

[2020-08-14 04:15] sfshaza2 commented on #4484
@bkonyi, can you weigh in?

[2020-08-14 06:05] TangHuaiZhe commented on #4477
Hi,
Today I tried to open this page again. I only repeated the problem once, and then everything was ok.
I feel this question has something to do with the Internet (my location is in Shanghai, China).
I find that this problem occurrs when the Flutter icon in the top left corner of the page does not appear successfully.

![image](https://user-images.githubusercontent.com/7965577/90218664-f946fa00-d

[2020-08-14 06:45] sfshaza2 commented on #4477
@domesticmouse @theacodes @johnpryan: We've had a couple reports of folks that our website sometimes doesn't render correctly. This report is from a user in Shanghai, and I suspect that the other report (['Flutter SDK releases' page issue #4301](https://github.com/flutter/website/issues/4301)) is also from another locale, though the person who filed the issue hasn't confirmed that.

Is there anyth

[2020-08-14 07:41] domesticmouse commented on #4477
The missing Flutter logo makes me wonder if some part of the css is failing to load. Any errors showing up in the console logs?

[2020-08-14 08:42] TangHuaiZhe commented on #4477
@domesticmouse  I will submit the console log under this issue when I run into this problem again.

[2020-08-14 09:16] zxy888 opened #4485 "'Make authenticated requests' page issue"
Page URL: https://flutter.dev/docs/cookbook/networking/authenticated-requests.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/networking/authenticated-requests.md

    final http.Response response = await http.get(
      url,
      headers: <String,String>{
        HttpHeaders.authorizationHeader:"Bearer " + token,
       },
    );
    print('response=' + respons

[2020-08-14 16:29] bkonyi commented on #4484
Yeah, this article is out of date for the Android plugin portion. We should look into updating it or providing updated documentation. Let me know what you'd like to see done here @sfshaza2 and I'll put it on my list :-)

[2020-08-14 17:04] sfshaza2 commented on #4485
@domesticmouse, could you take a look?

[2020-08-14 17:08] sfshaza2 commented on #4484
@bkonyi, I'm ok if you want to update the article in-place and we can add a note saying it's been updating to the new Android plugin structure. But I'm also ok if you want to create new docs for the site.  ;)

[2020-08-14 19:07] filiph commented on #4478
Thanks @stefandevo!

[2020-08-14 19:07] #4478 closed

[2020-08-14 23:09] bkonyi commented on #4484
We should really do both... :-) I was kind of hoping that we'd have a more unified background execution offering with all the work Matt C. was putting in before he left, but I think we should offer some better documentation than just referring to my article (although I don't mind the klout I've been getting from it!).

I'll go ahead and update the article sometime in the next couple of weeks (I'm

[2020-08-15 04:42] Aman9026 opened #4487 "typos in code labs"
Writing your first flutter app part 1 and 2 links in **Good for beginners** are broken at https://github.com/flutter/website/blob/master/src/docs/codelabs/index.md

[2020-08-15 04:55] Aman9026 commented on #4487
Just found out multiple links are broken

[2020-08-15 04:55] #4487 closed

[2020-08-15 04:56] Aman9026 opened #4488 "typos in code labs"
There is a typo at https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#0
I want to fix it, but I'm unable to find the repo containing it.

[2020-08-15 08:04] tc14077 commented on #4484
Thank you for having attention to my issue! I am very looking forward to see the updates on the flutter website!

[2020-08-15 08:50] #4488 closed

[2020-08-15 20:34] believeInJha commented on #2959
Hello! I want to start my contribution to this repo. Can I take up this issue?

[2020-08-17 02:34] tc14077 commented on #4484
@bkonyi, I am also having difficulty with the message passing between the main isolate and "background" isolate(that created in the native side). I know it could be done by **ReceivePort** and **SendPort**  Class when we are creating the isolate in the dart platform. However, the way that you had introduced in the previous article seems can not be benefited from these classes. Could you please als

[2020-08-17 02:39] nicekiwi opened #4493 "'What's new archive' page issue"
Page URL: https://flutter.dev/docs/whats-new-archive.html
Page source: https://github.com/flutter/website/tree/master/src/docs/whats-new-archive.md

Description of issue:
the link to the "Flutter and Desktop apps" article links to the article above it, not an article about flutter and desktop apps.

[2020-08-17 04:06] kangwang1988 opened #4494 "'Load sequence, performance, and memory' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/performance.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/performance.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

It would be better if developers are given a detailed description

[2020-08-17 05:15] TangHuaiZhe commented on #4477
Update console log:
![image](https://user-images.githubusercontent.com/7965577/90359452-91d5b800-e08b-11ea-8304-63e4d0ae4c48.png)

[2020-08-17 05:31] TangHuaiZhe commented on #4477
In addition, it seems that `flutter.dev` can no longer be accessed from China.
Perhaps because the [Great_Firewall.](https://en.wikipedia.org/wiki/Great_Firewall)

![image](https://user-images.githubusercontent.com/7965577/90360191-97340200-e08d-11ea-9d49-7234517a6b23.png)

If I configure the VPN, then I can visit it normally.
![image](https://user-images.githubusercontent.com/7965577/90360260-db2

[2020-08-17 06:15] domesticmouse commented on #4477
Have you tried https://flutter.cn/ ?

[2020-08-17 06:35] TangHuaiZhe commented on #4477
@domesticmouse https://flutter.cn/ is accessible.

[2020-08-17 09:41] ycv005 opened #4495 "Add Kotlin Code for Incoming intent on 'Flutter for Android developers' page"
Flutter version- 1.20
Channel- Stable

I was looking to implement Incoming intent from external application. I found a article on Flutter dev- [Handle Incoming Intent from ext. apps](https://flutter.dev/docs/get-started/flutter-for/android-devs#how-do-i-handle-incoming-intents-from-external-applications-in-flutter).

I found that it said to add code in MainActivity, and when I tried to add code in

[2020-08-17 10:10] domesticmouse commented on #4485
I ran the following code in a new Dart project under Dart 2.9.1. This code is a lightly edited version of the complete example in the linked page:

[code]

[2020-08-17 19:08] sfshaza2 commented on #4484
Thanks for specifying the exact information you want to see, @tc14077! I'm sure you aren't alone in this.

[2020-08-17 20:12] sfshaza2 commented on #4493
Oops! Thx! Will fix. Do you find the "What's new" info useful? (I sometimes have my doubts.)

[2020-08-17 20:14] sfshaza2 commented on #4494
@xster, does this page need updating as of 1.20?

[2020-08-17 20:17] Darkoon opened #4497 "Outdated docs for Android Intent handling"
Hello!

I have simple communication case where android application is launching flutter application with intent containing some extra string data (using `putExtra()` method). Found [official docs](https://flutter.dev/docs/get-started/flutter-for/android-devs#how-do-i-handle-incoming-intents-from-external-applications-in-flutter) with guide how to handle such situations but unfortunetaly provided c

[2020-08-17 20:20] #1988 closed

[2020-08-17 20:21] #2002 closed

[2020-08-17 20:50] Cc8-ux opened #4498 "'Flutter documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-08-17 21:20] nicekiwi commented on #4493
@sfshaza2 I'm pretty new to flutter and I find it useful and encouraging to see news about it too. 😃

[2020-08-18 07:22] AAverin opened #4501 "DevTools memory usage needs better explanation"
https://docs.flutter.dev/tools/devtools/memory

My first question is if this page was updated to the latest DevTools release already
https://github.com/flutter/website/blob/master/src/docs/development/tools/devtools/memory.md

I couldn't find any explanation about how snapshots work, what is the difference between different "Group By" settings.
It is also unclear which objects is my class still re

[2020-08-18 14:44] #4493 closed

[2020-08-18 15:45] sfshaza2 commented on #4498
Nothing listed. Closing.

[2020-08-18 15:45] #4498 closed

[2020-08-18 21:17] westwoodra2 opened #4504 "Typo in codelab "Firebase for Flutter", step #5"
In a codelab "Firebase for Flutter", in a step 5 "Add user interface" there is a tiny error in a code snippet that contains description of UI for the app.

![image](https://user-images.githubusercontent.com/2959922/90564820-3cda9480-e1a6-11ea-9187-29f546a25741.png)

It should be a method call "snapshot.data()". The error is trivial, but still prevents the build and might confuse newcomers to Dart

[2020-08-19 08:32] sbaglivi opened #4505 "'Persist data with SQLite' page issue"
Page URL: https://flutter.dev/docs/cookbook/persistence/sqlite.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/sqlite.md

Description of issue:
In step 3 we create a database reference through `final Future<Database> database`, in the full code example this gets changed to `final database`. I had wrote the code step by step and it would not print out

[2020-08-20 01:17] lohanidamodar opened #4510 "One of the link in flutter.dev firebase docs is broken"
In the website (https://flutter.dev/docs/development/data-and-backend/firebase) The second link "Getting started with Firebase and Flutter" is http://firebase.flutter.dev/docs/flutter/setup, which is broken. The correct url seems to be https://firebase.flutter.dev/docs/overview for "Getting started with Firebase and Flutter"
![2020-08-20_06-53](https://user-images.githubusercontent.com/6360216/907

[2020-08-20 10:16] amitsingh4c56s opened #4511 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-08-20 16:23] sfshaza2 commented on #4511
No issue listed. Closing.

[2020-08-20 16:23] #4511 closed

[2020-08-20 19:39] #4510 closed

[2020-08-21 01:19] nicekiwi commented on #4493
@sfshaza2 the link to "Flutter Performance Updates in 2019" is also wrong <3

[2020-08-21 01:22] sfshaza2 commented on #4493
D'OH

[2020-08-21 14:48] satriahrh opened #4520 "'Building a web application with Flutter' page issue"
Page URL: https://flutter.dev/docs/get-started/web.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/web.md

Description of issue:

Hi, I am new to flutter. So I try to build a mini project.  It was great when I can test on iOS simulator, very neat.

Then I was curious that I can run on flutter app from web browser, and got to this page.

Asking user to `flutter

[2020-08-23 17:14] believeInJha commented on #4438
Hey @micpap25 Thank you for giving a great insight into the issue. Can I make a pull request for this issue, this will be my first contribution to the flutter website repository!

[2020-08-23 23:01] micpap25 commented on #2620
Looks like this was fixed with the second option, it can be closed.

[2020-08-24 23:21] believeInJha commented on #4438
hey @sfshaza2 I have made the changes, kindly take a look into it.

[2020-08-25 00:39] tc14077 commented on #4484
@sfshaza2, are there any progress on this issue?

[2020-08-25 04:47] sfshaza2 commented on #4484
No, @tc14077, and you are unlikely to see any update in the near term, as all of Google is eyeball deep in the perf season. Beyond that, I have no idea what other higher priority tasks are on @bkonyi's plate. Since this isn't a place to get support, but to report doc errors/deficiencies, maybe you can get help from one of the sources on our [community page](https://flutter.dev/community), such as

[2020-08-25 04:49] tc14077 commented on #4484
ok,thanks for your concern. =]

[2020-08-25 16:08] #2141 closed

[2020-08-25 16:42] #4438 closed

[2020-08-25 17:04] believeInJha commented on #4438
Thanking @micpap25  and @sfshaza2 for giving such a great insight into the issue.

[2020-08-25 17:26] vmudigal opened #4525 "'Tabbed AppBar' page issue"
Page URL: https://flutter.dev/docs/catalog/samples/tabbed-app-bar.html
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/tabbed-app-bar.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Android screenshot does not load.

[2020-08-26 06:44] hlemcke opened #4528 "'Adding assets and images' page issue"
Page URL: https://flutter.dev/docs/development/ui/assets-and-images.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/ui/assets-and-images.md

Description of issue:

The description is inconsistent. **Either**
"Note: Only files located directly in the directory are included. To add files located in subdirectories, create an entry per directory."
is true **or**
"

[2020-08-26 10:51] Aman9026 opened #4530 "update codelab"
There are several issues like #62282 in the flutter repo related to https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#5

I've cross checked all the contents in the repo containing that page, all the issues are already corrected.
Please trigger an update for that codelab page.

[2020-08-26 11:13] Aman9026 opened #4531 "Is "Building beautiful UIs with Flutter" open sourced?"
There are several issues related to https://codelabs.developers.google.com/codelabs/flutter/#4 which I want to fix.
I am unable to find the repo containing it. Is that page not open sourced?

[2020-08-26 11:21] JuYeong0413 commented on #4531
Yup. The source for the codelabs on codelabs.google.developer.com are not accessible to external people.

[2020-08-26 14:46] bkonyi commented on #4484
Yes, as @Sfshaza alluded to, we're all quite busy for the next couple of weeks so I likely won't have a chance to take a look at this for another month or so. However, if you're looking for an up-to-date example to work off of, you can take a look at the [android_alarm_manager](https://github.com/flutter/plugins/tree/master/packages/android_alarm_manager) code which has already been migrated to th

[2020-08-26 16:05] sfshaza2 commented on #4484
Thanks, @bkonyi! By the way, I use sfshaza2@, not Sfshaza@.  (It's a long and boring story.). :D

[2020-08-26 23:13] JesterOrNot opened #4532 "key value persistence cookbook doesn't work"
First off I would like to say you have done a fantastic job with the framework! I noticed when trying to translate this example that it doesn't work. Nothing is updated on-increment. First off what is the fix? And two this should be reflected in the example.

[2020-08-27 01:18] tc14077 commented on #4484
cool, thanks!!

[2020-08-27 03:31] micpap25 commented on #2662
Fixing this right now, although just want to note that at least for me with the newest version of Flutter (1.20.2) you have to add `--platforms android` to your first step to reproduce this.

[2020-08-27 13:02] aromalanil commented on #2477
I checked the page and couldn't find any occurrence of ``MacOS``, I suggest this issue can be closed.

[2020-08-27 13:47] aromalanil commented on #4505
I have created a pull request ( #4536 )  to fix this issue.

[2020-08-27 14:32] mohak852 commented on #4525
Can you describe the issue more precisely

[2020-08-27 14:38] johnpryan opened #4537 "Add symlink for code_excerpt_framer.rb"
https://github.com/dart-lang/site-shared/pull/121 has been merged into site-shared - code_excerpt_framer.rb should be replaced with the a symlink to the site-shared version.

[2020-08-27 15:09] vatsal-M commented on #4401
Our team @ISD14-LNMIIT wants to work on this issue. Please assign this to us!
@chalin

[2020-08-27 15:51] weitieda commented on #2477
Yes... it's a really old ticket...

l just closed it.

[2020-08-27 15:51] #2477 closed

[2020-08-27 15:58] zvikarp opened #4538 "link anchors to pub.dev broken"
Hi,

When pub.dev did the (awsome) makeover for their website, it seems like they have removed the tab anchors with sub-routes, so `https://pub.dev/packages/http#-installing-tab-` is now `https://pub.dev/packages/http/install`.

This leaves Flutters website with a few misleading links. For example, read the first paragraph at https://flutter.dev/docs/development/packages-and-plugins/using-packages

[2020-08-27 20:32] vmudigal commented on #4525
Obselete, the issue no longer holds true.

[2020-08-27 20:32] #4525 closed

[2020-08-28 02:42] sfshaza2 commented on #4538
@zvikarp, good catch! I had missed this when they updated the site.

[2020-08-28 02:45] #2662 closed

[2020-08-28 02:49] sfshaza2 commented on #4528
@johnpryan, can you weigh in?

[2020-08-28 03:01] sfshaza2 commented on #4530
Hi @Aman9026, I have tried (just now, multiple times) to retrigger publication, but it's not (apparently) working. I've sent email to the codelabs staff.

Meanwhile, please move all codelabs-related issues to this repo. I'll go ahead and move that one.  Thx

[2020-08-28 03:02] sfshaza2 commented on #4538
I did not know about this change or I would have fixed it.  :) Thanks for the PR!

[2020-08-28 03:03] sfshaza2 commented on #4532
Thanks, @JesterOrNot! I just built and ran the example and found issues, too.

@domesticmouse, FYI.

[2020-08-28 03:05] sfshaza2 commented on #4531
Yeah, sorry about that, @Aman9026. The codelabs are pretty much the only Flutter docs that non-Googlers can't access.

[2020-08-28 03:37] zvikarp commented on #4538
@sfshaza2 sure! This is my first contribution to an open source, and although it is just fixing some links - I'm happy I was able to help ✌️

[2020-08-28 08:45] TheBiirb commented on #4528
It is mentioned

I am not sure what the issue here is?

[2020-08-28 09:25] TheBiirb commented on #4485
The code looks fine to me. What do you think @domesticmouse ?

[2020-08-28 09:50] TheBiirb commented on #4331
Can we close this since everything is working @sfshaza2 ?

[2020-08-28 13:13] bilal-uslu opened #4543 "Recommendation for adding Redux Saga Middleware for Dart and Flutter to recommendation list of approaches"
Page URL: https://flutter.dev/docs/development/data-and-backend/state-mgmt/options.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/data-and-backend/state-mgmt/options.md

Description of issue:

I would like to make a Redux Saga Middleware recommendation to add this page. It is popular at javascript world, now it is dart and flutter compatible and ready to use.

[2020-08-28 13:33] shreyaskapale opened #4544 "Command update required in codelabs write-flutter-plugin tutorial"
_Current_
`flutter create --template=plugin --ios-language=objc --android-language=java PluginCodelab`

**Platform flag missing**
without the platform flag it won't generate the folder structure for android / ios.

_Should be converted into_

`flutter create --org com.example --template=plugin --platforms=android,ios -a java PluginCodelab`

[2020-08-28 17:33] #3584 closed

[2020-08-28 18:41] aromalanil commented on #4532
Hey, I just tried out running this example in a sample project and it is working fine for me. @sfshaza2 could you please share the issues from the build. I would really like to look into this.

[2020-08-28 18:57] aromalanil commented on #4528
I looked into this issue, and as @TheBiirb mentioned, it is clearly mentioned in the page why this happens.  I also don't see any issue in the docs.

[2020-08-28 19:37] aromalanil commented on #4520
I also think that flutter team should add a way to cache the SDK from the previous channel during a  channel switching. This will save the user time and internet data.

[2020-08-28 19:45] sfshaza2 commented on #4520
I think you have a very good point. Please file a request on the flutter/flutter repo, as SWEs don't generally read this one. (But first search the issues - it wouldn't surprise me if someone has already requested this. Then you can upvote and add your voice.)

[2020-08-28 19:57] aromalanil commented on #4520
@sfshaza2 Sure, I'll do that. As of now I have added a pull request which adds a warning about switching the channel. I request you to take a look into it #4547

[2020-08-28 20:17] aromalanil commented on #4520
@sfshaza2 I have created an [issue](https://github.com/flutter/flutter/issues/64822) in `flutter/flutter` as I couldn't find any similar issues.

[2020-08-28 22:20] micpap25 opened #4548 "Can someone delete this I opened it by accident"

[2020-08-28 22:22] micpap25 opened #4549 ""español" link in footer doesn't work."
Issue: The "español" link in the footer of the website does not go to a Spanish flutter website, but instead a domain purchasing site.

Should this link be removed? Or should some other action be taken?

[2020-08-28 22:28] #4548 closed

[2020-08-28 22:31] micpap25 commented on #2743
Looks like this has been resolved with a note under the instructions, this can be closed.

[2020-08-28 22:41] micpap25 commented on #2745
It seems that the process to install Flutter has changed significantly since this issue was created.
I think it can be closed on the merit that it no longer applies unless I'm mistaken.

[2020-08-29 01:42] krolaw opened #4551 "'Binding to native code using dart:ffi' page issue"
https://flutter.dev/docs/development/platform-integration/c-interop

Step two fails because ios and android directories do not exist.
It appears to be missing:
[code]
after step one and before step two.

[2020-08-29 07:47] bhugurasan opened #4552 "'Chrome OS install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/chromeos.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/chromeos.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-08-29 07:53] NicoPlyley commented on #4552
It doesn't seem like you provided what the issue is just a link to the page

[2020-08-29 08:36] domesticmouse commented on #4485
As far as I can tell, the cookbook code is working as intended.

[2020-08-29 14:53] aromalanil commented on #4552
@bhugurasan Could you please describe the issue you found so that I can give a try to fix it.

[2020-08-29 14:59] aromalanil commented on #4549
I can work on this, should I remove the link?
Here is the line with the issue [footer](https://github.com/flutter/website/blob/bcd1a9bcf8f27f5e03408d0bea75e4947a911d84/src/_includes/footer.html#L15)

[2020-08-29 15:04] aromalanil commented on #4549
@sfshaza2 I think this is an issue to be solved quickly, please take a look.

[2020-08-29 15:11] sfshaza2 commented on #4549
Yup, it looks like they let the domain go. Too bad.

[2020-08-29 15:14] sfshaza2 commented on #4543
Hi, @bilal-uslu! This sounds fine and PRs are welcome. Just make sure that the new text doesn't sound too "advertise-y".  @filiph

[2020-08-29 15:18] sfshaza2 commented on #4552
This happens a lot, @aromalanil @NicoPlyley. I assume they are playing with the submit button.  :) Closing

[2020-08-29 15:18] #4552 closed

[2020-08-29 15:20] sfshaza2 commented on #2745
Good catch, @micpap25! Closing.

[2020-08-29 15:20] #2745 closed

[2020-08-29 15:25] aromalanil commented on #4549
I'm working on it.

[2020-08-29 15:37] aromalanil commented on #4543
I would like to work on this.

[2020-08-29 16:09] aromalanil commented on #4551
I would like to work on it. Will the issue be solved if I add these commands to [Step 1](https://flutter.dev/docs/development/platform-integration/c-interop#step-1-create-a-plugin)

[2020-08-29 17:48] bilal-uslu commented on #4543
Hi @sfshaza2,

Thanks,

Hi @aromalanil,

Thank you for work,

Can you please add "by Bilal Uslu" at the end like the following

* [Redux Saga Middleware Dart and Flutter][], by Bilal Uslu

Thanks,

[2020-08-29 17:54] aromalanil commented on #4543
@bilal-uslu Sorry for that. I'll add it right away

[2020-08-30 09:08] hlemcke commented on #4528
You are absolutely correct. Nevertheless the note says: "Only files located directly in the directory are included". From my point of view I recommend to rephrase the note to something like: "Files with the same name are included from subdirectories. Files with other names must be included explicitly"

[2020-08-30 12:40] krolaw commented on #4551
Worked for me. I added them and was able to complete the tutorial.

[2020-08-30 19:40] bilal-uslu commented on #4543
Is there anything I should do about pr or else...?

[2020-08-31 05:36] domesticmouse commented on #4532
@sfshaza2 and @JesterOrNot can you please expand out with the issues you are seeing? I ran this up without any issues (once I'd added package `shared_preferences` to the `pubspec.yaml`).

[2020-08-31 13:54] JesterOrNot commented on #4532
The increment button does nothing. When you click it neither the state nor UI is updated

[2020-08-31 15:21] aromalanil commented on #4532
@JesterOrNot I have no idea why this happens. I made a new project, copy pasted there code and it worked fine. Is this a platform specific issue 🤔. I tested this on Android by the way.

[2020-08-31 16:07] JesterOrNot commented on #4532
Oh it's also worth noting I did this on Flutter Web.

[2020-08-31 16:07] JesterOrNot commented on #4532
But shared preferences should work on web too.

[2020-08-31 17:15] #2725 closed

[2020-08-31 17:16] #4549 closed

[2020-08-31 17:39] #2759 closed

[2020-08-31 18:05] Arkangel12 commented on #4549
link for Flutter documentation in Spanish was change and now is up and running `https://esflutter.dev/` if you could put this back Flutter Spanish Community will appreciate it.

Thanks!

[2020-08-31 18:15] aromalanil commented on #4549
@sfshaza2 I can add the link back, but is there any procedures before that? Should a new issue be added (Since this issue is closed).

I am new to opensource, so I am not clear about this.

[2020-08-31 18:17] sfshaza2 commented on #4549
Yay! Either way is fine, @aromalanil, but the full process would be to create a new issue.  :)

[2020-08-31 18:17] Arkangel12 commented on #4549
you are right it was already closed, i create a new one

[2020-08-31 18:22] Arkangel12 opened #4558 "Add Flutter Spanish documentation link"
We change website domain to be more near to the official one.

That's why it was down we were working in put everything together, we will really appreciate it you can put the link back but this time it should be `https://esflutter.dev/`

This is related to #4549 issue about Spanish documentation was down.

[2020-08-31 18:22] aromalanil commented on #4558
Working on it 😊

[2020-08-31 18:26] #4505 closed

[2020-08-31 18:35] #4543 closed

[2020-08-31 18:35] bilal-uslu commented on #4543
Thanks everybody

[2020-08-31 18:37] johnpryan commented on #4528
You could also rephrase the note to be: "Only files located directly in the directory are included _unless there are files with the same name in subdirectories (see the Asset Variants section below)._ To add files located in subdirectories, create an entry per directory."

[2020-08-31 19:08] #4558 closed

[2020-08-31 19:16] #4538 closed

[2020-08-31 22:30] kwalrath opened #4560 "Add `flutter` tool reference"
Related: https://github.com/dart-lang/site-www/pull/2603

[2020-09-01 02:09] aromalanil commented on #4528
I have made a PR fixing this issue.

[2020-09-01 02:10] #3559 closed

[2020-09-01 06:05] domesticmouse commented on #4532
This sample works for me on iOS 13.6 (simulator), macOS 10.15.6 (19G2021) and Chrome 85.0.4183.83. I'm having issues replicating...

[2020-09-01 19:22] silas96 opened #4563 "Firebase for Flutter Codelab with outdated Tutorials"
I'm having trouble with the Firebase codelab tutorial because there are some outdated tutorials there. The 'Create your Cloud Firestore database' it's been the most problematic one for me now. The site now is quite different from the tutorial's instructions and images.

[2020-09-01 20:07] roshanrahman opened #4564 "'Use a custom font' page issue - Webpage displays broken links"
Page URL: https://flutter.dev/docs/cookbook/design/fonts.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/design/fonts.md

Description of issue:

Webpage displays broken links (see image below)
![custom-fonts-issue](https://user-images.githubusercontent.com/24898148/91900778-d16fe700-ecbc-11ea-9c81-241011f7a5fc.png)

Instead of an interactive link, the page has em

[2020-09-01 21:30] liyuqian opened #4565 "Flutter performance profiling page suggestions"
1. `[Flutter inspector talk][], presented at DartConf 2018` seems to have a broken link
2. It would be nice to add a section about "How to export a timeline trace file" so we can reference it in Github performance issues.

The 2nd item should now be easy thanks to DevTools. CC @kenzieschmoll

[2020-09-01 21:30] liyuqian commented on #4565
CC @Sfshaza

[2020-09-02 04:38] aromalanil commented on #4564
Every link in this page is broken. Also, the link references are visible at the bottom of the page, I am looking for a solution.

[2020-09-02 15:50] micpap25 commented on #2839
Looks like this was fixed at some point, the issue doesn't occur for me. I think this can be closed.

![image](https://user-images.githubusercontent.com/34077605/92006204-6ea93a80-ed12-11ea-8f63-807f60b7086c.png)

[2020-09-02 15:51] micpap25 commented on #2871
If this issue is already resolved then I think this can be closed.

[2020-09-02 15:53] micpap25 commented on #2887
It looks like this has been fixed, this can be closed.

[2020-09-02 15:57] micpap25 commented on #2899
It doesn't look like this page exists anymore. I think this can be closed on that merit.
The "What is Flutter?" section in the FAQ doesn't have an image at all, by the way.

[2020-09-02 15:58] micpap25 commented on #2906
Seems like this has been fixed, I think this can be closed.

[2020-09-02 19:23] feinstein commented on #2887
Agreed.

[2020-09-02 19:23] #2887 closed

[2020-09-02 21:29] sfshaza2 commented on #4331
Great!

[2020-09-02 21:29] #4331 closed

[2020-09-02 22:52] #2912 closed

[2020-09-02 22:54] #4564 closed

[2020-09-02 22:55] #4528 closed

[2020-09-02 23:14] sfshaza2 commented on #4565
Thanks for fixing issue #1, @aromalanil! Reopening because this doesn't address issue #2.

[2020-09-03 02:11] JuYeong0413 commented on #4544
Seems like this issue is about codelabs: https://codelabs.developers.google.com/codelabs/write-flutter-plugin/#2

[2020-09-03 02:11] domesticmouse commented on #4532
@JesterOrNot quick question, which version of Flutter are you using?

[2020-09-03 12:41] DamienKusters opened #4571 "Selected document isn't reflected correctly on navbar."
Page URL: https://flutter.dev/docs/perf/app-size.html
Page source: https://github.com/flutter/website/tree/master/src/docs/perf/app-size.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
The section: "Performance & optimization" in the navbar on the left, doesn't reflect the currently open page

[2020-09-03 13:07] JuYeong0413 commented on #4571
Also for `Rendering performance` section, `Overview` stays highlighted.

[2020-09-04 03:14] ZhangLiuCheng opened #4573 "Text refresh many times，cannot set too small font, too small font will be enlarged, resulting in incomplete display。There is no such problem on 1.20。"
`[✓] Flutter (Channel beta, 1.21.0-9.2.pre, on Mac OS X 10.15.6 19G2021, locale zh-Hans)
    • Flutter version 1.21.0-9.2.pre at /Users/zhangliucheng/Documents/software/flutter
    • Framework revision 81a45ec2e5 (7 days ago), 2020-08-27 14:14:33 -0700
    • Engine revision 20a9531835
    • Dart version 2.10.0 (build 2.10.0-7.3.beta)
    • Pub download mirror https://pub.flutter-io.cn
    • Flutte

[2020-09-04 04:03] RishabGuggali opened #4574 "How to send data to AWS API from flutter app?"
I need to send the name of the person to AWS API from my flutter app. I have my AWS API working but I'm not able to connect the API to my Flutter APP. Please help me to get this solved.

[2020-09-04 15:48] aromalanil commented on #4571
I found that these [lines](https://github.com/flutter/website/blob/920cb76f1f24ddcf8e7f0b3c13666f9823557d02/src/_data/sidenav.yml#L281-L284) are commented in sidenav.yml. Is this what causing this issue. Why is there code commented in production?

[2020-09-04 16:10] aromalanil commented on #4571
This issue was caused because of the overview page getting matched with all pages including `docs/perf/app-size`, `docs/perf/rendering/best-practices` etc. The overview page was only supposed to match with the exam page URL: `docs/perf/`.

[2020-09-06 03:11] chernhaw opened #4579 "Flutter Firebase Codelab @7. Platform-specific Firebase configuration error"
Hi,

I not sure if I have missed out something when I tried out the https://codelabs.developers.google.com/codelabs/flutter-firebase/index.html?index=..%2F..index#6

I got stuck here at step 12 with  issue,  I cannot find buildscript tag in my build.gradle file.

below is my build.gradle file:

 def localProperties = new Properties()
 def localPropertiesFile = rootProject.file('local.properties')

[2020-09-06 04:28] moweiran opened #4580 "'Store key-value data on disk' page issue"
Page URL: https://flutter.dev/docs/cookbook/persistence/key-value.html
Page source: https://github.com/flutter/website/tree/master/src/docs/cookbook/persistence/key-value.md

Description of issue:

// Copyright 2017 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

// ignore_for_file: public_member_ap

[2020-09-06 06:43] aromalanil commented on #4580
@moweiran Could you please mention what the issue is? Is it something related to #4532 ?

[2020-09-06 06:49] aromalanil commented on #4579
@chernhaw The path to the `build.gradle` you are looking for is `android/build.gradle`. What you have posted here is `build.gradle` from `android/app/build.gradle`.

[2020-09-06 16:50] Nikhil-Wagh opened #4583 "'AppBar Basics' page issue"
Page URL: https://flutter.dev/docs/catalog/samples/basic-app-bar.html
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/basic-app-bar.md

Description of issue:
The image won't load. When opened in another tab, the page says the bucket doesn't exist.

This is the URL https://storage.googleapis.com/flutter-catalog/cb4a54db8fb3726bf4293b9cc5cb12ce16883803/basic_app_

[2020-09-06 17:01] aromalanil commented on #4583
When I visit the page I got a popup saying `This page is deprecated and its content may be out of date.`
Maybe that's why the image is not present.
![image](https://user-images.githubusercontent.com/49222186/92330966-968cfb00-f090-11ea-9efa-974b760ac539.png)

[2020-09-07 05:59] ZhangLiuCheng opened #4584 "How do I remove the # sign from the URL?"
such as https://zx.xbbvip.com/#/ , I need https://zx.xbbvip.com, Thank you!!!

[2020-09-07 06:44] aromalanil commented on #4584
@ZhangLiuCheng Can you make it more specific?

[2020-09-07 06:47] ZhangLiuCheng commented on #4584
https://github.com/flutter/flutter/issues/33245 &nbsp;

I found the same problem。Thank you！！！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "flutter/website"                                                                                    <notifications@github.com&g

[2020-09-07 08:28] pavi2410 opened #4586 "'Windows install' page issue - Use where command instead of which"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Description of issue:
Under the ["Update your path"](https://flutter.dev/docs/get-started/install/windows#update-your-path) header, there is a note which tells us to run this command `which flutter dart` which is not available on W

[2020-09-07 18:19] micpap25 commented on #2974
Looks like this has been done. I think this can be closed.
![image](https://user-images.githubusercontent.com/34077605/92411267-24aac500-f115-11ea-9ce3-fa7a2a3137af.png)

[2020-09-07 18:44] micpap25 commented on #3019
Looks like this has been resolved, this can be closed.

[2020-09-07 20:34] shreyaskapale commented on #4544
yes

[2020-09-08 07:08] Majiedo commented on #4584
try this out
`onGenerateRoute: (settings) {
    List segments = settings.name.split('/').where((x) => ! x.isEmpty).toList();
    String page = segments.length > 0 ? segments[0] : '';
    ...
  }
}`
@ZhangLiuCheng

[2020-09-08 15:50] #4571 closed

[2020-09-08 16:22] kwalrath commented on #2974
Yes, you're right. I think I might've fixed this a long time ago!

[2020-09-08 16:28] kwalrath commented on #2974
Oops, no, the problem is still there.

![image](https://user-images.githubusercontent.com/2164483/92503100-99cdd700-f1b5-11ea-98d6-5e87ad7b9783.png)

[2020-09-08 16:55] karthickramanathan95 opened #4589 "Flutter site broken"
See image

![image](https://user-images.githubusercontent.com/30870272/92505825-22825c80-f222-11ea-9d8c-64e57a40c485.png)

[2020-09-08 17:00] micpap25 commented on #2974
hmm, that's strange.
I'm using Windows 10, Google Chrome, newest version:
Version 85.0.4183.102 (Official Build) (64-bit)
Hopefully, that helps.

[2020-09-08 20:31] JuYeong0413 commented on #4589
Similar issue of https://github.com/flutter/website/issues/4477
Could you please provide more information like browser/os version/locale/output from `flutter doctor`?
It would be helpful for the flutter team to solve this issue. :)

[2020-09-08 21:04] TheBiirb commented on #4586
It is pretty clear in the documentation:

[2020-09-08 22:51] kwalrath commented on #2974
Strange! I tried the same page as you showed (https://flutter.dev/docs/development/accessibility-and-localization/internationalization) at various window widths (just in case), and I still see the left sidenav.

I'm using MacOS and tried Chrome Canary and 2 versions of Chrome stable:
Version 87.0.4258.2 (Official Build) canary (x86_64)
Version 85.0.4183.83 (Official Build) (64-bit)
Version 85.0.41

[2020-09-09 01:08] #2988 closed

[2020-09-09 06:19] Scienticious opened #4591 "'ExpansionTile' page issue"
Page URL: https://flutter.dev/docs/catalog/samples/expansion-tile-sample.html
Page source: https://github.com/flutter/website/tree/master/src/docs/catalog/samples/expansion-tile-sample.md

Screenshot not showing of Expansion Tile

Description of issue:
Expansion tile screenshot, image is not showing

[2020-09-09 08:37] JuYeong0413 commented on #4591
That page is deprecated, that's probably why the image is not showing.
<img width="563" alt="Screen Shot 2020-09-09 at 5 36 25 PM" src="https://user-images.githubusercontent.com/33684401/92575268-15697a00-f2c3-11ea-827d-a0aa02907b2f.png">

[2020-09-09 14:10] micpap25 commented on #3095
I can work on this. Is there any specific image you want me to use for either of these? And are there any other instructions for how to format this?
Are these fine?
![image](https://user-images.githubusercontent.com/34077605/92609555-b2f18900-f284-11ea-972e-93fc63917c0b.png)
![image](https://user-images.githubusercontent.com/34077605/92609515-a79e5d80-f284-11ea-8af4-f9986e11a92a.png)

[2020-09-09 20:08] mousto1997 opened #4593 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-10 06:02] #2917 closed

[2020-09-10 06:59] sfshaza2 commented on #4573
I *think* (though I am not 100% sure) that this is referencing a problem on the flutter/flutter repo. I'm moving this issue there. If it *does* refer to the docs on flutter.dev, I need more explanation.

[2020-09-10 07:02] sfshaza2 commented on #4589
Yes, we have had others report this problem, who are also from remote locales. I'm going to add this info to the other issue but, as of yet, we don't know what's going on. Having more info about your environment, locale, etc, would help.

[2020-09-10 07:03] sfshaza2 commented on #4477
Yet another report:  https://github.com/flutter/website/issues/4589

[2020-09-10 07:03] #4589 closed

[2020-09-10 07:11] sfshaza2 commented on #4584
Thanks, @ZhangLiuCheng and @Majiedo for investigating this! Since this appears to be a (rather annoying) s/w issue, and not a website/docs issue, I'm moving this to that repo.

[2020-09-10 07:14] sfshaza2 commented on #4579
Thanks, @chernhaw! I take it we can close this issue?

[2020-09-10 07:21] sfshaza2 commented on #4563
@silas96, do you mean [this codelab](https://codelabs.developers.google.com/codelabs/firestore-web/#0)?

If so, this is the wrong place to file an issue, as we maintain the Flutter docs and Flutter codelabs. On the lower-left corner of the codelab pages, there is a "report a mistake" link. Follow that link to report a problem.

CC: @kroikie

[2020-09-10 07:21] sfshaza2 commented on #4593
Nothing listed. Closing.

[2020-09-10 07:21] #4593 closed

[2020-09-10 07:22] sfshaza2 commented on #4586
Thanks for that info, @pavi2410! PRs welcome, by the way.  :D

[2020-09-10 07:24] sfshaza2 commented on #4583
Hmmm. This is not the first page that has been affected.

[2020-09-10 07:28] sfshaza2 commented on #4574
Hi @RishabGuggali! This is a question about Amazon Web Services, I see. Unfortunately, we can't offer tech support on the issues page for the flutter.dev website. I have no idea how to do this.

Your best bet for getting questions answered is through one of Flutter's [community](https://flutter.dev/community) resources, like Discord, Slack, Stack Overflow, etc. I'm sorry I can't be more help. Good

[2020-09-10 07:28] #4574 closed

[2020-09-10 07:35] sfshaza2 commented on #4580
Thanks for asking for clarification, @aromalanil!

Yes, @moweiran, this repo is where you can report problems with the flutter.dev docs or with the Flutter codelabs. Are you asking for support? Reporting a problem? Dealing with a Flutter SDK issue?

If you are asking for support, this is the wrong place. Please refer to the [Flutter community](https://flutter.dev/community) page for where you can

[2020-09-10 10:27] anujshah14 opened #4598 "'Windows install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/windows.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/windows.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-10 10:46] chernhaw commented on #4579
Yes, please close this issue.
Thanks.

Regards,
Chern Haw

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Shams Zakhour (ignore Sfshaza) <notifications@github.com>
Sent: Thursday, September 10, 2020 3:14 PM
To: flutter/website <website@noreply.github.com>
Cc: chernhaw <chernhaw@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [flutter/website] Fl

[2020-09-10 17:17] JesterOrNot commented on #4532
Flutter 1.20.0 • channel beta • https://github.com/flutter/flutter.git

[2020-09-10 18:57] #4579 closed

[2020-09-10 20:17] sfshaza2 commented on #4598
Nothing listed. Closing.

[2020-09-10 20:17] #4598 closed

[2020-09-10 21:25] #4591 closed

[2020-09-10 21:25] #4583 closed

[2020-09-10 22:35] domesticmouse commented on #4532
Actually, can you cut'n'paste the output of `flutter doctor -v`?

[2020-09-10 22:40] domesticmouse commented on #4532
Btw, you shouldn't be on 1.20.0, current Flutter beta is 1.21.0-9.2.pre

[2020-09-10 23:51] jenniferbason opened #4602 "'Tutorials' page issue"
Page URL: https://flutter.dev/docs/reference/tutorials.html
Page source: https://github.com/flutter/website/tree/master/src/docs/reference/tutorials.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-11 02:04] sfshaza2 commented on #4602
Nothing listed. Closing.

[2020-09-11 02:04] #4602 closed

[2020-09-11 02:55] micpap25 commented on #4586
Just going to add that the section @pavi2410 is referring to is part of a file in _includes that is shared between the Install page for Windows, Mac, and Linux.
I also agree that it is pretty clear unless we were to make a completely separate version of this section for Windows. Is that a good idea? If so I think the title of this issue should be changed to reflect that, and also the time to resol

[2020-09-11 02:59] micpap25 commented on #3126
This page no longer exists, and regardless I think the page this now refers to,
https://flutter.dev/docs/resources/architectural-overview#:~:text=Flutter%20is%20a%20cross%2Dplatform,directly%20with%20underlying%20platform%20services. ,
has had this problem fixed. as it doesn't look like "Render surface step" doesn't show up more than once in any image on the page.
I think this can be closed.

[2020-09-11 03:30] singhabhijeet13 commented on #3592
i am facing http issue with Andriod R, code is working fine in simulated Andriod R device but i am getting http timeout in Andriod device. i have already added the permission android.permission.INTERNET.

[2020-09-11 07:36] #3145 closed

[2020-09-11 07:38] sfshaza2 commented on #4580
@moweiran, I'm closing this. Please re-open and clarify if it does apply to the docs on flutter.dev. Thx!

[2020-09-11 07:38] #4580 closed

[2020-09-11 07:39] sfshaza2 commented on #4563
@silas96, I am assuming that this meant to file an issue with the Firebase codelab (not Flutter). I'm closing this. If I'm wrong, please reopen and clarify. Thx!

[2020-09-11 07:39] #4563 closed

[2020-09-11 07:40] sfshaza2 commented on #2435
Closing.

[2020-09-11 07:40] #2435 closed

[2020-09-11 07:46] sfshaza2 commented on #2124
Closing.

[2020-09-11 07:46] #2124 closed

[2020-09-11 07:48] sfshaza2 commented on #3321
Closing.

[2020-09-11 07:48] #3321 closed

[2020-09-11 07:51] sfshaza2 commented on #4415
Closing.

[2020-09-11 07:51] #4415 closed

[2020-09-11 07:51] sfshaza2 commented on #4485
Closing.

[2020-09-11 07:51] #4485 closed

[2020-09-11 12:19] karthickramanathan95 commented on #4589
Browser: Version 87.0.4259.3 (Official Build) dev (64-bit)
OS: Windows 10 Enterprise v1903
Locale: English

Flutter not installed

[2020-09-11 13:02] aromalanil commented on #4520
@sfshaza2 This issue is solved, so I think this can be closed.

[2020-09-11 23:47] RedBrogdon commented on #4477
Judging by the upside down names, this looks like an issue with the Material icons. Either that font isn't getting loaded correctly or something else is causing it to fail to render properly. @karthickramanathan95 and @TangHuaiZhe, do you mind checking the network inspector in your browser and doing a full reload of the page to see if any files have failed to load (404, 500, timeout, etc.)?

[2020-09-11 23:48] RedBrogdon commented on #4477
🤦

Actually, I can see the font failing to load in the screenshot @TangHuaiZhe provided above (thanks for posting it!). That's got to be the root cause, although I have no idea why it wouldn't be loading.

[2020-09-12 03:46] micpap25 commented on #3195
Is it really necessary to include this info in the test drive page? I feel like that goes a bit too in-depth for the "Get Started" section.
Maybe it could just tell people to run `flutter help create` for more info?

[2020-09-13 15:09] ARJUNGOWDAL opened #4606 "'Free Flutter course from the App Brewery' page issue"
Page URL: https://flutter.dev/freecourse.html
Page source: https://github.com/flutter/website/tree/master/src/freecourse.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-13 18:03] micpap25 commented on #3320
@sfshaza2 what category would this fall into? Alerts, information displays, etc...

[2020-09-13 18:08] micpap25 commented on #3486
Personally on Windows 10 Google Chrome I no longer seem to have this issue, I think it can be closed.

[2020-09-13 18:12] micpap25 commented on #3458
Personally I don't experience this issue, Windows 10 Google Chrome.
I think this can be closed unless someone else is having this problem.

[2020-09-14 14:10] karthickramanathan95 commented on #4477
The page is loading correctly now and I don't see any files failed to load. All files are 200 only. I don't know what fixes the issue

[2020-09-14 15:56] PixelToast opened #4608 "'Obfuscating Dart code' page issue"
Page URL: https://flutter.dev/docs/deployment/obfuscate.html
Page source: https://github.com/flutter/website/tree/master/src/docs/deployment/obfuscate.md

## Description

This page uses absolute paths for split-debug-info and symbolize samples:

`flutter build apk --obfuscate --split-debug-info=/<project-name>/<directory>`
`flutter symbolize -i <stack trace file> -d /out/android/app.android-arm64.

[2020-09-14 17:07] sfshaza2 commented on #4606
@ARJUNGOWDAL, this course is no longer available, as it says on that page and on the app Brewery page. I can remove the "Register" button, however. Is this why you filed this issue?

[2020-09-14 19:13] sfshaza2 commented on #3458
Thanks, @micpap25! I will close, but reopen if this pops up again.

[2020-09-14 19:13] #3458 closed

[2020-09-14 19:24] sfshaza2 commented on #4608
This is a good point. @jonahwilliams, is there any reason that we can't make this command more general, and just specify `<directory>` instead of `/out...`? And the same for `flutter symbolize`?

(I noticed, @amanv8060, that your PR only addresses the `flutter build apk...` command, but it applies equally to the `flutter symbolize` command.)

[2020-09-14 19:26] jonahwilliams commented on #4608
The `valueHelp` field is supposed to look like real data, i.e. if it accepted numbers valueHelp might be `2`. So if we specified `<directory>` in the value help it might not be obvious what it should be

[2020-09-14 21:11] sfshaza2 commented on #4608
@jonahwilliams, at the very least, we could remove the leading `/`, right? As that assumes the root directory which won't be true for most.

[2020-09-14 21:17] jonahwilliams commented on #4608
yes, we definitely should

[2020-09-14 21:20] amanv8060 commented on #4608
Wouldn't that just create the entire path of folders inside the app , which
in some cases would be unnecessary , foe eg split debug info

On Tue, 15 Sep, 2020, 2:47 am Jonah Williams, <notifications@github.com>
wrote:

[2020-09-15 17:49] Luckey-Elijah opened #4613 "'Codelabs' page issue: Sidebar renders shortcuts and other text"
Page URL: https://flutter.dev/docs/codelabs/
Page source: https://github.com/flutter/website/tree/master/src/docs/codelabs/index.md

Description of issue: I'm on safari and I'm browsing the code labs then notice the sidebar:

<img width="1472" alt="Flutter-Codelab-display" src="https://user-images.githubusercontent.com/38171761/93246089-3cf49280-f75a-11ea-802d-4a86572dd523.png">

[2020-09-16 00:13] liyuqian commented on #4565
@Sfshaza : I just realized that https://flutter.dev/docs/development/tools/devtools/timeline covers the timeline import/export. Maybe some cross references would be sufficient? It may also be nice to cross reference some other performance tools provided by DevTools such as memory and app size.

[2020-09-16 01:02] liyuqian opened #4617 "Create a memory tools page to cover Xcode, adb, and others besides DevTools"
As DevTools memory page won't be able to solve all problems and developers sometimes have to fall back to Xcode, adb, or other tools, it'd be nice to have a page to cover all memory tools and use cases.

The internal doc "[Adventures in Flutter Memory Debugging][1]" might be a good reference.

See also https://github.com/flutter/flutter/issues/55934#issuecomment-624348525

[1]: https://docs.google

[2020-09-16 01:02] liyuqian commented on #4617
CC @Sfshaza @filiph @dnfield

[2020-09-16 02:25] shi2rs opened #4618 "Small Fix in Sample Code for Baby Names example"
The named constructor in Record class .fromSnapshot should refer to snapshot.data() function call to return a map
 Record.fromSnapshot(DocumentSnapshot snapshot)
     : this.fromMap(**snapshot.data**, reference: snapshot.reference);

[Tutorial location](https://codelabs.developers.google.com/codelabs/flutter-firebase/index.html)

[2020-09-16 09:11] JuYeong0413 commented on #4613
duplicate of #4477
Could you please provide information about your platform, OS version, `flutter doctor` output? It would be helpful for the team to solve this issue.

[2020-09-16 16:17] Luckey-Elijah commented on #4613
Flutter Doctor:
[code]

[2020-09-16 18:26] #3596 closed

[2020-09-16 18:27] #3575 closed

[2020-09-16 18:29] sfshaza2 commented on #4617
Nice idea!

[2020-09-16 18:33] sfshaza2 commented on #4613
Thanks for that info, @Luckey-Elijah! We have been getting reports of this issue, as you can see on issue https://github.com/flutter/website/issues/4477. We believe that the fonts aren't being loaded correctly, but we don't know why. It seems to only be an issue in certain locales.

I'm closing this issue. Please continue any further discussion on the main bug page.

[2020-09-16 18:33] #4613 closed

[2020-09-16 23:40] neyzo6226 opened #4623 "'Install' page issue"
Page URL: https://flutter.dev/docs/get-started/install/
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-17 13:21] kishanhitk opened #4625 "Typo in Flutter Testing Codelab"
There is a typo in the [4th step](https://codelabs.developers.google.com/codelabs/flutter-app-testing/#3) of this Codelab.
In the 3rd section named "**_Add the Favorites page in lib/screens/favorites.dart_**", the tutorial says to create a new file named **home.dart**, but it should be **favorites.dart**.

@abd99
@domesticmouse

[2020-09-17 16:46] abd99 commented on #4625
Thanks for filing an issue @kishanhitk!

@domesticmouse, I've made the changes in the Google Doc. Please take a look.

[2020-09-17 16:54] micpap25 commented on #3604
It looks like @sfshaza2 fixed this on April 14th, I think this can be closed now.

[2020-09-17 17:01] micpap25 commented on #3747
@sfshaza2 , what's your take on this? I'm pretty sure there isn't an issue here but if you think something needs to be changed just let me know.

Re-defining "unit test" and "widget test" would require complete reworks of multiple pages on the site, and I'm not really sure what evidence there is to support that the current definitions are "incorrect".

[2020-09-17 17:04] micpap25 commented on #3758
At the end of the file, there's a large finished version of the cookbook. That should resolve any of the issues that you are having. I think this can be closed.

[2020-09-17 19:00] sfshaza2 commented on #3747
@domesticmouse, please weigh in

[2020-09-17 19:00] sfshaza2 commented on #3604
Thx!

[2020-09-17 19:00] #3604 closed

[2020-09-17 22:34] domesticmouse commented on #3747
Starting with the following statement:

Let's pull out the infamous reference that is [Wikipedia](https://en.wikipedia.org/wiki/Unit_testing), we get the following:

  [2]: https://books.google.com/books?id=2ksvdhhnWQsC&printsec=frontcover
  [3]: http://people.engr.ncsu.edu/txie/publications/ast07-diffut.pdf

My experience with Unit testing (mainly Java with JUnit) has been mainly of the testing o

[2020-09-17 23:14] domesticmouse commented on #4625
Codelab re-published =)

[2020-09-18 01:31] #4625 closed

[2020-09-18 03:35] amitsingh4c56s opened #4630 "Create"
Page URL: https://chitpotshortvideo/docs/get-started/install/
Page source: https://chitpotshortvideo.com/video/website/business/master/src/docs/get-started/install/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-19 00:45] micpap25 commented on #3784
Fixed, looks like this should be closed

[2020-09-19 00:45] micpap25 commented on #3800
Looks like this is fixed, can be closed.

[2020-09-19 00:55] #3784 closed

[2020-09-19 03:34] SukumarMennan opened #4632 "'Load sequence, performance, and memory' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/performance.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/performance.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
The Dart Isolate page url 'https://api.dart.dev/stable/dart-isolate

[2020-09-19 19:18] miDeb opened #4633 "Unclear/incorrect wording in 'Using the Performance view', profile-granularity"
Page URL: https://flutter.dev/docs/development/tools/devtools/performance#profile-granularity
Page source: https://github.com/flutter/website/tree/master/src/docs/development/tools/devtools/performance.md

Description of issue:

I think this should be the opposite way around (low is a sample every 1000 μs, high is one every 50 µs) and could be clearer (like saying _every_ x μs).

[2020-09-19 19:29] miDeb opened #4634 "Mention Timeline utilities in https://flutter.dev/docs/perf"
I was looking for https://api.dart.dev/stable/2.9.3/dart-developer/Timeline-class.html, but couldn't remember how it was called (I was looking up "profiler markers"). It looks like they're nowhere mentioned in https://flutter.dev/docs/perf, only in https://flutter.dev/docs/testing/code-debugging#tracing-dart-code-performance, which I didn't look at initially. It really took me some time to find th

[2020-09-20 05:29] aromalanil commented on #4633
Now I am having the same doubt. Should'nt this be the other way around 🤔?

[2020-09-21 21:49] #4632 closed

[2020-09-22 03:55] micpap25 commented on #3775
Using the latest version of Google Chrome and Windows 10 and it works for me.
Version 85.0.4183.121 (Official Build) (64-bit) to be specific. @trantrongthanhtam , do you still have this issue?
![image](https://user-images.githubusercontent.com/34077605/93842568-608d7080-fc65-11ea-9efa-99e7e6b6a21b.png)

[2020-09-22 03:58] micpap25 commented on #3842
@sfshaza2 , what's your take on this? I feel the answer to the issue is to delete the section but is that necessary?
I'll put together a PR for this and you can close it if you feel this isn't needed.

[2020-09-22 04:03] micpap25 commented on #3851
@myasincifci If this is still an issue for you, can you be more specific?

[2020-09-22 04:16] micpap25 commented on #3871
I think this can be closed if it's a deprecation issue.

[2020-09-22 04:17] micpap25 commented on #4537
If a PR has been merged for this I think it can be closed.

[2020-09-22 04:21] micpap25 commented on #4542
The issue is still there for me, once on 5) and once on 6).
I think it would be helpful to mark this with `codelab-external` as well.

[2020-09-22 04:29] micpap25 commented on #3948
Could I get a second opinion on this from someone? Is this something that should be included in the Flutter docs?

[2020-09-22 05:55] #3775 closed

[2020-09-22 05:56] trantrongthanhtam commented on #3775
Latest version of Chrome works fine now. Thank you for your responses!

[2020-09-22 12:11] hamzaehsansatti commented on #3592
@singhabhijeet13  first of connect your mobile to your computer then after that  open xampp/or other and connect to server after that open project in studio and run the project. It will work it work for me

[2020-09-22 17:14] johnpryan commented on #4537
@micpap25 good catch, thanks!

[2020-09-22 17:14] #4537 closed

[2020-09-22 21:54] #3865 closed

[2020-09-22 21:57] #4373 closed

[2020-09-22 22:00] #3831 closed

[2020-09-22 22:12] sfshaza2 commented on #4623
Nothing listed. Closing

[2020-09-22 22:12] #4623 closed

[2020-09-22 22:12] sfshaza2 commented on #4630
Nothing listed. Closing.

[2020-09-22 22:12] #4630 closed

[2020-09-22 22:13] sfshaza2 commented on #4633
@filiph ?  @liyuqian ?  Can one of you verify?

[2020-09-22 22:14] sfshaza2 commented on #4634
Great idea!

[2020-09-22 22:16] sfshaza2 commented on #4606
I have removed the register button and @ARJUNGOWDAL is not responding. Closing.

[2020-09-22 22:16] #4606 closed

[2020-09-23 09:55] atanascu opened #4645 "'Adding a Flutter screen to an Android app' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/android/add-flutter-screen.html
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/android/add-flutter-screen.md

Description of issue:

`FlutterActivity.BackgroundMode.transparent` FlutterActivity does not seem to have a BackgroundMode. By looking at the code it seems it should be `FlutterActivityLa

[2020-09-23 12:31] matejdro opened #4646 "Pigeon: add support for generics"
Attempting to process following class widh pigeon:

[code]

Will result in MyClass being ommited as unused and generated `ClassWithList` will only contain List instance without type data:

[code]

[2020-09-23 12:31] matejdro commented on #4646
Sorry, wrong issue tracker.

[2020-09-23 12:31] #4646 closed

[2020-09-23 13:22] toki2612 opened #4647 "Wrong filename in write-flutter-plugin codelab"
In the 4th step (the last code box) of the codelab 'How to write a Flutter plugin' there is an ios filename instead of android:

<img width="795" alt="Screenshot 2020-09-23 at 15 14 31" src="https://user-images.githubusercontent.com/16033629/94017732-0e0c9b00-fdb0-11ea-87bb-bffabb076c93.png">

[2020-09-23 14:39] vimalverma558 commented on #4647
Page URL: https://codelabs.developers.google.com/codelabs/write-flutter-plugin/#3

[2020-09-23 20:25] a2fStart opened #4652 "'Desktop support for Flutter' page issue"
Page URL: https://flutter.dev/desktop.html
Page source: https://github.com/flutter/website/tree/master/src/desktop.md

Description of issue: Could you change the windows status from under development to the alpha?

[2020-09-23 23:07] kwalrath commented on #4396
I'll create a placeholder, and unassign myself once that's up.

[2020-09-23 23:09] kwalrath commented on #4560
Tool docs are currently here: https://github.com/flutter/flutter/wiki/The-flutter-tool

[2020-09-24 03:10] liyuqian commented on #4633
That sounds about right. Defer the final confirmation to @kenzieschmoll

[2020-09-24 03:14] aromalanil commented on #4652
![image](https://user-images.githubusercontent.com/49222186/94096584-19100b80-fe42-11ea-993a-966bd4ba3321.png)
The page already contains a warning msg saying it is in Alpha

[2020-09-24 08:59] chvin opened #4654 "[codelabs] firebase for Flutter: 8. Create your Cloud Firestore database"
since: https://codelabs.developers.google.com/codelabs/flutter-firebase/index.html#7

Starting from step 5 tutorial, the online site is not the same

Default database have no collection, and I do not know where to create Collection and create fields.

tutorial:
![image](https://user-images.githubusercontent.com/5383506/94123740-c278f080-fe86-11ea-8561-a57587a3734c.png)

online site:
![image](https

[2020-09-24 09:31] chvin commented on #4654
I should select Cloud Firestore.
![image](https://user-images.githubusercontent.com/5383506/94127565-aa57a000-fe8b-11ea-9930-8cf417762abe.png)

[2020-09-24 09:31] #4654 closed

[2020-09-24 19:11] sfshaza2 commented on #4652
Good point! I (and my reviewers) missed that one.

[2020-09-24 19:14] sfshaza2 commented on #4652
Wait, I take it back. I don't see where it says on the page that Windows support is "under development".

[2020-09-24 19:44] #4652 closed

[2020-09-24 20:51] lucalves commented on #4618
The same as #4504.

[2020-09-24 20:56] xpat commented on #2795
@ashanc I couldn't get the example to work on Chrome with for Flutter web chrome, even after changing from ws to wss.  Interesting, without making the change, that is leaving it as it is in the docs with ws, it works if I run it as a Linux desktop app.

The error message I get when I run it as a Flutter web app on Chrome is as follows:

[2020-09-24 21:15] sfshaza2 commented on #3842
As the Navigation system is about to change significantly, I would defer to @johnpryan on this call.

[2020-09-24 21:16] #3871 closed

[2020-09-24 21:23] blasten opened #4657 "Create platform views page"
This would be a section that includes examples, links to the API reference, and goes in depth about how they work.

cc @Sfshaza

[2020-09-25 02:44] jmagman opened #4661 "Define the differences between "packages" and "plugins""
Plugins and packages are used interchangeably in the "Using packages" guide, but I don't see a definition between the two terms.
https://flutter.dev/docs/development/packages-and-plugins/using-packages

[2020-09-25 07:09] sfshaza2 commented on #4661
Yes, this page should be clarified, though the info is on the [developing packages](https://flutter.dev/docs/development/packages-and-plugins/developing-packages#types) page. Though, again, it could be made more clear.

[2020-09-25 16:17] #4008 closed

[2020-09-25 16:21] sfshaza2 commented on #4549
@micpap25, can you contact me directly? My ldap is s-h-a-z-a and you can guess the @company.  :D

[2020-09-25 16:23] SainathPatil001 opened #4664 "The method '+' was called on null. Receiver: null Tried calling: +(50.0)"
Page URL: https://flutter.dev/docs/testing/errors.html
Page source: https://github.com/flutter/website/tree/master/src/docs/testing/errors.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-25 20:59] jmagman commented on #4661
That's exactly what I was looking for!  Maybe https://flutter.dev/docs/development/packages-and-plugins/using-packages just needs a link to that.

[2020-09-25 20:59] jmagman commented on #4661
I was trying to define it for using plugins in an app, not developing them, so I didn't look on the developing packages page.

[2020-09-25 21:21] admarwick opened #4668 "'Flutter performance profiling' page issue"
Page URL: https://flutter.dev/docs/perf/rendering/ui-performance.html
Page source: https://github.com/flutter/website/tree/master/src/docs/perf/rendering/ui-performance.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
There's a "Pending" note in the section at https://flutter.dev/docs/perf/rend

[2020-09-26 04:42] micpap25 commented on #4549
Hi @sfshaza2 ,
While I would be very excited to speak with you directly, I have never used LDAP before.
I've been working for the last hour or so on figuring out how to connect to this LDAP server, but I'm a bit stuck. Both Apache Directory Studio and Softerra LDAP Browser require a hostname, and any variation of `s-h-a-z-a`, `shaza`, `s-h-a-z-a@...`, etc. don't seem to work for me.
Again, it woul

[2020-09-26 13:23] purezen opened #4673 "App preview not displaying and says Missing browser features"
Throughout the site, I am unable to see the app preview ( so I concur )

Says 'Missing browser features
DartPad requires localStorage to be enabled. For more information, visit dart.dev/tools/dartpad/troubleshoot.'

I am using Brave browser

![Screenshot 2020-09-26 185253](https://user-images.githubusercontent.com/3036093/94341749-88941f80-0029-11eb-8e15-b58dc5cd162f.jpg)

[2020-09-26 16:50] pdhankhar61 opened #4674 "'Flutter documentation' page issue"
Page URL: https://flutter.dev/docs/
Page source: https://github.com/flutter/website/tree/master/src/docs/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: error is marked error
![image](https://user-images.githubusercontent.com/71747203/94345835-62c94380-0046-11eb-95a7-3630ac4c9ffe.png)

[2020-09-26 16:51] pdhankhar61 commented on #4674
i will correct

[2020-09-26 16:51] #4674 closed

[2020-09-26 17:18] karthickramanathan95 commented on #4477
It is again happening sometimes,

![image](https://user-images.githubusercontent.com/30870272/94346337-a1acc880-0049-11eb-882d-f5d9ef52d1f6.png)

![image](https://user-images.githubusercontent.com/30870272/94346456-6232ac00-004a-11eb-8636-107e2a7e581a.png)

CSS ERR - connection timed out

Multiple times happening, sometimes on [material.io](material.io) site also.

Flutter doctor report -
Doctor s

[2020-09-27 08:21] SchoolGuy opened #4677 "Offer Flutter install as rpm and deb package on 'Linux install' page"
Page URL: https://flutter.dev/docs/get-started/install/linux.html
Page source: https://github.com/flutter/website/tree/master/src/docs/get-started/install/linux.md

Description of issue: Native packaging formats like deb and rpm missing?

I was reading the installation instructions and I am a fan of having native packages like deb or rpm. Is that something which was discarded by design or has just

[2020-09-27 14:42] pranjaljain0 commented on #4668
Can I do it?

[2020-09-27 20:00] a2fStart commented on #4652
I am sure, when I wrote the message there is text "under development".

[2020-09-27 23:31] Alfaesal23 opened #4680 "'Add Flutter to existing app' page issue"
Page URL: https://flutter.dev/docs/development/add-to-app/
Page source: https://github.com/flutter/website/tree/master/src/docs/development/add-to-app/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-28 01:40] akraman0959 opened #4681 "'Использование Flutter в Китае' вопрос страницы"
Page URL: https://flutter.dev/community/china.html
Page source: https://github.com/flutter/website/tree/master/src/community/china.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-28 21:19] kenzieschmoll commented on #4633
yes that is correct - high and low are switched in the current state

[2020-09-28 22:34] sfshaza2 commented on #4549
So sorry, @micpap25! All I meant was your email address. Mine is @google.com.

[2020-09-28 23:09] sfshaza2 commented on #4681
Nothing described. Closing.

[2020-09-28 23:09] #4681 closed

[2020-09-28 23:09] sfshaza2 commented on #4680
Nothing described. Closing.

[2020-09-28 23:09] #4680 closed

[2020-09-28 23:10] sfshaza2 commented on #4664
@SainathPatil001, can you give us more info? (More than the title.). thx

[2020-09-28 23:12] sfshaza2 commented on #4668
A PR I merged this morning removed this note.

[2020-09-28 23:12] #4668 closed

[2020-09-28 23:13] sfshaza2 commented on #4673
@johnpryan, is this a known issue on Blaze?

[2020-09-28 23:14] sfshaza2 commented on #4677
@johnpryan, do you know?

[2020-09-28 23:21] sfshaza2 commented on #4477
Thanks for your feedback, Karthick!

@Andrew Brogdon <redbrogdon@google.com>, do you think the Material team
might have a clue?

On Sat, Sep 26, 2020 at 10:19 AM Karthick Ramanathan <
notifications@github.com> wrote: